[2019-05-13 15:05] rochdev commented on #233
@sumeetsympatica Any chance you can push your changes to a fork? This would help other users who would like to use your code or contribute to make this feature move forward.

[2019-05-13 16:06] sumeetsympatica commented on #233
I attach it here as a zip – you are welcome to fork and push the code….

From: Roch Devost [mailto:notifications@github.com]
Sent: 13 May 2019 20:36
To: DataDog/dd-trace-js <dd-trace-js@noreply.github.com>
Cc: sumeetsympatica <sumeet@sympatica.health>; Mention <mention@noreply.github.com>
Subject: Re: [DataDog/dd-trace-js] ReactJs / React Native Support (#233)

@sumeetsympatica <https://github.com

[2019-05-14 17:56] bjaworski3 commented on #402
Any updates on this memory leak? Just deployed dd-trace 0.10.2 on Node 8 and I'm still seeing a memory leak.

[2019-05-14 18:11] rochdev commented on #402
It looks like there is not a single cause of memory leak but multiple. I'm currently working on fixing some of them.

This is what we found so far:

* The span from the `net` plugin is never finished if the socket times out. This causes its trace to stay in memory forever. A fix will be in the next release
* Older Node versions had an issue where the `destroy` hook would never be called for some r

[2019-05-16 12:02] emhagman commented on #548
Just saw all this, I'll give it a try, thanks!

[2019-05-31 06:30] manjufy opened #580 "Graceful error message instead of throwing the exception when I do not have dd agent installed locally"
Error:
`Error: Network error trying to reach the agent: connect ECONNREFUSED 127.0.0.1:8126`

My Environment.
OS: MacOs
Node Version: v10.13.0
dd-trace version: ^0.11.2

I get the following error
`Error: Network error trying to reach the agent: connect ECONNREFUSED 127.0.0.1:8126
    at ClientRequest.req.on.e (/Users/manju/Codes/pickles/ams-api/node_modules/dd-trace/src/platform/node/request.js:36

[2019-05-31 13:11] rochdev commented on #580
We do not throw any errors by design. Since the tracer is a cross cutting concern, it shouldn't cause the application to crash when something abnormal is detected that only affects tracing.

We could add an option to register a callback to capture errors from the tracer, or potentially emit events. The problem with that is that it would have a performance impact if it's done for every errors. Are

[2019-06-03 03:55] manjufy commented on #580
Hi, @rochdev Thanks for the update. yes, agree with you, by design it makes sense not to throw errors/exceptions that might cause the app to crash.

[2019-06-03 03:55] #580 closed

[2019-06-10 16:51] rochdev commented on #558
@icebob Are you still planning to open a PR for this? I'm still not 100% sure I understand how it works, but it should be more obvious when I see the tests.

[2019-06-10 17:49] icebob commented on #558
@rochdev ohh, sorry for late, just I wasn't sure how it would be good and I could implement it on my side without dd-trace modification. So I close it.

[2019-06-10 17:49] #558 closed

[2019-06-10 20:28] rochdev commented on #402
A memory leak in the TCP integration that would impact other integrations has been fixed in 0.11.2, and we have added workarounds for known issues in Node that would cause memory leaks as well in 0.12.0.

I would recommend to anyone in this thread to upgrade the tracer to 0.12.0 and report back if the memory leak is still present or not.

[2019-06-10 22:05] nodesocket commented on #402
@rochdev I just enabled the Node.js tracer back in our application running `0.12.0`. However I don't see anything listed in APM => Services.

I do however see recent activity in APM => Trace list.

<img width="963" alt="Screen Shot 2019-06-10 at 5 03 09 PM" src="https://user-images.githubusercontent.com/523312/59230074-ee913500-8ba1-11e9-9e1d-ccc1723ca36a.png">

<img width="889" alt="Screen Shot 2

[2019-06-10 22:07] rochdev commented on #402
@nodesocket If you haven't been using the tracer for a while, the service list was reset. New services might take a few minutes to appear.

[2019-06-10 22:23] nodesocket commented on #402
@rochdev been over 15 minutes, should I wait longer or is something wrong?

[2019-06-10 22:26] rochdev commented on #402
@nodesocket Usually it takes around 5-10 minutes, but we've been experiencing unusual delays today, so it's possible it will take more time. In general if you can see the traces and they have the correct service on them the services should eventually appear.

This delay only exists when a new service is added, which is every service when you weren't previously using the tracer.

[2019-06-11 21:20] terryma opened #585 "Broken under jest"
When initializing the tracer inside a jest test, it runs into the following problem:

[code]

This is due to the following line: https://github.com/DataDog/dd-trace-js/blob/8274544480ffc4e2ddf25d6ab1e84095c2b32edf/src/scope/async_hooks.js#L3

Somehow jest's require cannot resolve `require('./async_hooks/')`. This works if you do `require('./async_hooks/index')` or rename the `async_hooks` director

[2019-06-11 21:24] rochdev commented on #585
We're actually in the process of changing the structure of the project, which will resolve this issue at the same time.

It this something you need very quickly? The new structure will probably only be ready in a few days.

[2019-06-11 21:27] rochdev commented on #585
FWIW I think an issue should also be opened in Jest since this is a valid CommonJS syntax.

[2019-06-11 21:55] terryma commented on #585
Thanks for the quick update! Ready in a few days is certainly fine. I'll disable the test for now.

[2019-06-12 23:51] BrunoBerisso commented on #560
I'm facing a similar problem with the automatic instrumentation.

I need to add tracing for a bunch of microservices using express but the codebase is big and use the automatic instrumentation it's really cumbersome.

I believe I could trace the requests by hand but the automatic process seems to do a lot more. Isn't there an API to manually trigger the same process for patching supported modules?

[2019-06-13 14:43] rochdev commented on #560
@BrunoBerisso Could you describe exactly what the problem is in your case? Why is it not possible for you to instantiate the tracer before any other module?

[2019-06-13 15:12] BrunoBerisso commented on #560
I'm working on a codebase with many shared modules, one of those is for instrumentation which already has StatsD integrated so the consumers already have an _require - init - use_ lifecycle for the module. This module is consumed by many other modules to build services (microservices) and isomorphic apps.

Because of the automatic instrumentation, I need to make changes on almost all the consumers

[2019-06-13 18:23] rochdev commented on #560
@BrunoBerisso Just to make sure I understand properly, do you mean that you have a flow something like the following?

1) Start an asynchronous request to get the configuration.
2) Continue execution which will result in all the `require` statements to be executed synchronously
3) Initialize the tracer with the configuration when the response from 1 is received, at which point all other `require`

[2019-06-13 18:35] BrunoBerisso commented on #560
Yes, that's one of the worst cases. There are others when it's just annoying.

I try `tracer.use()` but it failed to patch Express. I get a _"fix"_ for that but I thought that a change on that method would have much fewer chances of getting through that add a new method that does the patching because of the backward compatibility issues it might have.

[2019-06-13 18:46] rochdev commented on #560
I think there are 2 things to be addressed here:

1) If the new method works but not `tracer.use()` I would consider this a bug. `tracer.use()` should work even after initialization of the module, as long as it's done right after `tracer.init()` since the latter calls a `tracer.use()` equivalent internally for every plugins. The reason we document a specific flow is because as mentioned above tryi

[2019-06-20 19:49] rochdev commented on #585
This should be fixed in 0.12.1 which includes the new project structure.

[2019-06-20 23:47] terryma commented on #585
Looks like the same require that was tripping jest is still there: https://github.com/DataDog/dd-trace-js/blob/b999b45a8fb8e1779ef3f44ea19ae8da48995eae/packages/dd-trace/src/scope/async_hooks.js#L3

[2019-06-20 23:49] rochdev commented on #585
Sorry about that, I thought I had fixed that. Will be fixed in next release.

[2019-06-20 23:50] terryma commented on #585
No worries, thanks for the update!

[2019-06-25 06:00] sahebpreet opened #600 "Couldn't install using yarn on node 12.1.0"
**Describe the bug**

Couldn't install this dependency using `yarn add dd-trace` on node 12.1.0 and it seems like it is not supported by this version.

Logs:
`yarn add dd-trace`
[code]

**Environment**

* **Operation system:**
Mac OS Mojave 10.4.5
* **Node version:**
12.1.0
* **Tracer version:**
0.12.1
* **Agent version:**

[2019-06-25 09:06] fabong commented on #287
Since fastify is growing a lot lately, is it in your backlog now or is there some community contributions about it?

[2019-06-25 16:01] rochdev commented on #600
It looks like `fsevents` is an optional dependency which means it should not fail the command.

Also, the tracer does not depend on `fsevents` so it looks like the error is unrelated to the tracer. What happens if you run `yarn upgrade` without adding the tracer?

[2019-06-25 16:05] rochdev commented on #287
Definitely in our backlog, but work is not scheduled yet to support it. I'll keep this issue up to date when we start working on it.

[2019-06-25 18:10] #585 closed

[2019-07-01 04:55] xzyfer opened #608 "GraphQL plugin typedef is wrong"
**Describe the bug**
The GraphQL typedef has does not include support for `variables` as an Array which was introduced in https://github.com/DataDog/dd-trace-js/commit/b86243fbae8e20795fcaf9d32739e2435a4e56ec

**Environment**

* **Operation system:**
* **Node version:**
* **Tracer version:** v0.12.1
* **Agent version:**

[2019-07-03 15:08] #608 closed

[2019-07-04 22:15] rochdev commented on #287
What version of Fastify are you using?

[2019-07-08 04:23] xzyfer commented on #402
I can confirm a pretty significant memory leak is preset in 0.12.1. We deployed a portion of our cluster with the agent disabled with the following results.

![image](https://user-images.githubusercontent.com/579928/60782920-c3433b00-a18b-11e9-8342-9060f6acedec.png)

Using the following code

[code]

[2019-07-08 09:37] rochdev commented on #402
@xzyfer At this point I would say there are 2 likely causes for leaks:

1. There is a pre-existing leak in the application that the tracer is making worse. With the latest version, all memory leaks reported so far were caused by this. We will have an improvement in the next version that will lessen the impact of the tracer in this scenario, but it's still important to find the root cause of the le

[2019-07-08 10:23] xzyfer commented on #402
@rochdev interestingly it was the runtime metrics that pointed us to looking at the APM library itself.

![image](https://user-images.githubusercontent.com/579928/60803245-1df58a80-a1be-11e9-9963-ac8b84626c98.png)

Note that the async resource counter is never decremented until the instance is OOM killed.

We thought this also so we disabled all plugins and run time metrics just in case.

[2019-07-08 10:34] xzyfer commented on #402
After digging deeper into `async.resources.by.type` I think you may be onto something.

[2019-07-08 12:16] vfernandestoptal opened #618 "question about async_hooks span references"
I suspect we have a memory leak related to dd-trace on a project I'm working on.

After trying to track it down, I'm seeing some weird stuff related to this code:
https://github.com/DataDog/dd-trace-js/blob/v0.12.1/packages/dd-trace/src/scope/async_hooks.js#L22

I'm seeing:
1. undefined values being stored for some `asyncId`s
2. spans being stored which have `isFinished` value set to `true`
3. sam

[2019-07-08 14:02] rochdev commented on #618
This can happen when a new scope is bound to the current active span but there isn't one.

This happens because scope management is unrelated to the span lifecycle. This means that both finished and unfinished spans can be activated on a scope. The only way for the span to be freed from the scope is for the async resource referenced by the scope to be destroyed.

This can happen if a function is b

[2019-07-08 14:04] rochdev commented on #402
This is a very high number of async resources. I have 2 questions that could help narrow down the issue:

1. Which async resources have the highest count?
2. Is there a high count of unfinished spans on the heap or are they almost all finished?

[2019-07-08 18:59] #287 closed

[2019-07-08 20:25] vfernandestoptal commented on #618
Hey, thanks for the fast reply.

I played around with the tests for the net plugin (looked like a simple one with small number of methods/dependencies) and I'm seeing references in the `_spans` and `_types` after all the tests are done, similar to what we have in our project.

Here's a screenshot of the tests output and a link to the code changes that I added:
![Screenshot from 2019-07-08 21-10-21

[2019-07-08 21:31] esilkensen opened #620 "pino plugin logs extra undefined values"
**Describe the bug**
The pino plugin is logging extra `undefined` values specifically for version 4 of pino.

For example, adding the following line to packages/datadog-plugin-pino/test/index.spec.js causes the test cases to fail only for pino version 4:
[code]
Sample output:
[code]

[2019-07-08 21:51] xzyfer commented on #402
1. The async resources are predominantly timeouts
2. Not sure how exactly to confirm this?

On Tue., 9 Jul. 2019, 12:04 am Roch Devost, <notifications@github.com>
wrote:

[2019-07-08 21:59] rochdev commented on #618
There is actually a lot going on in the tests, so it may make it more difficult to figure out.

What is the actual issue you are having with the application? What async resources do you see held in memory?

[2019-07-08 22:04] rochdev commented on #402
1. Interesting. In the tracer we only use 2 timers that are instantiated only once per process. Is it possible something in your app would hold a reference to a timer?
2. In the graph above in `Heap Spans` each line represent a specific span with its state.

[2019-07-08 22:23] xzyfer commented on #402
1. We have no timers in our code. The application is an Apollo GraphQL Server with a handful of very simple resolvers.
2. They appear to predominately, by orders of magnitude, be finished spans.

[2019-07-09 00:23] xzyfer commented on #402
I think the timeouts Async resource refers to network request timeouts to downstream

[2019-07-09 01:16] xzyfer commented on #402
I've continuing to augment our reporting. The current candidate looks like node-fetch's timeout handling

https://github.com/bitinn/node-fetch/blob/0c2294ec48fa5b84519f8bdd60f4e2672ebd9b06/src/index.js#L88-L93

[2019-07-09 12:07] xzyfer commented on #402
Ultimately it looks like pm2 is the root cause. There is a known memory leak that was recently patched in https://github.com/keymetrics/pm2-io-apm/releases/tag/4.2.2.

Even with this patch applied we're experiencing a leak but much slower than previously.

![](https://user-images.githubusercontent.com/579928/60885492-0cca7d80-a293-11e9-8dea-f52ea2099656.png)

Left: @pm2/io@4.2.1
Middle: no pm2
Rig

[2019-07-09 13:43] #620 closed

[2019-07-09 13:49] rochdev commented on #402
Perfect, this means that it's not spans holding async resources but the other way around.

Does it still seem to be caused by ever increasing async resources?

[2019-07-09 13:50] rochdev commented on #402
Actually I just noticed that the middle line is stable without PM2. This seems to indicate that there is still memory leak in the latest release of PM2 and not in `dd-trace`. Was that the outcome of your investigation?

[2019-07-10 09:34] vfernandestoptal commented on #618
I've activated the runtime metrics and the async resources that were consistently growing were TCPWRAP and TLSWRAP types.

![image](https://user-images.githubusercontent.com/20822057/60958117-bf372a80-a2fd-11e9-8bf9-da949ef24c22.png)

Meanwhile, we've also deployed with an updated nodemailer version and this https://github.com/nodemailer/nodemailer/pull/990 fixed the issue. It's been running stabl

[2019-07-10 09:34] #618 closed

[2019-07-16 15:48] danhaller opened #629 "Fastify: 404s logged as errors?"
**Describe the bug**
Hi,

I've just upgraded to 0.13.0 with fastify support and was surprised to see datadog apm showing 404s as errors:

![Screenshot from 2019-07-16 16-15-14](https://user-images.githubusercontent.com/2386801/61308869-13a04580-a7e9-11e9-833d-fe3344b0bfaa.png)

![Screenshot from 2019-07-16 16-25-35](https://user-images.githubusercontent.com/2386801/61308893-20bd3480-a7e9-11e9-897a

[2019-07-17 18:03] #629 closed

[2019-07-23 00:23] ramesius opened #635 "Binary format for tracer inject/extract"
When trying to use the `BINARY` format to inject trace data into a carrier I realised that it is not implemented in `dd-trace-js`. Would it be possible to add this as a supported format? If not some documentation on the currently supported formats :)

[2019-07-23 14:28] rochdev commented on #635
Right now we support `TEXT_MAP` and `HTTP_HEADERS` as defined in [OpenTracing](https://doc.esdoc.org/github.com/opentracing/opentracing-javascript/variable/index.html#static-variable-FORMAT_HTTP_HEADERS), and an additional `LOG` format for log injection.

Binary format was not added as we don't have any transport which would support it as the moment.

What is your use case? I can provide an altern

[2019-07-23 23:28] ramesius commented on #635
My use case was the manual instrumentation of Kafka messages using headers. The headers are transported as a map `Map<string, byte[]>` (https://cwiki.apache.org/confluence/display/KAFKA/A+Case+for+Kafka+Headers) which I figured would be a good use case for the `BINARY` format.

However after some tweaking I was able to successfully instrument the payload using the `TEXT_MAP` format, just with some

[2019-07-24 22:56] Seebiscuts opened #637 "Error with node integration"
Adding dd-trace to a graphql gateway application ( node.js app) is throwing error.

Here is the stack trace
`TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at DatadogSpan._addTags (node_modules/dd-trace/packages/dd-trace/src/opentracing/span.js:123:14)
    at DatadogSpan.Span.addTags (node_modules/opentracing/lib/span.js:106:14)
    at DatadogTracer._s

[2019-07-24 23:38] Seebiscuts commented on #637
Update:
No errors with Node version 12.7.0 and dd-trace version 0.13.0.

[2019-07-25 18:02] rochdev commented on #637
Looks like a regression. It will be fixed for the next release.

About Apollo, it is supported out of the box by the `graphql` integration.

[2019-07-25 18:04] rochdev commented on #635
Glad to hear that it's working for you!

Can you share how you used the `TEXT_MAP` format to propagate through Kafka for future reference?

[2019-07-25 18:24] #637 closed

[2019-07-26 09:40] Paskalouis commented on #48
Hi,

Is there any update regarding this feature request ?
Now I stumbled upon working on integrating datadog into the frontend.
In this case, I am using Vue. I see another similar issue (#233) about integrating to React/ReactNative .

Thanks !

[2019-07-26 11:20] ramesius commented on #635
Sure! The following examples are written in typescript and use the library https://github.com/tulios/kafkajs which supports Kafka headers.

We inject tracing data into our `TEXT_MAP` carrier and assign the result to the Kafka message headers, instrumenting the message before we produce it:

[code]

Then, on the consuming side we extract the DataDog tracing data from the headers, and since they are

[2019-07-26 13:03] rochdev commented on #48
I don't have any updates at the moment unfortunately.

However, we have recently released our [RUM](https://www.datadoghq.com/blog/dash-2019-new-feature-roundup/#real-user-monitoring) product in private beta.

@Paskalouis Would that fit your use case?

[2019-07-30 13:23] marciorodrigues87 commented on #477
Hi guys, did anybody fix this problem? I'm using `"dd-trace": "0.13.1"` and couldn't get it work even with the `hooks` approach or with `tracer.scope().active().context()._trace.started[0]`...

hook code:
[code]

hack code:
[code]

[2019-07-30 14:16] rochdev commented on #477
@marciorodrigues87 What resource name do you get instead of what you are setting? Also, is the hook registered right after initializing the tracer?

[2019-07-30 14:26] marciorodrigues87 commented on #477
Hi @rochdev I'm getting the default `(/:path(*))?` as resource name... There are some `require` statements before the hook registration, putting it right in the next line after the tracer initialization seems to work 😄

[2019-07-30 20:35] songawee opened #640 "Errors being emitted and traces incomplete with APM"
**Description**
We're seeing a number of errors being emitted from the `dd-trace` JS library.

Here is the stack we're seeing:

![Screen Shot 2019-07-30 at 1 57 11 PM](https://user-images.githubusercontent.com/434885/62162474-950dd280-b2d5-11e9-9c23-c065e141c47a.png)

The application is a Node.js express server that is responding to a GET request. Our tracer configuration is very minimal (just ena

[2019-07-30 21:12] songawee commented on #640
cc @paul-salmon-ib

[2019-07-31 15:03] brian-l commented on #402
I noticed that the async hooks are being enabled but never disabled. Is this intentional? https://github.com/DataDog/dd-trace-js/blob/master/packages/dd-trace/src/scope/async_hooks.js#L31

I'm seeing memory leaks happen only in my jest test environment (node 8.16, dd-trace 0.13.1, jest 23) when watching for changes; it seems that restarting the tests repeatedly (including dd-trace setup) will even

[2019-07-31 21:16] rochdev commented on #402
@brian-l This might be because of the way Jest works. For example, if it clears the require cache while the tracer is still active, it will just keep adding new tracers constantly without cleaning up the old one, taking up more and more memory.

This could be addressed by adding a way to enable/disable the tracer at runtime, which could be added after each run for example. This will be available i

[2019-08-01 15:25] rochdev commented on #640
The error has been fixed in 0.14.0.

About the incomplete traces, do you mean within the same process or with multiple distributed services? If the later, are all services using the Node tracer, or some of them are in other languages?

[2019-08-01 16:04] songawee commented on #640
Thanks for the bug fix!

It is a node process that calls out to elasticsearch, DynamoDB, etc, but does not call out to other instrumented microservices

[2019-08-01 16:40] rochdev commented on #640
Are the missing parts available as their own traces in the individual services? Usually incomplete traces within a single process are caused by the scope that was lost, and the different parts end up in different traces. If that's the case, I can explain how to find where exactly the scope was lost.

[2019-08-01 18:40] brian-l commented on #402
that didn't change anything unfortunately, however this investigation has revealed other memory leaks that need to be fixed as well so our issues are not caused by this library as far as I can tell. thanks.

[2019-08-05 16:18] ignaciocavina commented on #302
Hi! I'm using superagent (https://www.npmjs.com/package/superagent) to perform a http call, and I'm having the same issue as described here. Any clues on how to fix it?

[2019-08-05 20:36] rochdev commented on #302
@ignaciocavina Could you clarify which of the issues mentioned above? What is the expected behavior in your case, and what are you seeing instead?

[2019-08-05 22:13] ignaciocavina commented on #302
Yes, sure...

We are basically "loosing context".

Our express request span does not show as "connected" to our http client
span on the datadog ui, which is what we'd expect.

I turned on debug and got an error saying that a span was expected but got
null. And effectively, the http client is not getting the parent span.

I did debug the trace and could verify that there is an active span until
the

[2019-08-06 14:13] rochdev commented on #302
null.

This error has been fixed in 0.14.0

the very first inner parts of superagent, but then it is lost.

It's possible there is some incompatibility with `superagent`. I'll have to look into it as it may require a new plugin to be added to explicitly support it. This has happened for several other libraries that were not correctly propagating their internal scope using `AsyncResource`.

If you

[2019-08-06 15:10] ignaciocavina commented on #302
On Tue, Aug 6, 2019 at 11:13 AM Roch Devost <notifications@github.com>
wrote:

I tried the 0.14.0 version but still get this:

[2019-08-06 15:08:43.806] [ERROR] Expected null to be an instance of
SpanContext
  error:
    name: Error
    message: Expected null to be an instance of SpanContext
    stack: Error: Expected null to be an instance of SpanContext

I did debug the trace and could verify th

[2019-08-07 19:57] rochdev commented on #302
Thanks for the additional information, I'll look into it.

About the error, this is very odd as there is now a check on the presence of the span context, which `null` and `undefined` won't pass. I wonder if something is causing the span context to actually be the `null` string and not actually `null`? See https://github.com/DataDog/dd-trace-js/pull/639/files

[2019-08-07 22:29] ignaciocavina commented on #302
That seems to be OK. I don't have an error that breaks my code, I just see
the error log... It seems correct that the http client span expects to be
within a context...

On Wed, Aug 7, 2019 at 4:57 PM Roch Devost <notifications@github.com> wrote:

--

*Ignacio Cavina* | Tech Master

*GLOBANT* | AR: +54 11 4109 1700 ext. 17511 | US: +1 877 215 5230 ext. 17511
 |

[image: Facebook]
<http://globant.u

[2019-08-09 15:55] rochdev commented on #302
@ignaciocavina I am unable to reproduce locally. Can you provide a minimal snippet that I could use to replicate the behavior?

[2019-08-09 17:08] ignaciocavina commented on #302
Hi! I've put together a repo sample:
https://github.com/ignaciocavina/atest-dd-trace-superagent
Please let me know if that works for you. Thanks!

On Fri, Aug 9, 2019 at 12:55 PM Roch Devost <notifications@github.com>
wrote:

--

*Ignacio Cavina* | Tech Master

*GLOBANT* | AR: +54 11 4109 1700 ext. 17511 | US: +1 877 215 5230 ext. 17511
 |

[image: Facebook]
<http://globant.us4.list-manage1.com/tr

[2019-08-13 16:39] songawee commented on #640
Once we updated to 0.14, our traces are showing up now. Looks like we just had a naming change. Thanks for your help @rochdev!!!

Will close 👍

[2019-08-13 16:39] #640 closed

[2019-08-14 21:08] rochdev commented on #302
@ignaciocavina The issue is that `superagent` uses a thenable object that is not a promise, which is a pattern that Node [doest not support](https://github.com/nodejs/node/issues/22360).

A possible workaround is to call `then` before calling `await`, for example `await request.get(url).then(x => x)`. In general, libraries that do this should be avoided when context propagation is needed.

I'm wor

[2019-08-16 11:56] ignaciocavina commented on #302
Thanks a lot @rochdev !

[2019-08-17 08:17] bensooraj commented on #635
I use Kafka too, however, I took a slightly different approach to this.

I used the inbuilt `LOG` format for extracting the `"dd": { "trace_id": 123123, "span_id": 321321 }` from the `Kafka Producer`s span context, added it to the payload and produced the message.

On the consumer side, I extracted the `dd` object from the payload received, started a new spanContext from it and used `scope.activat

[2019-08-19 22:03] Shikkic opened #652 "Webpack Warnings and Koa not tracing automatically"
I'm having two weird issues. All I've done is simply follow the [setup instructions](https://docs.datadoghq.com/tracing/setup/nodejs/).

The first issue is webpack generates quite a few bundling warnings for the module that don't make any sense to me. Which is super odd as there are quite a few modules in the project that cause no issue. The warnings look like this:

[code]

I also get Buffer depr

[2019-08-20 17:02] rochdev opened #654 "Using async/await with thenables (non-native promises) loses the scope"
**Describe the bug**

When using async/await with thenables (non-native promises) without explicitly calling `then`, it causes the scope to be lost. This is because `await` schedules the call to `then` on the next tick, at which point it's called in a different context, usually the native context which always has an ID of 0.

This is a current [limitation](https://github.com/nodejs/node/issues/223

[2019-08-20 17:02] rochdev commented on #302
@ignaciocavina Let's continue the discussion in #654 since it's unrelated to the original issue of this thread.

[2019-08-22 02:27] Shikkic commented on #652
So I put more console logs in place and found out that the init method is throwing an error that is not being logged. I put a console log in this [catch statement](https://github.com/DataDog/dd-trace-js/blob/master/packages/dd-trace/src/proxy.js#L49). This is the error:

[code]

Not sure if anyone knows what this means?

[2019-08-22 03:15] Shikkic commented on #652
Welp, I changed the source mapping configuration in our webpack setup from:

[code]

Now the tracing appears to be working in the dev environment. From what I gathered it seems like in order for some of the core modules to work, module paths (or parent paths?) are important for instrumentation purposes, so without compiling a proper source map it's just not going to work.

The only question that r

[2019-08-22 05:07] millerick commented on #340
Has this been implemented?  Either a way to provide an agent to use, or built in connection pooling?

[2019-08-22 17:51] liubinyi opened #657 "DD trace with Objection js support"
We have applications that uses objection.js https://vincit.github.io/objection.js/
When i use
[code]
it doesn't display any span about pg_query or knex in datadog APM.

Is there any workaround for it?
if not could we add a objection js plugin in dd-trace-js?

[2019-08-22 19:30] rochdev commented on #654
@ignaciocavina Can you try with 0.15.0-beta.1 with the following option on the tracer?

[code]

This should fix the issue for Superagent and any other thenables by working around the limitation in Node.

[2019-08-22 19:47] rochdev commented on #652
The tracer makes a lot of assumptions about the standard Node structure to work properly. If for example Webpack alters the file structure, or how `require` works, it could cause the tracer to break.

Could you describe what your build does?

[2019-08-22 19:49] rochdev commented on #340
@millerick It hasn't been implemented yet, but it's something still on our radar. What is your specific use case?

[2019-08-22 20:06] rochdev commented on #657
This should work regardless of the ORM used since we patch the driver directly.

Do you not see Postgres spans specifically, or are you not seeing traces at all? If you see traces appear but not the Postgres spans, then do you see a service called `<your_service_name>-postgres`, and does it have any traces?

Also, do you call `tracer.init()` and `tracer.use()` before any other module has been impo

[2019-08-22 20:06] millerick commented on #340
The same knee-jerk reaction that persistent connections are a good thing.  It looks like we are using an IP to connect to the dd-agent, so we aren't paying the cost of a DNS lookup with each flush, but I don't think it would hurt to maintain connections.

[2019-08-22 20:16] rochdev commented on #340
@millerick Fair enough. Do you think there is value to be able to pass your own HTTP agent, or would an option be enough?

[2019-08-22 20:25] liubinyi commented on #657
hi @rochdev
we only not see postgres spans specifically and we do have a service called <your_service_name>-postgres it has traces about the sql statment but for this one we are auto pulling from glcoud's could sql logs.

yes

we init our tracer as follows
[code]
and export it in the first line of our server.ts file
[code]

[2019-08-22 20:27] millerick commented on #340
An option is more than fine.

[2019-08-22 20:28] rochdev commented on #657
Ok, it sounds like the scope is lost in the ORM which causes the trace to be disconnected. I'll have to look into it. If you can set up a small reproduction snippet that makes a simple call to the database and results in a disconnected trace, it would definitely help me expedite the fix since I don't know this ORM.

[2019-08-22 20:31] liubinyi commented on #657
sure, i will post it here once i have it ready. Thanks for the help!

[2019-08-22 20:48] liubinyi commented on #657
a small modification of their example. worked on my local.
will it helpful?

[code]

[2019-08-22 20:51] rochdev commented on #657
Sorry I think I misunderstood the original issue, since in this example you are using Knex directly. In order to use Knex with async/await we need to work around an issue in Node described in #654.

Can you try using `dd-trace` 0.15.0-beta.1 with the following configuration:

[code]

[2019-08-22 20:54] liubinyi commented on #657
sure, i will give a try and let you know how it goes.

[2019-08-22 22:33] Shikkic commented on #652
Hey @rochdev. Yeah I'm sort of seeing that play out now, I've just hit nothing but issuess using webpack to bundle the code and dd-trace-js.

I'm not a front developer by trade, merely just helping my team instrument with datadog, however I believe we use webpack to bundle our code, assets, and node_modules into one file that gets executed. I think this makes some of the pathing assumptions in dd-

[2019-08-23 18:44] blugavere opened #660 "DD Trace causing runtime error due to type error bug"
**Describe the bug**

see below stack trace

**Environment**

    "dd-trace": "0.14.0",
    "express-graphql": "0.9.0",
    "graphql": "14.5.1",
    "graphql-tools": "4.0.5",

* **Operation system:**
* **Node version:**
* **Tracer version:**
* **Agent version:**

        "TypeError: Cannot read property 'apply' of undefined",
        "    at /srv/app/node_modules/dd-trace/packages/datadog-plugin-g

[2019-08-23 23:24] XBeg9 commented on #660
Same here, trying to debug and find what's causing the issue. Could you please downgrade to graphql 14.4.*

[2019-08-25 17:46] liubinyi commented on #657
@rochdev I think dd-trace 0.15.0-beta worked for me. we can close this issue. btw by any chance do you know when will 0.15.0 be released?

[2019-08-26 02:04] xzyfer commented on #660
Just ran into this issue which resulted in a minor site outage. I can confirm the bug is the result of updating `graphql` 14.4.2 -> 14.5.3.

[2019-08-26 13:55] jermeo opened #661 "dd-trace crash with tedious"
**Describe the bug**

Hello,

When we use the dd-agent, we have an error which is throw by the plugin datadog-plugin-tedious. If the agent is disable, no problem. We use tedious through mssql library.

* Sample of code:

[code]
* Error stack:
[code]
Statement is undefined in this code:

[code]

Regards

**Environment**

* **Operation system:** Linux Ubuntu 19
* **Node version:** 10.16.3
* **Tracer

[2019-08-26 17:10] ignaciocavina commented on #654
It worked!
I've updated my sample repo here:
https://github.com/ignaciocavina/atest-dd-trace-superagent/tree/test-with-0.15.0-beta.1

Thank you!

On Thu, Aug 22, 2019 at 4:30 PM Roch Devost <notifications@github.com>
wrote:

--

*Ignacio Cavina* | Tech Master

*GLOBANT* | AR: +54 11 4109 1700 ext. 17511 | US: +1 877 215 5230 ext. 17511
 |

[image: Facebook]
<http://globant.us4.list-manage1.com/tra

[2019-08-27 20:52] jermeo commented on #661
Thanks rishabh for this rapid fix ! We are waiting the next release.
Kind regards

[2019-08-28 08:42] tot-ra opened #663 "Disable plugins feature (DD_INTEGRATIONS_DISABLED)"
php extension can accept env var `DD_INTEGRATIONS_DISABLED` to disable certain (unstable?) plugins. Seems that dd-trace-js doesn't have this feature (http for example seems to always intercept requests). Would be nice to have black list of disabled plugins

[2019-08-28 15:02] tot-ra commented on #663
And how do I do it in typescript, if tracer wants specific type? :suspect:

[2019-08-28 21:40] #311 closed

[2019-09-03 17:51] Shikkic commented on #652
@rochdev Thanks again for helping me out, I was able to get it working! Happy to hear about the public plugin API, excited to see that come out.

If anyone else is reading this and is wondering what the final solution looks like that worked for us (We used TypeScript so we needed have it in a separate file and exported):

[code]

Going to close this now, thanks again!

[2019-09-03 17:51] #652 closed

[2019-09-06 21:04] FXStrato opened #671 "Error when url param is not decodable"
**Describe the bug**
Noticing in our logs a URIError saying that it failed to decode a param. We sometimes get a heavily encoded url in our requests, and it appears to cause our application to error and restart. Was able to reproduce locally by initializing dd-trace with an express server and attempting to hit a route like this
`http://localhost:8080/index/Job=CE%A4%CE%BC%CE%AE%CE%BC%CE%B1%20%CE%A

[2019-09-06 21:09] FXStrato commented on #671
Did a bit more searching, believe this might not be related to dd-trace at all. Apologies!

[2019-09-06 21:09] #671 closed

[2019-09-06 21:12] jermeo commented on #661
Very thanks for this fix !

[2019-09-06 21:12] #661 closed

[2019-09-10 21:03] #654 closed

[2019-09-12 11:40] rdhaliwal opened #672 "[datadog-plugin-graphql] - Missing loc object breaks query"
Hello! I've come across an interesting scenario that's resulting in some of my GraphQL requests breaking.

Essentially, on [L295 of datadog-plugin-graphql/src/index.js](https://github.com/DataDog/dd-trace-js/blob/master/packages/datadog-plugin-graphql/src/index.js#L295), the `fieldNode` doesn't have `loc` object, resulting in the error `"Cannot read property 'start' of undefined"`.

If I change L2

[2019-09-13 13:49] rochdev commented on #672
What is the value of `document` for that field?

[2019-09-13 21:22] nickpresta opened #673 "TypeError: events.has is not a function"
## Description

When my GraphQL server (using Express, Apollo) starts up, I immediately get the following error:

[code]

The follow environment variables are set:

* `DD_RUNTIME_METRICS_ENABLED=true`
* `DD_TRACE_ANALYTICS_ENABLED=true`
* `DD_TRACE_ENABLED=true`

and the DD config (in-app) looks like:

[code]

Everything else about the application is a fairly standard Apollo GraphQL application.

[2019-09-13 23:32] rdhaliwal commented on #672
@rochdev I've updated the gist with the document. The key difference seems to be the alias is missing in the fieldNode?

If I remove the alias, the query works. However, there are other queries & mutations with aliases that work perfectly fine, and other queries that don't have aliases that also break in a similar manner.

Something else I tried was seeing if there was another field object (maybe

[2019-09-16 05:30] xzyfer opened #674 "[datadog-plugin-graphql] sampleRates does not work"
**Describe the bug**

The `Integration` interface suggests `analytics.sampleRates` can be an object. Given this I would expect the follow set up to set the sample rate for `graphql.parse` and `graphql.validate` events to 0%, and `graphql.execute` to 10%.

[code]

However we're still seeing a high volume `graphql.parse` and `graphql.validate` APM events.

I've confirmed `extractAnalytics` encounter

[2019-09-16 13:15] rochdev commented on #674
This was an API we were exploring a little while ago that never made it to be official. It looks like the types were still merged, but the above is not currently supported. We plan to support this, but the API will probably be different.

[2019-09-16 13:23] rochdev commented on #672
From the document, it looks like the field is not actually the entire document. This means that without the `loc` it's not possible to know what is the source of the field. I'll have to add a check to the `fieldNode` but this will have the side-effect to lose some information for that field on the span.

I consider this a bug in Apollo since a field that is part of a document should always include

[2019-09-16 19:18] rochdev commented on #673
@nickpresta Thanks for the thorough investigation! Would you be able to provide a minimal reproduction snippet? I'm unable to reproduce the issue, and as you've mentioned, looking at the code it should not be possible that the variable is ever assigned to anything other than a `WeakMap`.

[2019-09-16 23:39] jfirebaugh opened #680 "Missing gc_type tag for gc.pause.by.type metrics"
The `runtime.node.gc.pause.by.type.*` metrics are intended to include a `gc_type` tag:

https://github.com/DataDog/dd-trace-js/blob/68b93dff6dabaa891d3cd1ac2a33edd69279cccf/packages/dd-trace/src/platform/node/metrics.js#L226

However, the `histogram` function ignores the third parameter, so post-aggregation, these metrics aren't really meaningful:

https://github.com/DataDog/dd-trace-js/blob/68b93

[2019-09-17 14:35] nickpresta commented on #673
Hey @rochdev I can take a look at providing a minimal reproduction case later this week. We're currently experiencing the bug in one of our production systems that has many dependencies and code so I'm not sure where to start 😄

Thanks again

[2019-09-17 19:56] #680 closed

[2019-09-17 21:49] rdhaliwal commented on #672
Awesome, thanks for that @rochdev ! Any idea of a rough timeline on when to expect #676 to be merged?

And yes, I agree, I have a feeling there's a bug in Apollo or something else that's messing up the fieldNode. I'm trying to trace it down, but it's slow going >_>

[2019-09-17 21:50] rochdev commented on #672
As soon as it's merged I'll publish a release. It should happen by tomorrow.

[2019-09-17 21:51] rdhaliwal commented on #672
Beautiful, thanks!

[2019-09-18 14:23] TroyCoombs opened #684 "TypeError: Cannot set property 'config' of undefined"
**Describe the bug**
Updated to 0.15.0 yesterday and started getting this error.  If I disable 'plugins' within dd-trace init() and not enable and configure any plugins individually the error doesn't happen when the service receives a request.

Error is:
"TypeError: Cannot set property 'config' of undefined",
    "    at startSpan (D:\\Github\\applications\\node_modules\\dd-trace\\packages\\dd-tra

[2019-09-18 14:52] rochdev commented on #684
Can you share the entire stack trace? Also, what Web framework are you using?

[2019-09-18 15:35] #672 closed

[2019-09-18 15:49] TroyCoombs commented on #684
@rochdev  just added stack trace file and updated Environment section.

[2019-09-18 16:00] rochdev commented on #684
It looks like it's related to using HTTP2. I'll have to investigate further as we do not currently test support for this protocol.

[2019-09-18 18:02] #674 closed

[2019-09-18 19:28] jimdubbs commented on #684
@rochdev From what I can tell, the issue is here:

![image](https://user-images.githubusercontent.com/3068059/65179487-773b2f00-da35-11e9-8cbc-7d72dc191e41.png)

the check on if the req is a stream, req.stream._datadog is undefined at this point. In testing i simply commented out that if block and it appears to work fine now - but i dont totally understand what the purpose of it is.

[2019-09-18 20:59] rochdev commented on #684
The idea was to support HTTP2 since the structure of the request is different. By detecting HTTP2 using the `stream` property, we can set the tags using different headers and properties from `req`. However, the current implementation assumes the HTTP2 request was previously instrumented, which is not the case.

This is fixed in #688 which will be released in the next version.

[2019-09-18 21:13] jimdubbs commented on #684
Much Appreciated! Any idea on next anticipated release in terms of days/weeks?

[2019-09-18 21:18] rochdev commented on #684
I don't have a timeline, but it's definitely days and not weeks :smile:

[2019-09-18 22:00] #684 closed

[2019-09-20 16:22] dustinblackman opened #691 "Export plugins interface"
## Overview

Currently the `Plugins` interface is marked as hidden. It looks like this was done when porting over from jsdoc, but I don't see an obvious reason why (maybe to avoid noise?). At the moment I'm not using `dd-trace-js` directly, but rather wrapping it with default configs for other searches which can be extended later. It'd be nice to have the type checking capabilities for plugins on

[2019-09-20 16:42] rochdev commented on #691
The main issue is that it's an internal API that never went through a proper design review. There is also no guarantee at the moment that the API will not change without notice. We want to eventually expose it, but we want to improve it first.

One thing that could potentially be done in the meantime, is split the definitions in multiple files. Then even if the `index.d.ts` doesn't expose it as be

[2019-09-20 22:07] pauldraper commented on #251
@rochdev any more thoughts on this?

As awesome as DataDog is, the point of OpenTracing was to decouple the instrumentation from the APM provider.

[2019-09-22 11:01] rochdev commented on #674
Fixed the types in 0.15.1 and the functionality will be reintroduced in 0.16.0 with a different API.

[2019-09-24 15:20] milesalex opened #694 "Use dd-trace to capture traces and send to jaeger"
**Describe the bug**

I am able to capture the trace but the network request fails when sending to jaeger.

I have my jaeger container set up in docker compose under the name `trace` and the port is `6382`. When using jaeger-client, i am able to send tracers, but i cant send traces with dd-trace.

[code]

My implementation with dd-trace

[code]

environment variables

[code]

jaeger container
[cod

[2019-09-24 15:22] milesalex commented on #694
My guess is that `"/v0.4/traces"` does not exist in jaeger so its failing to send traces.

[2019-09-24 15:27] rochdev commented on #694
Our tracer requires the Datadog agent to work and doesn't support interoperability with Jaeger. You can use Jaeger in parallel by using a Jaeger tracer, but in general this is not recommended unless you are transitioning from Jaeger.

[2019-09-24 15:27] #694 closed

[2019-09-24 15:51] rochdev commented on #251
@pauldraper Most of the work mentioned in the OP has either already happened or should happen soon for `dd-trace-js`. Most of it should also land in OpenTelemetry if they decide to use our tracer as the base for the JavaScript tracer given our recent [partnership](https://www.datadoghq.com/blog/opentelemetry-instrumentation/).

I would highly recommend participating to the OpenTelemetry discussion

[2019-09-24 18:44] milesalex commented on #694
@rochdev I thought dd-trace is supposed to support the opentracing standard?

https://www.datadoghq.com/blog/opentracing-datadog-cncf/

Seems backwards... 🤔

[2019-09-24 20:10] rochdev commented on #694
OpenTracing is just an API that vendors can implement allowing you to switch between vendors. However, the implementation itself is bound to the vendor. This is different from OpenCensus and OpenTelemetry where the entire implementation is vendor-neutral.

This means that you can switch for example between `dd-trace`, a Jaeger or a Zipkin tracer and it would work as long as they are all OT complia

[2019-09-24 20:26] milesalex commented on #694
Thank you for the info

On Tue, Sep 24, 2019 at 4:11 PM, Roch Devost < notifications@github.com > wrote:

[2019-09-25 22:43] jfirebaugh opened #695 "Performance of async_hooks scope manager"
**Describe the bug**
In our application we noticed a significant performance overhead from using the default `async_hooks`-based scope manager. After adding `scope: 'noop'` to our config, we saw the following improvements.

CPU usage halved:

![CPU Usage-2](https://user-images.githubusercontent.com/98601/65644658-b45d6f00-dfa9-11e9-82e1-2ab124a9d402.png)

Significantly smaller GC pauses, with less

[2019-09-26 00:02] rochdev commented on #695
Unfortunately, `async_hooks` is the only context propagation construct provided by Node. Some alternatives exist as libraries, but they are no longer maintained, have many known issues, and are discouraged by the Node team. There are a few ways to improve the performance, but in general it means reducing the use of promises either directly in the code, using a transpiler, or switching to a promise

[2019-09-26 00:05] rochdev commented on #695
One other thing that might be worth testing is if the issue is caused only by `async_hooks` itself or by the spans that are stored in the scope by `dd-trace`. You could check that by running your service with `tracer.init({ plugins: false })`. This will result in no trace being generated at all, so you would be able to isolate only the scope manager, and see the difference between no-op and `async

[2019-09-26 14:09] ludov04 opened #696 "Allow configuration of experimental feature like b3 through environment variable"
This would be super useful to be able to enable this through env vars like it is the case on other dd-trace library.
We want to use b3 propagation but we would rather enable that through a simple environment variable rather making code changes on all our projects.

[2019-09-26 16:09] lwakefield opened #697 "Mongo traces no longer showing"
**Describe the bug**

We recently upgraded some mongo dependencies:

[code]

Since that upgrade - mongo traces have stopped showing in APM.

~I am testing an upgrade to `dd-trace-js` in case that fixes the issue.~ No luck with the upgrade.

~Additionally I am in the process of testing the order in which dependecies are loaded to make sure `dd-trace-js` is still initialized first.~ It appears that

[2019-09-26 16:47] jfirebaugh commented on #695
Thank you for the response @rochdev.

We did test with `plugins: false` and did not see a noticeable performance difference compared to the baseline (prior to using `scope: 'noop'`). So the poor performance is almost certainly caused by the use of `async_hooks` itself.

We make extensive use of promises and async/await, and this is a performance sensitive service, so for now we will use dd-trace-j

[2019-09-27 02:48] rochdev commented on #695
Plugins that are usually at the root of the trace can safely be enabled. This usually includes any kind of server such as web frameworks like Express. You can enable these using for example `tracer.use('express')` since they do not rely on the scope manager to work. This will give you at least some high-level visibility until the performance is addressed with `async_hooks`.

Sorry that we can't do

[2019-09-27 03:37] rochdev commented on #697
It looks like since `mongodb` 3.3.0 they have merged `mongodb-core` which is thus no longer a standalone library. Since we instrument `mongodb-core` which no longer exists, the plugin is never used. We'll need to update the plugin to support the new merged project. If you do not have a strong reason to use >=3.3.0, I would recommend downgrading in the meantime. This should be fixed in the next few

[2019-10-01 14:23] #697 closed

[2019-10-02 12:43] rochdev commented on #402
We've had several reports that the issue is fixed completely, and no new report of memory leaks for several months at this point, so closing this issue.

[2019-10-02 12:43] #402 closed

[2019-10-02 12:44] rochdev commented on #63
Closed by #668

[2019-10-02 12:44] #63 closed

[2019-10-02 12:47] rochdev commented on #260
@aledbf Are you still having this issue with the latest version? The command detection part of the plugin has been rewritten since this issue was opened.

[2019-10-02 12:53] aledbf commented on #260
@rochdev unfortunately, I am not using datadog anymore. Please close the issue if you think this is fixed

[2019-10-02 15:41] rochdev commented on #260
Thanks for letting me know! This should definitely be fixed. I'll close this issue for now and reopen it if this is reported again.

[2019-10-02 15:41] #260 closed

[2019-10-02 17:36] dm03514 opened #703 "datadog-plugin-http server no HTTP_ROUTE fallback (v0.13.1)"
Greetings, I noticed that some http.requests only showed the `request.method` as the resource instead of the path:

<img width="1107" alt="Screen Shot 2019-10-02 at 1 28 38 PM" src="https://user-images.githubusercontent.com/321963/66066977-9eefc400-e518-11e9-9a59-21f07c40f719.png">

With traces that look like:
[code]

For whatever reason (unknown) it looks like [`req._data.paths` aren't being set]

[2019-10-02 19:25] Shikkic opened #704 "Async/Await Manual Tracing"
We've been using automated koa tracing for a few weeks now with pretty good coverage, however we're trying to do some manual tracing and we've been having trouble creating a custom span within a function block that has an async/await call in it.

I feel as though the documentation surrounding manual instrumentation is a bit lacking. I do see one area where it acknowledges await specifically:

Howe

[2019-10-03 08:05] rochdev commented on #703
Unfortunately this is not something we can support out of the box at the moment because the cardinality of the path can be very high. However, we have 2 options depending on the use case:

1. If you are using a web framework, we can patch the router of the framework to add the route automatically. This is what we do to support for example Express out of the box. If possible this would definitely b

[2019-10-03 08:48] rochdev commented on #704
The documentation is definitely confusing right now 😅We are reworking it to have everything in one place which should make everything easier to understand.

There are a few ways to handle this for your use case:

##### OpenTracing API + Scope Manager

This is our low-level API that is based on OpenTracing with a few extensions like the scope manager.

[code]

Reference: https://datadog.github.io/d

[2019-10-03 12:14] dm03514 commented on #703
Awesome, yes this is super helpful.  The second approach works great.  Thank you

[2019-10-03 12:14] #703 closed

[2019-10-04 17:21] pauldraper commented on #251
@rochdev thanks, will do !

[2019-10-04 17:55] rochdev commented on #695
There was a performance optimization in Node 12 to reduce the memory impact (and thus GC) of `async_hooks`.

@jfirebaugh Can you try with Node >=12 and let me know if you see better results? This would help a lot as I'm trying to see if there is anything we can do to fix or improve this further directly in Node.

[2019-10-04 18:24] Shikkic commented on #704
Thank so much for responding so quickly @rochdev, this was a huge help. I believe we're able to see the custom span now.

What we currently do have is the `net` package being auto-instrumented and that produces some traces for outbound requests to some APIs. However the only information we get from that is the `tcp.connect` traces, which I believe is only for how long it takes to establish the con

[2019-10-04 18:31] rochdev commented on #704
Correct. Since a TCP socket can be long-lived, it's not possible to know when each request sent through the socket actually starts and ends, unless we have a specific library or protocol that we can instrument.

What is the library that is used to make the call? What protocol is it using? If it's an open-source library, then we should be able to support it out-of-the-box. We are trying to keep man

[2019-10-04 18:43] Shikkic commented on #704
We're using Axios (https://github.com/axios/axios) to make HTTP requests.

[2019-10-04 18:55] Shikkic commented on #704
That would be fantastic if we could have it be automatically traced.

[2019-10-04 18:56] rochdev commented on #704
Axios uses `http` which should be instrumented out-of-the-box. Can you confirm that you are not seeing the outgoing HTTP requests? If that's the case it's definitely a bug. It's also possible that the `http` module is required somewhere before the tracer which would cause it to not be instrumented.

[2019-10-04 19:17] Shikkic commented on #704
Ah that would explain a lot, I have all default plugins disabled by default. If it wasn't apparent I'm the same person from this issue (https://github.com/DataDog/dd-trace-js/issues/652). So my tracer setup is a bit custom to get around webpack. I'll enable the `http` module and configure the instrumentation for it and see what happens. Thanks!

[2019-10-04 20:40] Shikkic commented on #704
That worked beautifully @rochdev, it's a real game changer for us thank you!

The only question I have left would if there is a way to rename the http service name? Right now it shows up as this.

<img width="481" alt="Screen Shot 2019-10-04 at 4 38 17 PM" src="https://user-images.githubusercontent.com/8765687/66238402-8f61ae00-e6c5-11e9-89c3-e4b93817cf85.png">

[2019-10-04 21:00] Shikkic commented on #704
I've tried doing something like:

[code]

but that didn't seem to work, I feel like I might have to manually override the service value somehow since the tracer setup is really custom 😞

[2019-10-08 04:30] shavo007 opened #706 "Graphql apm tracing not visible"
**Describe the bug**

Enable ddtrace for graphql api. When we deploy via fargate with sidecar container datadog, we get a logging error but error is null

[code]

**Environment**
Typescript, Apollo graphql with koa

* **Operation system:**
Docker
* **Node version:**
node:12.10.0-alpine
* **Tracer version:**
  "dd-trace": "0.15.3",
* **Agent version:**
datadog/agent:6.12.1

The config is

[code]

t

[2019-10-08 07:28] rochdev commented on #706
In general, this kind of issue would happen when we log an error that was passed to an error handler. In this case, it means either the error handler didn't pass the error object properly, or we have a bug where we grab the wrong value. In both cases, this should be fixed since we should always provide the stack trace regardless, especially when the error is missing.

In the meantime, is there a w

[2019-10-08 07:33] rochdev commented on #706
Also worth noting is that in general you should still be getting traces even if one integration is broken, unless a span in never finished because of the issue. Can you try to disable the `graphql` plugin using `tracer.use('graphql', false)` right after the call to `tracer.init()` to see if you start getting traces?

[2019-10-08 13:03] rochdev commented on #706
I've just released 0.15.4 which should at least give you a stack trace on this error. Please let me know if that works and post the stack trace here if possible.

[2019-10-08 21:55] shavo007 commented on #706
hi @rochdev  thanks for prompt response.

we use pino logger under the hood.

i will update the version today and get back to you.

[2019-10-08 22:00] aheuermann opened #708 "Traces not flushing on process exit"
**Describe the bug**
We are not seeing traces for our short-lived cron jobs we have added tracing to. These are kubernetes crons. A container is spun up specifically to run the job and then exits once complete or fails. I enabled debug and noticed that traces are being `encoded` but don't seem to be sent to the agent as I do not see any [`Request to the agent`](https://github.com/DataDog/dd-trace-

[2019-10-08 22:01] aheuermann commented on #708
Note: we are seeing the same thing on our longer-running crons as well so I don't think that the fact that this ran < 1s has anything to do with it.

[2019-10-08 22:24] aheuermann commented on #708
Ah I think I may have figured it out. It looks like the [`beforeExit`](https://github.com/DataDog/dd-trace-js/blob/d74554d4c3443665e25cff4eb0480caf6702a969/packages/dd-trace/src/platform/node/index.js#L43) event is what triggers the flush, but I am calling `process.exit()` to indicate pass/fail of the job which [explicitly skips `beforeExit` hooks](https://nodejs.org/api/process.html#process_event

[2019-10-09 00:23] shavo007 commented on #706
we are actually noticing problems with plugins true, the tracing does not work.

 "dd-trace": "0.15.4"

config is

[code]

it actually breaks our microservice into multiple datadog services (see scnshot attached)

i did get the stacktrace now for you!

[code]

if we set plugins to false and only enable graphql its back to normal but we dont see our span that calls our upstream rest API then

[code

[2019-10-09 00:25] shavo007 commented on #706
![Screenshot 2019-10-09 at 10 40 54](https://user-images.githubusercontent.com/5466825/66442676-6e170e00-ea87-11e9-8489-a1afc521c938.png)

[2019-10-09 00:26] shavo007 commented on #706
![Screenshot 2019-10-09 at 11 26 31](https://user-images.githubusercontent.com/5466825/66442727-ad455f00-ea87-11e9-9ab6-9b3ea15e4c68.png)

only graphql enabled

[2019-10-09 00:30] shavo007 commented on #706
![Screenshot 2019-10-09 at 11 30 01](https://user-images.githubusercontent.com/5466825/66442821-2cd32e00-ea88-11e9-9f5b-d2fe09e4d017.png)

you can see the trace does not include the span (http call) to our upstream rest API that resolves the query

[2019-10-09 05:46] guilherme opened #709 "Trace not being sent to datadog when express endpoint uses schema-link"
**Describe the bug**

I am having an issue when express and graphql plugins are combined. My situation is the following:
whenever I try to do a request on a route that uses apollo's  [SchemaLink](https://www.apollographql.com/docs/link/links/schema/) to make GraphQL queries the tracing doesn't get reported to Datadog.

If I hit an endpoint that only hits the GraphQL or if I hit an endpoint that do

[2019-10-09 22:23] alexrhogue opened #710 "Default service name defaults to potentially incorrect value"
Ran into a potential bug with the default value of 'service' in the tracer init.  I am setting up my team's project to have a shared npm module that contains something like this:

shared-dd-config:
[code]

The idea is to install this package and require it across our node apps.  This would allow me to make changes to our init/plugins in one place.

This issue I ran into (after much head banging) i

[2019-10-10 09:16] rochdev commented on #710
This is the intended behavior, but this use case was not considered. It should be straightforward to find the root module instead of the parent one and update the tracer accordingly. In the meantime, you can use the `DD_SERVICE_NAME` environment variable which is supported out of the box.

[2019-10-10 09:31] rochdev commented on #708
The problem with `process.exit()` is that it forcefully exits the process, effectively skipping any asynchronous work such as HTTP requests. This means that even if you were to manually trigger the flush, `process.exit()` may still exit before the trace is actually flushed. I'm open to suggestions, but I'm not sure it's possible to prevent that without altering the behavior of `process.exit()`.

I

[2019-10-10 09:48] rochdev commented on #706
Thanks for the detailed information! I will look into what could be causing the error.

For the microservice broken into multiple service names, this is the expected behavior. We split services by component so that stats can be aggregated more granularly. This behavior can be changed depending on your specific needs. However, all spans for the same request should still always be displayed in the s

[2019-10-10 10:00] rochdev commented on #709
Just to confirm, it works even with a SchemaLink but only if the `express` plugin is not enabled?

What is the value of `span._spanContext._name` for entries that are in `traces.started` but not `traces.finished` for traces that never finish? This will give me an idea of which span is causing the issue.

[2019-10-10 10:40] guilherme commented on #709
Hi @rochdev, thanks for answering. I was able to identify the issue and fix it.

Here's what I think it happened:

My SchemaLink had `context` as static object and there were multiple query calls, therefore, multiple execute calls. After debugging I found that the `finish` and `finishResolvers` was only called once. [See](https://github.com/DataDog/dd-trace-js/blob/master/packages/datadog-plugin-g

[2019-10-10 11:31] guilherme commented on #709
This test here:

```it('should support multiple executions with the same contextValue')```

seem to not be calling the finish  twice.

[2019-10-10 14:30] aheuermann commented on #708
We can update to exit the process gracefully, but I think it is fairly common to exit with `process.exit` so might be worth allowing the manual flush option as well. Not sure how feasible it is to expose a flush method that returns a promise that is resolved once  all traces are sent to the agent? Let me know what you think.

[2019-10-10 15:12] i-hardy opened #711 "Blacklist passed in Hapi plugin options has no effect"
Based on the documentation, I expected the following to result in no instrumentation of the `/healthcheck` route:

[code]

However this appeared to have no effect. Passing a function that should exclude _all_ routes (`() => false`) also had no effect. I could only successfully exclude the route when the option was passed to the http plugin:

[code]
This excluded the route from instrumentation whet

[2019-10-10 16:50] rdacquisto opened #712 "Error message logged for every emitted trace"
**Describe the bug**
Every time a trace is emitted, I am seeing a `null` error in the logs. The cause of this log message is https://github.com/DataDog/dd-trace-js/blob/d830ae6f58480089e37bbe8f1a4cd14898bf1db6/packages/dd-trace/src/exporters/agent/writer.js#L78

`this._prioritySampler` is undefined. The `e` from the catch block is
[code]
The variable `e` isn't exposed, and the `null` `err` variabl

[2019-10-11 00:50] shavo007 commented on #706
thanks @rochdev  be good to see if you get any issues on your side trying to replicate.

For example, running a graphql API example using apollo koa and RestDataSource to an underlying rest API resolver.

[2019-10-11 13:55] rochdev commented on #709
Glad you could get it to work! Since `context` is meant to be shared across a specific request and not globally, this is the expected behavior. I don't understand why Apollo allows configuring a global context to be reused across all requests since that doesn't really make sense, but since they do, this is definitely something we should handle. This is quite a big change since this means rewriting

[2019-10-11 13:57] rochdev commented on #709
This test is mostly to ensure that there is no conflict that could cause an error, and in the context of a single request. While related, it's not exactly the same issue as described above. This is something we'll eventually test once the implementation supports this use case.

[2019-10-14 13:13] gkubisa opened #714 "reportHostname is missing in TracerOptions ts interface"
**Describe the bug**: `reportHostname` is missing in `TracerOptions` ts interface.
**Tracer version:** 0.15.4

[2019-10-15 20:34] f3d0r commented on #714
Fixed by upgrading `opentracing` to `^0.14.4`, will open up a PR that updates the `package.json` tonight :)

[2019-10-17 17:41] Shikkic commented on #704
I wasn't able to quite figure out how to rename the service but I'm not super worried about. I'll close this, no need for it to be hanging open. Thanks for your help again!

[2019-10-17 17:41] #704 closed

[2019-10-21 05:14] guilherme opened #717 "Request queueing tracking"
Hello,
I see that in ruby it's possible to track [request queueing](https://docs.datadoghq.com/tracing/setup/ruby) but it's not possible  to do that in dd-trace-js. At least couldn't find it in docs and in the code.

Is it possible to add that ?

Thank you,

[2019-10-22 10:09] guilherme commented on #717
Just to give a bit more context. We're doing SSR so we had to do something similar to  Airbnb's https://medium.com/airbnb-engineering/operationalizing-node-js-for-server-side-rendering-c5ba718acfc9. So, I am sure more people would have the same difficulty.

We want to be able to measure how much time is spent on queueing from the HTTP server to the Node server.

[2019-10-22 10:25] guilherme commented on #717
It would be great If you could either give me some guidance on how I could do this on custom for my app way or contributing back to the library.

[2019-10-22 15:57] rochdev commented on #717
Thanks for the suggestion! This is definitely something we should support. It would be especially useful for managed services that cannot otherwise be instrumented.

Depending on the use case, it's also possible however that this is not necessary. For example, our NGINX integration means that you can instrument NGINX itself, meaning you don't need to calculate this on the upstream service, and you

[2019-10-22 16:00] rochdev commented on #712
The `null` part was fixed in #716. The actual error will also be fixed soon.

[2019-10-22 19:37] rochdev commented on #706
After looking more into this, I think the error is most probably caused by another issue that is unrelated. I will release a new version in the next few days with a potential fix that should fix the error, but not the original issue. This will confirm if the error is related or not.

In the meantime, would you be able to create a minimal reproduction snippet that I can run locally? This would help

[2019-10-22 23:17] guilherme commented on #717
@rochdev good one. we're using HAProxy in a similar way to NGINX. So it only forwards requests if there's bandwith to do so.

I've noticed there's an integration for HAProxy, that I could use. and it seems that it gives me what I want `haproxy.backend.queue.current`. I am going to try it.

[2019-10-22 23:30] guilherme commented on #717
We are collecting these metrics, but they don't show as part of the APM traces.  We would like to have the request queueing part as part of the trace so the HAProxy integration it's not sufficient for this.

[2019-10-22 23:59] rochdev commented on #717
In the case of NGINX we indeed also have an APM integration, but not for HAProxy at the moment. So your best bet in this case would definitely be the request queueing, at least for now.

Unfortunately, since there is no built-in way to do this, you will have to rely on a workaround until we release this feature.

The following steps will need to be taken in order to update the trace before it's fl

[2019-10-23 01:45] millerick opened #719 "Small microsecond spans after most $in mongo queries and mislabeling of getMore operations"
**Describe the bug**
This is potentially a bug, but more of a question as to why dd-trace is behaving the way that it is behaving.

*Summary:*
1. It would be nice if getMore operations were separated from the initial find operation.
2. There are microsecond duration traces that I don't necessarily think represent a round trip to the database to retrieve information.

*Details*

We noticed that whe

[2019-10-23 17:43] rochdev commented on #719
The way the integration works right now is that we instrument any command going through the driver. This includes queries but also administrative command or any of the [available commands](https://docs.mongodb.com/manual/reference/command/). We do not alter how these are captured and displayed specifically to give you more visibility, but I understand that for your use case it's not necessarily th

[2019-10-23 19:04] millerick commented on #719
I would argue that currently the spans are not displaying exactly what the driver is doing.  There is no way to differentiate between which spans are a round trip to the database, and which are not (remember, my suspicion is that the microsecond duration spans do not result in a network hop), and there is no differentiation between the initial find and the getMore paging through the cursor.

I _re

[2019-10-23 20:46] rochdev commented on #719
Makes sense. I'll have to look into it to see how we could restructure things to isolate actual calls to Mongo.

[2019-10-24 18:34] alexrhogue opened #723 "Error in span does not cause entire request to report error in APM"
I am having an issue with getting an error in a span to propagate up and cause the entire trace to be marked as a failure.

I want to provide my team with the ability to notice a critical error in an http request (even if the code catches that error and handles it graceful).  To achieve this I am create a span and causing it to error out.  This works.  However, the trace created by the express plu

[2019-10-24 18:41] rochdev commented on #723
I'm not sure to understand exactly the expected behavior. Are you trying to add an error to a specific span, or add an error to the root span of the tracer? Or are you trying to add an error to the root span whenever there is another span that has an error?

[2019-10-24 18:43] #712 closed

[2019-10-24 18:46] alexrhogue commented on #723
Thanks for the quick reply.  I am trying to add an error to the root space of the tracer.

[2019-10-24 20:28] rochdev commented on #723
Are errors reported as `200` status code? You can control which status codes result in a trace-level error. Otherwise, I'm afraid I'll have to provide a workaround since the tracer considers a handled error as a success from the request perspective.

[2019-10-24 20:33] rochdev commented on #723
Another question: do you expect any error on any span to flag the trace with an error, or only specific ones?

[2019-10-24 20:36] alexrhogue commented on #723
1) The errors are reported as 200 status code
2) Just a specific one

[2019-10-25 13:47] #714 closed

[2019-10-25 13:48] #710 closed

[2019-10-25 13:56] rochdev commented on #723
Ok, then it should be possible to flag the request and use that on the request span in a hook. It would look like this:

[code]

You could also set the error to an actual `Error` object instead of `true` but I wouldn't recommend it. This would give the impression that the error was thrown by the request (i.e. actually bubbled up) and would be redundant since you will be able to find the real error

[2019-10-25 17:58] alexrhogue commented on #723
Trying that right now.  Thank you.

[2019-10-25 18:20] alexrhogue commented on #723
Seems to be working great.  Request is showing up as an error.  And I can inspect the spans to find the actual error.  Only issue I see is that some code paths where I may want to 'noticeError' may not currently have access to the req.

I'm currently attempting to search through the spans in the express middleware to find my error span.  I'll keep you posted!

Thanks again.

[2019-10-25 18:36] rochdev commented on #723
It's also possible to access the request span from any span at any time during the request lifecycle, but there is no public API to do it yet so you would have to rely on private properties.

If this is something you are comfortable with, it would look like this:

[code]

[2019-10-25 18:41] alexrhogue commented on #723
I think that is exactly what I need.  Having to use private props is not ideal but I think I can work with it for now.  Should I open another issue to request that as a first party feature?

[2019-10-25 18:46] rochdev commented on #723
Sure thing! This is definitely something that is on our radar but we want to make sure the API will cover all uses cases, which is why it hasn't landed yet.

[2019-10-25 20:02] rochdev commented on #706
The error should now be fixed.

@shavo007 Can you try with 0.15.5 and see if you still have the error, and if you are getting traces? This should tell us if the problem was the error or not.

[2019-10-25 20:45] alexrhogue opened #725 "Add the ability to safely get the root span from the tracer"
It would be very helpful to be able to get the root span of a request safely from the tracer object via a public function/getter.  Currently to do this I need to use a private property (code provided by @rochdev):

[code]

I propose something like the following:
[code]

This would make it much easier to add tags and information to the root of a request without having to communicating via the req o

[2019-10-29 09:30] ericmustin commented on #711
hey there @i-hardy , hope all is well, i tried to reproduce this as it seemed interesting to me but was unable to. [Here is a little gist of the steps i took to do so](https://gist.github.com/ericmustin/a83c4799ca6f134fcc9fa09a9f37e384),  to be fair it's a very minimal hapi implementation so it's possible there's a more complex interaction that i am missing in my approach.

One common hiccup tho t

[2019-10-29 20:51] jasperlin451 opened #729 "Unexpected jump in reported metrics when upgrading"
**Describe the bug**
We're trying to upgrade the tracer version from 0.6.2 to 0.15.4.

![Screen Shot 2019-10-29 at 1 38 07 PM](https://user-images.githubusercontent.com/6192397/67807093-624cb500-fa51-11e9-9a75-4eb39f1b631a.png)

We're noticing a huge jump (> 10x) in the number of express request hits when we deploy the change and once we rollback, the numbers return back to normal. Based on the AL

[2019-10-30 14:03] rochdev commented on #729
There was a bug in how sampling priority was calculated in 0.15.4 which may cause issues related to metrics upscaling. Can you try with 0.15.5? Also, can you confirm whether you've set a sample rate on the tracer?

If updating to 0.15.5 doesn't resolve the issue and you are not using client sampling, I would recommend opening a [support](https://docs.datadoghq.com/help/) ticket for this as it can

[2019-10-31 16:08] jasperlin451 commented on #729
We're were trying to set the sample rate to 0.01. But we actually weren't using sampling before (on 0.6.2). We were trying to give sampling a shot of because of latency issues we were seeing.

[2019-10-31 16:22] rochdev commented on #729
Do you get the correct numbers if you set the sample rate to 1.0? Also, were you able to try 0.15.5 to see if it fixes the issue?

[2019-10-31 16:58] jasperlin451 commented on #729
Haven't had a chance to try it. We're trying to come up with a safer way to experiment with this upgrade since it caused some outages last time.

[2019-11-01 03:15] shavo007 commented on #706
hi @rochdev , thanks for reply.

i will look to upgrade to that version next week

i dont have time to create a quick demo, but pretty much can fork my graphql-api repo and change to koa instead of express, add in dd-trace and see how you go.

https://github.com/shavo007/graphql-playground/tree/master/api

this graphql-api resolves to two upstreams:
- db
- rest API

hope that helps

[2019-11-01 18:01] rochdev commented on #706
I tried to setup the playground, but I'm getting traces without any issue.

These are the steps I took:

[code]

Then I updated the code to include `dd-trace` like so:

##### api/src/index.js
[code]

##### api/src/tracer.js
[code]

Then I have started the server using:

[code]

Then I visited `http://localhost:8000/graphql` and sent the following query:

[code]

This resulted in traces being gener

[2019-11-01 18:10] rochdev commented on #706
Just tried with Koa instead of Express and it worked as well.

[2019-11-03 22:12] shavo007 commented on #706
hi @rochdev , can you post a sample trace from datadog? and the services that are created?

[2019-11-04 03:45] shavo007 commented on #706
and the trace config?

[2019-11-04 18:50] rochdev commented on #706
Created a [gist](https://gist.github.com/rochdev/936331c18f2fd58458fd8b892fb3404f) for the sample trace.

I didn't configure the tracer and simply called `tracer.init()` without any options.

[2019-11-04 18:53] rochdev commented on #706
I reverted to Express because I was getting errors with Koa (but was still getting traces).

[2019-11-05 16:04] mateuszpodraza opened #735 "Prepared statements from mysql2 are not being wrapped"
**Describe the bug**
Looking at https://github.com/DataDog/dd-trace-js/blob/master/packages/datadog-plugin-mysql2/src/index.js#L63 the only method from mysql being wrapped is the query method on Connection. That works when you're not using prepared statements, but if you do, `Connection.prototype.execute` does not in turn call `query` so that never shows up in APM.

I've expected prepared statemen

[2019-11-06 01:05] shavo007 commented on #706
hi @rochdev , that part of the schema calls the db

what i wanted to see was calling out to the rest API ticketmaster
https://github.com/shavo007/graphql-playground/blob/master/api/src/schema/artist.js

[2019-11-06 03:14] shavo007 commented on #706
i have updated to the latest version now: dd-trace@0.15.5

but now, when i deploy to dev, my services have changed and i dont see any graphql calls anymore!

[2019-11-06 03:15] shavo007 commented on #706
![Screenshot 2019-11-06 at 14 12 31](https://user-images.githubusercontent.com/5466825/68265323-d0bbf380-009f-11ea-8d6e-994f09f6d369.png)

[2019-11-06 03:15] shavo007 commented on #706
![Screenshot 2019-11-06 at 14 15 27](https://user-images.githubusercontent.com/5466825/68265363-e8937780-009f-11ea-850f-88c8c9cf2a4b.png)

[2019-11-06 03:16] shavo007 commented on #706
i only see koa requests now, no requests to graphql endpoint anymore

[2019-11-06 04:08] shavo007 commented on #706
![Screenshot 2019-11-06 at 14 59 00](https://user-images.githubusercontent.com/5466825/68267649-3e1f5280-00a7-11ea-8d79-b6dd1836e4c1.png)

[2019-11-06 04:08] shavo007 commented on #706
![Screenshot 2019-11-06 at 15 06 31](https://user-images.githubusercontent.com/5466825/68267662-45def700-00a7-11ea-90da-567c79d22d0b.png)

[2019-11-06 15:27] #735 closed

[2019-11-06 16:01] rochdev commented on #706
You would have to change the primary operation to be `graphql.execute` which encompasses queries and mutations. The link in the error message should help with that.

For the original issue, can you give more precise instructions of how to replicate the issue? I feel like I'm close to replicate it with the GraphQL playground, but I need to know exactly what query to send and any missing steps I hav

[2019-11-06 19:00] rochdev commented on #729
@jasperlin451 Were you able to resolve the issue?

[2019-11-06 19:34] jasperlin451 commented on #729
Don't think the update helped. Working with support team.

[2019-11-07 01:15] jasperlin451 commented on #729
I dug into this a bit more and I found that the sampling was working correctly. Out of 400 traces tracked, 4 were sampled and available in datadog.

The main question is then why `trace.express.requests.hits` is showing so many more hits than reality. We also cannot recreate the problem on our personal laptops but it's consistent in our staging/production environments.

[2019-11-07 04:23] shavo007 commented on #706
hi @rochdev  this is an example query

[code]

readme explains the setup

[code]

[2019-11-07 04:25] shavo007 commented on #706
TBH, i want to see an  actual prod like replication; which means testing this demo on fargate and reviewing the services created on  datadog and the distributed traces/flame graphs.

But at this stage, this is probably out of scope for this issue.

So Im happy to close it, i will follow up with datadog support.

thanks,
shane

[2019-11-07 04:25] #706 closed

[2019-11-07 15:15] rochdev commented on #729
Is the affected service the first service for this request (so the root of the distributed trace) or a downstream service?

[2019-11-07 16:03] jasperlin451 commented on #729
It's at the root. But mostly resolved within this single service. The tracing was to help dig into graphql resolvers

[2019-11-11 06:13] sabrehagen opened #741 "tracer.extract is a noop"
**Describe the bug**
The `tracer.extract` function is a noop in the `opentracing-javascript` [library](https://github.com/opentracing/opentracing-javascript/blob/master/src/tracer.ts#L178). This causes calls to `tracer.extract` not to function as described [in the documentation](https://datadog.github.io/dd-trace-js/interfaces/tracer.html#extract) and an empty `SpanContext` is always returned.

**

[2019-11-11 08:47] JesperLorentzenDK opened #742 "tracer.use not working for setting service name for some plugins"
**Describe the bug**
The tracer.use does not work for all plugins for changing service names.
We have used this code, for test:
(tracer has been initialized with debug:true)
tracer.use('mysql2', { service: `xxxxxx-mariadb2` });
tracer.use('amqplib', { service: `xxxxxx-rabbitmq` });
tracer.use('amqp10', { service: `xxxxxx-rabbitmq` });
Replaced both amqp libraries to make sure the logs does not con

[2019-11-11 15:13] rochdev commented on #741
`tracer.extract` is only a noop on the noop tracer which inherits OpenTracing directly without overriding its noop methods. In a real app where the tracer is enabled and initialized, a real implementation is used instead in our subclass.

Can you provide snippets of how/where you initialize the tracer and how you use `tracer.extact`?

[2019-11-11 15:18] rochdev commented on #742
Can you provide a snippet of the file where you call `tracer.init` and `tracer.use`? We have tests validating that the service name works as expected, so I wonder if there is some ordering issue since these have to be called at the very top of the application entrypoint.

[2019-11-12 10:17] JesperLorentzenDK commented on #742
I rewrote the tracer for the snippet and then out of nowhere it was renamed.
So it was the order and because I wanted the to use names from my configuration service.
It was because I didn't want the service name written in text in different places.
Sorry about that...

[2019-11-12 10:17] #742 closed

[2019-11-12 21:43] charlesemarsh commented on #600
I'm seeing this also

`../fsevents.cc:76:48: error: expected '(' for function-style cast or type construction
void FSEvents::Initialize(v8::Handle<v8::Object> exports) {
[code]

[2019-11-12 21:52] rochdev commented on #600
This error comes from `fsevents` which is not used by the tracer (at least not outside of devDependencies). It's possible adding the tracer caused your lockfile to be updated and an unrelated build to occur and fail.

Can you check in your `package-lock.json` or `yarn.lock` what depends on `fsevents`? The most likely cause would be the dependent.

[2019-11-12 21:54] charlesemarsh commented on #600
chokidar@^1.6.1:

Looks like the culprit

On 12 Nov 2019, at 21:52, Roch Devost <notifications@github.com<mailto:notifications@github.com>> wrote:

This error comes from fsevents which is not used by the tracer (at least not outside of devDependencies). It's possible adding the tracer caused your lockfile to be updated and an unrelated build to occur and fail.

Can you check in your package-lock.j

[2019-11-12 21:56] rochdev commented on #600
To find the real culprit, keep going up the dependency tree until you find the dependent that your app depends on (so the one that would be in your package.json).

[2019-11-14 23:35] msleevi opened #747 "Datadog Tracer throws Uncaught Exception on Error Code 13"
**Describe the bug**

When a gRPC Request fails with an [error code 13](https://github.com/grpc/grpc/blob/master/doc/statuscodes.md) from a failure to parse like so:
[code]

The datadog gRPC plugin will throw an uncaught error that causes the server to terminate when enabled. This is the output from that error:
[code]

This will cause the NodeJS process to terminate in spite of the fact that it co

[2019-11-15 18:33] rochdev commented on #747
I am unable to reproduce this kind of error. Can you provide a snippet that returns an invalid response from the server?

[2019-11-15 19:53] msleevi commented on #747
This occurred due to a breaking change on the Protobuf definition. Would that changeset help identify the root cause?

[2019-11-15 19:56] rochdev commented on #747
I tried to use different Protobuf definitions in unit tests but was unable to get the error.

If you can provide an example with a small client and server snippets with both Protobuf definitions it would help a lot as I would simply use these for the test. Once I can set up a reproduction, this should be an easy fix.

[2019-11-15 21:40] rochdev commented on #747
I was able to reproduce it by using a required field that is missing on the server. I will be able to provide a fix soon.

[2019-11-16 02:35] sabrehagen commented on #741
This was encountered in our unit testing when we were checking `tracer.extract` was successfully extracing the trace from our carrier. This was running under `jest`. Would this cause the mock implementation to be chosen rather than the functional implementation?

[2019-11-18 15:29] #747 closed

[2019-11-18 20:02] rochdev commented on #741
It's definitely possible that Jest ends up mocking the tracer, causing the call to `init()` to actually be a no-op and the tracer never initializing, resulting in the default no-op implementation to be used. The tracer also patches the Node module system to hook in many places. Since Jest does the same thing, it's also possible there is some kind of conflict between the 2.

In general it may be po

[2019-11-20 10:59] i-hardy commented on #711
Massive facepalm moment- that was it, once I require Hapi after setting up the tracer everything works perfectly. We have to initialise the tracer asynchronously due to our setup of the agent on AWS, and it was throwing me off. Thanks so much for the help!

[2019-11-20 10:59] #711 closed

[2019-11-22 16:18] devillexio commented on #402
We're running dd-trace 0.16.1, and can confirm that there is definitely a memory leak. We tried disabling plugins, but disabling tracing completely is the only thing that stopped our services from running out of memory and crashing.

Should I log a new, separate issue?

[2019-11-22 18:26] rochdev commented on #402
@devillexio Please open a new issue. It will make it easier to keep any underlying causes separated.

[2019-11-22 18:31] devillexio opened #759 "Memory leak in latest version of dd-trace"
**Describe the bug**

We're experiencing several crashes per day caused by out of memory exceptions. After debugging for a while we discovered that disabling tracing resolved the issue. We also tried disabling all plugins, but that still resulted in the out of memory exceptions.

**Environment**

* **Operation system:** Linux running in Docker on Google Cloud
* **Node version:** Latest LTS (v12.13

[2019-11-22 18:31] devillexio commented on #402
@rochdev As requested, I logged #759.

[2019-11-22 18:34] rochdev commented on #759
Do you have [runtime metrics](https://docs.datadoghq.com/tracing/advanced/runtime_metrics/?tab=nodejs#automatic-configuration) enabled? In most cases, these metrics are able to pinpoint the issue fairly quickly. The most important charts to look at are: type of memory consumed, number of spans in heap, and async resources.

[2019-11-22 18:39] devillexio commented on #759
Not at the moment, but thanks for the advice. I'll take a look at enabling it, and seeing what the metrics say.

[2019-11-25 18:43] iveelsm opened #760 "Prebuilds for ARM"
**Describe the bug**

When upgrading to GCC 8.+ on Debian systems in order to use C++ 17 functionality, a large number of warnings are output for the native code in dd-trace.

Warnings from my build logs:
[code]

**Environment**

* **Operation system: Debian 9**
* **Node version: v 10.15.1**
* **Tracer version: v 0.15.2**
* **Agent version: N/A**

[2019-11-25 19:56] devillexio commented on #759
I'm currently collecting debug tracing on Datadog's request. For reference, my support ticket with Datadog is `280106 `.

[2019-11-25 20:26] rochdev commented on #760
Are you forcing building from source? We provide prebuilt binaries for the library, so it should never happen that it builds locally unless you are using an unsupported architecture (i.e. ARM) or explicitly force building from source.

Either way, this is still an issue since it should also build properly on any platform/architecture, but it should almost never happen so I wonder if there is anoth

[2019-11-25 20:27] rochdev commented on #759
If followed in the ticket so I can look into your account. Did you enable runtime metrics?

[2019-11-25 20:42] msleevi commented on #760
I think in this case, the build was running with `ARM`, but I do see this on my Macbook which is running `x86`. I don't explicitly do anything to force the build from source, as far as I know.

[2019-11-25 20:43] devillexio commented on #759
Not in the flare I sent earlier. I only had the agent debugging enabled as well as the tracer debugging.

I'll send another flare with both tracer debugging and runtime metrics enabled, once the application has run for 30 minutes.

[2019-11-25 20:52] rochdev commented on #760
That would explain why it's building on this environment. We've had similar warnings in the past on other platforms like Windows, so the warning itself is most likely not related to the architecture. I'll have to look into it.

Can you try to upgrade to 0.16.1? We slightly changed how we build the native extension in 0.16.0 to account for older targets, but it's possible that it helps for newer ta

[2019-11-25 21:11] msleevi commented on #760
I have been meaning to do that upgrade, I can tack it on to these changes.

No, I do not.

[2019-11-25 21:17] rochdev commented on #760
In general, the possible reasons for building from source are:

* The current target platform cannot be found. This should not be the case on your MacBook (Pro I'm assuming) since it's supported.
* The `--build-from-source` flag is used on `npm install`.
* The `DD_NATIVE_METRICS=false` environment variable is set on `npm install`.
* The project itself is in a folder where there is a parent folder

[2019-11-25 21:17] devillexio commented on #759
Uploaded another flare with the runtime metrics enabled, as well as debug tracing.

[2019-11-25 21:29] msleevi commented on #760
Yeah! We run `npm rebuild` on the dev machines a fair bit, and the target platform is different on the CI system (ARM).

[2019-11-25 21:30] rochdev commented on #760
Ok, this explains the rebuild. I'll have to look into the warnings.

[2019-11-25 22:15] rochdev commented on #759
I looked at the runtime metrics, and it seems there are a lot of promises that are kept in memory (you can see that with the `runtime.node.async.resources.by.type` metric). This in general would mean that there is an existing leak on promises since we do not use promises in the tracer. It's possible such a leak has gone unnoticed since a promise resource is very lightweight, but since we hold span

[2019-11-25 23:54] devillexio commented on #759
Thank you @rochdev! Your debug code has been most helpful. I'm able to confirm that the promises keep increasing even with tracing disabled. I also discovered that the promises are related to some promise wrapped DB code.

I'm going to refactor some of the code and use the promise code native to the library (`mysql2`), instead of using Node's `utils.promisfy`.

[2019-11-26 22:04] devillexio commented on #759
Just a quick update.

There seems to be a couple of issues at play. It seems to be a combination of sql promise / connection pool issue, as well as a dialogflow session management issue.

I'm looking at another application of ours that's also affected to try and isolate at least one of the problems. I'll provide updates here if I find anything else.

[2019-11-27 19:30] countcain opened #764 "Configuration option to disable middleware instrumentation"
Hi,

Whenever I enabled the dd-trace in the express based node project, I can see a lot of resources that have been tracked automatically. Most of them are express middleware and they are overlapped with the resources that discovered by the express plugin. For every http request coming in, there will be a suite of spans of these resources tracked which creating distractions.

Is there a way that I

[2019-11-27 19:46] rochdev commented on #764
In the UI on the left you should have an Operation Name filter. If you uncheck `express.middleware` you will stop seeing any span with that operation name, and the resources for these will also stop appearing in the Resource filter.

Given the above, I don't necessarily recommend to completely stop tracking them since you would lose visibility into the middleware, and if one of them is slow or thr

[2019-11-27 19:53] countcain commented on #764
@rochdev First of all, thanks for your quick response! Indeed, I can use filters/controls to have a clean APM UI with things/metrics that we want to track on a daily basis. But we do hope you can provide a configuration option to disable middleware instrumentation. That will be very appreciated.

[2019-11-27 21:49] devillexio commented on #759
Okay, I think I have managed to isolate a service that seems most affected by this issue. As a test, I briefly enabled tracing and saw a definite continued increase in memory usage on the service that is otherwise running stable:

<img width="763" alt="Screen Shot 2019-11-27 at 1 36 14 PM" src="https://user-images.githubusercontent.com/11049609/69761327-e27f3c80-111b-11ea-821e-e7cabb8a7cf0.png">

[2019-11-28 14:21] devillexio commented on #759
Uploaded another flare after running the application for 15 minutes:
[code]

Also kept an eye on the runtime metrics while it was running:
<img width="500" alt="Screen Shot 2019-11-28 at 6 16 41 AM" src="https://user-images.githubusercontent.com/11049609/69813437-118ec000-11a7-11ea-8de1-d31bc3654ddc.png">

Unfortunately still not able to reproduce this locally. I do see the promise count increase,

[2019-11-28 14:46] rochdev commented on #759
Flares will not really help for this kind of issue, since it's isolated to the app and unrelated to the agent.

The way the tracer is designed, we use async resources to propagate the context automatically. This is the only construct provided by Node to achieve this. If async resources are leaking, then any span associated with that resource will also be retained. From the above charts, it looks l

[2019-11-28 14:51] rochdev commented on #759
Actually, this is interesting. If the GC is able to clean the promises, in theory it should mean that they are not leaking. The GC should trigger earlier when it sees that the memory is increasing a lot from the objects that are held.

Can you try to trigger the GC automatically on a timer and see if it helps? For example, every 15 minutes call `global.gc()`. To enable the garbage collector, you n

[2019-11-28 15:19] devillexio commented on #759
Okay cool. I'll give that a try!

Any idea why we don't see this happening in production with tracing disabled?

Also, I forgot to mention that we recently upgraded to the latest Node LTS (v12), in case that makes a difference.

[2019-11-28 15:28] rochdev commented on #759
Just to make sure I didn't read this wrong, I thought you said above that you were able to confirm the promise resources still increasing in production with the tracer disabled? Or do you just mean that you don't see the increase in memory in production?

If that's the case, then it would be because promise resources are very lightweight C++ objects, so you would probably need hundreds of thousand

[2019-11-28 15:45] devillexio commented on #759
Sorry for the miscommunication. You are right. I meant that I only noticed the memory increase with tracing enabled.

I checked now and didn't see any high count for the spans, both finished or unfinished:
<img width="996" alt="image" src="https://user-images.githubusercontent.com/11049609/69819065-f924a280-11b2-11ea-8017-438ecda5721d.png">

[2019-11-28 16:14] devillexio commented on #759
Here are the logs from running the test with the following parameters:

- Every second we call an endpoint with some data to process
- Every 5 seconds we print the promise count
- Every 20 seconds we call `global.gc()`

Note that the "..." indicate omitted calls to the `POST /events` endpoint.

[code]

From what I saw when I had the debugger attached, the 10 promises that always remain in memory a

[2019-11-28 17:56] rochdev commented on #759
Not that I know of. Is the issue not present on older versions?

When the promises are garbage collected, do you see the memory going down as well?

[2019-11-28 18:01] devillexio commented on #759
I did some further tests and found that if I give the container less memory, Node consistantly runs GC whenever the memory usage hits around 50-60%.

For the test, I once again used the following runtime parameters, with the only difference being the `max_old_space_size` value:
[code]

I was doing about a 100 requests per second and the logs end at around 10k requests:
[code]

Is there perhaps any

[2019-11-28 18:04] devillexio commented on #759
I tested and there were no real differences between Node v10 (previous LTS) and Node v12 (current LTS). There's slightly more memory available in the latter, but the rest of the behavior remains consistent.

[2019-11-28 18:13] rochdev commented on #759
In general, Node GC is very lazy when there is enough memory available. I've seen environments that reach almost 100,000 spans in memory before the GC removes them.

What could be happening is that the GC sees a lot of promises, but they are very lightweight so it decides to skip them. Then the tracer keeps the span based on the ID on the resource and not the resource itself, so there is no relati

[2019-11-28 18:21] devillexio commented on #759
Hmm. Would that not mean that they would not be eligible for reclamation by the GC then? I know you said the node debugger affects the way async works, but the only promises that remain around are the ones for the `mysql2` connection pool, which is exactly 10 in total.

[2019-11-28 18:25] rochdev commented on #759
The way promises work in Node, if it's never resolved/rejected, but there is nothing in code that references either the promise, or the `resolve` or `reject` functions, it's eligible for GC since it can never be resolved nor rejected. In that case, there is no way for the tracer to know it should remove the span associated with the promise.

[2019-11-28 19:03] devillexio commented on #759
That's a good point to note. There aren't any obvious cases like that for the application code, but it may be a shared dependency.

I'll do some more testing to see if I can narrow down the debugging surface area.

By the way, did anything else stand out from the flare I sent earlier today?

[2019-11-28 19:46] rochdev commented on #759
Not really. In general flares are mostly useful to troubleshoot issues with the agent, backend, or when we are not sure where the issue comes from. In this case the issue is clearly within the app and the interaction with the tracer, so flares wouldn't really provide more information.

[2019-11-29 05:14] devillexio commented on #759
This got me thinking so I added to the `async_hooks` code snippet you shared earlier.

I basically added the `promiseResolve` function to track existing vs resolved promises. This helped me confirm that in this particular app, all promises are resolved (except the original 10 for the DB).

Here is the output of my tests with node available memory set to 45MB:
[code]

Here is the code that generate

[2019-11-29 13:17] rochdev commented on #759
Definitely make sure to check the metric in Datadog as well to make sure it matches what you see in your logs.

[2019-11-29 13:23] devillexio commented on #759
After running the tests locally I added the code to our boilerplate project that we use as a starting point for our backend services.

From the start of the chart we had `DD_TRACE_ENABLED=false`, and from 03:00 we redeployed with `DD_TRACE_ENABLED=true`. No artificial load was created on the application. It's basically the k8s health check hitting the `GET /`.

<img width="1003" alt="image" src="h

[2019-11-29 13:27] rochdev commented on #759
Is the boilerplate code public? Reproducing this locally would help me a lot to find what could be holding promises.

[2019-11-29 13:29] devillexio commented on #759
Unfortunately not, but I can attach it to the support ticket by replying to the email thread if that can work?

[2019-11-29 13:29] rochdev commented on #759
That works. As soon as it's on the ticket I'll look into it.

[2019-11-29 13:39] devillexio commented on #759
Thank you. Email sent.

[2019-11-29 14:37] gloutsch opened #768 "TypeError: Cannot read property 'isSampled' of undefined"
**Describe the bug**

The js tracer does not find a sample rule (that does not exists) and can't send traces to the agent :(
I have an express app, followed the instructions https://app.datadoghq.com/apm/docs?architecture=host-based&language=node for the typescript version.

at the top of the entrypoint script (`server.ts`) :
[code]

`tracer.ts`
[code]

stacktrace :
[code]

`rule` in `priority_sam

[2019-11-29 18:26] rochdev commented on #768
Is the snippet above the actual code you are running? I cannot seem to reproduce the issue.

[2019-11-29 18:33] rochdev commented on #759
Can you try with `tracer.init({ trackAsyncScope: false })`?

[2019-11-29 21:03] devillexio commented on #759
That definitely made a difference. The `unresolved` now once again stays at `2`, with tracing enabled and `trackAsyncScope: false`:

<img width="1516" alt="image" src="https://user-images.githubusercontent.com/11049609/69889943-84cc2b00-12a8-11ea-9d57-5387a68b4048.png">

It's only run for 30 minutes, but it looks really promising.

[2019-11-29 21:08] rochdev commented on #759
It looks like the issue could be coming from our scope tracking for non-native promises when using async/await. If you do not use non-native promises, it should be safe to keep the option off. In any case, the worst that could happen without the option is a disconnected trace, which is definitely better than a memory leak.

I'll continue to investigate with the boilerplate, but this is a good star

[2019-11-29 21:14] devillexio commented on #759
Awesome! Thanks for being so supportive and responsive! We almost exclusively use async/await where we can, so I'm happy with the trade-off.

Please let me know if you want me to try anything else. I'm happy to help! 😄

[2019-12-02 16:40] rochdev commented on #759
I fixed the issue where the promise created by the `await` call in the scope manager would never be resolved in #772.

Can you try with 0.17.0-beta.10 and re-enable `trackAsyncScope` to see if the original issue with memory is resolved?

[2019-12-02 16:46] devillexio commented on #759
Great, thanks! I'll try it today and report back.

[2019-12-02 16:50] gloutsch commented on #768
hey @rochdev, sorry for the late reply.
I just summarized how our environment is defined but it's not the real application.
I'll try to create a reproducible sample app.

[2019-12-02 21:34] devillexio commented on #759
I can confirm that the fix works as expected. In the case of the boilerplate, the _unresolved_ promise count remains at 2, even with tracing and track async scope enabled.

[2019-12-02 21:42] rochdev commented on #759
Perfect! The fix will be in the next release which will be published this week. Thanks a lot for the very thorough details provided, it helped me a lot to pinpoint the exact issue.

[2019-12-03 21:36] rochdev commented on #759
Just released 0.16.2 with the fix. Please let me know if that fixes the memory increase.

[2019-12-04 05:29] devillexio commented on #759
We've been running this fix on staging for about 6 hours, and I can confirm the memory doesn't increase. Thanks again @rochdev! 🙌

[2019-12-04 05:29] #759 closed

[2019-12-04 11:58] reinpold opened #780 "Log injection breaks when upgrading from v0.15.5 to v0.16.2"
**Describe the bug**
When upgrading dd-trace to v0.16.2 logs do not contain dd (https://github.com/DataDog/dd-trace-js/blob/v0.16.2/packages/dd-trace/src/plugins/util/log.js#L13-L16) block any more.

The issue seems to be in `Instrumenter.enable` method https://github.com/DataDog/dd-trace-js/blob/v0.16.2/packages/dd-trace/src/instrumenter.js#L39-L52 Namely, plugins do not get auto-instrumented, be

[2019-12-04 14:01] rochdev commented on #780
In general it should be fine to move `this._enabled = true` to the top, but I can't seem to be able to reproduce the issue. I'm thinking it may be related to the ordering of the initialization code. Can you share a snippet of your initialization code for the tracer and the logger?

[2019-12-04 14:26] reinpold commented on #780
When I add `console.log('load', meta.name, this._enabled)` to the first line of `Instrumenter.load` then following gets printed to console:

[code]

`tracer.ts` looks like this:

[code]

[2019-12-04 14:38] rochdev commented on #780
Ok, I'll look into it. At a minimum I'll move `this._enabled = true` to the top, but I also want to try and simplify how we load modules. In the meantime, it should be enough to add `tracer.use('winston')` after `init()` is called, similar to `express`.

[2019-12-05 20:40] #780 closed

[2019-12-06 06:40] reinpold commented on #780
Very nice! Thanks for quickly resolving this.

[2019-12-06 14:27] rochdev commented on #768
Can you also provide the value of `tracer._tracer._prioritySampler._rules` when the error occurs? This will be easier than setting up a reproduction application and might give me an idea of what could be causing the issue.

[2019-12-10 10:38] Hunrik opened #790 "TypeError: this._activate is not a function"
**Describe the bug**
When initialized with `enabled: false`, a TypeError is thrown `this._activate is not a function`
The issue seems to be caused by https://github.com/DataDog/dd-trace-js/blob/37885201a3622af72ed6d8b4f52a35eb20656703/packages/dd-trace/src/tracer.js#L133
Which will return an instance of the Base Scope which has no `_activate` method on it.

**Environment**

* **Operation system:**

[2019-12-11 16:32] #790 closed

[2019-12-13 14:44] rugamaga opened #793 "Tracing-application-metrics for `http` does not work with `express` if set same service name"
**Describe the bug**

Tracing-application-metrics(https://docs.datadoghq.com/ja/tracing/guide/metrics_namespace/) from http integration is disappered if set same service name as express integration.

for example:

[code]

After, we can see tracing about this route in datadog APM.
Also, In this tracing, we can see http.request span.

But, tracing-application-metrics are not.
`trace.http.*` are not

[2019-12-13 17:41] SethDavenport opened #794 "Unable to override service name for graphql plugin"
We're trying to clean up our traces and our APM service map by merging services associated with plugins under the main service name.  For example, we have an `apollo-server-koa` based graphql API server that shows up  in the service map like this:

![image](https://user-images.githubusercontent.com/4614141/70819802-178ac080-1da5-11ea-84fe-017438ba8792.png)

From our point of view, it doesn't make

[2019-12-13 19:24] rochdev commented on #794
This should definitely work. Is it possible that somehow `graphql` is imported before the tracer? I've seen cases in the past where this would still enable the plugin but cause weird issues similar to this one.

[2019-12-13 19:52] rochdev commented on #793
Metrics are only collected for the root span of a service. If every plugin is configured to use the same service name, then only the root one (in this case `express.request`) will have metrics. This is why we default to use a different service name by plugin.

[2019-12-14 01:16] rugamaga commented on #793
Ah... Is this spec? Thank you for telling me that.
By the way, I can see metrics for redis.command in same situation.
datadog shows me following:

<img width="244" alt="Screenshot for additional span names" src="https://user-images.githubusercontent.com/43959381/70841007-21223000-1e5a-11ea-9a62-e87b27e36f79.png">

<img width="799" alt="Screenshot for a sample of tracing" src="https://user-images.g

[2019-12-14 01:20] rochdev commented on #793
It's possible for Redis to do commands outside of an Express context, which would cause it to be considered a root operation and thus have metrics. From this trace specifically it doesn't seem to be the case, but it's a common behavior for data stores and caches like Redis.

In general I would recommend to not change the service name for the various plugins to avoid this issue. While it may be a b

[2019-12-14 01:44] rugamaga commented on #793
I get it. Thank you.

my original usecase:
Our organization have a standard for `service` tag.
It defines `service` tag for any metrics as means as that "does this metrics what microservice from?".
Our many dashboards (especially if the dashboard is specific to a microservice) have `service` template-variable
 to avoid metrics mixed from other microservices by filter all metrics.
When difference n

[2019-12-14 01:49] rochdev commented on #793
Makes sense. In general the way we think about this is to use the service that the span represent, instead of the service from which it originates. For example, if server A calls an external endpoint or a database, and there is a the delay in the call, the delay is generally caused by the external service and not service A, so we set the service name to that of the remote service.

This could defi

[2019-12-14 02:31] rugamaga commented on #793
I will share change our service tag policy to our organization.
Thank you for your answers.

[2019-12-14 02:31] #793 closed

[2019-12-16 23:19] zhaoyi0113 opened #803 "Can't see customised span"
**Describe the bug**

I am using below code to send customised span to datadog but I am not able to see it. There is no error in the log. Is this something wrong with the code I am using?
[code]

**Environment**

* **Operation system: alpine
* **Node version:  ** v12.13.1
* **Tracer version:** 0.16.3
* **Agent version:**

[2019-12-17 01:20] rochdev commented on #803
At a glance it looks fine, although you could add the error to the span once this works properly.

Are you creating only this span alone, or is it part of an existing trace in for example a web request? If it's part of an existing trace, is the entire trace missing or only the span?

[2019-12-17 01:40] zhaoyi0113 commented on #803
I am running the nodejs application with `Apollo` and `express`.
And finally I find the span which appears at the top drop down list. But I can't open it which is not a primary operation. So the problem is that my span is added as a primary operation which is not what I expect. How can I create the span in the http request chain?

![image](https://user-images.githubusercontent.com/3355579/70957431

[2019-12-17 01:55] rochdev commented on #803
You would have to add the parent span to your custom span by grabbing it from the current scope which will add it to the trace as a child of that span. This can be done with something like this:

[code]

As mentioned above, you also would need to manually add the error to the span as well by using:

[code]

However, this code could benefit from a new API that is not yet documented that would make

[2019-12-17 01:55] rochdev commented on #803
One question that I have is that given the name `call-quote-server` it looks like this is calling another service, which should already be auto-instrumented out of the box. Are you using a library or protocol that we don't support?

[2019-12-17 02:04] zhaoyi0113 commented on #803
I didn't know there is `childOf` attribute on `startSpan` method. Will `tracer.scope().active()` throw error  If there is no parent scope?

[2019-12-17 02:05] zhaoyi0113 commented on #803
It sends an event via web-socket to another service. Could you explain more about `auto-instrumented`? How does it work?

[2019-12-17 02:05] rochdev commented on #803
If there is no parent it will return `null`, in which case the child will simply be orphaned similar to the behavior you are currently having, but it will not cause issues with the app.

[2019-12-17 02:08] rochdev commented on #803
I mean for example like `express` which just works out of the box without custom spans. However, we unfortunately don't support websockets out of the box yet so that explains while you have to rely on custom instrumentation.

If you want to propagate context so that all your services are connected together when using websockets, you also have to inject/extract the context on each end of the reques

[2019-12-17 03:33] zhaoyi0113 commented on #803
awesome, thanks for your quick response.

[2019-12-17 03:33] #803 closed

[2019-12-18 10:33] amitgilad3 opened #806 "ssh2 integration"
Hi,
i have a microservice which is an ssh server, when i use this library i don't see any data in datadog because i doesn't have any integrations for ssh2.
how hard would it be to create some kind of integration and is it even possible.
any help would be appreciated

[2019-12-18 14:54] peterver opened #807 "Datadog Agent : Maximum call stack size exceeded"
**Describe the bug**
When under larger load, the datadog agent will throw maximum call stack size exceeded errors, eventually leading to the nodejs process exitting (we have pm2 running, which will then autorestart the instance).

We've removed the dd-tracer for now as to make sure our system remains operational, but would like to be able to do APM tracing for our microservice.

**Environment**
Do

[2019-12-18 17:15] rochdev commented on #807
Can you share the stack trace of the error? This will help to see if there is any recursion happening.

[2019-12-18 17:20] rochdev commented on #806
In general it should be feasible to have an integration for ssh2, but also to manually instrument it while an integration is not available. Could you describe how the SSH server is used, and what kind of corresponding traces you would like to see?

[2019-12-18 18:02] peterver commented on #807
I'll try to reproduce it tomorrow ( As I already took out that deployment and no way to get back to those logs )

[2019-12-18 22:02] rochdev commented on #807
Please make sure to increase the value of `Error.stackTraceLimit` to something higher than 10 to make sure that we have a long enough stack trace.

[2019-12-19 00:53] peterver commented on #807
@rochdev how would I do this? Kinda new to the datadog setup (we have microservices running in both PHP and NodeJs, the only having this issue is our node microservices)

[2019-12-19 15:08] SethDavenport commented on #794
Sorry for the delay getting back to you. Yeah graphql is definitely imported before the tracer.

[code]

Since our lint setting make us import 3rd party packages before internal packages, this is the most common use case for us.

I'll try swapping the order around and let you know if that changes the behaviour.

[2019-12-19 15:58] SethDavenport commented on #794
Ok just tested it out - swapping the import order fixes the issue. I'll use that as a workaround for now; thanks.

[2019-12-19 16:00] #794 closed

[2019-12-19 16:00] SethDavenport commented on #794
I mean - it's still fairly unexpected behaviour that this would be sensitive to import ordering though?

[2019-12-19 16:04] rochdev commented on #794
Unfortunately this is a limitation of how the module system for Node has to be instrumented. This is why we [recommend](https://docs.datadoghq.com/tracing/setup/nodejs/#javascript) to always import the tracer first. While it's possible to still instrument from the require cache in some cases, it can still cause missing functionalities or weird issues, so it's always best to import and initialize t

[2019-12-19 16:05] SethDavenport commented on #794
ok thanks - no it's just a footgun we have to remember to avoid.

[2019-12-19 20:21] jeremy-lq opened #811 "Announcement: Intent to dual license this repo"
This issue is to notify the community of our intention to make this tracer available under the BSD-3 license (as is the case now) or the Apache 2 license (which is our default for new projects). This will allow you to consume the tracer under the same license you currently are, while also adding and option that brings consistency with our other projects and compatibility with [OpenTelemetry](https

[2020-01-03 20:42] adityabansod commented on #695
@rochdev thanks for your detailed write up in this issue. just as a note, we are seeing this same issue with using scopes in a lot of promise-y and async code. we deployed Node 12 and then enabled the our DD implementation and there was no performance improvement in Node 12 over Node 10.

you can see in the image below, from the mongodb service's perspective, our ability to push load dropped signi

[2020-01-04 03:24] dcurletti opened #815 "Potential Memory Leak Due to Spans"
**Describe the bug**
![image](https://user-images.githubusercontent.com/7329041/71768777-231e6280-2edf-11ea-8aaf-1fcb77c871ce.png)

We've been having a memory leak for some time now and we've started looking for a solution. We enabled the datadog runtime metrics and our growing used memory seems to be inline with the number of finished dd-trace spans that are being kept in memory (picture above).

[2020-01-06 19:22] rochdev commented on #695
@adityabansod Were you able to confirm that the issue is really `async_hooks` alone and not the tracer in your tests?

[2020-01-06 19:46] rochdev commented on #815
One thing I'm noticing in the above charts is that there are many finished spans in memory, but almost no unfinished spans. This almost for sure rules out an unfinished trace holding all its finished spans in memory, unless you have traces with a lot of spans where just a few traces could hold thousands of spans, which doesn't seem to be the case here but correct me if I'm wrong.

Since the only p

[2020-01-06 20:47] dcurletti commented on #815
yup, slacking you now. thanks!

[2020-01-07 20:12] rburgst opened #817 "winston splat format is broken once dd-trace injects trace info"
**Describe the bug**

* **Sample repo**: https://github.com/rburgst/node-dd-winston

winston splat formatting is broken when dd-trace is run with trace injection.

Note that in the case where no trace/span info is available, logging works fine.

[code]

The first log line is fine (i.e. splat formatting works, but no trace id is available at this point).
The 2nd line we see that the splat format is

[2020-01-09 13:43] ericmustin commented on #817
Hey all,

just chiming in here. Took a quick look here, the root cause here is that there are some non-enumerable `Symbol` properties on the `record` that gets passed into the `correlate` method

https://github.com/winstonjs/winston#streams-objectmode-and-info-objects

`correlate` : https://github.com/DataDog/dd-trace-js/blob/master/packages/dd-trace/src/plugins/util/log.js#L7-L2

this method prep

[2020-01-09 16:25] rochdev commented on #817
@ericmustin We cannot mutate the existing record because it can cause issues like [this](https://github.com/DataDog/dd-trace-js/issues/523).

I really like your second approach for its simplicity though, but what if the symbol is from the prototype chain?

[2020-01-09 17:12] ericmustin commented on #817
@rochdev I suppose one would have to recurse up the prototype chain. [s/o](https://stackoverflow.com/a/55006988) has a nifty example to borrow from

[code]

This may introduce some performance concerns though?

Alternatively, hardcoding the winston(and eventually any other supported loggers) specific symbols and passing them in as an additional optional argument to the utility function could be a

[2020-01-09 18:55] rochdev commented on #807
We have identified a similar issue with the `mysql2` plugin.

@peterver Are you using `mysql2` by any chance?

[2020-01-09 20:04] rochdev commented on #817
@ericmustin I guess given the use case is for `winston` built-in symbols and not user-defined, your original approach would be enough.

[2020-01-10 00:16] ericmustin commented on #817
made a quick PR before heading off for the day, https://github.com/DataDog/dd-trace-js/pull/819, happy to followup on anything with a fresh set of eyes tmrw

[2020-01-10 05:56] rburgst commented on #817
I believe you  are trying to fix the wrong end here. I havent looked at all the code but from the structure it appears to me that `correlate` is used by multiple plugins. Therefore, this method cannot make any assumptions about the nature of the `record` object that is being passed in (after all `pino` might work completely different from `winston`). However, in https://github.com/DataDog/dd-trace

[2020-01-10 06:01] rburgst commented on #817
As an aside I would like to mention that when using `pino` this problem does not happen.

[2020-01-10 08:58] pauldraper opened #820 "Support OpenTelemetry"
I read the Sep 2019 blog post https://www.datadoghq.com/blog/opentelemetry-instrumentation/ , but as far as I can tell Datadog does not support OpenTelemetry, at least for JavaScript?

[2020-01-11 00:05] rochdev commented on #817
@rburgst I agree with the general idea that we should make sure to patch each plugin in the best way possible for the plugin. However, I would prefer to not make any assumption about how the library works internally. This is basically what I did originally, which resulted in this [issue](https://github.com/DataDog/dd-trace-js/issues/523). I'd rather play it safe unless there is a strong argument t

[2020-01-11 07:32] rburgst commented on #817
well another requirement for dd-trace IMHO is to have is little performance impact as possible. If a service generates a whole lot of logs then I dont want the DD instrumentation to cause performance degradation.

[2020-01-13 23:21] rochdev commented on #817
Fair enough. Since the main use case for log injection comes from the plugins and not direct usage by the user, maybe we could add an option to the tracer or the plugin?

[2020-01-14 14:13] irabinovitch commented on #820
@pauldraper As of September Datadog has donated the tracing and auto-instrumentation code for several languages to the upstream OpenTelemetry project. Given the size of the donation many of the language teams are still working through ingesting these contributions upstream, including support to forward traces to Datadog.

[2020-01-16 04:04] zhaoyi0113 opened #826 "Why does dd-trace add a new service with `-graphql` suffix on its name?"
I am using `dd-trace-js` with apollo graphql library in my node application.

My dependency list looks like:
[code]
I am using this syntax to send trace span to datadog:

[code]
I am able to see the trace on datadog but there are two services appear on the dashboard under APM. One is my service name configured in `init()` method. The other one is `my-service-graphql` which includes all the traces

[2020-01-16 09:29] mruoss opened #827 "Modules are not instrumented (using webpack)"
Hi there. I set up dd-trace according to the setup instructions and find that modules like http or express are not instrumented. I tried to find out the reason, digging in some of the dd-trace code and finding that e.g. express is not in the `require.cache` because it only contains numeric values. Although I did not find anything in the instructions about it, I set the [webpack optimization](https

[2020-01-16 12:55] mruoss commented on #827
Alright, by now I figured out I had to externalize the node_modules using [webpack-node-externals](https://www.npmjs.com/package/webpack-node-externals). Is this a required step in the setup? If it is, it should probably be mentioned in the setup instructions, no?

[2020-01-16 20:48] rochdev commented on #826
The way our APM works, we compute stats out of the box by service, span name and resource. In order to get the correct list of resources, and the metrics by component, there must be one service name for each component. The main service name is only used by the root component, for example Express.

Said that, this model doesn't always work for everyone, and we allow you to change it if something el

[2020-01-16 21:09] rochdev commented on #827
We could indeed recommend this module when using Webpack. It's possible that it won't be possible to use it in some setups, but I think it would work for most cases.

In all honesty, I didn't know about this module which is the why it's not currently documented, so thanks for the tip!

[2020-01-17 00:42] zhaoyi0113 commented on #826
I have tried to add `tracer.user('graphql')` after `init` but it doesn't help. I still see a separate service name comes up.

[2020-01-17 02:43] daniel-edwards-iress opened #829 "dd-trace plugin-http doesn't support WHATWG URL objects"
**Describe the bug**
When making a request using a WHATWG URL object [(node URL)](https://nodejs.org/api/url.html#url_class_url) dd-trace clears the request URL.

The latest [Got](https://github.com/sindresorhus/got) converts urls before making the request.

**Simple example**
[code]

[code]
[code]
**Environment**

* docker node:12
* node 12.13.0
* dd-trace 0.16.3

[2020-01-17 12:22] UmangThapliyal commented on #233
Hello,
I was also trying to implement the datadog to get logs from my react app, I was not able to make it work can you help me in this?

[2020-01-17 15:29] armenr commented on #827
I'm not sure whether we're getting bitten by something similar - kinda a newb here - but we use babel to transpile our ES6 before shipping it. Would this be affecting us too - I realize, naturally, that we're not talking about WebPack, but I figure it can't hurt to ask.

[2020-01-17 17:37] mruoss commented on #827
Hi @armenr
In our case the application and the node modules are bundled in a single JS file. The problem is that somehow the "require-in-the-middle" module which is used by dd-trace-js doesn't trigger if the node modules are bundled.

If you're just using babel to transpile ES6 to JS and are not bundling, you probably get bitten by something else...

[2020-01-17 19:02] ericmustin commented on #829
Had a chance to take a quick look at this on the plane.

I was able to reproduce this, thank you for the snippet @daniel-edwards-iress ! I believe what's happening is that this test case is being hit:

https://github.com/nodejs/node/blob/master/test/parallel/test-whatwg-url-custom-properties.js#L151-L166

Where, basically, there's an attempt to copy the `URL` Object that gets passed into the `norm

[2020-01-17 22:23] EricZaporzan opened #830 "Fastify plugin does not propagate the trace scope when a request is sent with a post body"
**Describe the bug**

I'm using dd-trace to automatically instrument Fastify. I was noticing that the trace scope isn't propagating when a request is made with any type of POST body, which is pretty common. The result of this is that the spans resulting from the request (DB calls, external HTTP calls, etc) are disjointed and showing in different traces.

Steps to reproduce:

Run the simple server

[2020-01-17 22:32] EricZaporzan commented on #830
My current horrible workaround involves passing the context manually from middleware to each route and then activating it:

[code]

This is obviously far from ideal, so I'm open to suggestions!

[2020-01-18 19:21] armenr commented on #827
@mruoss - I've used PKG, NCC, and NEXE - and have been bitten by EXACTLY what you got bitten by. I moved to Docker, JUST to get a "vanilla" set up, as an attempt to benefit from auto-instrumentation...but it doesn't look like it's instrumented fully.

:) - How can I go about finding out?

[2020-01-19 10:12] lancedikson opened #831 "Blocklist for mongodb"
Hi, I get quite many requests from mongodb that I don't really want to be analyzed as they happen very often and can easily make it up to 1M of spans/month. I tried to find a way to block (filter out) particularly this kind of command but didn't find anything.
![image](https://user-images.githubusercontent.com/1955931/72679058-3d963580-3ab4-11ea-8f7a-d6ae59bf2143.png)

Is there a way to have somet

[2020-01-19 23:00] daniel-edwards-iress commented on #829
Only thought would be to filter out functions from the copied keys.
[code]
as for making the change from Object.assign more generally I think it might be good to use a replacement to wrap it but can be extended with logic like if a predicate is provided only those that pass get assigned

[2020-01-20 07:56] mruoss commented on #827
If you have no node_modules folder inside your docker image, this is your issue.

[2020-01-20 14:04] mruoss commented on #827
Alright, see the referenced issue above. Bundling node modules is not supported by the `require-in-the-middle` module. As mentioned before, it might be helpful to mention this also here in the setup instructions somewhere.

[2020-01-20 15:49] victorboissiere commented on #815
We also have the same issue with the same tracer agent `0.16.3`. Did you find a fix in the meantime ?

[2020-01-20 17:34] victorboissiere commented on #815
@dcurletti which Datadog plugins do you use ? We seem to have a problem with the MongoDB plugin on some cases. Still investigating more

[2020-01-20 18:38] rochdev commented on #826
Is it possible that `graphql` is imported before the tracer is initialized? This is a common cause for auto-instrumentation not working properly. You can find more info in the [setup docs](https://docs.datadoghq.com/tracing/setup/nodejs/#javascript).

If you can share your imports and initialization code I can take a look.

[2020-01-20 18:46] rochdev commented on #827
@armenr Simply using Babel should not cause any problems, although you have to make sure to avoid hoisting, similar to what we recommend for TypeScript in the [setup docs](https://docs.datadoghq.com/tracing/setup/nodejs/#typescript), otherwise auto-instrumentation will not work properly.

[2020-01-20 19:02] rochdev commented on #815
@victorboissiere Do you have runtime metrics enabled? I'd like to see if it's exactly the same behavior.

Also, why do you suspect the Mongo plugin specifically? Are you able to fix the issue when disabling it?

[2020-01-20 22:17] EricZaporzan commented on #831
We had success setting this environment variable:

`DD_APM_IGNORE_RESOURCES="ismaster admin\.\$cmd"`

That's on the Docker agent, but I suspect it'd work with other iterations as well.

[2020-01-21 08:47] lancedikson commented on #831
Wow, thanks @EricZaporzan! It seems working for me, even though we're using DD on Heroku (without Docker) and there are no official docs about this env variable for Heroku agent.

If somebody from the DD team reads this, it would be nice to have this env variable mentioned here: https://docs.datadoghq.com/agent/basic_agent_usage/heroku/. Thanks.

[2020-01-21 09:07] armenr commented on #827
Thanks for the quick and helpful response, @rochdev! :)

We utilize an entrypoint file to fire up our NodeJS APIs in the following pattern/manner:

[code]

Is this sufficient/correct?

[2020-01-21 13:37] JunkyDeLuxe commented on #815
Hello, there is a very large memory leak for the mongodb plugin.
Very easy to reproduce via nodejs streams (Node v12+)

[code]

Where ProductsService.getOesByBrand(brand) is just a mongo stream
like this one:

`db.collection('collectionName').find({});`

[2020-01-21 15:27] jeremy-lq commented on #811
Closed via https://github.com/DataDog/dd-trace-js/pull/832

[2020-01-21 15:27] #811 closed

[2020-01-21 19:41] EricZaporzan commented on #831
Yes, documentation in this area could be a lot clearer. It seems like any of the variables enumerated in this file should be fair game for any of the iterations of the agent. https://github.com/DataDog/datadog-agent/blob/master/pkg/trace/config/env.go

Glad it worked!

[2020-01-22 01:14] rochdev commented on #831
Glad you were able to get it to work! I'll leave the issue open since there would also be value to have this configuration directly in the tracer as well.

For the documentation, in general all environment variables are the same regardless of the how it's deployed. We should probably move the list to a single place instead of duplicating subsets.

[2020-01-22 02:01] rochdev commented on #815
@JunkyDeLuxe Thanks for the reproduction snippet. We'll look into this as soon as possible. Is there a reason why you explicitly used a transform? Does the problem still occurs without it? Just trying to see how we can have a reproduction that is as minimal as possible.

[2020-01-22 02:03] rochdev commented on #827
@armenr Assuming that the tracer is initialized synchronously in `connectTracer.js`, then it looks correct. Which auto-instrumentation seems to be missing?

[2020-01-22 02:07] rochdev commented on #830
While it's not ideal, it's very close to what the plugin should be doing for you, so I'd say it's a good temporary workaround. It's definitely a bug that it's not happening. I won't be able to fix this for the next release this week, but it should be able to make it to the next release after that.

[2020-01-22 02:26] zhaoyi0113 commented on #826
I have tried that and it works. The extra `-graphql` service is gone. But when I look at the trace data in datadog dash board as the screenshot. It doesn't report the error response as an error in trace. As you can see, there is an exception thrown to graphql framework and the response has an error field to address this issue. But the datadog trace doesn't consider it is an error response, probabl

[2020-01-22 02:52] rochdev commented on #826
Ah yes for this use case changing the service name is not the right approach.

So there are 2 options here:

1) Check for errors on the `-graphql` service directly. In general this would be our recommended approach since the Express request did not actually fail, although given how GraphQL works, I understand how this could be deemed undesirable.

2) If you want the entire request to be in error,

[2020-01-22 03:36] zhaoyi0113 commented on #826
Thanks for your quick response. Could you let me know what I should do for the option2? How can I manually set a tag when an error is detected? I am able to attach an error handler on grpahql framework and I just need to know what I can do to make the entire request as error.

[2020-01-22 08:37] lancedikson commented on #831
Thanks, @rochdev 🙏 It would definitely help developers to find a way to filter out something redundant like those `ismaster admin.cmd` queries in my case.

[2020-01-22 09:02] victorboissiere commented on #815
@rochdev I am trying to find the right time to run the tests on our staging environment. Yes, disabling the mongodb plugin fixed the issue. However, I will try to enable plugin auto discovery, my configuration was:
[code]
so I will try using just:
[code]
and check if it fixes the issue and if not, run another test with runtime metrics enabled.

[2020-01-22 14:51] armenr commented on #827
@rochdev --

synchronously, yes. --> see below

[code]

[2020-01-23 10:52] gnomeria commented on #807
We also encountered this error when we had a bug on our ORM with sequelize.

[2020-01-23 15:34] rochdev commented on #233
@UmangThapliyal It sounds like you are looking for logs and not tracing. If that's the case, you can use our [@datadog/browser-logs](https://docs.datadoghq.com/logs/log_collection/javascript/) module.

[2020-01-24 00:00] rochdev commented on #826
After thinking about this a bit more, option 2 would actually be very difficult to implement since Apollo does a lot of effort to completely abstract the transport.

One thing also that is very different between Express+GraphQL and just Express, is that when Express is used alone to serve requests, in general HTTP is used for many things, not only transport. We could then say that Express is both

[2020-01-24 02:33] zhaoyi0113 commented on #826
Thanks for the detailed explanation. My use case is very simple. I just want to look at all the trace log from one service. It is very hard to read if the trace data spreads into multiple services. In my case, I see there are 4 services are created, `-graphql`, `-tcp`, `-http-client` and `dns`. People in my team is not happy to open each of these services to view the data.
Based on that, I am look

[2020-01-24 03:00] rochdev commented on #826
The only page that is limited to a single service is `Services`. If you go to [Traces](https://docs.datadoghq.com/tracing/app_analytics/search) (renamed from Trace Search) or [App Analytics](https://docs.datadoghq.com/tracing/app_analytics/?tab=nodejs), both allow you to do powerful searches and aggregations across you entire system. You can combine different services, or basically anything, in a

[2020-01-28 18:01] bengl opened #840 "grpc doesn't instrument server pushes"
**Describe the bug**
In attempting to make sure we were doing the right thing with `@google-cloud/pubsub`, I noticed that there was no `grpc` span happening prior to the pubsub receive. This seems incorrect, like we're missing the HTTP/2 server pushes or something.

[2020-01-28 21:06] #829 closed

[2020-01-28 21:07] #817 closed

[2020-01-28 21:10] rochdev opened #841 "Add option to mutate the log record passed to log injection"
Right now we iterate over the log record to create copies of every property. This can have a slight negative performance impact that could add up if there are a lot of log entries. In some cases, altering the original log record can be acceptable and would result in faster performance, so we should add an option to opt-in to this behavior.

Requested in https://github.com/DataDog/dd-trace-js/issue

[2020-01-28 21:12] rochdev commented on #807
A fix was released for this issue for the `mysql2` plugin.

@peterver Can you confirm if you were using `mysql2` and if the problem is fixed with 0.17.0? Otherwise, can you share a stack trace?

@gnomeria Was it with `mysql2` as well?

[2020-01-29 02:36] zhaoyi0113 commented on #826
Thanks for your response. Probably I have to use the dashboard feature to sort this out. But I am not convenience about why separating traces into different component. Or at least, it should be easily configured. Because it is a very straightforward requirement that people like seeing all data in one spot for their services.

[2020-01-29 02:36] #826 closed

[2020-01-29 15:29] rochdev commented on #826
@zhaoyi0113 I agree, and we are actively working to make this more flexible.

[2020-01-30 17:48] gkubisa opened #842 "Duplicate runtime.node prefix in metrics"
**Describe the bug**

Since I upgraded `dd-trace` from 0.15.5 to 0.17.0 the reported run-time metrics have a duplicate `runtime.node` prefix. For example:

- dd-trace@0.15.5: `runtime.node.cpu.total`
- dd-trace@0.17.0: `runtime.node.runtime.node.cpu.total`

I looks like this [PR](https://github.com/DataDog/dd-trace-js/pull/748) introduced the duplication.

**Environment**

* **Operation system:**

[2020-01-30 17:58] #842 closed

[2020-01-31 15:53] peterver commented on #807
@rochdev we were indeed using mysql2 :)

[2020-01-31 15:57] peterver commented on #807
@rochdev I will take out some time next sprint to look into readding datadog for that node microservice, will come back to you after that. Thanks for the potential fix :D will let you know if this resolves the issue on our end

[2020-02-01 15:22] benjamine commented on #815
got bit by this to, apparently when running over a long mongo cursor.
`ddTracer.use('mongodb-core', false);` solves the issue.

- node@12.13.1
- dd-trace@0.17.0
- mongodb-core@2.1.20

[2020-02-03 18:18] benjdezi opened #846 "Better support for setting and generating trace IDs"
I'm in a situation where I have two services that are connected via a queueing system (SQS). The first one pushes events to the queue and the second one reads those events from the queue. I wanted to propagate the trace ID from the first service onto the second one so I can see the whole trace across services in datadog.

However, I have found that there isn't a plugin to help attach trace IDs ont

[2020-02-04 05:40] daniel-edwards-iress opened #847 "Re(#829) WHATWG url path gets removed from request"
**Describe the bug**
#829 not fully fixed
When making a request using a WHATWG URL object (node URL) dd-trace clears the request path from the URL.

The latest Got converts urls before making the request.

**Simple Example**
[code]
[code]
**Environment**

* docker node:12
* node 12.14.1
* dd-trace 0.17.0

[2020-02-04 19:48] rochdev commented on #846
The trace ID is not meant to be altered after the span has been started since it could cause issues. However, for your use case it shouldn't be necessary to alter it after the fact. You should be able to inject the trace ID using [tracer.inject()](https://datadog.github.io/dd-trace-js/interfaces/tracer.html#inject) and extract it using [tracer.extract()](https://datadog.github.io/dd-trace-js/inter

[2020-02-04 21:27] #830 closed

[2020-02-05 09:56] grahamlyons opened #850 "Service is not automatically populated"
**Describe the bug**
In an Express app the `service` label was not automatically populated and traces were dropped by the agent. Lines like this appeared in the agent logs:
[code]

I thought this was an issue with the documentation - DataDog/documentation#6517 - but was told to file it here.

How should the library get a default service name?

**Environment**
Express/pm2

* **Operating system:**
U

[2020-02-05 15:48] rochdev commented on #850
Since we don't support Node 0.12, I assume you meant 12, but please correct me if that's wrong.

The tracer will attempt to get the service name from the name field in the `package.json` of the project if available, and will otherwise fallback to `node`. This behavior can be seen [here](https://github.com/DataDog/dd-trace-js/blob/5c449e2d3317db7d5ce7d4760b39c7eb7bfb03ad/packages/dd-trace/src/confi

[2020-02-05 21:19] grahamlyons commented on #850
Aha, gotcha. There's no `"name"` in `package.json`. Thank you!

[2020-02-05 21:19] #850 closed

[2020-02-05 22:07] rochdev opened #851 "Make the automatic service name detection smarter"
Right now it accepts empty strings as valid value and will thus not use the fallback when needed. We could also use the folder name as a more dynamic fallback when it's not configured and there is not name field in the package.json.

Improving service name detection will prevent issues like #850.

[2020-02-09 11:29] baptistemarchand opened #852 "graphql plugin preventing traces being sent to datadog"
**Describe the bug**
We have an express app which makes calls to a GraphQL API using Prisma client.
APM traces are not sent to datadog whenever we make a call to the GraphQL API.
In the debug logs there are lines like `Inject into carrier: ...` but it looks like the spans never finish so they are never sent.
At the start of my code, when I initialize Prisma:
[code]
I get the following error in dd-

[2020-02-12 20:55] rochdev commented on #852
This error should cause the plugin to be disabled. This means there are actually 2 issues here:

1) An expected method couldn't be found on the module, meaning the plugin might be broken for the version of `graphql` used by `prisma`.
2) The plugin should disable itself when there is an error while instrumenting, and this is not happening since you are still getting spans for `graphql`.

What versi

[2020-02-13 13:03] baptistemarchand commented on #852
Thank you for your response. Here are the versions we use:
[code]

[2020-02-13 20:08] rochdev commented on #852
This is definitely a version that should be supported. Does the above code result in the error without any other code? Meaning do you get the error just by instantiating Prisma?

[2020-02-13 23:45] orgito opened #857 "DD_INTEGRATIONS_DISABLED not working"
**Describe the bug**

Disabling plugins using DD_INTEGRATIONS_DISABLED env var is not working.
setting integrationsDisabled on init() also does not work.

**Environment**

* **Operation system:** Linux
* **Node version:** 12
* **Tracer version:** 0.17.1
* **Agent version:** 7.16

[2020-02-14 01:46] rochdev commented on #857
The correct environment variable for this is `DD_TRACE_DISABLED_PLUGINS`. You can find the complete list of options in the [API docs](https://datadoghq.dev/dd-trace-js/#tracer-settings).

It's also possible to disable a plugin programmatically using `tracer.use('plugin-name', false)`.

Please let me know if that works!

[2020-02-17 13:41] #857 closed

[2020-02-17 20:03] benjamine opened #859 "pg cursor"
it looks like the pg instrumentation is not catching cursor queries (used for streaming long queries).
in this case, the `.query` function is called with a cursor instead of sql string,
the change to contemplate these seems could be very simple, if you're willing to receive a PR I could send one.

[2020-02-17 20:42] rochdev commented on #859
We're definitely open to community PRs! Just let me know if you are going to do it so that we don't duplicate the work on our end.

The build for `pg` is currently failing since the weekend because of a connection issue. If you want I can try to fix it today to unblock you.

[2020-02-17 21:00] rochdev commented on #859
Ok I fixed the `pg` build in #860. If it's not merged by the time you work on the PR, I'd say to just copy the code since it's just an env var on the build container.

[2020-02-17 21:02] benjamine commented on #859
thanks! just submitted 861 adding this

[2020-02-18 18:11] rochdev commented on #815
I'm unable to reproduce. At this point I'd need a reproduction snippet that I can run directly for both the stream and the cursor issues (which may or may not be related).

[2020-02-18 19:33] Yomanz opened #864 "KubeMQ Plugin"
https://kubemq.io/

It uses grpc but the general grpc plugin lacks some information that's passed.

https://github.com/Yomanz/KubeMQ-TS - The NPM module I made
github.com/kubemq-io/kubemq-node/ - Their official NPM module (mines better :^))

A plugin for this would be dope but I'm not sure where to start with one, are there any documentation for creating a plugin (or even a basic plugin to learn f

[2020-02-18 19:49] rochdev commented on #864
Plugin development is not really documented at the moment since we want to polish the process before documenting it.

In the meantime, I'd say a good way to do it if you want to submit a PR would be in this order:

1) Familiarize yourself with [plugins](https://github.com/DataDog/dd-trace-js/tree/9507b4a261fc970dee9e817a1ea9722af054bb5e/packages) in general. Most of them end up using common patter

[2020-02-18 20:31] rochdev commented on #815
More information about how big the stream/cursor is would help as well. For example, 1 query with 1 million documents is very different than 1000 queries of 1000 documents each.

[2020-02-18 22:18] rochdev commented on #864
A bit unrelated, but it looks like your module has more traction than the official one, and the official one is not GA yet. Did you try to have yours become the official one?

[2020-02-19 20:06] ionutale commented on #418
Hi Kevin,
Do you still need help with this?

[2020-02-19 20:10] #847 closed

[2020-02-20 14:23] mkaufma opened #868 "trace.wrap not working through jest test"
I run the same function ts-node and from jest and when It runs through jest you can see that it doesn't work. See [ddtrace-problem.zip](https://github.com/DataDog/dd-trace-js/files/4231198/ddtrace-problem.zip) project example.

vscode
windows
Node version: 12.14.1
Tracer version: 0.17.1
Agent version: Not relevant.

[2020-02-21 04:33] SethDavenport opened #870 "Stack overflow, high CPU usage after upgrade to 0.17.1"
**Describe the bug**

I recently updated dd-trace-js to 0.17.1 from 0.16.3 in order to consume this fix: https://github.com/DataDog/dd-trace-js/pull/844

I can confirm that 0.17.1 fixes the issue with koa-router, but once I deployed to production I immediately noticed much higher CPU usage in our web containers:

![image](https://user-images.githubusercontent.com/4614141/75004279-97ce4180-5438-11e

[2020-02-21 17:56] rochdev commented on #870
What version of Koa are you using?

[2020-02-21 18:15] SethDavenport commented on #870
![image](https://user-images.githubusercontent.com/4614141/75060078-2f20ac80-54ac-11ea-8487-df759fcf1d7a.png)

(2.11.0)

[2020-02-21 18:19] SethDavenport commented on #870
Also not sure if relevant but here's the rest of the koa-related stuff:

[code]

[2020-02-21 18:55] ffandreassoroko commented on #870
same problem

[2020-02-21 21:20] tatianafrank opened #872 "Headers tracing"
How can I add a header from the http request as a tag to the tracer? I see in the python api there is a `trace_headers` method but I can't find the equivalent in the JS ddtrace library.. Here is a link to the python method I'm referring to: http://pypi.datadoghq.com/trace/docs/advanced_usage.html#headers-tracing

[2020-02-21 22:59] rochdev commented on #870
I'm pretty sure the regression was introduced in #844 but I can't seem to reproduce. I'll try to do some testing with the code directly, but in the meantime is this something you can reproduce easily with a small snippet or only in a real app?

[2020-02-21 23:19] rochdev commented on #872
You can add headers as tags for both client and server using the `headers` configuration on the corresponding plugin.

Examples:

[code]

In all cases, `tracer.use()` should be called right after `tracer.init()`.

See the [API docs](https://datadoghq.dev/dd-trace-js/interfaces/plugins.http.html#headers) for more information.

Please let me know if that helps!

[2020-02-21 23:36] rochdev commented on #870
Never mind, the problem is we make only 1 request per unit test, and this only happens with multiple requests on the same router. Working on a fix now.

[2020-02-24 00:29] pauldraper commented on #820
For Datadog users, a Datadog exporter is the higher priority, as compared to porting instrumentations.

OpenTelemetry already had over a dozen instrumentations of common Node.js APIs, but not a one can be used with Datadog until there is an exporter.

[2020-02-24 12:30] jessedobbelaere opened #874 "RangeError: Maximum call stack size exceeded on Koa + v0.18.0"
**Describe the bug**

We use Koa + dd-trace in an app:

[code]

When upgrading `dd-trace` from `0.17.0` to `0.18.0` our API endpoints all broke down with the following error and stacktrace:

`RangeError: Maximum call stack size exceeded`.

**Stacktrace:**

<details>

[code]

</details>

Needless to say we reverted back to 0.17.0 which works fine :-) It's only a problem in v0.18.0
Something in [rel

[2020-02-24 16:24] tatianafrank commented on #872
Thanks for the reply. So 'x-some-data' should be the name of the header field? and the value will be dynamic right?

[2020-02-24 17:38] SethDavenport commented on #870
Sorry got sidetracked - glad you figured it out!

[2020-02-24 17:39] SethDavenport commented on #874
Sounds like a dupe of https://github.com/DataDog/dd-trace-js/issues/870

[2020-02-24 17:48] #870 closed

[2020-02-24 19:08] rochdev commented on #874
Duplicate of #870. The fix is merged and will be in the next release, either today or tomorrow.

[2020-02-24 19:08] #874 closed

[2020-02-24 19:11] rochdev commented on #872
Yes, so for example, say you have a header `x-request-id`, and for a specific server request the value is `1234` then you would get a `http.request.headers.x-request-id` tag with the value `1234` for the corresponding span.

[2020-02-24 19:11] tatianafrank commented on #872
Thanks so much, that worked!

[2020-02-24 19:12] #872 closed

[2020-02-24 19:43] jessedobbelaere commented on #874
Thanks for the quick response! Looks indeed like the same issue 🙌

[2020-02-25 15:51] rochdev commented on #870
Fix released in 0.18.1.

[2020-02-25 15:52] rochdev commented on #874
Fix released in 0.18.1.

[2020-02-26 18:59] Yomanz commented on #864
They have an official one but it's coded in NodeJS and there are no types and it was easier, imo, to just create a new one that's in TS and has a generated schema for the grpc endpoint initially ;)

[2020-02-26 19:01] rochdev commented on #864
What I'm proposing is to make yours the official one and deprecate the current official one since your library has more traction :)

[2020-02-26 19:16] Yomanz commented on #864
I messaged them about it a while back on slack, I'll follow up with them.

[2020-02-26 19:23] SethDavenport commented on #870
Thanks for the quick turnaround.

[2020-02-27 09:00] ccoeurderoy commented on #868
Hi!

I have the same problem running tests with jest and ts-node. Node is throwing an error:

[code]

Node version (nvm): 12.15.0
Jest version: 25.1.0
ts-node version: 8.6.2
dd-trace version: 0.18.1 (same problem with v0.17.1)

[2020-02-28 22:46] rochdev opened #880 "Using clusters causes the automatic service detection to stop working"
**Describe the bug**

Using clusters causes the automatic service name detection to stop working, resulting in the traces not being reported properly unless the service name is explicitly set.

**Environment**

* **Operation system:** N/A
* **Node version:** N/A
* **Tracer version:** N/A
* **Agent version:** N/A

Bug was reported on public Slack so the above information is not available.

[2020-03-04 17:35] pawarvijay opened #882 "How to log payload in span"
Not able to see payload in logs tab

Followed
- https://docs.datadoghq.com/tracing/guide/adding_metadata_to_spans/?tab=nodejs
- https://datadoghq.dev/dd-trace-js/interfaces/span.html#log

[code]
![Screenshot from 2020-03-04 19-01-32](https://user-images.githubusercontent.com/5990947/75884332-9f371700-5e4a-11ea-9d2f-f0586e114607.png)

There is nothing inside logs ,Its empty

![Screenshot from 2020-

[2020-03-05 00:18] pawarvijay commented on #882
@rochdev
So if I use Tracer config + Winston config  combination with common trace id and span id

Then will it show logs in logs tab ?

[code]

[2020-03-05 00:25] rochdev commented on #882
Assuming you forward your Winston logs to our [Log Management](https://docs.datadoghq.com/logs/) product and have it enabled, then yes, you will see your logs in the Logs section and also in the Logs tab of the corresponding trace.

Basically, all the tracer does with the `logInjection` option is to add the trace ID and span ID to all log records. Then correlation happens in the backend once both

[2020-03-05 00:32] pawarvijay commented on #882
thanks, That was very quick reply

Cool I will try Tracer+Winston log thing.

Just one more thing if I use
opentracing totally instead of (tracer+Winston log)
 then will `span.log` work ?

[2020-03-05 00:44] rochdev commented on #882
OpenTracing is just a specification and has no implementation, meaning the `opentracing-javascript` library is completely no-op. Our tracer is an implementation of OpenTracing, but we did not implement `span.log()` as we correlate with existing logs instead.

[2020-03-05 07:43] pawarvijay commented on #882
Not able to connect **dd_trace** with **winston**
is there any other way
[code]

[2020-03-05 14:38] rochdev commented on #882
The automatic injection uses the span that is active on the current scope. Sorry about that I completely missed that this was missing in your example.

The easiest way to achieve this is to use `tracer.trace` instead of the OpenTracing API:

[code]

It's also possible to do it using the OpenTracing API but it's more difficult to manage and the `ScopeManager` PR never landed so it would not be Open

[2020-03-05 15:33] vecerek opened #884 "Improve GraphQL error monitoring"
This issue is not really a feature request nor a bug report. It's just a question for the community. Maybe someone more experienced will have an answer for me 🙂

Apollo Server provides a collection of predefined errors: `AuthenticationError`, `ForbiddenError`, `UserInputError` and a generic one. Once these errors are thrown, they will produce an error object in the GraphQL response and `dd-trace`

[2020-03-05 16:43] rochdev commented on #884
This makes a lot of sense. It's very similar to the default we have for HTTP, where only 500s are errors on the server and only 400s are errors on the client (by default). Something similar should definitely be added to the `graphql` plugin, or to a new `apollo-server` plugin.

[2020-03-06 13:37] #882 closed

[2020-03-06 17:59] vecerek commented on #884
I have two ideas  how this could be accomplished:

1. There could be a configuration option for the graphql plugin that would take a list of allowed codes ([extensions](https://spec.graphql.org/June2018/#example-fce18)).  One thing to take into account is that the `extensions` field is optional and its shape can be anything. If the code is allowed, the span should not be marked as an error. The di

[2020-03-06 18:17] rochdev commented on #884
I think option 1 is the safest one to start. It would be a non-breaking change and would allow to filter errors with the most flexibility. For example, some users may want to keep the current behavior.

We also already have the concept of span hooks, which are executed right before a request finishes. Right now there are only implemented for HTTP but it could make sense to implement them to GraphQ

[2020-03-06 18:30] vecerek commented on #884
I like the idea of hooks because the client has the absolute control over what span is marked as an error. So, the graphql plugin wraps 3 things: `execute`, `parse` and `validate`. Would then there be 3 respective hooks a client could modify the behavior of?

[2020-03-06 21:06] rochdev commented on #884
Yes, but I would probably focus on `execute` to start. The difficult part of hooks is to figure out what to provide as parameters, other than the span. For Web framework it's easy since you always have a request and a response, but for other types of module it's not always obvious.

[2020-03-06 22:05] vecerek commented on #884
We could take your `express` hook as an example: `(span, req, res) => {}`. In GraphQL land `req` could be represented by the arguments passed to `graphql`:
[code]
However, for most of the use cases I would expect `(span, res) => {}` to be enough and I'd consider it as a very good starting point 😄It's debatable whether `context`, `variables` or the `operationName` could play a large role in the `so

[2020-03-06 22:05] marcghorayeb commented on #868
Hello, we're experiencing this as well on the latest plugin's version. :(

[2020-03-06 22:06] marcghorayeb commented on #868
ts-jest: 25.2.1
dd-trace: 0.19
jest: 25.1
node: 12.14.1

[2020-03-06 22:10] rochdev commented on #884
Is `res` the `GraphQLResult`?

[2020-03-06 22:11] vecerek commented on #884
Yes.

[2020-03-06 22:16] rochdev commented on #884
The library has an alternative syntax where it accepts all the options as a single parameter. I wonder if it would be relevant to pass that as well, so it would look something like `(span, args, result) => {}`.

Definition is here: https://github.com/graphql/graphql-js/blob/master/src/execution/execute.js#L118

[2020-03-06 22:22] vecerek commented on #884
Hmm... maybe. People put different things into `context`, e.g. `account_id`, `product` information, etc. It can be really anything. Would it make sense to consider certain responses as errors for one customer/product/etc. and not for another? 🤷‍♂I think it makes sense to pass it down for the sake of completeness. Probably someone would request it some time after anyway.

[2020-03-06 22:24] rochdev commented on #884
I was thinking outside the realm of errors, since hooks can apply for all sorts of use cases. For example, maybe you want to add the account ID as a tag on the span, or manually keep/drop traces based on certain conditions.

[2020-03-06 22:34] vecerek commented on #884
I think it would be very useful to add parts of the `context` as tags to the execution span. But isn't it already made possible through `TraceOptions` and/or manual instrumentation? I have more experience with the ruby implementation of `dd-trace`, so I'm not really sure 😅

[2020-03-06 22:39] rochdev commented on #884
Yes when using manual instrumentation, but in this case it's an existing span created by our auto-instrumentation. There could be the argument that you can just add metadata to the current active span on the scope, but this only works if you are guaranteed that it will always be the `execute` span, which is not the case, especially since in most cases you would be in the context of a `resolve` spa

[2020-03-06 22:40] rochdev commented on #884
In Ruby the common pattern for this would be to grab the root span, but in this case it doesn't work either because the root is Express and not GraphQL.

[2020-03-06 23:03] vecerek commented on #884
Makes complete sense! Thanks for explaining. `(span, args, result) => {}` seems to be the right and obvious choice then 🙂

[2020-03-09 00:17] igrayson commented on #868
We also observed this during jest tests, when run:
* using on `dd-trace@0.17.1`
* node `10.13` (as well as various `12.x` versions).
* I cannot reproduce this locally, but reproduces every time when I run our jest suite in circleci. We use their `circleci/classic:edge` image.
* we're not (directly) using `datadogTracer.wrap`, but we do use `datadogTracer.trace`.

This makes the crash go away for u

[2020-03-09 17:12] marcghorayeb commented on #868
Tried your workaround but it doesn't seem to be working 100% of the time - it's quite flaky, unfortunately.

[2020-03-11 00:45] KempfCreative commented on #350
This is a major pain point for my team as well. I would love some documentation using the official libraries which explains how to implement custom resource endpoints.

[2020-03-11 01:53] rochdev commented on #350
There are a few options depending on the specific case:

##### koa-heartbeat

In this case, since it's only a heartbeat I assume what is wanted is to ignore these routes. This can be done with the `blacklist` option of the tracer which will stop tracing these routes:

[code]

##### Custom or unsupported routers

In this case the route can be added manually in a span hook:

[code]

##### koa-static

[2020-03-11 13:57] gornostal opened #887 "Jest crashes when newrelic library is imported along with dd-trace: Assertion `(argc) >= (3)' failed. Aborted (core dumped)"
**Describe the bug**

* Add the following packages: `jest`, `newrelic`, `dd-trace`
* Create file `my.test.js` with the content below
* run `jest`

Result:
[code]
I've created a simple project with instructions on how to reproduce this issue locally: https://github.com/gornostal/debug-dd-trace-js

**Environment**

* **Operation system:**  Linux host. `node:10-alpine` in Docker
* **Node version:**

[2020-03-11 14:57] rochdev commented on #887
This looks very similar to #868. Does it only happen with newrelic in your case? Or does the issue disappear if you remove newrelic?

[2020-03-11 15:20] gornostal commented on #887
@rochdev it disappears if I remove newrelic

[2020-03-11 15:23] igrayson commented on #868
fyi @bengl

[2020-03-11 16:43] esclapes opened #888 "Performance impact upgrading 0.19.0"
**Describe the bug**

Upgrading from `0.18.1` to `0.19.0` had a noticeable impact on our service latency. Looking at the [changelog for that release](https://github.com/DataDog/dd-trace-js/releases/tag/v0.19.0), it may be related to the new `aws-sdk` plugin. We use `aws-sdk@2.634.0` in this service.

This image clearly shows the effect of the upgrade and revert.

![image](https://user-images.githu

[2020-03-11 16:48] rochdev commented on #888
What is your usage of `aws-sdk`? It's possible a lot of additional spans are generated which would cause a negative performance impact. You should be able to see this in your traces before and after the change. Did the number of spans significantly increase?

[2020-03-11 16:57] rochdev commented on #887
Just for completeness, does it also go away it you remove `dd-trace` and not newrelic? If that's the case I'm thinking there must be some incompatibility with how we both patch the `fs` module. This is difficult to avoid since there are cases where double-patching can cause issues.

[2020-03-11 17:01] esclapes commented on #888
Hey @rochdev

In that service, we only use it to push messages to SQS.

Now that you mention it, I was a bit surprised that I did not see any new spans while 0.19.0 was running. Not sure if SQS is not starting new spans, or if it's related to us pushing to SQS asynchronously after the express response has been sent.

If I search our list of services in APM, I see names like `[service]-http-client`

[2020-03-11 17:06] gornostal commented on #887
I discovered this issue as I was adding DD support to the app, so yes the
issue goes away if I remove it.

As we are migrating from NR to DD we wanted to first add DD and after some
time to remove NR. Seems like it's not possible

On Wed, Mar 11, 2020, 18:57 Roch Devost <notifications@github.com> wrote:

[2020-03-11 17:16] rochdev commented on #888
In general it should still end up in the same trace the way we did context propagation, but even then you would still see it as another trace otherwise.

That's odd. In general it would mean either that the integration was disabled because of an issue or that the instrumentation is not working properly (either not instrumenting at all or not finishing the spans).

It sounds like the integration ha

[2020-03-11 17:22] rochdev commented on #887
We try to patch in the safest way possible, but in some cases conflicts with other vendors are unavoidable.

If this only happens with Jest, I would say one option would be to keep only the target vendor in the tests, and keep both enabled in production as you transition. But in general this is discouraged because the way instrumentation works in Node is by monkey-patching which can lead to unexpe

[2020-03-11 18:04] esclapes commented on #888
Thanks a lot for the details, @rochdev :raised_hands:

Sure! I'll do as soon as I get some bandwidth and cicle back here.

[2020-03-11 19:04] gornostal commented on #887
I see.
Thanks for the clarifications!

On Wed, Mar 11, 2020, 19:23 Roch Devost <notifications@github.com> wrote:

[2020-03-17 17:12] isadovskiy commented on #888
We also noticed performance decrease with 0.19.0. Rolling back to 0.18.1 solves the issue.

[2020-03-17 17:13] rochdev commented on #888
@isadovskiy Are you using `aws-sdk` as well?

[2020-03-17 18:02] isadovskiy commented on #888
We use the default setup. We can check if `DD_TRACE_DISABLED_PLUGINS=aws-sdk` helps

[2020-03-17 18:34] millerick opened #892 "Many spans created when `.forEach` is called on mongodb results"
**Describe the bug**
We have one particular data retrieval that does the following operation on top of `mongodb`:
[code]
The end results is many, many spans that are created.  The first span that is created for this:
![image](https://user-images.githubusercontent.com/26394493/76889626-27ea8580-6843-11ea-8bf4-0b8e9e9c8d8e.png)
The last span that is created for this:
![image](https://user-images.git

[2020-03-17 19:33] rochdev commented on #888
@isadovskiy Oh I meant in general. Is this service using the `aws-sdk` module, regardless of dd-trace?

[2020-03-17 19:35] rochdev commented on #892
This is because of the support for cursors, which may not really be useful. It should probably not be removed completely since that would be a breaking change, but there should definitely be an option to disable that if that's not relevant in some (most?) cases.

[2020-03-17 19:47] millerick commented on #892
If that option were to exist, would that mean that all would be combined into one single span?

[2020-03-17 23:19] rochdev commented on #892
Correct, you would have a single span for the entire duration of the query instead of one per individual cursor iteration.

[2020-03-18 13:18] isadovskiy commented on #888
@rochdev yes, we use this library in our project

[2020-03-18 13:26] jsumners opened #893 "Pino v6 changes"
This issue is to let you know that Pino will be releasing a v6 release soon. This release has some significant changes:

https://github.com/pinojs/pino/milestone/2?closed=1

I'm not sure if you need to do anything here or not. Just giving you a heads up.

[2020-03-18 13:59] rochdev commented on #888
@isadovskiy Ok, let me know if using `DD_TRACE_DISABLED_PLUGINS=aws-sdk` helps, which would clearly indicate an issue with the plugin.

[2020-03-18 14:01] rochdev commented on #893
Thanks for the heads up! I'll do some testing to make sure it still works and release a new version if necessary.

[2020-03-18 16:05] catchin opened #894 "Upgrade minimist because of vulnerability in dependency"
dd-trace uses an old version of tar, depending on mkdirp depending on minimist 0.0.8.
And a vulnerability has been found in minimist 0.0.8: https://www.npmjs.com/advisories/1179

Please consider upgrading your version of tar to get rid of the minimist dependency (mkdirp is dependency-less in later versions). This would fix alerts when running "npm audit".

[2020-03-18 18:37] rochdev commented on #894
Would it be enough to move it to the dev dependencies? `tar` is not longer used outside of dev.

[2020-03-18 20:16] catchin commented on #894
Sounds good to me.

[2020-03-18 22:55] millerick commented on #892
Thank you, that would be much appreciated.

[2020-03-19 07:25] catchin commented on #894
Thanks for the fast response.

[2020-03-19 14:18] #894 closed

[2020-03-24 21:54] jsumners commented on #893
https://github.com/DataDog/dd-trace-js/blob/704c8e07cd67a41903cf6bc28bee7e7b28280365/packages/dd-trace/src/platform/node/loader.js#L138

^ that is preventing me from testing against an rc release (`6.0.0-rc.2`) of Pino. Is there any way around this?

[2020-03-24 23:09] rochdev commented on #893
Right now there is no way around this, but it came up a few times. I wonder if it would make sense to drop the prerelease part of the version number when doing the comparison. I'll do some testing a bit later tonight.

[2020-03-24 23:42] jsumners commented on #893
Maybe a toggle in some way to say you accept pre-releases?

[2020-03-24 23:45] rochdev commented on #893
Is there a use case for not accepting them? Technically we don't officially support prereleases, but there should be no harm in trying to patch them anyway. At worst the plugin will fail to patch and will be automatically disabled.

[2020-03-24 23:47] jsumners commented on #893
🤷‍♂

I'm open to whatever you decide as long as I can complete my testing 😀

[2020-03-25 00:12] rochdev commented on #893
I opened #896 with the change. When it lands I'll publish a release to unblock your tests.

[2020-03-25 00:29] jsumners commented on #893
🎉

[2020-03-25 12:12] jsumners commented on #893
💥 I installed `dd-trace` from your commit and everything is working:

[code]

[2020-03-25 14:00] rochdev commented on #893
Perfect! Thanks for testing this!

I'll leave this open until #896 is merged and Pino v6 is officially released.

[2020-03-25 19:08] guanchzhou commented on #888
it wasn't helpful, we have moved back to 0.18.1

[2020-03-25 19:10] rochdev commented on #888
@guanchzhou Just to confirm, you are also using `aws-sdk` but didn't see any performance difference by configuring the tracer with `DD_TRACE_DISABLED_PLUGINS=aws-sdk`? Also, were you getting spans for AWS before adding the option and not after?

[2020-03-25 19:23] guanchzhou commented on #888
@rochdev we have aws4 module in use

[2020-03-25 19:25] rochdev commented on #888
@guanchzhou `aws4` doesn't seem to be using `aws-sdk`. Does that mean you are not using `aws-sdk` at all?

[2020-03-25 19:27] guanchzhou commented on #888
@rochdev grep found only aws4 for 'aws' search.

[2020-03-25 21:23] rochdev commented on #888
We've just released a new version that reverts the new encoder. Can anyone impacted try with dd-trace 0.20.0-beta.1? If that solves the issue, then it means the encoder is the root cause.

It would also be useful if you could provide a Node profile and/or heap snapshot, although these should not be shared on GitHub, so please send them either to me (rochdev) on our [public Slack](https://chat.data

[2020-03-27 11:53] jsumners commented on #893
v6 has been released -- https://github.com/pinojs/pino/releases/tag/v6.0.0

[2020-03-27 14:12] rochdev commented on #893
Tests passing with v6: https://circleci.com/gh/DataDog/dd-trace-js/105172.

Closing this now, thanks for making sure Datadog continues to work with Pino!

[2020-03-27 14:12] #893 closed

[2020-03-30 13:35] #764 closed

[2020-04-03 13:35] shubhamUpadhyayInBlue commented on #826
Hi @rochdev
I have a similar problem.
When I am viewing my traces using **dd-trace**, it shows multiple services like:

1. apiProject-mongodb
2. apiProject-tcp
3. apiProject-redis
4. apiProject-http-client
5. apiProject

Its consuming a lot of traces quota and hardly leaving any quota for my other projects. I want to keep only last 5th one (**i.e. apiProject**).

I tried this and it was successful

[2020-04-06 00:30] adamthalhammer commented on #884
Wonderful to see this discussion, and the proposed solution looks reasonable 🙏

Two questions:
- Are there any known workarounds?
- How can I help?

[2020-04-06 07:38] shubhamUpadhyayInBlue opened #905 "Club all service names with suffix to one without suffix"
Hi @rochdev
I want to club all suffix names with **apiProject**.
Eg:
**apiProject-tcp**, **apiProject-mongodb** should not be listed as a separate service. It should be clubbed with apiProject. How can I do it in nodejs?

When I am viewing my traces using **dd-trace**, it shows multiple services like:

1. apiProject-mongodb
2. apiProject-tcp
3. apiProject-redis
4. apiProject-http-client
5. apiProj

[2020-04-06 14:53] rochdev commented on #826
@shubhamUpadhyayInBlue In general this is not desirable as it breaks the expected behavior of our platform. Is the only issue you are having the quotas? If that's the case, could you clarify what quota you are referring to? To my knowledge it should be fine to have hundreds or even thousands of services without any issues.

[2020-04-06 14:54] rochdev commented on #905
Duplicate of #826

[2020-04-06 14:54] #905 closed

[2020-04-06 15:06] rochdev commented on #884
It would be possible to work around the issue, but it would most likely rely on internal APIs that may change without notice. In general I'd say it would be better to instead implement the hook. The only thing I'm still not sure about is the `args` parameter. After looking a bit more into it, it looks like it's converted to an `ExecutionContext` and that is what is passed around within `graphql`.

[2020-04-07 19:34] nikmash opened #906 "<Security> tar module needs to be upgraded"
Prototype Pollution

Affected module: minimist@0.0.8

Introduced through: dd-trace@0.19.0

Exploit maturity: Proof of Concept

Fixed in: minimist@0.2.1, minimist@1.2.3
Detailed paths

    Introduced through:   dd-trace@0.19.0  ›  tar@4.4.13  ›  mkdirp@0.5.1  ›  minimist@0.0.8

Overview

minimist is a parse argument options module.

Affected versions of this package are vulnerable to Prototype Poll

[2020-04-07 19:35] nikmash commented on #906
Upgrading the `tar` module will upgrade the `mkdirp` module which will not use the `minimist` module solving this security issue.

[2020-04-08 01:27] rochdev commented on #906
This is actually already fixed in #895 and will be in the next release. We didn't release a version just for this because `tar` is not actually used in production so the security risk is null (the fix was simply to move it to devDependencies).

[2020-04-08 01:27] #906 closed

[2020-04-08 17:13] samjacoby opened #908 "Span name from express always reported as anonymous in dashboard"
The custom span example, here, https://docs.datadoghq.com/tracing/guide/adding_metadata_to_spans/?tab=nodejs, doesn't seem work as expected. In my flamegraph, it always reads as `anonymous`, rather than the assigned name.

My snippet (below) is somewhat modified, so maybe I've introduced an error:
[code]
I'd expect to see a trace called `web.request`. Instead, it appears as "anonymous".

![image](

[2020-04-09 17:56] vecerek commented on #884
I've just opened a PR. Any feedback would be much appreciated 🙂cc @adamthalhammer

[2020-04-09 23:49] rochdev commented on #908
The span you are seeing as `<anonymous>` is actually a span created by our `express` integration and not the span from your snippet. The example you are referring to is for manual tracing with no auto-instrumentation at all, which is not the case in your example.

Since I'm not sure of your use case, I'll provide an answer for each potential one.

#### web.request as child of express.middleware

I

[2020-04-10 23:06] csabakos commented on #312
Any updates on this? It seems that there is a http2 plugin but it has been disabled in https://github.com/DataDog/dd-trace-js/pull/547

[2020-04-12 05:56] adamthalhammer commented on #884
Sorry, I had a response typed out but must have closed the tab before posting it 😞

In essence, we want the ability to distinguish between **expected** and **unexpected** errors.

1. **expected** errors occur when our software behaves as designed. Examples of this include input validation errors, authorization errors, etc. They are not the result of a fault and should not be attached to the span,

[2020-04-13 15:23] rochdev commented on #884
One thing that I'm starting to wonder is which spans exactly should be in error and which should not. Is the issue only with the root `graphql.execution` span causing the entire trace to be marked as error, or each individual resolver span should also be configurable?

I think the first step is to add the span hook, which is the most flexible option since it allows altering any span metadata inclu

[2020-04-13 15:28] rochdev commented on #312
We've hit a few blockers for HTTP2 because of the way the span from the `http` plugin is merged with any Web framework span to make sure it stays as the root span, which is why it was disabled for now. The plan was to re-enable this plugin once the blocker has been resolved.

What is your use case for HTTP2? It's possible we can support it in another way for now, for example if you are using a fra

[2020-04-13 16:13] csabakos commented on #312
Thanks for your response @rochdev.

I'm using https://github.com/grantila/fetch-h2 to talk to an envoy proxy via http2 (http2-prior-knowledge).

[2020-04-13 17:12] rochdev commented on #312
So you're using an HTTP2 client and not a server (in Node)? Since the issue we were having was with server, I could always re-add support but only for clients for now.

[2020-04-13 17:30] csabakos commented on #312
Correct

That would be much appreciated!

[2020-04-14 16:12] vecerek commented on #884
@rochdev In GraphQL, if there's an error on a field, that will also be represented in `response.errors`. That said, I'm not entirely sure if the problem can be fixed by only removing the error tag from the `graphql.execute` span. I don't know enough about the internals of Datadog's error monitoring/reporting.

The idea I had to allow the removal of specific field errors from span was to use a `res

[2020-04-14 17:55] rochdev commented on #312
Enabled the client instrumentation in #912.

[2020-04-14 21:22] benjamine opened #913 "Error: ENOENT: no such file or directory, access 'internal/process/task_queues.js.map"
We recently found this error in our datadog traces:

[code]

it's been hard to find exact reproduction steps, but I can try getting more details on the sample maybe.
this is on a span created for the `fs` automatic instrumentation.

**Environment**
production

* **Operation system:**
alpine-node:12.13.1

* **Node version:**
v12.13.1

* **Tracer version:**
0.17.0

* **Agent version:**
0.17.0

[2020-04-14 21:30] rochdev commented on #913
At a glance this looks like it could be an error from `fs` being used by a dependency (bluebird?). The tracer captures the error which is then handled by the library. It doesn't cause an actual exception since the library handled the error, but the tracer already captured the error at that point. This is a known issue and for now we have removed errors from the `fs` plugin completely to avoid conf

[2020-04-14 22:49] pcothenet commented on #913
For the record, I'm seeing this for a different file as well: `ENOENT: no such file or directory, open '/tmp/.aws/config'`

[2020-04-14 23:09] rochdev commented on #884
Right now errors thrown from resolvers are added the span of that resolver. If any errors reaches the execution, then it will be added to the execution span. Since that is the root span, it will mark the trace as being in error.

The reasoning is to know exactly which resolver had an error, and which error, but also to know if the request itself was in error, and thus the trace. For example, if th

[2020-04-14 23:13] rochdev commented on #913
@pcothenet That file is definitely what originally put this on our radar, since it basically happens for anyone using `aws-sdk`.

I'll do a release by the end of the week with the fix.

[2020-04-15 06:08] vecerek commented on #884
This is exactly the desired behavior. With this, there's no need for a `resolve` hook for our use case.

[2020-04-15 15:18] samjacoby commented on #908
Thank you — this has been enormously helpful. Using `tracer.trace` and tracer.wrap`, I've been able to get some very good flamegraphs.

I still have some questions about reducing the cardinality of my requests — we have some pattern matchers in our express routes that behave wonkily, where `myMatchRouter` does a bunch of custom stuff.
[code]
I can get the full path by adding a hook like so:
[code]

[2020-04-16 16:32] emhagman opened #917 "postgres service missing"
We used to get data from `pg.query`, etc using `dd-trace` and now it is not showing up in our APM dashboard anywhere. We have another application that uses `"dd-trace": "^0.15.4"` and is still showing our `postgres` tracing. Any ideas? We use `pg@^7.12.1`. I checked in metrics to see if maybe the data was still being sent in and the service UI was messed up, but I can confirm there is no tracing c

[2020-04-16 17:24] rochdev commented on #917
I took a quick look and it doesn't seem like anything changed between these 2 versions that would affect `pg` specifically.

Is the issue only the `pg` span missing from traces, or traces not coming in at all? If it's the latter, it's most likely related to the root span of the trace and not `pg`. If that's the case, what is the root span of the trace?

[2020-04-16 18:10] rochdev commented on #908
One thing you could do is to set the route that was matched on the request, for example `req.route = matchedRegex.toString()` and then use that in the hook to set the `http.route` tag.

[2020-04-17 11:31] juanjoDiaz opened #920 "Instrument the child_process module"
Would it be possible to instrument the `child_process` module so time spent on launching external programs and errors on those are included in the traces?

[2020-04-17 15:58] rochdev commented on #920
Could you describe your use case? My worry is that `child_process` can be used for very long lived processes, which could result in traces that last days or weeks.

[2020-04-19 15:23] juanjoDiaz commented on #920
Hi @rochdev,

There are plenty of npm libraries that just wrap binaries which they call using `child_process`.
In my case, I have my own module that wraps `VboxManage` the VirtualBox CLI tool.

I think that this can be a fairly common use case.

[2020-04-20 01:16] rochdev commented on #920
Does this module always call `child_process` as part of an existing trace, for example in an HTTP request? One way to prevent long lived spans would be to only create a `child_process` span when that's the case.

[2020-04-20 01:16] rochdev commented on #913
Released in 0.19.1.

[2020-04-20 01:16] #913 closed

[2020-04-20 12:53] juanjoDiaz commented on #920
In 99% of the cases, it does.
In 1% of the cases, it runs as part of a cron job that runs periodically to clean up stuff.

Just for my own understanding, by trying to avoid this long spans, are you trying to avoid some issue with how this library gathers the information or just trying to avoid the users to shoot their own feet?

[2020-04-20 16:40] benjamine commented on #913
thank you!! 👏

[2020-04-20 18:03] rochdev commented on #888
@guanchzhou Can you try with 0.20.0?

[2020-04-20 18:04] rochdev commented on #888
@esclapes Did you get any bandwidth to try the `DD_TRACE_DISABLED_PLUGINS=aws-sdk` environment variable? Also, if that doesn't work can you try with 0.20.0?

[2020-04-20 18:06] rochdev commented on #815
Is this still an issue? If that's the case, can you provide a reproduction snippet?

[2020-04-21 16:46] KempfCreative opened #926 "Unable to access trace_id from winston integration."
**Describe the bug**
I want to use the generated `trace_id` and `span_id` to implement custom APM traces inside a SPA. I don't know how to retrieve the value of these with the dd-trace logInjection:true configuration while using `winston`.

Example:
[code]

**Environment**

* **Operation system:** MacOS
* **Node version:** 10.19
* **Tracer version:** 0.17.0
* **Agent version:**

[2020-04-21 20:21] rochdev commented on #926
The trace ID and span ID are only defined in the context of a trace that is currently active on the current scope. In your example that is not the case.

An example that should work:

[code]

[2020-04-21 20:33] KempfCreative commented on #926
Oh, sorry I should have been more clear. Im not concerned with the implementation of tracing. The issue is in the logInjection. If I try and console.log `logTrace` in this example, I get back a winston stream, which is expected. However, since my application is built on top of NextJS, the default APM integration does not work. I would like to associate these logs I am sending to Cloudwatch with th

[2020-04-21 23:18] rochdev commented on #926
Gotcha. Support for this kind of environment is something we want to improve, but in the meantime you should be able to manually inject the tracing context.

For example:

[code]

More information can be found in the [documentaton](https://docs.datadoghq.com/tracing/connect_logs_and_traces/nodejs/#manual-trace-id-injection).

[2020-04-22 23:42] rochdev commented on #920
Is the 1% where it's a cron job interesting for you? Or would the 99% where something is waiting be enough?

In this case it's really to avoid having an auto-instrumentation that results in never-ending traces by default. If you have use cases without a parent that you are interested in, I could always add a configuration option on the plugin to configure that behavior. But I want to make sure tha

[2020-04-23 14:31] Pedrock opened #927 "Using koa2-connect causes application crash with "Maximum call stack size exceeded""
**Describe the bug**
When using koa2-connect or some library that does so, receiving a request that goes through that middleware will cause either an unhandled exception or an unhandled rejection, depending on the implementation.

I was able to create this small reproducible example:
[code]

The issue can be triggered with: `curl http://localhost:3000`.

Dependency versions:
[code]

**Environment*

[2020-04-23 18:02] emhagman commented on #917
@rochdev Only `pg` is missing, everything else is working. If I look at a trace for our `nodejs` server, everything is there (redis, elasticsearch, etc) except `pg`.

[2020-04-23 18:05] rochdev commented on #917
Can you share your application entry point and the tracer initialization? It's possible that there is some ordering issue. Since the behavior is undefined when the order is incorrect, it can be different between versions.

Also, do you use the default implementation or pg.native?

[2020-04-23 18:13] emhagman commented on #917
We are using the non-native driver.

Our index file, first import above everything else

**src/index.ts**
[code]

**src/services/datadog.ts**
[code]

This has worked for us for almost a year now without changes.

[2020-04-23 18:18] emhagman commented on #917
Example of a trace with a database call in it that shows `redis`, `fs`, etc but not `pg`

![image](https://user-images.githubusercontent.com/1421702/80134792-4859de00-856d-11ea-8c72-0a24dedc8fa1.png)

[2020-04-23 18:19] rochdev commented on #917
Do you see any logs about an error or a plugin being disabled if you run your app with `DD_TRACE_DEBUG=true` right after it was started? (this is very verbose so use with caution if you deploy this)

[2020-04-23 18:27] emhagman commented on #917
At least locally, I can see it being included in the trace with `DD_TRACE_DEBUG=true`
It shows `"service":"nodejs-api-postgres","type":"sql"` with obviously more data, etc

[2020-04-23 18:36] rochdev commented on #917
It's possible that the agent is dropping it but that would be surprising, especially since usually the agent would drop the entire trace and not just one span.

Can you copy the entire log entry for the trace, minus any sensitive information? I'd like to see the trace itself to make sure the span is valid.

[2020-04-23 18:54] #927 closed

[2020-04-23 20:15] emhagman commented on #917
It's my local so no real sensitive data.

[code]

[2020-04-24 14:26] rochdev commented on #917
Looking at the trace is does look perfectly valid. You mentioned that this works with an older version in other services. Can you try that same version that is known to work but in this service?

[2020-04-24 14:59] emhagman commented on #917
Yeah I can try to downgrade and keep you posted, thanks :)

[2020-04-24 15:21] emhagman commented on #917
@rochdev Downgrading did not help. Is there something I can check for on the agent to see if it is being dropped from their? It seems like the client is doing it's job in picking up the service if the trace is to be believed.

[2020-04-24 16:18] rochdev commented on #917
At this point I would say to contact [support](https://www.datadoghq.com/support/) since they will be able to look into your agent more in-depth. Make sure to link this issue for background.

[2020-04-24 16:48] emhagman commented on #917
Okay thanks, I am talking to support right now

[2020-04-25 01:02] mhassan1 opened #931 "Log Injection breaks Error objects"
**Describe the bug**
When passing an `Error` object to `winston` (e.g. `log.error(new Error('oops'))`), the `log` plugin turns the `Error` into a plain `object` without the `message` and `stack` properties before passing it along to `winston`.

Here is a simple reproduction:
[code]

Log output:
[code]

The third log entry is missing `message` because it is not iterable with `in`: https://github.co

[2020-04-25 16:54] rochdev commented on #931
This is what we were doing in the past, but it resulted in objects being altered in an unexpected way since the original object was mutated and caused all sorts of issues for users. Long story short, this is unfortunately something we cannot do.

I'll try to see if the instrumentation could be moved one layer down where we would have some kind of object created by Winston instead which would be di

[2020-04-25 16:56] rochdev commented on #888
Closing due to lack of activity. Please re-open if this is still an issue.

[2020-04-25 16:56] #888 closed

[2020-04-27 13:35] andrewsouthard1 commented on #815
Hey all, if you're continuing to see this issue please reach out to us at support@datadoghq.com

[2020-04-27 13:35] #815 closed

[2020-04-27 13:38] andrewsouthard1 commented on #887
Hey @gornostal - wanted to confirm are you unblocked with this issue?

[2020-04-27 13:43] gornostal commented on #887
@andrewsouthard1 yes. I'm going to close it now.

[2020-04-27 13:43] #887 closed

[2020-04-27 16:08] mhassan1 commented on #931
I could definitely see how mutating the object would cause issues for users, but I could also see how creating a new object that's similar but not the same might also cause issues for users.

A couple of ideas I had:
1. Let the user decide what they want the behavior to be:
[code]
2. Use a library like [clone](https://www.npmjs.com/package/clone), which can clone lots of objects without loss of fi

[2020-04-27 19:15] rochdev commented on #931
What version of Winston are you using? From what I can tell by looking at Winston's code this should already be handled and the error would never be passed to the tracer.

[2020-04-27 19:17] rochdev commented on #931
It also looks like Winston is already mutating the original object, so it may be ok to do it in the tracer since it means it cannot be avoided, at least with that logger.

[2020-04-27 20:51] stephenh opened #933 "Service map looks odd with out-of-box plugins"
We're using ddtrace-js in a new project with all out-of-the-box plugins and while the traces are generally really useful / great to get all of this for free, the service map looks strange:

![image](https://user-images.githubusercontent.com/6401/80417843-0e097d00-889c-11ea-9c1f-6e5187e2d7ae.png)

I.e. things like `graphql-service-fs` and `graphql-service-graphql` are not separate services, they're

[2020-04-27 20:52] stephenh commented on #933
(Er, didn't mean to add the bug label to this, looks like I can't edit/remove it?)

[2020-04-27 22:15] rochdev commented on #933
This is a known issue that we're working on to improve how grouping of resources is done without relying exclusively on the service name.

The main reason for this is to ensure the resources from each integration are grouped and aggregated together. As mentioned above, we are working on improving this. If you don't need this information at all, it's possible to rename these services to the same na

[2020-04-27 23:02] mhassan1 commented on #931
I'm on `winston@3.1.0`. Here I see that it mutates the passed object only if it already has a `message` property; otherwise, it puts the passed object in `message`: https://github.com/winstonjs/winston/blob/73ae01f951600306242e00dd0d2b0a85b6d9d254/lib/winston/create-logger.js#L78

For example:
[code]

So `winston` is already mutating the original object if it has `.message` on it, and is already c

[2020-04-27 23:26] mhassan1 commented on #931
Also, `winston@2` puts the object in `meta` and does not mutate it, so the argument that `winston` is already mutating the object doesn't work for `winston@2`.

[2020-04-28 13:53] stephenh commented on #933
Hi @rochdev , thanks for the reply.

Awesome. Out of curiosity is there an issue / something I could follow to hear about progress on this? Or are these sort of changes less "ddtrace issue/release notes" and more "datadog marketing blog / something"?

Ah nice! I had not seen `splitByDomain`...I think a ` splitByInstance` would be great as well.

I'm also tempted to think these sort of "split by x

[2020-04-28 14:28] rochdev commented on #933
Yes this is definitely not a dd-trace issue and is platform-wide. Unfortunately I don't have a timeline and it will most likely take a while given the implications, but it's definitely something being worked on.

I'll think about how to make this kind of configuration available across all integrations and potentially make it more flexible to match our long-term plans.

Yes, unfortunately it's a br

[2020-04-28 18:19] aecorredor opened #934 "vercel (formerly zeit now) integration"
I'm not sure if this should be a feature request as it may be already supported (maybe I haven't figured out the right setup).

I'd like to be able to trace my Node.js server that is deployed to Vercel (formerly Zeit Now). Vercel deploys to AWS Lambda under the hood, and it offers no direct access to specific AWS configuration (like policies or setting up the Datadog lambda forwarder).

I was wond

[2020-04-28 19:59] rochdev commented on #934
The way the Lambda forwarder works is that the tracer logs the traces to CloudWatch instead of sending them to the agent with HTTP, and then the forwarder is able to read that asynchronously and send it to Datadog.

I don't know a lot about Vercel, but if it has a way to stream logs to some kind of function or service, it should be possible to do something similar. Do you know if this is the case?

[2020-04-28 20:07] aecorredor commented on #934
@rochdev that's the thing, from their docs and discussions in their GitHub (https://github.com/zeit/now/discussions/4147) they don't expose anything similar. They basically hide all the AWS details from the user, so setting up a Lambda forwarder is not possible for a Vercel user, since there's not really an AWS account that gets assigned.

I'm thinking that unless they implement something like tha