[2021-12-01 17:18] rochdev commented on #1699
This looks like a load order issue. Is the tracer initialized before any other module is imported? Can you share your initialization code?

Also, did you try adding the hook on `express` instead of `http`? (although if there is a load order issue it's possible the configuration will be ignored)

[2021-12-02 20:38] mweathers opened #1711 "Add trace support for kafkajs sendBatch"
Currently, only `producer.send` is patched. It would be great to also patch `sendBatch` so that we could track producing records to multiple topics.

KafkaJS Documentation: https://kafka.js.org/docs/producing#producing-to-multiple-topics

[2021-12-03 09:34] kbariotis commented on #1057
Hi all, is this issue still active? Are there plans to work on it or is there another solution? Thanks

[2021-12-03 17:34] rochdev commented on #1057
Hey @kbariotis, we still need a complete example with the expected resulting trace so that we can support this properly. Unfortunately we have no Apollo expert on the team and it's unclear how an Apollo instrumentation should behave. If you can provide that information then we should be able to implement something to support it. In the meantime, in theory our `graphql` integration should get you 8

[2021-12-03 19:59] rochdev commented on #1698
@juan-fernandez Looks like there might be a bug in the `jest` plugin?

@clementprevot While this is being fixed, you could disable the `jest` plugin so that you can continue to get traces while avoiding the errors. You would be missing any `jest` span but at least you would get everything else. You can disable the plugin with `tracer.use('jest', false)`.

[2021-12-03 20:02] rochdev commented on #1415
It ended up requiring a breaking change to do this properly, so I'll move it to 2.0. We hope to ship this release by EOY or otherwise start of next quarter.

[2021-12-03 20:23] rochdev commented on #1705
The tracer must be initialized before any other module is imported. In this example, `axios` is imported before `dd-trace` is initialized. Moving the tracer initialization before `axios` should resolve the issue.

[2021-12-05 14:03] kbariotis commented on #1057
thanks @rochdev, we (Grover) will do some investigation next week. Will make sure to report back any useful info we may get. :) 👍

[2021-12-06 09:01] clementprevot commented on #1698
Despite the fact that I disabled the plugin using your above code, I still have the error, am I doing something wrong?

[code]

[2021-12-06 12:52] clsbartek commented on #830
@rochdev Is this issue fixed? I'm using fastify 3.22.0 and dd-trace 1.5.1. My post declaration:
[code]

For post without body the result looks like:
[code]
For post with body scope().active() returns null. TraceId is undefined:
[code]

[2021-12-06 15:29] rochdev commented on #830
@clsbartek It should be fixed but it's possible there are additional cases that were not covered. Can you provide a complete reproduction snippet?

[2021-12-06 15:59] bengl commented on #1269
@codebreach I'll close this since it's been open for a long time with no activity. Please comment if you'd like to keep it open to investigate further.

[2021-12-06 15:59] #1269 closed

[2021-12-06 16:00] rochdev commented on #1698
@clementprevot Both `tracer.init()` and `tracer.use()` should be called before `jest-environment-jsdom` is imported, otherwise it's too late to disable the plugin.

[2021-12-06 16:12] clementprevot commented on #1698
Ah! Good to know! Let me try that.
Thanks a lot for your help!

[2021-12-06 16:17] clementprevot commented on #1698
Well, you solved it. Even without disabling the `jest` plugin, it now works perfectly fine if I `init` the tracer before importing `jest-environment-jsdom`.

Thanks a lot for you help again!

[2021-12-06 16:23] rochdev commented on #1698
@juan-fernandez This would still be worth fixing as we shouldn't cause an error even when the tracer is not initialized at the right time.

[2021-12-07 08:16] clementprevot commented on #1698
@rochdev I have a quick update on this: in my previous comment I said that it was working fine, but it occurs in the end that it's not exactly true. Most of our tests run fine, but some of them fails when running with the tracer (with jest plugin) enabled while they run fine when the tracer is disabled.

I also tried to run with the tracer enabled but the jest plugin disabled, and in this case the

[2021-12-07 10:51] juan-fernandez commented on #1698
hi @clementprevot!

Thanks for reporting this issue.

The first thing to tackle is the initialization order: `require('dd-trace').init()` should always be before requiring your custom environment. In this case:
[code]

This said, the issue seems to be a version mismatch. Could you provide me with the following information:
* Exact version of `jest` you're using.
* Do you have `jest-environment-jsd

[2021-12-07 11:31] clementprevot commented on #1698
Hi @juan-fernandez

Thank you for your answer.

I indeed moved the initialization of the tracer above the requiring of th the JSDOM env. It fixed most of the tests, but some of them are still failing (but not with the same error as the one mentionned in the issue, some "random" errors, different, depending on the test). And disabling the jest plugin fixes all the tests

Here are the information yo

[2021-12-07 13:18] clementprevot commented on #1698
Updating everything to the same version number didn't changed the issue with some of the tests. I still have to disable the jest plugin

[2021-12-07 13:37] juan-fernandez commented on #1698
Thanks for trying that.

A couple of questions:
* Is the error still the same? That is:

* Do the tests failing have anything in common? For example, are they using `this.dom.window`?

[2021-12-07 13:56] clementprevot commented on #1698
Nope the error is not the same as the one mentionned in the first message of this issue.
And it's not the same error for all tests. At first, those error looks like "legit" error of the unit tests (some `cannot access something of undefined`, some Testing library "cannot find element", ...) but they are definitely not due to the test themselves as as soon as I disabled the tracer (or the jest plug

[2021-12-07 14:04] juan-fernandez commented on #1698
thanks! It's definitely a bug on our side. By understanding when it's happening exactly the fix will have a bigger chance of solving this and future issues 😄

[2021-12-07 17:29] jason-yolabs opened #1715 "TimeoutOverflowWarning on profiler agent exporter"
**Describe the bug**

Profiler agent exporter causing timeout overflow warnings.  I believe related to the recent retry logic #1541, noticed around the time we upgraded and pulled that change in.

[code]

**Environment**

* **Operation system:** Linux
* **Node version:** 16.13.0
* **Tracer version:** 1.5.1
* **Agent version:**

[2021-12-07 17:46] rochdev commented on #1715
@Qard Didn't we remove the exponential backoff since it's been causing issues?

[2021-12-09 03:29] Qard commented on #1715
Ah, no, the plan was to fix the issue not remove it. Just forgot to get back to it after Paris and then being sick for so long. 😬

The fix is in #1693 but you wanted a test for it which I didn't have the time or a clear idea how to do yet before I had to leave for Paris. I can pick that up again tomorrow.

[2021-12-09 16:11] BigsonLvrocha opened #1716 "[express] Add hooks for middleware"
There is only hooks for request spans, but not for middlewares
I'd like to have that for middlewares as well

I can implement this with a pull request also

[2021-12-09 16:46] rochdev commented on #1716
What is your use case? I see what you're adding an error in there, are you trying to capture an error from one of your middleware?

[2021-12-09 21:16] rwoll opened #1717 "CI Visibility: Support @playwright/test"
Context: I'm discussing this DD product throughout: https://docs.datadoghq.com/continuous_integration/setup_tests/javascript/

This is a feature request to add first-class support for `@playwright/test` (https://github.com/microsoft/playwright) an amazing Microsoft project for end-to-end browser testing (including its own fabulous test runner).

Currently, DD and Playwright users can use the JUnit

[2021-12-09 21:46] #1685 closed

[2021-12-09 21:46] #1715 closed

[2021-12-09 22:23] rochdev commented on #1717
We definitely welcome contributions! However, since our CI product is at a very early stage, I'm not sure if we accept additional integrations yet, so I'll defer to @juan-fernandez to confirm whether this would be possible at this point in time.

[2021-12-10 01:28] BigsonLvrocha commented on #1716
Yes, the current implementation only uses the fields `name`, `message` and `stack` of the Error object for tagging the span, but I want to have more controle on that by using any extra public fields a custom error might have.

I had a case where message was too generic and a better info on the error was in the field `data` but that was not logged in the trave or in the logs

[2021-12-10 01:39] rochdev commented on #1716
What is the data type of `data`? If we logged additional fields from error objects when available would that work for your use case?

[2021-12-10 06:56] krosen040 opened #1721 "All incoming HTTP requests are assigned the same trace ID"
**Describe the bug**
After upgrading `dd-trace` from `0.32.2` to `1.5.1` we have a problem with an application where all incoming HTTP requests are assigned the same trace ID. It appears to be similar to the problem described in #1239, except we're using `koa@2.11.4`.

<img width="1542" alt="Screen Shot 2021-12-10 at 3 43 27 PM" src="https://user-images.githubusercontent.com/1628218/145529758-60a9

[2021-12-10 11:49] BigsonLvrocha commented on #1716
It's string, if logged fields that are string, yes that would help :)

[2021-12-10 11:50] BigsonLvrocha commented on #1716
but for any fields, there is the problem where it could be anything, even circular references. I don't known how that would be solved

[2021-12-10 15:05] juan-fernandez commented on #1717
hi @rwoll! Sadly we don't have the bandwidth right now to work on new integrations. This said, contributions are more than welcome, as Roch mentioned, and we'll help you out. A good point to start understanding the test instrumentations might be the cucumber plugin, which is one of the simpler ones: https://github.com/DataDog/dd-trace-js/blob/master/packages/datadog-plugin-cucumber/src/index.js.

[2021-12-10 16:48] rochdev commented on #1721
This is indeed very surprising, since we rely on a `async_hooks` to do the tracking which is built into Node, so I would expect this to track things properly. Before trying `sync` were you already configuring the `scope` option or were you using the default? Also, can you try upgrading Node to the latest version? If this is not possible in production, at least just trying in any environment just t

[2021-12-10 17:11] rwoll commented on #1717
Thanks @juan-fernandez! I will try to give it a pass at some point in the next few weeks!

[2021-12-11 01:35] rwoll commented on #1717
@juan-fernandez I noticed Cypress DD plugin (and many of the others), runtime patch Cypress via `module.exports`, but Cypress (like Playwright) supports Custom Reporters ([Cypress Reporters Doc](https://docs.cypress.io/guides/tooling/reporters) and [Playwright Custom Reporters Docs](https://playwright.dev/docs/test-reporters#custom-reporters).

Is the runtime patch (versus a Custom Reporter) used

[2021-12-11 08:41] krosen040 commented on #1721
We were just using the default (which I believe is `async_resource` with the version of Node that we're using).

We'll try to update the version of Node and see if that helps.

[2021-12-13 10:42] juan-fernandez commented on #1717
Hi @rwoll, that's a great question. Normally a runtime patch approach is preferred because you get a much deeper visibility and the full benefits of distributed tracing.

If a report is good enough (say you just want to know if your test passed or failed), we actually support uploading JUnit XML reports: https://docs.datadoghq.com/continuous_integration/setup_tests/junit_upload/#uploading-test-rep

[2021-12-13 20:29] rochdev commented on #1716
That's already handled by the internal tagger which detects circular dependencies. However, for this use case specifically it will probably make more sense to only allow primitives because there are often complex objects like `req` attached to the error object which would be too verbose.

[2021-12-13 20:33] ajwootto commented on #723
I found this issue when trying to figure out how to get APM Error tracking working. I may be missing something, but since the Error Tracking view only shows errors that are attached to root-level spans, it basically never shows any error that occurred during a request, even if that request returned a 500.

When the built-in error handling of express (or in my case, NestJS) catches the uncaught err

[2021-12-13 20:58] rochdev commented on #723
@ajwootto Sounds right. If there is an error object available we could capture that is available and we don't currently capture it's definitely something we should add. Otherwise it has to be done in a hook.

[2021-12-13 21:37] ajwootto commented on #723
I actually am having trouble getting this working even with the above workaround. It seems that something later up in the chain is overriding the error tag to just be "true".

[2021-12-14 16:27] BigsonLvrocha commented on #1716
Yes, the option to allow only primitive is a good one, when it's an object it would be a string placholder

[2021-12-15 06:04] nickperkins commented on #1446
Certainly need support for Yarn PnP. Any idea when this might get on the roadmap?

[2021-12-17 15:14] brainsiq opened #1731 "DNS promise API not instrumented"
**Describe the bug**

The Node.js dns module has a promises API (since v10.6.0), through which calls are not traced. When I investigated the issue it appeared as though the promises API is not instrumented.

https://github.com/DataDog/dd-trace-js/blob/036a23745ea1f22de02d36a6e87f907282721f08/packages/datadog-instrumentations/src/dns.js#L22-L38

I think this piece of code also needs to be wrapping

[2021-12-18 19:03] mkaufmaner opened #1732 "Pino Plugin Support for Typescript/ESM Imports"
**Describe the bug**

Currently, when utilizing typescript with pino and using `default` or `named` imports, the tracer fails to be injected into logs because the `module.exports.pino` and `module.exports.default` are not wrapped.

[code]

Pino added these `module.exports` in version 6.8.0. See the comparison [here](https://github.com/pinojs/pino/compare/v6.7.0...v6.8.0#diff-e6c216f4530aee9459ebef

[2021-12-19 10:53] luokuning commented on #349
I think this information should includes somewhere in the doc.

[2021-12-20 14:57] rochdev commented on #349
We're still working on the functionality which is still in experimental stage, but we'll definitely add it to the doc once it's stable. There are a few known issues right now that can cause problems which we are actively working on. We definitely recommend testing this thoroughly before going to production with the loader, and to contact us if there are any issues.

[2021-12-20 15:00] richard-riverford commented on #349
Great; thanks folks.
________________________________
From: Roch Devost ***@***.***>
Sent: 20 December 2021 14:58
To: DataDog/dd-trace-js ***@***.***>
Cc: Richard Turner ***@***.***>; Comment ***@***.***>
Subject: Re: [DataDog/dd-trace-js] Add support for ES modules (#349)

I think this information should includes somewhere in the doc.

We're still working on the functionality which is still in ex

[2021-12-21 01:29] gaganza commented on #1270
Hello DD team, we are also experiencing issues with tracing requests with a Koa ran service. Unfortunately we do not have the luxury of being able to add the context to the request as a workaround as stated on the previous comment since we are using Strapi (which uses Koa under-the-hood) so I cannot easily mangle the request to add the context.  Here is an example the plain tracer config I am usin

[2021-12-21 14:42] rochdev commented on #1270
@gaganza Is the problem that you can't access the Koa context, or that you can't add any tag at all in the hook?

For the former, you should be able to set the context on the request object with a Strapi [middleware](https://strapi.gitee.io/documentation/3.0.0-alpha.x/advanced/middlewares.html).

For the latter, if the tag is not added it would mean the hook is not running at all. This is always c

[2021-12-27 23:43] benjamine opened #1736 "custom tags for the http plugin"
I would like to apply custom tags to the spans created by the http client plugin( here: https://github.com/DataDog/dd-trace-js/blob/293864ff2ddb0bad3dbf44eed0ee8ce402826304/packages/datadog-plugin-http2/src/client.js#L174-L181 )

Ideally providing a little function that calculate tags to add based no the request parameters (url, method).

For example:
[code]

[2021-12-27 23:54] benjamine commented on #1736
oops, looks like this already exists: https://datadoghq.dev/dd-trace-js/interfaces/plugins.http.html#hooks

[2021-12-27 23:54] #1736 closed

[2021-12-29 04:09] zen0wu opened #1737 "A way to remove DatadogSpanContext from cached promise"
This is 50% a question if there's already a way, but a skim of the code suggests no.

I want to cache a promise object in some in-memory data structure, but because the existence of the async_hooks for APM tracing, the cached promise objects actually retain the DatadogSpanContext which contains a lot of things, like the request objects etc. This is essentially memory leak.

It would be great if th

[2022-01-05 20:10] nicolas-zz commented on #1565
I'm having same issue, no trace sync, no errors, no exits. I've enabled debug and found the payload is too big. the code have a loop with sql and redis queries. I've already tried with protocol 0.5. it doesnt work.
how can I make this work?

[2022-01-06 00:42] lmuench opened #1739 "opentracing dependency is causing uncaught exceptions"
The issue is described here: https://github.com/opentracing/opentracing-javascript/issues/172.

Locking dd-trace's `opentracing` [dependency](https://github.com/DataDog/dd-trace-js/blob/master/package.json#L78) to the previous version `0.14.5` would fix it.

[2022-01-06 01:54] amopportunities commented on #1739
major issue for us. cant deploy anything as the app crashes.

[2022-01-06 02:08] DaedalusX commented on #1739
just broke our production system. I'm having to fork to fix on our own branch to get us back up

[2022-01-06 02:12] amopportunities commented on #1739
the issue has been addressed, opentracing made a patch:
https://github.com/opentracing/opentracing-javascript/issues/172

[2022-01-06 02:27] DaedalusX commented on #1739
even if this is fixed upstream w/ opentracing, I don't see a good reason for something this critical to not have pinned deps

[2022-01-06 02:32] #1739 closed

[2022-01-06 02:49] lukexor commented on #1739
Agreed. My team spent several hours debugging this and trying to work around it with npm overrides tonight. A pinned (or more limited) version would be preferred.

[2022-01-06 20:30] dmattia opened #1740 "Seeing runtime error "storage.getStore(...).addError is not a function""
**Describe the bug**
I bumped up our dd-trace version from `^0.35.0` to `2.0.0-appsec-beta.4`, made some slight adjustments to how we initialize the tracer for the new initialization options, and our server began crashing with this error.

<img width="803" alt="Screen Shot 2022-01-06 at 2 26 13 PM" src="https://user-images.githubusercontent.com/8922077/148447235-b1f55112-f0ea-4b71-a806-75e12860140

[2022-01-06 22:24] bengl commented on #1740
Hi @dmattia.

Thanks for finding this! The fix is #1741 and it will most likely make it into the next 1.x release, pending review.

[2022-01-06 23:03] dmattia commented on #1740
@bengl Wonderful, thank you!

[2022-01-07 02:08] bvandermeersch opened #1742 "Plugin Service names do not work for all plugins anymore"
**Describe the bug**
We recently updated from 0.x to 1.6 of the dd-trace nodejs library. Our api also has graphql in it.
on version 0.x it auto named all graphql stuff as api-graphql and api stuff as api.

Now on 1.x the graphql service if now combined with api under the api serivce.

However api-redis and api-mysql are still named appropriately.

**Environment**

* **Operation system:**
* fargate

[2022-01-07 16:57] #1740 closed

[2022-01-10 17:39] rochdev commented on #1737
This is actually by design, because any continuation from that promise should be in the context of the same trace. However, there are a few mitigations in place to prevent holding too much memory, like removing all tags from the span and all references to other spans within the same trace, so generally speaking it should take very little memory.

Do you have any issues affecting your app because o

[2022-01-10 18:30] rochdev commented on #1742
Closing as it is a duplicate of #1679 with a workaround provided in https://github.com/DataDog/dd-trace-js/issues/1679#issuecomment-966533530.

[2022-01-10 18:30] #1742 closed

[2022-01-10 19:53] rochdev commented on #1565
@nicolas-zz In theory this would only happen if the tracer is larger than 50MB, which should generally not happen, especially with 0.5 that deduplicates strings. Depending on the error you are seeing maybe the logic to flush early is missing some condition. Can you share the exact error you are getting? Also, do you know how many spans are part of the trace?

[2022-01-10 21:01] rochdev commented on #1739
The version wasn't pinned for compatibility reasons as we should be using the same version as any user-defined one for things to work properly. However, we're planning to instead move away from using `opentracing` internally and instead will provide a compatibility layer that will be compatible with all versions, so we won't need to pin a version as we won't even have the dependency anymore.

We'r

[2022-01-10 21:18] rochdev commented on #1721
@krosen040 Were you able to try updating Node, and if yes, did it resolve the issue?

[2022-01-11 06:59] oleg-rdk opened #1747 "Support custom jest environment"
I'm currently trying to set up `dd-trace-js` and e2e tests based on puppeteer.

I'm extending the Puppeteer environment like is shown in the docs of the integration pkg - https://github.com/smooth-code/jest-puppeteer/tree/master#extend-puppeteerenvironment

but the whole thing doesn't work. I tried to debug it and found out that eventually [`handleTestEventWithTrace`](https://github.com/DataDog/dd

[2022-01-11 15:18] jpike88 opened #1748 "Split plugins into their own packages"
Building a nodejs app with esbuild as causing esbuild to get confused by the plugins in dd-trace (e.g. it expects graphql lib to be present even though its just mentioned in a plugin and I don't want to use it).

Would be more appropriate to bundle plugins separately, only include what's needed.

[2022-01-11 16:44] rochdev commented on #1748
It should be enough to tell the bundler that the dependency is external. I don't know how to do this with ESBuild but [this is how](https://webpack.js.org/configuration/externals/#externals) it would be done with Webpack.

Ideally this wouldn't be needed, but we're not ready yet to split dd-trace apart, although it is planned in the future. We do plan however to support ESBuild soon so this might

[2022-01-11 20:38] bengl commented on #709
This issue seems resolved (and is several years old), so I'm closing it. Please feel free to comment or re-open if the need arises, or if you think it wasn't resolved.

[2022-01-11 20:38] #709 closed

[2022-01-11 20:43] bengl commented on #1204
@mnahkies It's been a year, so I'm going to go ahead and close this. Please feel free to comment or re-open if you're still facing this issue.

[2022-01-11 20:43] #1204 closed

[2022-01-11 20:51] bengl commented on #1431
@skimonkey were you able to try on the latest Node.js 16 or Node.js 17, to see if the `async_hooks` fixes help your situation?

[2022-01-11 20:55] bengl commented on #1455
@vinnymac Were you able to reproduce locally with debug logs on?

[2022-01-11 20:57] bengl commented on #1455
@maximeloizeau your solution makes sense. Another approach might be to assign it to a global and check for presence there before initializing. Newer versions of the tracer also set a global for similar reasons.

[2022-01-11 21:03] bengl commented on #1465
Closing this due to inactivity (on that ticket as well). Please feel free to reopen if you're still facing this issue.

[2022-01-11 21:03] #1465 closed

[2022-01-11 21:14] bengl commented on #1705
@beam36 Did this solve the issue for you?

[2022-01-12 00:31] krosen040 commented on #1721
@rochdev We haven't had the time yet, but I hope we'll be able to prioritize it in the near future. I'll make sure to give an update once we've updated.

[2022-01-12 11:03] Meemaw opened #1750 "NextJS page based resource.name"
It would be great if `NextJS` did per page based `resource.name` tagging (or allow customising of it).

We currently have to hack this by overriding it ourselves doing something like this in our middleware:
[code]

This allows us to get a very powerful grouping per resource/page that would look something like this:

<img width="1507" alt="Screenshot 2022-01-12 at 12 02 38" src="https://user-images

[2022-01-12 16:10] rochdev commented on #1750
This should already be the case. Are you looking at `http.request` or `next.request` on the service page? If `next.request` is selected you should see the routes for Next specifically as they don't bubble up to the root span. You can also set it as the primary operation if you're mostly interested in Next metadata.

[2022-01-13 07:09] krosen040 commented on #1721
@rochdev We're still seeing the same behavior after updating to Node `v14.18.2`.

[2022-01-14 15:42] Meemaw commented on #1750
<img width="958" alt="Screenshot 2022-01-14 at 16 41 38" src="https://user-images.githubusercontent.com/8524109/149543026-97b04a6f-0ccb-40b2-8fa6-ecc84aac452b.png">

Seems the `resource.name` for `next.request` is just `GET`, which kinda correlated to this code: https://github.com/DataDog/dd-trace-js/blob/master/packages/datadog-plugin-next/src/index.js#L101

[2022-01-14 16:25] rochdev commented on #1750
This is just the default, and the resource name is later updated according to the page. It's possible it's not working for you case as NextJS has a complex router internally, so it's possible there are cases not handled properly. Can you provide a reproduction snippet that I could try?

[2022-01-14 18:02] nampas commented on #1202
Did this change get wiped out, or is it no longer relevant? We're seeing this warning a lot on version 1.2.1. Seems like the fix @bengl is long gone (at least, I'm not seeing any dd-trace code extending EventEmitter anymore, or calling setMaxListeners() ).

[2022-01-14 18:09] bengl commented on #1202
@nampas the change is gone because config is no longer an EventEmitter. Could you post the stack trace you're seeing, preferably in a new issue?

[2022-01-14 18:19] nampas commented on #1202
Sure, thanks @bengl . Let me do a little more digging on my side before I waste your time more.

[2022-01-14 18:27] nampas opened #1758 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected"
**Describe the bug**

When running tests (jest), I'm seeing a bunch of the following warnings:
[code]

I'm seeing that for close, connect, error and timeout, aka all the events [here](https://github.com/DataDog/dd-trace-js/blob/master/packages/datadog-plugin-net/src/index.js#L96).

Because it kinda seemed to me like the same socket is getting wrapped multiple times, I put a log statement in `wrapT

[2022-01-14 18:28] nampas commented on #1202
Ok, here ya go. https://github.com/DataDog/dd-trace-js/issues/1758. I appreciate the help.

[2022-01-14 18:38] bengl commented on #1758
@nampas Well, that's certainly strange. The good news is it's unrelated to the previous issue. The bad news is the multiple wrapping.

Is it taking multiple code paths to `wrapTcp`? I.e. are all the stack traces the same or different? Be sure to set `Error.stackTraceLimit = Infinity` to make sure you're getting more than just the last 10 lines.

[2022-01-14 19:46] nampas commented on #1758
Looks like the stack trace is the same each time. With infinite stack trace, it looks like this:
[code]

[2022-01-14 19:50] nampas commented on #1758
Actually wait, here's one from a different code path (looks like Jest teardown)
[code]

[2022-01-14 20:01] nampas commented on #1758
Also not sure if it's helpful, but I get the same MaxListenersExceeededWarning when setting `DD_TRACE_DISABLED_PLUGINS=jest` (of course, without the stacktraces that have datadog-plugin-jest in them)

[2022-01-14 21:54] rochdev commented on #1721
Is this something you are able to reproduce with a snippet you could share? For example, if you can extract one of the problematic endpoints and remove your business logic so we can reproduce the issue with a small non-sensitive project it would be a lot easier for us to find the issue.

[2022-01-16 17:45] zen0wu commented on #1737
Did some additional profiling and you seem to be right, it's fairly lightweight. Closing.

[2022-01-16 17:45] #1737 closed

[2022-01-16 17:50] zen0wu opened #1760 "[profiling] Memory diff view"
Not sure if the datadog UI supports this at all, but I think this will be very useful.

Currently, the memory view of the profiling focuses on "the current heap and who allocated them", which is helpful for debugging,
1. who allocated the most memory
2. memory leak over a longer period (more than 3 samples for example).

It corresponds to heap snapshot in the chrome devtools somehow. But it's not

[2022-01-16 18:26] shaicantor opened #1761 "Support opentracing span references of FOLLOWS_FROM or opentelemtry span links"
In the startSpan method, there's an optional spanOptions object which its type is inherited from opentracing.
You can set the references array attribute which can have various causally related spans.

https://github.com/DataDog/dd-trace-js/blob/master/index.d.ts#L18
https://github.com/opentracing/opentracing-javascript/blob/fb897fa9d5fd18eb0bbcff9286d4daa476b6e4f7/src/tracer.ts#L7
https://github.c

[2022-01-17 11:35] dobeerman opened #1763 "Unable to temporary disable specific plugin"
**Describe the bug**

The tracer is initialised at the beginning of the process. With a couple of plugins overrides.

[code]

For some longtime processes we need to disable some of plugins either completely or partially (`aws-sdk` plugin or `dynamodb` only), due to it collects a large amount of data and it leads to a memory leaks. (we use `aws-sdk@2.521.0` version)

So, we do the following:

[code

[2022-01-17 17:59] rochdev commented on #1763
From the snippet above, it looks like the tracer may not be used as intended. Calls to `init` and `use` are intended to be before any other module is loaded in the process, and calls to `trace` are meant to trace an operation at any point while the process is running. The fact that both are called at the same place indicates one of them may not be called at the right time.

For example, I would ex

[2022-01-17 18:19] dobeerman commented on #1763
Hmm... The tracer is initialised at the top of the process. But, it is initialised with the `aws-sdk` plugin enabled.

This is exactly the problem that it is impossible to disable some plugins later in the code. We just need to disable `aws-sdk` for ONLY specific scope which is `handle-job`.

[2022-01-17 18:42] rochdev commented on #1763
Oh ok I misunderstood and thought it was for the entire process. This is not currently possible and is something we are currently working on but is unlikely to land before at least a few months.

However, tracing shouldn't cause any memory leak regardless of the number of spans created as long as the trace finish in a timely manner. Can you provide more details about the specific problem these spa

[2022-01-17 18:50] rochdev commented on #1761
This is not currently supported by our APM so unfortunately this is not something that can work with either dd-trace nor dd-opentelemetry-exporter at the moment. We are however exploring our options to support this in the future, but it's unlikely to happen in the short term.

What is your use case? In a lot of cases this limitation can be worked around with `childOf`.

[2022-01-17 20:23] shaicantor commented on #1761
My use case is the following:
Use opentelemetry node js agent and export to datadog.

OpenTelemetry messaging systems specification has the scenario of "[Batch Receiving](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/messaging.md#batch-receiving)"

Given is a process P, that sends two messages to a queue Q on messaging system MS, a

[2022-01-17 22:34] rochdev commented on #1761
Thanks for the clarification. This is definitely not supported right now, and the way we usually work around this is to have one consumer span per message instead of for the batch when that's possible and if it makes sense to do so, so when messages are handled individually. These spans would then ignore the incoming request and would lose that information instead of losing the information from th

[2022-01-18 07:24] dobeerman commented on #1763
As a part of business logic we have a service that perform a longtime operations on multiple objects. That includes download source file, parsing one and data matching modules. The two last modules perform operations on each single data item that include PutItem, GetItem from DynamoDB, making request to a third-party service for each single data item, UpdateItem in DynamoDB. Amount of data might b

[2022-01-18 21:20] rochdev commented on #1763
Ok, in this case it's definitely a bug. We're supposed to have a maximum number of spans before a flush occurs automatically to avoid this, which doesn't seem to happen for your use case. Assuming this worked properly and traces would be sent in many smaller chunks without significantly affecting memory usage, would it be fine if these spans were sent?

[2022-01-19 08:12] dobeerman commented on #1763
👍 I think it's a good idea if these ranges end up grouped into parent ranges. Or, how would that look in the user interface?

[2022-01-19 15:56] simon-id commented on #1740
@dmattia I have released the fix under the version `2.0.0-appsec-beta.5`. I assume you use AppSec so you can go ahead and update to this version!

[2022-01-19 16:32] rochdev commented on #1763
It would still be a single trace in the UI even if sent in chunks since there would still be a single root operation, just a very large one.

[2022-01-19 16:47] vinnymac commented on #1455
@bengl Unfortunately I haven't had the time to look into this further. The system that experienced this issue is still reporting the problem on datadog APM. However, we are now running on v0.36.1

Would you be interested in setting up a call sometime to see if we could investigate this issue live together?

[2022-01-19 16:50] rochdev commented on #1455
We are currently in the process of trying a completely new route detection system. It's likely that this would fix your issue since it won't be prone to double routing as the current system can be.

@vinnymac We should have a release with that included soon if you want to try it.

[2022-01-19 22:05] vinnymac commented on #1455
@rochdev sounds great, as soon as it is available I’ll give it a try!

[2022-01-25 04:52] uptownhr commented on #1680
I'm also using sqs-consumer and wondering what a patch to the `Consumer.poll` looks like. @ekosz did you by end up patching `sqs-consumer`?

@rochdev by any chance are there samples that I can follow to do this on my end?

[2022-01-26 22:07] bigkraig commented on #1221
@rochdev any news on this?

[2022-01-27 01:43] rochdev commented on #1221
@bigkraig My credibility for a timeline is pretty much non-existant at this point in this thread, but I can at least say that we're actively working on it right now.

[2022-01-27 01:56] rochdev commented on #1455
@vinnymac We don't have an official release yet, but if you want to try the new routing detection logic you can install dd-trace `2.0.0-beta.0`. It's worth noting that it's a major release and includes a few minor breaking changes. While most applications shouldn't be affected, I would still recommend trying this in a non-prod environment first until we have the release notes out.

[2022-01-27 02:44] JustinTRoss commented on #1615
The anticipation is killing me! How did it go @flovilmart ?

[2022-01-27 15:35] flovilmart commented on #1615
@JustinTRoss I haven't had a chance to actually move forward with a new implementation; the monkey patching look very complex given undici's architecture; there are multiple APIs that leverage dispatchers differently, I haven't found any "clean" monkey patching strategy for all APIs (request, client, pipeline etc...)

[2022-01-28 11:28] zekth opened #1789 "[plugins-web]: support traceparent header"
Currently `dd-trace-js` supports `b3` and `datadog` http headers, it would be great to support `traceparent` one. Which is inherited from the w3c rfc: https://www.w3.org/TR/trace-context/#examples-of-http-traceparent-headers

Right now i've started a hacky solution to replace the `express` middleware which kind of look like so:

[code]

The issue i'm currently facing is the `traceparent` header is

[2022-01-28 11:57] robaca commented on #349
When can we expect support for Node >= 16.12.1 where the loader API changed? Trying to add the hook on Node 16.13.1 outputs
[code]
...and the process exits immediately.

[2022-01-28 13:09] jsumners opened #1790 "Hook for Fastify sending wrong request object?"
https://github.com/DataDog/dd-trace-js/blob/cbc0cc8ef92ed5a463563deb990b197faa6f2bb2/packages/datadog-plugin-fastify/src/fastify.js#L158

Why is the hook for the Fastify integration sending the internal raw request to the hook callbacks? I think it would make more sense to send the Fastify objects. By not doing so, all request decorations are lost.

[2022-01-28 16:39] #1732 closed

[2022-01-28 19:26] rochdev commented on #349
@robaca I believe that was fixed a little while ago, maybe it was just not released. We're releasing 2.0 soon which will include everything on master, so I'd say to try that version when it lands (should be later today).

[2022-01-28 19:30] rochdev commented on #1790
That's definitely a valid point. The idea was to make the different Web frameworks consistent, but that shouldn't be at the cost of losing information. We're in the process of releasing 2.0 so unfortunately this change won't be able to go in that release, and since it's a breaking change it needs to go in a major so it will be in 3.0 which will likely occur shortly after Node 18 is out. In the mea

[2022-01-28 20:03] jsumners commented on #1790
The purpose of Fastify's decoration system is to avoid changing the shape of the objects and incurring a deoptimization penalty. So mutating the `raw` property would directly violate this.

Given that the change to fix this is the reordering of `||` selections on two lines, I'm not clear how this wouldn't be able to make it into 2.0.

[2022-01-28 20:53] rochdev commented on #1516
Official support for 7.x has now been released (we were missing support for the new exports added in 6.8.0).

[2022-01-28 20:53] #1516 closed

[2022-01-28 23:43] Grmiade opened #1797 "[MongoDB] getMore commands seem to be duplicated with MongoDB 4.x"
**Describe the bug**

`getMore` commands seem to be duplicated with MongoDB 4.x but not with MongoDB 3.x.

<img width="445" alt="Capture d’écran 2022-01-29 à 00 32 24" src="https://user-images.githubusercontent.com/11244106/151635727-da617245-b048-48c1-820a-9b198f84c4a4.png">

<details>
  <summary>Logs with MongoDB 4.x</summary>

[code]
</details>

<details>
  <summary>Logs with MongoDB 3.x</sum

[2022-01-31 16:00] robaca commented on #349
Hi @rochdev it seems that the immediate exit of our service has nothing to do with the deprecation warning. It's also happening with the older Node 16.11.0 as soon as we add the loader argument - difficult to troubleshoot.

[2022-01-31 16:59] rochdev commented on #1455
We have now officially released 2.0 which should fix this issue. Please feel free to re-open if this is still happening with the latest version.

[2022-01-31 16:59] #1455 closed

[2022-01-31 17:49] Axxiss commented on #1501
For the record, I went with the second option. Configuring the block in the HTTP layer did the trick.

[2022-01-31 18:03] rochdev commented on #1789
Exposing an API to provide a custom propagator is definitely a good idea and something we should eventually add to the library. However, since W3C Trace Context is an official standard we should definitely have built-in support for that as well.

We definitely welcome community contributions. We use 64-bit trace IDs internally and not 128-bit like the standard does, but the specification has guide

[2022-01-31 18:46] zekth commented on #1789
Is the plan of supporting `traceparent` headers in one PR and exposing the custom propagator in another looks like a good plan for you?

I'll be able to start working on this in a few days.

[2022-01-31 20:52] rochdev commented on #1789
Definitely!

[2022-02-01 08:30] jamiehodge opened #1800 "Removal of config options"
Can someone please explain the rationale behind removing the enabled and debug options in favour of environment variables? We try to avoid using vars to configure packages as they can have unintended knock-on effects and are uncontrolled/untyped. Unless there is a technical motivation for the change, we'd very much appreciate their return.

[2022-02-01 17:55] jsumners opened #1803 "Error instrumenting `q` module"
**Describe the bug**

I'm seeing the following error with modules:

+ twilio@3.71.3 => q@2.0.3
+ dd-trace@2.0.0

[code]

This error did not occur with `dd-trace@1.6.0`.

**Environment**

* **Operation system:** Debian Buster
* **Node version:** 14
* **Tracer version:** 2.0.0
* **Agent version:**

[2022-02-01 18:03] rochdev commented on #1415
Fixed by #1802. It didn't make it into 2.0 but will be in the next release.

[2022-02-01 18:03] #1415 closed

[2022-02-01 22:16] bengl commented on #1797
Thanks for reporting this, @Grmiade. As far as I can tell, nothing in the code ought to cause two spans to happen. Is it possible that the new library is just producing more queries? If not, is there any way you can whittle this down into a reproduction case?

[2022-02-01 22:20] bengl commented on #1758
@nampas I can't seem to be able to reproduce this locally. Is there any way you could provide a reproduction case?

[2022-02-02 00:03] Grmiade commented on #1797
@bengl I checked on my side and I found the `command` instrumentation should be enough to instrument the `getMore` operation, since MongoDB calls the `command` method into the `getMore` method. As you can see [here](https://github.com/mongodb/node-mongodb-native/blob/main/src/cmap/connection.ts#L583).

The instrumentation of the `command` AND `getMore` methods is probably the reason why we obtain

[2022-02-02 16:42] #1803 closed

[2022-02-02 16:44] jsumners commented on #1803
👍

[2022-02-02 16:52] jfirebaugh opened #1808 "source-map-resolve is deprecated"
Installing the dd-trace npm package prints the following:

[code]

This is due to the dependency [here](https://github.com/DataDog/dd-trace-js/blob/1e491665c85ccd3d62d4e82e411f82a950aacdf2/package.json#L88). I'm not familiar with how dd-trace-js uses this module, but is is possible to find a replacement?

[2022-02-02 16:55] rochdev commented on #1808
Source map support is actually used by the profiler. We are currently switching to the built-in source map support from `pprof`, not sure if it has the same issue but it doesn't look like it.

cc @Qard

[2022-02-02 22:20] rochdev commented on #1680
@uptownhr Not a sample per se, but from a quick look at the library it looks like `handleMessage` is very similar to kafkajs [eachMessage](https://github.com/DataDog/dd-trace-js/blob/63dca718ba6a52de8588830ceade7e29e558bb09/packages/datadog-plugin-kafkajs/src/index.js#L62-L80) so the code would probably be almost identical other than the tags.

[2022-02-02 22:48] Qard commented on #1808
Yeah, that will be going away soon.

[2022-02-04 03:49] askkaz commented on #934
This issue is a bit stale, but I'm running into the same issue. We are using the Datadog log drain for our Next.js app in Vercel, but unable to set up APM. The APM Vercel Integration is listed as being "in development". Is there a timeline or a workaround for setting it up?

[2022-02-04 14:40] kefranabg opened #1814 "APM tracer memory issue"
**Describe the bug**
Hello,

We tried to setup DD tracer in our API and here is what happened:

![Screenshot 2022-02-04 at 15 14 09](https://user-images.githubusercontent.com/9840435/152544859-b116cef4-e3ea-4fa3-9769-c3f2ba611537.png)

Our Memory utilisation progressively increased until our app crashes.

When we rollback the APM setup, memory utilization goes back to normal.

Here is our DD APM c

[2022-02-04 14:48] bengl commented on #1814
@kefranabg Thanks for reporting this! I have two questions:

1. Do you have any heap snapshots that may indicate which objects are being held?
2. Do you know if this also happens on the v1.x of `dd-trace`?

[2022-02-07 08:40] kefranabg commented on #1814
Hi @bengl,

1. No I don't have any head snapshot to provide unfortunately
2. No that was the first time we setup dd-trace, so we started with the 2.0

[2022-02-07 12:43] jamiehodge commented on #1800
Thank you for taking the time to explain this. Your points are well-taken. I generally dislike packages changing behaviour based on environment variables because they, to a certain extent, circumvent the consuming code. That said, I can see that the tracer is special and it's not a coincidence that it ended up as an agent in Java. We would love to see the load order issue go away, especially consi

[2022-02-07 17:48] rochdev commented on #1814
@kefranabg Is a heap snapshot something you could capture in one of your environments? Otherwise, a heap profile could also be helpful. If you have Datadog profiling enabled, we could look into your account to find the heap profiles directly.

That said, for this type of issue it would be best to open a [support](https://www.datadoghq.com/support/) ticket so that we can look into your account dire

[2022-02-07 18:25] rochdev commented on #1501
@shantanu1227 We've slightly changed how the tracer is loaded which could cause that workaround to stop working in some cases. However, assuming that the first point has been addressed and if you are 100% sure that dd-trace is initialized before anything else is imported, then `tracer.use('express', { ... })` should work.

[2022-02-08 04:14] OZhurbenko opened #1823 "2.1.0 - Context creation failed: Cannot read property 'requestInject' of undefined""
**Describe the bug**
Started getting this error today after pulling the latest release:

[code]

Looks like there used to be a null check [HERE](https://github.com/DataDog/dd-trace-js/commit/51f7ddb3a5afcfd056e4d3f84e0cf49ea7638f8e#diff-ccafd385f71a839fbbb84973c703d4cdf62229978b57860d625dcebeccb6ff97L81-R83) and now it's gone 🤷‍♂️

* **Operation system:**
Ubuntu
* **Node version:**
14.x
* **Tracer

[2022-02-08 05:17] astuyve commented on #1823
Thanks for the report @OZhurbenko - we should have a fix out for it shortly.

[2022-02-08 05:29] shantanu1227 commented on #1501
@rochdev I tried using this `tracer.use('express', { blocklist: ['/api/health'] })`  as well, but no luck.
I get `manual {  drop 1 }` as an extra tag in datadog, which I don't see in other request paths.

[2022-02-08 08:56] kefranabg commented on #1814
Done, here is the ticket ID: 663074.

Just so you know, I just tried with the version v1.7 of dd-trace, and the memory consumption issue is gone.

[2022-02-08 16:10] rochdev commented on #1501
Sounds like it could be a bug. The `manual.drop` tag should never appear in the UI since adding this tag should result in the trace being dropped. I'll have to look into that.

[2022-02-08 16:10] #1823 closed

[2022-02-08 16:54] mkaufmaner opened #1828 "TypeScript removed TracerOptions `enabled` and `debug`"
**Describe the bug**
In the typescript script definitions of v2 the `enabled` and `debug` properties are still defined. However, according to the [migration guide](https://github.com/DataDog/dd-trace-js/blob/master/MIGRATING.md#10-to-20), they have been removed. In this case, they should be removed from the typescript script definition entirely.

If I may make a recommendation in terms of process,

[2022-02-08 17:58] bcomnes commented on #1808
It doesn't even seem like its being used anywhere in the code. Is it some kind of peer dependency?

[2022-02-08 18:12] ratrock opened #1829 "Add `appsec?: boolean` to TracerOptions interface"
**Describe the bug**
Initializing appsec in TypeScript with `tracer.init({ appsec: true });` according to the [instructions](https://docs.datadoghq.com/security_platform/application_security/getting_started/nodejs/?tab=intypescriptcode) produces a TypeScript error:
`Argument of type '{ appsec: boolean; }' is not assignable to parameter of type 'TracerOptions'.`

**Environment**

* **Operation syst

[2022-02-09 14:14] simon-id commented on #1829
@rochdev I'm guessing I have to update this file accordingly ? https://github.com/DataDog/dd-trace-js/blob/master/index.d.ts

[2022-02-09 15:37] rochdev commented on #1800
This will be possible in the future for configuring most options, but not for enabling/disable features because of the reasons mentioned above. So for this use case I think your approach makes the most sense, at least with the current API.

What is generally your use case for toggling tracing or the debug mode? If there was an API to start/stop the tracer for example, would that work for you? This

[2022-02-09 15:47] rochdev commented on #1829
@simon-id Yes that's the one, with a corresponding test in `docs/test.ts`.

[2022-02-09 16:35] danopia opened #1830 "Winston regression in 2.0.1. 'ownKeys' on proxy: trap returned duplicate entries"
**Describe the bug**

After upgrading to `dd-trace@2.0.1`, programs started crashing on their first log calls with this stack trace:

[code]

Cause: I found that the application code was manually injecting a `dd` attribute onto its logs, perhaps predating automatic Winston injection.
It looks like the changes in #1801 are not taking this nicely. The `Proxy` has an `ownKeys` that always prepends `d

[2022-02-10 04:40] tcarrio opened #1834 "Discussion: OpenTracing deprecated"
**Describe the bug**

The [OpenTracing project has been archived by the CNCF][opentracing-archived], and the `opentracing` npm module which is a primary dependency for the functionality of this project [has been deprecated][opentracing-deprecated]. I don't know what this means for the maintainability of the `dd-trace` project, but I figured a discussion could be opened at least.

The suggested alt

[2022-02-10 05:17] bengl commented on #1834
Hi @tcarrio. Yes, originally, this library was based on OpenTracing, and indeed the `opentracing` module. The major parts of the library we use today are the internal data structure and the public-facing API. That being said, we're in the process of replacing the internal data structure with one that more closely matches [the format sent to the Datadog Agent](https://docs.datadoghq.com/tracing/gui

[2022-02-10 05:34] tcarrio commented on #1834
The fact there are plans to continue support without OpenTracing is good news @bengl. Thank you for the quick reply!

[2022-02-10 13:06] jamiehodge commented on #1800
I'm going to sneak another topic into this issue, namely the service name pattern for plugins. If we are heading towards an increasingly automatic init/usage, I would wish that plugin service names defaulted to the tracer service name. The current distinction between internal and external service plugins feels arbitrary and we are writing boilerplate like this in our services:

[code]

[2022-02-10 15:27] ben-fuller1 commented on #1829
+1

[2022-02-10 15:39] #1830 closed

[2022-02-10 21:15] rochdev commented on #1800
Given the traction this issue is getting, let me provide more background around the issue.

The way that dd-trace works at a high level is by overriding `require` to be able to intercept modules as they are loaded so that they can be patched on the fly. Because of this, the tracer **must** be initialized before any external module is imported so that they go through our hooks when imported, otherw

[2022-02-10 21:16] rochdev commented on #1800
This is unfortunately a product decision and not something we can change just for Node. For what it's worth I personally agree that a service should be represented by a single service name, and I plan to write an RFC about this internally in the next few months. I'll definitely mention your comment in the RFC.

[2022-02-11 14:51] #1829 closed

[2022-02-11 16:16] simon-id commented on #1829
Fixed in version `2.2.0` of `dd-trace`. Please update and report back if you're still having issues 👍

[2022-02-11 16:40] rochdev commented on #1814
@kefranabg Is there any environment you could safely deploy 2.x to? I looked at your account and I can see the memory usage pattern mentioned above, but the profiles expired so I can't look into them. It would be best if I can look into it while the problematic version is running somewhere.

[2022-02-12 05:18] sathishvenkataraman opened #1843 "DD-Trace: Jest throws TypeError: Cannot destructure property 'root' of 'path.parse(...)' as it is undefined."
**Describe the bug**
Bug description
i have a node.js application and using jest for unit testing.. i use the following to use dd-trace lib.. const tracer = require('dd-trace').init();

app works good, however when i try to run unit test via jest, just this init line alone cause the following error:

jest --coverage --verbose

FAIL plugins/tests/Apputils.test.js ● Test suite failed to run

TypeErr

[2022-02-14 10:36] jamiehodge commented on #1800
Thank for this excellent explanation. Out of curiosity, if the loader hook is moved to the CLI with ESM, does that mean that the load order requirement on the user side will go away?

[2022-02-14 18:14] #1828 closed

[2022-02-15 14:08] mhassan1 opened #1847 "Performance Regression in `require` in v2"
**Describe the bug**
We've noticed that our server startup time has slowed from 20 seconds to 100 seconds since we upgraded to `dd-trace@2`. This is true whether or not `tracer.init()` is called, so we believe it could be related to [this change](https://github.com/DataDog/dd-trace-js/pull/1644/files#diff-4385230ff878fca193d8f340227ec177feffbbc2f270322819fddbe0c21cc7d0R37).

To reproduce:
[code]

[2022-02-16 10:35] beam36 commented on #1705
Yes, thanks.

[2022-02-16 14:27] reginsmol opened #1851 "MongoDB plugin causes RangeError Maximum call stack exceeded"
**Describe the bug**
This happens when writing new documents to the database.

[code]

**Environment**
Kubernetes v1.21.5
**Operation system:**
Ubuntu
**Node version:**
v16.13.2
**Tracer version:**
v2.2.0
**Agent version:**
v7

[2022-02-16 17:27] bmeck commented on #1843
what version of jest are you using? My guess is something jest is doing to mock node's `path` module might be confusing things.

[2022-02-16 23:22] reginsmol commented on #1851
@bmeck here's a sample object its erroring on. The depth doesn't go any further than what this has.
[code]

[2022-02-17 18:30] gurchik opened #1854 "requiring "dd-trace/ci/jest/env" causes Jest to exit with non-zero exit status"
**Describe the bug**
I'm following the [documentation here](https://docs.datadoghq.com/continuous_integration/setup_tests/javascript/?tab=jest) to instrument my Jest tests. I've added `testEnvironment: '<rootDir>/testEnvironment.js',` to my jest config, and my testEnvironment.js is as follows (from the documentation):

[code]

My tests pass just fine. But if I uncomment the line, the tests still a

[2022-02-17 23:17] xinghul commented on #951
Hello, I'm using `v1.5.1`, and I can only see `graphql.parse` from the resources:
<img width="2359" alt="Screen Shot 2022-02-17 at 3 16 56 PM" src="https://user-images.githubusercontent.com/6555861/154587755-adc7b75b-e7b3-4ce2-9b7b-b7fe386a9c8c.png">

Here's my setup just FYI:
[code]

[2022-02-18 09:29] OKULLO commented on #1808
Having same issue here....How do i make it go away

[2022-02-18 12:21] shpyo opened #1856 "[datadog-shimmer] assertNotClass - condition startsWith - conflict with express-validator package"
**Describe the bug**
We have an express service with uses express-validator package.

Then we define a route with validation e.g.:

[code]

While staring the app we get a following error:

[code]
Turns out that [express-validator](https://github.com/express-validator/express-validator) has own [toString](https://github.com/express-validator/express-validator/blob/7f136ceec156450e7fbf2d63d87313a502

[2022-02-19 17:57] gajus opened #1858 "Express and Fastify cannot work together"
**Describe the bug**

We are running a web service that (on different ports) is service HTTP requests using Express and Fastify.

It appears that `dd-trace` is only picking up express.js requests.

<img width="2056" alt="Screen Shot 2022-02-19 at 6 55 32 PM" src="https://user-images.githubusercontent.com/973543/154812940-6ff30e9a-8628-40b3-bd41-1d815aa345f4.png">

Not clear how to make it see the

[2022-02-19 22:17] gajus opened #1859 "Does not work with Fastify"
**Describe the bug**

Previously thought it is an issue with Express and Fastify being used together (https://github.com/DataDog/dd-trace-js/issues/1858). However, now I have re-written the second service to use Fastify as well and the issue continues.

When dd-trace is enabled:

[code]

Then CPU usage jumps from ~10m to ~1000M

[code]

Related to this issue: https://github.com/DataDog/dd-trace-js

[2022-02-21 20:07] rochdev commented on #1854
@juan-fernandez Do we do anything that could cause an error on process exit or after the test suite is done?

[2022-02-21 20:09] rochdev commented on #951
@xinghul This would usually be caused by the tracer being initialized after other modules like `graphql` have already been imported. Is the snippet you shared the very first thing happening in the application, before any other `require` or `import` statements? Also, is this something you are able to reproduce with code that you can share?

[2022-02-21 20:38] rochdev commented on #1859
@gajus Now that both are written with Fastify, do you now get Fastify traces or are those still missing? Or at the very least is the 1 service that worked with Express still working with Fastify?

Also, for this kind of performance issue, I'd recommend opening a [support ticket](https://www.datadoghq.com/support/) so that we can gather more information about your application.

[2022-02-21 20:39] rochdev commented on #1858
Should this issue be merged with #1859?

[2022-02-22 09:07] robaca commented on #349
We found the root cause of the immediate exit: we had a circular dependency between module files. After fixing that, the server started as expected.
It would be great if the loader could at least render some descriptive error message in such a case.

[2022-02-22 12:17] AlexMetroDigital opened #1863 "Express hook not called when using ES modules"
## Describe the bug
When using esm the express request hook is not getting called. Whereas when using CommonJS the hook gets called as expected.

<details><summary>Minimal example for reproduction</summary>
<p>

`index.ts`
[code]

`tracer.ts`
[code]

`tsconfig.json`
[code]

`package.json`
[code]
</p>
</details>

### Use Case
I want to use the hook to add request specific tags to every request. I a

[2022-02-22 13:45] gajus commented on #1859
yes

yes

done

[2022-02-22 14:09] juan-fernandez commented on #1854
hey @gurchik! Thanks for reporting this issue. I haven't been able to reproduce locally. What we can try next:

1. In addition to `DD_TRACE_DEBUG=true`, could you add `DD_TRACE_LOG_LEVEL=error` to your env vars? We might see something interesting in the logs.
2. Could you share your `jest` configuration? Feel free to remove any field you think should be private.
3. Can you reproduce this issue wit

[2022-02-22 20:08] rochdev commented on #1863
Support for ESM requires using our loader on the CLI instead of `ts-node/esm`. It's also worth noting that it's currently experimental and has known issues with some libraries.

[2022-02-22 20:14] gurchik commented on #1854
Hi @juan-fernandez thanks for looking into this.

I tried with `DD_TRACE_LOG_LEVEL=error` but all that did is hide the debug statements from before. Looks like the default is `debug` so those are not printed with `error`. Still no errors though.

Here is my jest config:

[code]

I can try your branch and will let you know. I wouldn't expect `flush` to cause a problem because the test results _are_

[2022-02-23 10:16] billo-zymantas commented on #1501
Any updates on this ? As we are experiencing this issue with none of previous workarounds working

[2022-02-23 19:59] bengl commented on #1858
Closing this in favour of the other issue.

[2022-02-23 19:59] #1858 closed

[2022-02-23 20:02] bengl commented on #1834
Closing this. Please feel free to re-open if you have further related questions.

[2022-02-23 20:02] #1834 closed

[2022-02-23 20:05] #1808 closed

[2022-02-23 20:06] bengl commented on #1800
It looks like this has been answered so I'll close it. Feel free to comment/reopen if there's more to discuss.

[2022-02-23 20:06] #1800 closed

[2022-02-23 20:10] bengl commented on #1847
I'm working on a solution in https://github.com/DataDog/dd-trace-js/tree/bengl/fix-ritm-recursion, but currently it's breaking large swaths of tests. Once that's resolved we'll be able to do a release soon after.

[2022-02-24 08:26] bzhaotheiconic opened #1867 "Can dd-trace-js used to trace NextJs serverless node function?"
Hi DD team,

Is there a way that we can setup dd-trace for NextJs api other than relying on (aka serverless functions) a custom express server

![Screen Shot 2022-02-24 at 7 20 36 pm](https://user-images.githubusercontent.com/97488935/155485940-650a5851-fd05-4804-b490-5dbdfaced828.png)

I have found a article touching on this topic
https://jake.tl/notes/2021-04-04-nextjs-preload-hack
But I can't b

[2022-02-24 10:07] AlexMetroDigital commented on #1863
Hi, thanks for your feedback! I tried adding the the hook, unfortunately without success. I also switched to plain JavaScript to avoid the need for the ts-node loader altogether.

[2022-02-24 10:57] juan-fernandez commented on #1843
hi @sathishvenkataraman ! Thanks for reporting this issue. I'd like to clarify a couple of things:

1. Are you mocking `path` somewhere in your codebase? This is likely, as @bmeck suggested, because `path.parse` shouldn't return `undefined`.
2. Are you attempting to use CI Visibility (https://docs.datadoghq.com/continuous_integration/setup_tests/javascript/?tab=jest)? Or are you just testing code

[2022-02-24 13:34] lucasfeliciano opened #1868 "Custom tags not being set"
**Describe the bug**
Custom tag is added to the span context but it doesn't appear on datadog.

This is the current solution that I'm using.
I also tried on an express route level to get the active span by `tracer.scope().active()` and the result is the same.

[code]

Debugging this code I can see that the span object has the given tag, the span shows on datadog but without the respective tag.

**

[2022-02-24 22:17] #1851 closed

[2022-02-24 22:36] rochdev commented on #1868
If you enable debug logs (warning, very verbose) do you see the tag make it to the agent? You can enable debug logs with `DD_TRACE_DEBUG=true`.

[2022-02-24 22:44] rochdev commented on #1863
Can you share the new code without TypeScript and with our loader hook? Also, depending on the Node version, the option can be `--experimental-loader` instead of `--loader`, although I doubt this would be the issue since you were already using a loader hook.

[2022-02-24 22:50] rochdev commented on #1867
This depends on what is loading NestJS in the first place. Generally speaking, if you are calling either `node` or `next` directly from the command line, you can use `NODE_OPTIONS='-r dd-trace/init'. If you are deploying your app in some serverless environment that controls the process, most of these have a way to preload code or alter Node environment variables.

Can you share more information ab

[2022-02-24 22:52] dls314 commented on #1280
Is there any chance that this got done and is part of https://github.com/DataDog/serverless-plugin-datadog/releases/tag/v3.7.0 ?

[2022-02-24 22:56] rochdev commented on #1280
@astuyve Was this included in #1776?

[2022-02-24 23:12] astuyve commented on #1280
Hi @rochdev, @dls314 - yes! This is already completed in #1776. It's a bit overcomplicated, but the short answer is yes, that functionality was released in v.3.7.0 of the serverless datadog plugin (for nodejs and python specifically).

[2022-02-24 23:12] dls314 commented on #1280
I'm trying to track down an ultimate cause of https://github.com/DataDog/serverless-plugin-datadog/issues/232

[2022-02-24 23:14] astuyve commented on #1280
Yes, writing you a comment now.

[2022-02-24 23:45] rochdev commented on #1280
Closing this issue as the functionality has been released.

[2022-02-24 23:46] #1280 closed

[2022-02-25 01:58] rochdev commented on #1701
Fastify 4 new exports were not being instrumented but this was fixed in #1833 and released in 2.2.0.

[2022-02-25 01:58] #1701 closed

[2022-02-25 16:55] rochdev commented on #1851
@reginsmol Can you try dd-trace 2.2.1 to make sure it fixes your issue? We weren't able to reproduce exactly what you're seeing so we ended up avoiding recursion and adding a maximum depth which should either resolve or mitigate the issue. It would also be really helpful if you can share the resulting resource name that makes it to the Datadog UI which is a sanitized query. If this cannot be share

[2022-02-25 20:20] pbstriker38 opened #1879 "ioredis instrumentation error on v2.2.1"
[code]

**Environment**

* **Operation system:** OSX
* **Node version:** 14.17.5
* **Tracer version:** 2.2.1
* **Agent version:** none. `DD_TRACE_ENABLED` is set to false locally
* **ioredis version:** 4.27.2

[2022-02-25 20:21] pbstriker38 commented on #1879
v2.2.0 works as expected

[2022-02-25 20:30] rochdev commented on #1879
This shouldn't be possible assuming that context propagation is working properly. Are you using a promise library like Bluebird or Q or are you relying only on native promises?

[2022-02-25 20:31] rochdev commented on #1879
I'm trying to reproduce but I get the expected behaviour and I'm seeing native promises internally. Is this something you're able to reproduce with a snippet you could share?

[2022-02-25 20:51] pbstriker38 commented on #1879
we are not using any promise library

[2022-02-25 20:55] pbstriker38 commented on #1879
I'm seeing this with winston as well
[code]

[2022-02-25 20:56] pbstriker38 commented on #1879
We jumped from dd-trace 1.7.0, so maybe there is some configuration issue ??

[2022-02-25 21:02] rochdev commented on #1879
We are in the process of rewriting all of our plugins with a new plugin system. This is ongoing so not related to a specific version but most of it so far happened since 2.x.

Basically the instrumentation is now decoupled from the plugin and publishes events that plugins subscribe to. We don't check if the store exists in the plugin before accessing it because it's supposed to be safe, assuming t

[2022-02-25 21:09] pbstriker38 commented on #1879
ok. I think I traced it down.

[code]

[2022-02-25 21:09] pbstriker38 commented on #1879
Even if we have DD disabled. Setting the log injection to true causes the errors

[2022-02-25 21:15] rochdev commented on #1879
It looks like the plugin manager is initialized even when dd-trace is disabled, which could definitely cause that. Working on a fix now. In the meantime, it should be possible to skip the plugin manager with `tracer.init({ plugins: false })`.

[2022-02-25 21:19] pbstriker38 commented on #1879
yeah, also Had to comment out `tracer.use("ioredis", { service: "redis-cluster" });`

We can wrap all of our `tracer.use` in a check of `DD_TRACE_ENABLED` for now

[2022-02-27 19:40] mmbfreitas commented on #1879
+ 1

[2022-02-28 09:30] AlexMetroDigital commented on #1863
Sure, I am using node v16.13.2, here is my JS code:
`index.js`
[code]

`tracer.ts`
[code]

`package.json`
[code]

I also tried using `--experimental-loader` to be sure, but without effect.

[2022-02-28 10:29] beam36 commented on #1879
I got a similar error on ECS Fargate and I don't have DD_TRACE_ENABLED set (default should be true)

[code]

[2022-02-28 14:40] lucasfeliciano commented on #1868
I managed to figure out the issue.

I was performing an async operation before setting the tag, so my assumption is that the span was finalized before the operation.

Does hooks accept an async function so I can await my operation?

[2022-02-28 15:54] a88zach commented on #1879
I am seeing the same issue with DD_TRACE_ENABLED not set on version 2.2.1.

`TypeError: Cannot read properties of undefined (reading 'span')`

Using fastify with pino

[2022-02-28 16:26] rochdev commented on #1879
Been looking into this issue and it looks like there are actually 2 bugs:

1) There is a bug in the log injection where it tries to access the span even outside of a tracing context. I'm working on a fix right now and should have a PR soon. This should fix all the errors in this thread except the original one with `ioredis`.

2) For `ioredis`, I don't see how this could happen because for native p

[2022-02-28 17:05] rochdev commented on #1868
The hook itself doesn't accept an async function since it already runs at the end of the async operation. If you need to do something asynchronously, it would have to be done outside the hook so that metadata can be attached to the request or response object, which could then be grabbed in the hook. So basically, whatever needs to be done asynchronously should be done before the hook and not insid

[2022-02-28 17:14] pbstriker38 commented on #1879
I have a couple ways to reproduce it within our app. I'm not sure how to reproduce it outside of the context of our app though.

[code]

[code]

And then I also realized that a comment in our dotenv file was actually making it into the ENV value

[code]
Which resulted in `process.env.DD_TRACE_ENABLED === 'false # Disable DataDog'`

To be clear, these errors are happening during our test suite. Onc

[2022-02-28 17:25] werkshy opened #1882 "Winston Logging Crash in 2.2.1"
**Describe the bug**

We updated to 2.2.1 and our (NestJS/Node/Typescript) app is now dumping a stack trace when logging requests.

[code]

**Environment**

ECS (docker `FROM gcr.io/distroless/nodejs:16`)

* **Operation system:** `FROM gcr.io/distroless/nodejs:16`
* **Node version:** v16
* **Tracer version:** 2.2.1
* **Agent version:**

[2022-02-28 17:26] rochdev commented on #1882
Closing as this is a duplicate of #1879. The fix will be in 2.3.0.

[2022-02-28 17:26] #1882 closed

[2022-02-28 17:29] rochdev commented on #1879
@pbstriker38 Unfortunately I tried just that, and even tried to misuse the libraries and the tracer on purpose, and was unable to reproduce. I wonder if the test suite overrides the global `Promise` as this would definitely cause this sort of weirdness if it replaces it with a custom implementation that doesn't propagate the async context properly. I'll try to explicitly bind the resolve/reject ha

[2022-02-28 20:47] #1879 closed

[2022-02-28 21:21] rochdev commented on #1879
Just released 2.3.0 with log injection fixed and promises explicitly bound to the correct tracing context.

@pbstriker38 Do you still have any issue with 2.3.0?

[2022-02-28 21:57] rochdev commented on #1814
@kefranabg Can you try with the latest version of the tracer? We did a few memory improvements in the last few weeks and hopefully that will solve your issue.

If it doesn't, then do you think you could deploy in some environment where we could look at the profiles?

[2022-03-01 00:48] pbstriker38 commented on #1879
Other then the testdouble.js issue, it's working.

[2022-03-01 00:52] rochdev commented on #1879
@pbstriker38 We're reworking our require hooks right now so it might work better in the future but it's hard to tell as anything that alters `require` or the module system in general is prone to conflicts. If you have a specific problem or can reproduce easily I would recommend opening a new issue so we can look into it and maybe add a test for that framework.

[2022-03-01 16:56] rohit-gohri opened #1888 "MongoDB `withTransaction` retries are recorded as errors"
**Describe the bug**
We are using mongodb's [`withTransaction`](https://mongodb.github.io/node-mongodb-native/3.6/api/ClientSession.html#withTransaction) api to automatically retry writes in case of conflicts and we have a lot of conflicts due to parallel processing of a lot of data.

This api retries the method when an error occurs:

This has led to our APM being filled with these errors like `Mo

[2022-03-01 18:05] rochdev commented on #1888
Unfortunately it's not really possible right now to alter this behaviour. Do you get a lot of these errors for every trace, or just a few and there are a lot of traces? Also, what would you expect to see instead? Should these spans exist but not be marked as errors, or would you expect a span for the whole transaction for example?

I would also recommend opening a [support](https://www.datadoghq.c

[2022-03-01 23:08] rochdev commented on #1843
If it causes issues, even if it's not supposed to happen, should we still handle `path.parse` being undefined? It's better for the functionality to be broken in the tracer than causing possible crashes when the module is mocked for example.

[2022-03-01 23:37] gajus commented on #1859
FYI there is a high correlation between the response size and failure.

A small JSON response handles 100 requests / second (100 bytes) without too much a problem.

A 4KB response starts chocking after 10 requests / second.

[2022-03-02 04:32] rohit-gohri commented on #1888
I get a lot of errors for every trace. In the spans list for the trace there are multiple `findAndModify` queries and all of them except the last one are marked as errors.

Good question. The reason I noticed this is because of [Error Tracking feature]
(https://app.datadoghq.eu/apm/error-tracking), these errors are visible there but not actionable. They are expected to happen even, so I guess this

[2022-03-02 10:52] AlexMetroDigital commented on #1863
Thanks a lot for the workaround! Tried it out also in our actual projects and it seems to work now :)

[2022-03-02 20:26] rochdev commented on #1888
I definitely agree that this should be done in the UI and not in the library, because otherwise we're removing the error completely instead of still sending it but providing the ability to ignore it. Unfortunately this is not possible today however so this is something we'd have to fix at the library level.

You mentioned `withTransaction`. Does that mean that using `findAndModify` without a trans

[2022-03-02 22:57] gajus commented on #1859
After investigating, I've found that the culprit is our logger.

For context, our setup looks as follows:

[code]

The `Logger.adopt` creates a new async context in `preHandler` that ensures that anything that is logged in relation to the request has the assigned `reqId`, even if not using Fastify logger instance.

However, it turns out that Fastify is passing the entire req/res object to the logg

[2022-03-02 22:57] #1859 closed

[2022-03-03 00:43] rochdev commented on #1859
@gajus Did you try updating dd-trace to the latest version? This should have been fixed in the release a few days ago.

[2022-03-03 00:44] rochdev commented on #1859
Basically we were adding a `req._datadog` property that was causing some loggers to have issues, but we have now switched to an internal `WeakMap` instead.

[2022-03-03 01:33] gajus commented on #1859
This indeed would explain the issue. We are already doing Okay based on the latest Roarr modifications, but I will upgrade dd-trace.

[2022-03-03 02:45] rochdev commented on #1847
Just a quick update that we're still working on it. I also updated the above benchmark to call `init()` since we now patch modules on import instead of on init, and while it's still slightly slower than before, it should be much better than the 53 seconds you were seeing. Hopefully it should be in the <15s range.

[2022-03-03 03:19] rohit-gohri commented on #1888
`withTransaction` is provided by the node mongodb driver so the retries are handled there, the source code is [here](https://github.com/mongodb/node-mongodb-native/blob/main/src/sessions.ts#L464-L470).

So, we create a `session` and start the transaction on that session.  And we pass the session to all the queries that we want to be a part of the transaction. The `withTransaction` catches the erro

[2022-03-03 17:22] rochdev commented on #1888
From the above I think we could add a `mongodb.transaction` span that would be the parent of all of these individual operations. Then if any single operation fails it shouldn't appear in the error reporting. The downside of this approach is that these individual spans would no longer be at the top level of the service, so stats wouldn't be calculated for them and they wouldn't appear in the servic

[2022-03-03 17:50] rohit-gohri commented on #1888
That would be pretty great I think, we would also get a high level overview of transactions being done in the service with this.

I'm not sure, the session is created at the DB level so we can't use the collection name.  Each session does have an id, but that is probably not a good resource name.

[2022-03-03 17:54] rochdev commented on #1888
Yes it should be something that can group similar transactions together. The main issue if that we really need something to use as the resource name, otherwise it wouldn't quite make sense to create the span. Is there anything happening maybe during the transaction that could be the resource name?

[2022-03-03 20:56] ekosz opened #1892 "Working in non-nodejs environments"
I was wondering if the DD team is thinking of how `dd-trace-js` may be used in non-nodejs environments. Things like Deno, Cloudflare Workers, etc. It looks like `dd-trace-js` heavily uses `async_hooks` which isn't available on other JS platforms.

Is there a way to use the library to just emit traces + spans, but with manual propagation (i.e. Always explicitly needing to set the parent span)?

Als

[2022-03-03 21:54] rochdev commented on #1892
Right now only Node is supported. Some environments like Deno would be potentially easier to support assuming it's compatible with Node modules, but for environments like Cloudflare Workers it would require explicit support. It's something we're looking into but I don't have a lot of details about that (happening outside of my team).

Unfortunately this is needed to do automatic instrumentation. I

[2022-03-03 22:40] rochdev commented on #1847
Here are the numbers I'm getting so far with the ongoing work:

* Without `dd-trace`: 4.4 seconds
* With `dd-trace@1`: 5.4 seconds
* With `dd-trace@2`: 46 seconds
* With the fix: 5.6 seconds

We have changed a lot of things with how we instrument things which is why it took a bit of time to get this to the finish line, but it's almost done. It depends on another PR that should be merged soon, then

[2022-03-04 05:16] ekosz commented on #1892
@rochdev Thank you so much for the context! If I end up writing my own library (probably something similar to the [Cloudflare Workers Honeycomb lib](https://github.com/cloudflare/workers-honeycomb-logger)), I'll post if here if it's useful for the DD team / wider DD community.

[2022-03-04 05:20] rohit-gohri commented on #1888
We could use the function name that is passed to `withTransaction` but that could be an arrow fn with no name.

Lots of queries/updates to the DB and all are linked using the `session`. A join of all those queries (could get really large)? Then it will change if we add/remove any query from the transaction, kind of making it unique.

[2022-03-04 15:35] rohit-gohri commented on #1888
Is there a way we could do this in userland? (create a parent span)

[2022-03-04 18:31] rochdev commented on #1888
I didn't consider that but it would definitely be an option. You could just wrap `withTransaction` with something like this:

[code]

[2022-03-07 08:30] weijialiu-hiretual commented on #1704
How is the development progress now? I also encountered this problem. In the projects using bull, some logs have traceid and some do not.

[2022-03-08 05:10] josh--newman commented on #1854
Hey there @juan-fernandez and @gurchik. I've been having the same issue and tried to test with the test branch linked above but haven't seen any improvement. Here's my `jest.config.ts` file:

[code]

[2022-03-08 09:32] jakst opened #1898 "Server crash in Next.js with invalid api route URI and dd-trace"
**Describe the bug**

The crash happens under the following circumstances:
* There is a Next.js catch all page route, like `pages/[...catchAll].js`
* The Next.js server is started with dd-trace running, like this `NODE_OPTIONS='--require ./datadog' next start` and `datadog.js` has this content: `require('dd-trace').init()`. This applies to any version of dd-trace between 1.2.0 and the latest 2.3.1

[2022-03-08 12:46] havenchyk opened #1899 "Cannot read property 'split' of undefined"
**Describe the bug**
During running jest tests I got

[code]

**Environment**

* **Operation system:** Ubuntu
* **Node version:** 14.18.2
* **Tracer version:** 2.3.1
* **Agent version:** probably 7.34.0 ([docker](https://console.cloud.google.com/gcr/images/datadoghq/global/agent@sha256:2ef4ef739b3809872bc8bb959b19c0fc665d239cae306c7adec95e63deb4ab3c/details?tab=info))

[2022-03-09 14:53] devinlynch opened #1900 "Making a Axios Request with a httpsAgent Breaks Tracing"
**Describe the bug**
We are seeing an issue where traces will not be sent to the Datadog Agent for endpoints that perform an Axios request while setting "httpsAgent" on the request config.  We have an endpoint which makes an external call through a proxy and this endpoint is not being traced in Datadog.   We are using a library called tunnel (https://www.npmjs.com/package/tunnel) to configure the

[2022-03-09 15:06] juan-fernandez commented on #1899
hey @havenchyk ! Thanks for reporting this. It seems we didn't cover the case were the error stack is missing. This PR should fix this: https://github.com/DataDog/dd-trace-js/pull/1901. In any case, I'd like to know how this can happen so that I can add a unit test to protect ourselves in the future. Can you tell me more about how this error happened? Was it during a failed test? What happened in

[2022-03-09 16:41] havenchyk commented on #1899
@juan-fernandez thanks for the quick response!

1. this fail is flaky, it happens from time to time (maybe it's a flaky test, idk)
2. here is a test

[code]

[2022-03-10 11:17] przbab opened #1904 "Missing method using next.js and NODE_ENV set to anything but production"
The issue wasn't present in version `2.2.0` and lower. It started with `2.2.1` and is still present on `2.3.1`.  When running next.js with `NODE_ENV` set to for example `development` (anything but `production` as far as I can tell) the `ctx.res` parameter of `getServerSideProps` is set to proxy that is missing `ctx.res.end` method.

Here is a small setup I prepared to reproduce the issue:
https://

[2022-03-10 12:53] g-farrow commented on #1761
We have a similar requirement. Specifically trying to link spans together across AWS services, such as DynamoDB or EventBridge. For example:
- Lambda A "producer" writes an event to EventBridge
- Lambda B "consumer" receives event and processes it
[code]

What we want to do is to have a span in the "producer" and a span in the "consumer" linked together as siblings, so that we can see the flow of

[2022-03-10 16:32] simon-id commented on #1814
@youmustfight Do you have AppSec enabled by any chance ? (`DD_APPSEC_ENABLED` or `.init({ appsec: true })`)

[2022-03-11 02:11] josh--newman commented on #1854
I solved this problem for my specific case. I had a complicated React component test that was unintentionally making a network request asynchronously upon rendering. All the tests passed but the node process ultimately failed because the request promise threw an error _after_ the tests finished running.

Debugging was further complicated by the fact that the actual error stack trace was being mask

[2022-03-11 13:34] eldonzo opened #1908 "Logs/traces correlation missing since v2.2.1"
Hi, I recently updated the library from version 2.0.0 to the latest 2.3.1 and I noticed on Datadog that the correlation between logs and traces is missing since the update.

I tried all the previous releases in between and I found it works with 2.2.0 and seems to be broken starting from 2.2.1.

I'm using Bunyan for logging (wrapped inside a custom class, I don't know if could be relevant).

The en

[2022-03-14 14:57] ghost opened #1909 "Add consumer lag metric to kafkajs"
Consumer lag is good to know as it will hint if we need to add more consumers to group or not based on how many messages is consumer behind...

We are using this piece:

[code]

[2022-03-14 16:16] chris-hinds commented on #1899
Hi @juan-fernandez has there been any updates on this? I see that you have a draft PR open with a potential fix.

[2022-03-14 18:51] bengl commented on #1908
@eldonzo The log library instrumentation code was rewritten in 2.2.1, so it's certainly possible that something was introduced there.

I've used this file here to attempt to reproduce:

[code]

Hitting that server with `curl` or a web browser produces logs with the `dd` property and the trace data inside it. like this:

[code]

Do you see the `dd` property in your JSON output? If not, could you pr

[2022-03-14 22:41] chunky-choc opened #1910 "Trace doesn't follow nested Promise chain inside Promise callback"
**Describe the bug**

A trace is not produced with the following code sample:
[code]

I would expect the trace to be generated with an error object contained within.

**Environment**

* **Operation system:**
* Ubuntu 20.04.2
* **Node version:**
* Node v12.22.6
* **Tracer version:**
* dd-trace 2.3.1
* **Agent version:**
* public.ecr.aws/datadog/agent:7 (2efdb068c51a)

[2022-03-15 11:08] eldonzo commented on #1908
@bengl I think I found the issue trying to write a simple reproduction case: I was including bunyan before dd-trace, and that worked nice before 2.2.1, while now it seems it's required for dd-trace to be included before bunyan initialization in order to work.

That's not a problem, I can change the inclusion order, so we can consider this case closed, thanks 🙂

[2022-03-15 11:08] #1908 closed

[2022-03-15 14:31] bengl commented on #1910
@chunky-choc The problem here is that the exception is thrown inside the `then` handler for a promise that is never awaited or returned. This means that from the perspective of the async function passed to `trace`, no exception is propagated. In addition, the promise that _is_ returned is never resolved, because the exception blocks that `then` handler from running at all, and `reject` is never ca

[2022-03-15 22:27] chunky-choc commented on #1910
Thanks for looking at this @bengl.

Unfortunately, refactoring the code to connect the orphaned promise to the caller is not an option in my case - I am at a customer site and plugged in APM with the hope that tracing could provide targeted insights into the **highly legacy** codebase so that an en-masse refactor was not required.

With regards to the code sample, it seems like the tracer's scope

[2022-03-16 06:28] chunky-choc commented on #1910
Apologies, this is my bad.

I just checked the contents of the trace in the first sample and it doesn't actually record an error. I'd opened this on the (incorrect) belief that if the tracer can do A and it can do B, then why not A and B together.

Thanks for looking into it @bengl.

[2022-03-16 06:28] #1910 closed

[2022-03-16 08:13] #1899 closed

[2022-03-16 08:14] chris-hinds commented on #1899
Thanks @juan-fernandez

[2022-03-16 11:03] paambaati commented on #1255
@rochdev Is there guidance on how to get these sourcemaps to Datadog?

For a Node.js app built using TypeScript and compiled using esbuild, we have the `.map` files generated right next to each `.js` files. Is this enough, or is there an additional upload step?

[2022-03-16 14:24] rochdev commented on #1255
@paambaati It depends if you mean for tracing or for profiling.

For tracing, source maps only make sense in the context of errors. We send whatever stack trace is on the error itself, so it needs to be remapped before the tracer grabs it. You can remap the stack trace of all errors with the [--enable-source-maps](https://nodejs.org/docs/latest-v16.x/api/cli.html#--enable-source-maps) flag. This a

[2022-03-16 15:35] chris-hinds opened #1912 "Traces lost connection with logs"
**Describe the bug**
After updating to dd-trace `2.2.1` we noticed that traces in datadog lost their connection with the logs and vice versa.
We were able to reproduce the issue on `2.2.1` but not on `2.1.1` pointing to there being issue with the [2.2.0 release.](https://github.com/DataDog/dd-trace-js/releases/tag/v2.2.0)

**Environment**

* **Operation system:**
* **Node version: 14.18.2**
* **Tr

[2022-03-16 15:55] rochdev commented on #1912
Closing as this is a duplicate of #1908

[2022-03-16 15:55] #1912 closed

[2022-03-16 16:02] juan-fernandez commented on #1854
hey @gurchik! I'm still struggling to reproduce. I can get tests to pass and still have an error code (https://github.com/facebook/jest/issues/9324), but I can't make it depend on the initialisation of `dd-trace`. I have some questions:

* Does this happen only in CI or also locally?
* Is there any way for you to reproduce with a smaller set of tests? If we can identify what those tests are doing

[2022-03-16 16:08] gurchik commented on #1854
Hey @juan-fernandez thanks for continuing to look into this. I'll give those a try and get back soon.

[2022-03-16 16:41] paambaati commented on #1255
@rochdev Thanks for the quick response.

We tried the `--enable-source-maps` flag for error traces, but unfortunately due to https://github.com/nodejs/node/issues/41541, our runtime performance degraded considerably.

Is there another way we can upload sourcemaps for APM error traces?

We do currently have .map.js files emitted next to the source .js files.

[2022-03-16 21:02] rochdev commented on #1255
@paambaati Did you also try [source-map-support](https://github.com/evanw/node-source-map-support)? According to the issue it should be a lot faster and should also work with our tracer.

[2022-03-18 19:49] davidNHK opened #1915 "Keep get "write EPIPE" and "ECONNRESET" after upgrade from 0.30.5 to 2.3.1"
**Describe the bug**

Error stack

[code]

We have ioRedis in our system. and this error is come from ioRedis on `datadog-instrumentations`.

Ant clue on given above error ?

**Environment**

* **Operation system:** Linux
* **Node version:** 14
* **Tracer version:** 2.3.1
* **Agent version:** 7.33.1

[2022-03-21 06:46] chris-hinds commented on #1899
@juan-fernandez when are we likely to see this in an updated package?

[2022-03-21 12:36] jamesmeneghello opened #1916 "ioredis `ETIMEDOUT` during NestJS startup with dd-trace-js >= 2.x"
**Describe the bug**

When dd-trace-js is any version from 2.0 - 2.3.1, initial redis connections will time out - delaying startup of our NestJS server by some 30 seconds. 1.7.0 works perfectly fine.

Sorry, I don't have a lot more context than that - it's a very standard nestjs / bull / ioredis setup.

NestJS startup log:

[code]

Redis debug log:

[code]

**Environment**

* **Operation system:**

[2022-03-21 14:33] juan-fernandez commented on #1899
hey @chris-hinds ! There are a couple of things we want to get merged before releasing, but it should happen during this week. I'll let you know 😄

[2022-03-21 18:41] #1789 closed

[2022-03-21 20:27] nicholeuf opened #1920 "Security Vulnerability for minimist"
**Describe the bug**
There is an open security vulnerability for `minimist` https://www.npmjs.com/advisories/1067259, affecting the latest version.

[2022-03-22 14:47] #1920 closed

[2022-03-22 17:41] alexstrat opened #1923 "Add support for pg-pool in pg instrumentation"
Popular ORM TypeORM uses [_node-pg_'s connection pooling](https://node-postgres.com/features/pooling) with pool a size maximum which can lead to client acquire waiting time. From experience and according to [GH issue](https://github.com/brianc/node-postgres/issues/1222), the pooling is something difficult to tweak properly and in my case, it was a source of bottleneck.

As of today, dd-trace does

[2022-03-23 21:54] dusan-dragon commented on #1847
@rochdev Please this also affects our applications and also developer experience is really terrible, we updated just couple of days ago and it is bad....
Do you have any estimations when this can be fixed?

[2022-03-23 22:07] dusan-dragon commented on #1847
Also just to illustrate how bad this is... For our dev setup it went from 22s -> 10m :(

[2022-03-23 22:11] rochdev commented on #1847
We've just merged #1804 which was the prerequisite for fixing this with the new plugin system in place. I'll take another look tomorrow and report back.

[2022-03-23 23:52] song-william commented on #1047
Is there a way to grab a specific span given something like a `span` id?

I'm trying to achieve the same exact thing, but I had to propagate information all the way up to the `express` response in order to set the span tags with express hooks. Ideally we could set the tags in the resolvers directly.

[2022-03-24 00:42] edeesis commented on #1900
Affects 1.1.2 as well from my testing.

[2022-03-24 14:52] cabrinoob opened #1928 "blocklist with NestJS does not work"
I'am using dd-trace 2.4.0 to instrument a NestJS 8 service in typescript. I'd like to ignore the /api/ping resource of it, and to do this I'am using the blocklist config param but it does not work.

I tried the same on a classic NodeJS service (in javascript)

To reproduce this behavior, you can create a new NestJS project with a simple @Get route on /api/ping that returns "pong" for instance, and

[2022-03-24 23:30] aaestrada opened #1931 "Automatic instrumentation for the @hapi/hapi lifecycle events..."
will be helpfull if the [hapi instrumentation](https://datadoghq.dev/dd-trace-js/interfaces/plugins.hapi.html) allow an option to enable disable the [hapi lifecycle events.](https://hapi.dev/api/?v=20.2.1#request-lifecycle).

And this events can be traced with the hapi instrumentation if needed...

something like:
[code]

So we can see something like:

| DATE                | SERVICE      | RESOUR

[2022-03-25 05:03] dominicfollett opened #1932 "bunyan patching fails with Error: No target object provided."
**Describe the bug**
During loading, an error is returned:

[code]

**Environment**

* **Operation system:**
* * MacOs Monterey & node:14-alpine docker container
* **Node version:**
* * v14.19.0
* **Tracer version:**
* * "^2.4.0"
* **Agent version:**
* * 7

**Index.js**
[code]

**package.json**
[code]

[2022-03-25 09:16] dusan-dragon commented on #1847
@rochdev any update? Any ETA? Trying to evaluate if we really need to downgrade to I guess v1

[2022-03-25 12:41] przbab commented on #1904
I tested my full application with `master` branch version of the library and I can confirm that the problem seems to be solved there.

[2022-03-25 13:40] rochdev commented on #1847
@dusan-dragon Goal would be early next week.

[2022-03-25 16:32] dominicfollett commented on #1932
Hi, thank you so much for looking into this.

I'm not running in a test environment. I tried reproducing it without using `type: 'module'` and that works just fine:

[code]

But as soon as I convert it to a module, like it is in my first comment, then it throws the error when I run `node index.js`. Unfortunately I have to use type 'module' for this project. I'm not sure what else could help in rep

[2022-03-25 16:33] rochdev commented on #1932
Completely missed that in the `package.json`. I'll try again with that option.

[2022-03-25 21:29] #1847 closed

[2022-03-25 21:32] #1898 closed

[2022-03-25 21:41] #1900 closed

[2022-03-26 16:13] rochdev commented on #1916
The error seems to be coming from a bound event emitter from the `net` plugin. We've just merged a new version of that plugin in #1913 that no longer binds the emitter, which should hopefully fix the issue. If it doesn't, at the very least it should clean up the stack trace which will help isolating the issue.

If you don't want to wait for the next release it should be enough to use `DD_TRACE_NET

[2022-03-26 16:14] rochdev commented on #1915
The error seems to be coming from a bound event emitter from the `net` plugin. We've just merged a new version of that plugin in #1913 that no longer binds the emitter, which should hopefully fix the issue. If it doesn't, at the very least it should clean up the stack trace which will help isolating the issue.

If you don't want to wait for the next release it should be enough to use `DD_TRACE_NET

[2022-03-28 00:29] dmattia commented on #1915
Of note, I also saw a number of `ECONNRESET` errors after bumping up to 2.3.1, but setting `DD_TRACE_NET_ENABLED=false` did not solve the issue. I moved back down to `=2.0.0-appsec-beta.5` that we had been using previously, which fixed the issue, but I don't love the fact that we're back on a beta versionl.

[2022-03-28 15:12] rafaelmaeuer opened #1937 "Redis connection timeouts with v2.4.0"
**Describe the bug**

After upgrading to v2.4.0 docker-pods are crashing with redis `Connection timeouts`:
[code]

I reverted back to v2.3.1 but the problem remained. Only after reverting back peer-dependency `datadog/native-appsec` from `0.8.3` to `0.8.1` too, pods are behaving normal again. So the problem might lie there...

**Environment**

* **Operation system:** Docker-Alpine
* **Node version

[2022-03-28 16:58] mhassan1 commented on #1937
@rafaelmaeuer Is this a duplicate of https://github.com/DataDog/dd-trace-js/issues/1916?

[2022-03-29 01:58] shun-yamazaki commented on #1908
@bengl
I've rewritten your reproduce code a bit and the problem has reproduced.(Initializing winston before dd-trace)
Since my application uses winston instead of bunyan, I replaced bunyan in the reproduction code with winston, but the result was the same for bunyan.

[code]

As reported above, the correlation between logs and traces is missing from 2.2.1 to 2.3.1, but it reappeared in 2.4.0.
I lo

[2022-03-29 07:20] mohit61 opened #1943 "graphql plugin of dd-trace consumes lots of cpu"
**Graphql plugin consumes lots of cpu**

 I am using graphql plugin of dd-trace, and on cpu profiling found out that its consuming atleast 10% of cpu, 8.1% of cpu is consumed by the `visit` function of graphql which is being triggered by the plugin, is there any solution to fix this?

* **Operation system: MacOS**
* **Node version: 14.15.1**
* **Tracer version: 1.6.0**

[2022-03-29 08:37] avaly opened #1944 "Express tracing does not add error tags to the service entry span"
**Describe the bug**

I am trying out the [Error Tracking](https://docs.datadoghq.com/tracing/error_tracking/) feature and am running into some unexpected results.

It seems that the `dd-trace` library is not correctly marking the service entry span in an express request with an error which happens deeper in the route stack.

Reproducible with the following code:

[code]

When inspecting the trace

[2022-03-29 12:03] sokki opened #1945 "dd-trace produces errors when testing a React ErrorBoundary with jest"
**Describe the bug**

Example: https://github.com/sokki/dd-trace-error-boundary or http://gitpod.io/#https://github.com/sokki/dd-trace-error-boundary

[ErrorBoundaries](https://reactjs.org/docs/error-boundaries.html) are supposed to catch errors in child components (`yarn test`).
When we add dd-trace (`yarn test:dd`), errors get logged to the console. That is an issue for us since we make our test

[2022-03-29 12:51] sokki opened #1946 "using docblock `@jest-environment jsdom` skips dd-trace"
**Describe the bug**

Example: https://github.com/sokki/dd-trace-jest-environment-docblock or http://gitpod.io/#https://github.com/sokki/dd-trace-jest-environment-docblock

When following the [guide to trace jest tests](https://docs.datadoghq.com/continuous_integration/setup_tests/javascript/?tab=jest#instrument-your-tests), tests that specify an environment via [docblock](https://jestjs.io/docs/c

[2022-03-29 16:41] #1932 closed

[2022-03-29 16:48] rochdev commented on #1944
The main issue in a case like this is that the error is handled by a middleware. An exception would only reach the request if it's not handled at all. For example, in your above code the error is handled by the middleware and then `res.status(500).send()` is called manually. From the request span perspective, the request is an error because of the status code, but it doesn't know about the error o

[2022-03-29 16:50] rochdev commented on #1943
Can you share the profile and the code that has the added overhead? If it's not something you can share publicly, I would recommend opening a [support](https://www.datadoghq.com/support/) ticket.

[2022-03-29 16:54] rochdev commented on #1908
The tracer definitely needs to be initialized before the logger is imported. We're reworking the plugin system right now, and since we don't explicitly support importing instrumented libraries before the tracer, the result is undefined and can change seemingly randomly between versions.

[2022-03-29 18:20] vanstinator commented on #1944
This would be a really great solution.

[2022-03-30 01:53] shun-yamazaki commented on #1908
@rochdev
Thanks. I will consider changing my application.

[2022-03-30 15:40] juan-fernandez commented on #1854
maybe related: https://github.com/DataDog/dd-trace-js/issues/1945

[2022-03-30 15:48] juan-fernandez commented on #1946
that's a great catch. Does this not work if you specify a path to the custom environment including the initialisation of `dd-trace`?

They suggest this in the docs:
[code]

In any case, a documentation section makes sense for sure

[2022-03-30 18:15] rochdev commented on #1847
The fix was released in 2.4.1.

[2022-03-30 18:21] dusan-dragon commented on #993
I think consumer lag for kafka is pretty standard metric. Currently you have plugin for kafkajs but you do not support consumer lag metric

[2022-03-30 19:27] sokki commented on #1946
Yes, that works as well. But it would leak implementation details of the concern 'ci test visibility' into every spec file, which I want to avoid.

Injection via node options seems to work well and also fits better in our setup. As a nice side effect it brings flexibility for dd-trace to plug into any part of jest.

[2022-03-30 21:17] rochdev commented on #1937
We've rewritten the `net` plugin which was involved in the above stack trace. Can you try with 2.4.1?

[2022-03-30 21:18] rochdev commented on #1916
We've now rewritten the `net` plugin which was involved in the above stack trace. Can you try with 2.4.1?

[2022-03-31 06:12] juan-fernandez commented on #1946
yeah, agreed. I was just curious about whether it worked. It's definitely not the way to go.

That's great, because we'll most likely update the documentation soon to recommend just this way of instrumenting. We actually mention it in https://github.com/DataDog/dd-trace-js/pull/1948

[2022-03-31 08:34] Grmiade opened #1953 "http plugin mark all `http.request` spans as error"
**Describe the bug**
When our service receives an http response with a 200 status code. The span is marked as an error.
We have this issue since we upgraded to the 2.4.1 version, for all services and each `http.request` spans.

<img width="1050" alt="Screenshot 2022-03-31 at 10 20 19" src="https://user-images.githubusercontent.com/11244106/161010680-dc2f771b-2f94-436c-8b65-5b5a9c4dc336.png">

**En

[2022-03-31 09:10] jakst commented on #1953
We're also seeing this from the v2.4.1 upgrade (we came from v2.2.0)

[2022-03-31 12:31] Grmiade commented on #1797
For information, this issue seems to be resolved since v2.4.0.

[2022-03-31 12:31] #1797 closed

[2022-03-31 18:29] rochdev commented on #1953
We did made a few changes to the `http` integration in that version, but I can't find anything obvious that would cause this and was unable to reproduce this locally. Can you share a reproduction snippet?

[2022-03-31 18:47] iainmcgin commented on #1953
We (Gusto) were just impacted by this too - upgrading from 2.4.0 to 2.4.1 in our graphql gateway service resulted in all outgoing POST requests from our graphql gateway service as errors. After rolling back to 2.4.0, the errors subsided. GET requests were unaffected.

<img width="782" alt="Screen Shot 2022-03-31 at 11 45 19 AM" src="https://user-images.githubusercontent.com/309153/161127502-b29891

[2022-03-31 19:50] iainmcgin commented on #1953
Our graphql gateway is built using apollo-server, and the requests occur within the context of a [RemoteGraphQLDataSource](https://cs.github.com/apollographql/federation/blob/3651a853e3a81b7e2ad2cec8e1bcd1f7a59acb2e/gateway-js/src/datasources/RemoteGraphQLDataSource.ts#L21). I don't think we've customized the fetcher, and it looks like the default implementation uses [make-fetch-happen](https://ww

[2022-03-31 21:17] Grmiade commented on #1953
@rochdev It seems the problem comes from the [instrumentation](https://github.com/DataDog/dd-trace-js/blob/master/packages/datadog-instrumentations/src/http/client.js#L89).
The `close` event is always called during a successful request. So this [line](https://github.com/DataDog/dd-trace-js/blob/master/packages/datadog-plugin-http/src/client.js#L71) will be executed since no third parameter is prov

[2022-04-01 11:45] mb21 commented on #1953
We also have this after upgrading from 2.2.0 to 2.4.1 and we're using node-fetch 2.6.7 on node.js 16.13.

[2022-04-01 12:18] avaly opened #1954 "Traces with errors should not be sample rated"
In order to make the best of the [Error Tracking](https://docs.datadoghq.com/tracing/error_tracking/) feature, we would like to ingest all errors generated by an application.

However, in a production environment where we use a low sample rate (e.g. `DD_TRACE_SAMPLE_RATE=0.05`), only a subset of traces are actually being sent from the agent upstream to Datadog. If we have errors thrown in the subs

[2022-04-01 12:46] przbab commented on #1904
I updated to `2.4.1`, the issue is fixed.

[2022-04-01 12:46] #1904 closed

[2022-04-01 14:59] rochdev commented on #1953
@Grmiade That's definitely it. I'll figure out a test and release a fix as soon as possible.

[2022-04-01 15:36] rochdev commented on #1954
All traces are sent to the agent even if they are marked to be dropped. It's the agent that takes the final decision to keep or drop a span, so I would recommend opening an issue in https://github.com/DataDog/datadog-agent.

I would still leave this issue opened as we're planning to move that logic from the agent to each tracer, so later on we'll need to implement it in dd-trace as well.

[2022-04-01 16:52] ayokota opened #1957 "How does v1.0+ enable analytics for all like below v1.0 does?"
Hello, I am upgrading from v0.19, and the way I initializing the tracer is

tracer.init({
analytics: true, **<---------------------- this**
env: process.env.STAGE,
logInjection: true,
plugins: true,
runtimeMetrics: true,
service: 'service',
});

after upgrading to v2.4 (or anything above 1.0), this option is gone, and no where to be found. How does one enable analytics globally like the way it is

[2022-04-01 17:33] rochdev commented on #1957
This is no longer needed and the same metrics you had before should still work even without the option. What metrics specifically are missing?

[2022-04-01 17:36] ayokota commented on #1957
@rochdev thanks for replying! I wasn't sure what this `analytics: true` do exactly. Sounds like it's safe to interpret it as "new version enables this by default?"

[2022-04-01 17:41] rochdev commented on #1957
Yes, assuming you were only using the global setting on `tracer.init()` then the default behaviour is now that the new equivalent feature is enabled by default.

[2022-04-01 18:01] ayokota commented on #1957
great thank you!!

[2022-04-01 18:01] #1957 closed

[2022-04-01 21:49] dgoffredo opened #1958 "version 2.4.1 throws exception when used with fastcgi module"
See <https://github.com/dgoffredo/dd-trace-js-bug>.

The exception thrown is this:
[code]

[2022-04-03 22:19] fxlemire opened #1961 "amqplib instrumentations is broken on version 2.4"
**Describe the bug**

We have a NestJS application using amqplib. When starting the application in a local setup with Docker, the connection crashes. Here is the stack trace:

[code]

From our observations, the problem is that in the snippet below, `this` becomes `undefined` and the arguments are incorrect, so we lose all the context of the connection.

https://github.com/DataDog/dd-trace-js/blob/

[2022-04-04 05:20] ShukiPesso commented on #1221
@rochdev any news on this?

[2022-04-04 09:50] frytg commented on #1937
Version 2.4.1 seems to be working again (on the system from @rafaelmaeuer's problem above)!

[2022-04-04 13:22] rochdev commented on #1221
We've switched our focus to some other work that will impact aws-sdk v2 so we've put the aws-sdk v3 work on hold for the time being. We do plan to resume that work during this quarter.

[2022-04-04 13:40] #1945 closed

[2022-04-04 14:09] ronald-sz opened #1966 "Plugin for Opensearch"
Hi,

it would be great to have a plugin for Opensearch: https://github.com/opensearch-project/OpenSearch

Is this something which is already planned?

Best,
Ronald

[2022-04-04 14:29] juan-fernandez commented on #1945
@sokki thanks for this! #1965 has just been merged and will soon be released :)

[2022-04-04 15:51] #1937 closed

[2022-04-04 17:27] khanayan123 commented on #1966
No not currently, it's not something we're likely to get to any time soon.

[2022-04-04 17:57] #1961 closed

[2022-04-04 20:25] #1953 closed

[2022-04-04 22:19] jjsimps commented on #1501
I am also experiencing this issue -- and the workaround are not working.

[2022-04-05 06:15] jokalli2 commented on #1814
We can verify this. We updated `dd-trace-js` from 1.6.0 to 2.4.1 and enabled AppSec. The end result was very quickly increasing RAM usage on the instances. The deployment was quickly reverted.

[2022-04-05 06:24] ronald-sz commented on #1966
Thanks for reopening this.

I think support for Opensearch is important as AWS moved from Elasticsearch to Opensearch. Therefore every user of AWS Opensearch Service (formerly Elasticsearch Service) will not be able to benefit from the current dd-trace Elasticsearch plugin.

I also guess, as the Opensearch client is a fork of the Elasticsearch client, it should be relatively easy to create an Open

[2022-04-05 08:08] juan-fernandez commented on #1854
hey @gurchik, could you try out [2.4.2](https://github.com/DataDog/dd-trace-js/releases/tag/v2.4.2)? There has been a change in the way the jest environment is tore down and it might fix your issue.

[2022-04-05 15:10] rochdev commented on #1814
@jokalli2 Did you also try the same version but without AppSec? Were you seeing the same memory increase?

[2022-04-05 16:53] gurchik commented on #1854
@juan-fernandez yes that appears to have fixed it! I tried on 2.2.0 and confirmed it was still not working properly, then I upgraded to 2.4.2 and it works great. Seems to be consistently working. Thank you!

[2022-04-05 17:33] juan-fernandez commented on #1854
that's awesome news! 🎉

I'll close this issue then. Feel free to comment it here if the issue reappears

[2022-04-05 17:33] #1854 closed

[2022-04-06 07:39] juan-fernandez commented on #1843
@sathishvenkataraman I'm closing the issue since it should be fixed with #1973. Let me know if that's not the case though!

[2022-04-06 07:39] #1843 closed

[2022-04-06 07:41] juan-fernandez commented on #1633
hi @shortstacked. Any way you could provide us with the info above?

[2022-04-06 07:48] juan-fernandez commented on #1698
hey @clementprevot! Is there any way for you to try to use the newest release https://github.com/DataDog/dd-trace-js/releases/tag/v2.4.2? We fixed the way the environment is tore down in https://github.com/DataDog/dd-trace-js/pull/1965 and this seems to have fixed issues for a couple of users.

In any case, we're in the process of rewriting the `jest` instrumentation, to simplify it and make this

[2022-04-06 13:01] jokalli2 commented on #1814
@rochdev @simon-id We tried it today. After updating from 1.6.0 to 2.4.2 and not enabling AppSec, the memory usage looks similar than before.

[2022-04-06 19:47] simon-id commented on #1814
Ok thank you very much for confirming it has something to do with AppSec! I have an idea in mind to fix it. It would be amazing if you could try it once it ships.
I'll keep this issue updated.

[2022-04-07 09:00] chklauser commented on #1928
I'm not using NestJS, but express directly and I'm observing the same behavior with versions 2.4.0 and 2.4.2. Neither `blocklist` nor `allowlist` seem to have any effect.

[2022-04-07 12:59] rochdev commented on #1928
Are you getting only metrics or are you also seeing traces for these endpoints?

[2022-04-07 13:14] mklebe opened #1980 "[NextJS] tracing in react component does not work"
**Describe the bug**
*Background*: I am using NextJS with SSR. I observed a high initial server response time. When digging deeper into the APM I found that the for some requests the server side processing, takes a lot of time:
![image](https://user-images.githubusercontent.com/8981536/162191151-83256b91-5057-4c7d-95ef-cc72a7751e65.png)
To dig deeper into it I would love to figure out which compon

[2022-04-07 13:17] rochdev commented on #1980
Are you loading dd-trace in the browser? The `fs` module would only be available in Node and not in the browser (which we don't support).

[2022-04-07 13:18] mklebe commented on #1980
This occurs both, on the server and in the client. Not working in the client is something I absolutely understand, on the server it'd be great to work.

[2022-04-07 13:32] mklebe commented on #1980
`import React from 'react';
import tracer from 'dd-trace';

const Page: React.FunctionComponent = () => {
  tracer.trace('rendered server and client side', () => {
    console.log('Sample code');
  });
  return (<h1>My headline</h1>);
};

export default Page;`

[2022-04-07 13:33] rochdev commented on #1980
How do I run the above? It also doesn't look at all like something that would run on the server as it's a React component.

[2022-04-07 13:47] mklebe commented on #1980
This runs in a NextJS application as a page. And the document the server responds with contains the HTML 'My Headline'. The stack trace I posted, I got from the console I started the server from. So I would assume the code is executed on the server.

It seems to me to have to do something with the react tree. Because a sample code like this runs without error:
`
import tracer from 'dd-trace';
impo

[2022-04-08 11:27] mklebe commented on #1980
Can be closed, this is not caused be Datadog. The react component is rendered both, on server and on the client. But due to code elimination everything not available on the client is left out. The reference to 'fs' is left out as well. This is pointed out in this issue [#vercel/nex](https://github.com/vercel/next.js/issues/7755#issue-464463866).

The webpack config adjustments supressed the error

[2022-04-08 11:27] #1980 closed

[2022-04-08 12:34] stephen-harris opened #1986 "Supporting multiple messages in SQS"
Currently if you have a AWS lambda consumer of an SQS queue, the aws-sdk plug-in uses the [first message](https://github.com/DataDog/dd-trace-js/blob/fe6e1e1394e6d9d3e70e285a11daf587e66f4ee9/packages/datadog-plugin-aws-sdk/src/services/sqs.js#L53) to set the trace ID.

If there are multiple messages in the event, each with their own trace ID, these get ignored and instead they appear under the tra

[2022-04-08 12:58] simon-id commented on #1814
We've merged a couple of memory fixes and we definitely see a huge improvement in Valgrind now.
We'll be releasing this soon so you can try it and hopefully unblock your situation!
Thanks everyone for reporting this and giving us the necessary details to investiguate it, and of course sorry for the inconvenience that it caused 🙇

[2022-04-08 14:26] rochdev commented on #1980
Does that prevent you from using dd-trace on the server side as well? If that's the case then it's definitely something we should address.

[2022-04-08 15:17] aaestrada opened #1988 "@hapi/hapi instrumentation doesn't have any scope active for the server events"
**The server ext methods include the r[equest-lifecycle ](https://hapi.dev/api/?v=20.2.1#request-lifecycle)events and the [server events ](https://hapi.dev/api/?v=20.2.1#-serverextevents)**

### What the bug is?
There isn't any scope activate for the server events... Like `onPreStart` etc..

### how to reproduce?

<img width="1312" alt="Screen Shot 2022-04-08 at 8 13 20" src="https://user-images.g

[2022-04-11 14:58] rochdev commented on #1986
That would be the recommended approach since batches are not supported by auto-instrumentation. However, I would recommend using `tracer.trace()` instead since it will make that easier as it automatically handles errors and finishing the span after the promise is resolved.

[code]

[2022-04-11 20:33] bengl commented on #1916
@jamesmeneghello Does the latest tracer version resolve this for you?

[2022-04-11 20:35] bengl commented on #1915
@davidNHK @dmattia Could you try with v2.4.2 and see if the issue persists?

[2022-04-11 20:44] bengl commented on #1758
@nampas It's possible this was due to an issue we had with `net` event emitters. This is fixed in the latest release, can you try with the latest release and see if that resolves the issue?

[2022-04-12 14:53] dmattia commented on #1915
Things have been working for a few days for me on v2.4.2 👍

[2022-04-13 09:55] chklauser commented on #1928
I'm seeing traces for the blocked endpoints (not just in the agent; they also get exported to datadog itself)

I created [a small reproduction repository](https://github.com/chklauser/repro-dd-trace-js-express-esm) with just `trace-dd 2.4.2` and `express 4.17.3`.

I would expect requests to `/health` be ignored (based on the express plugin blocklist), but they get traced. Even when I set allowlist

[2022-04-13 10:34] fruwe commented on #1916
I am not sure this is related, but I see timeouts and connection resets in all network communications. 45 *MINUTES* after deploy they usually settle. Does not happen with 1.7.1

[2022-04-13 14:39] simon-id commented on #1814
We've released `dd-trace@2.5.0` with the memory fixes. I'll close the issue for now but feel free to try it and give us feedback if needed !

[2022-04-13 19:54] mdbenjam opened #1999 "Tests using the Jest plugin cannot access tracing scope"
**Describe the bug**
When enabling Jest tracing I expect to see connected traces for operation in my test. For example, if the test makes an http request, I expect to see that request as a sub span of the full test span.

However, in the CI tool I only ever see the top level span. Looking in the APM tool I can find relevant http spans from the test, but they're not connected to the span for the fu

[2022-04-13 19:56] mdbenjam commented on #1999
If the above fix seems reasonable, I'm happy to open a pull request for it!

[2022-04-13 21:44] mdbenjam commented on #1999
I added a sample pull request to address this issue. It works locally, but I'm not sure if it's the right fix.

[2022-04-13 22:51] juan-fernandez commented on #1999
hi @mdbenjam ! Thanks for the explanation and possible fix.

Are you using the CI Visibility instrumentation of `jest`? https://docs.datadoghq.com/continuous_integration/setup_tests/javascript/?tab=jest

This should initialise the tracer where it matters: in the environment of the tests. Initializing in a different way might result in what you describe.

[2022-04-14 13:45] mdbenjam commented on #1999
Hi @juan-fernandez , thanks so much for the quick response!

I did follow the instructions on that page but am still seeing the issue. I've made a minimal reproduction [here](https://github.com/mdbenjam/ddtrace-jest-example).

[This test](https://github.com/mdbenjam/ddtrace-jest-example/blob/main/example.test.js#L4) is currently failing and will pass when the current tracing scope is not null. Whi

[2022-04-14 14:46] mdbenjam commented on #1999
Sadly I just realized my "fix" doesn't work when tests are concurrent

[2022-04-14 18:37] juan-fernandez commented on #1999
thanks for the follow up!

So the fact that the tracer is not available in the test context is a bug and it needs fixing: thanks for noticing! Your solution looks promising, I'll have a look and let you know.

I can't reproduce the http requests spans being orphaned though. They seem to be children of the test span in my tests: could you add to your reproduction case the way you do requests? Or ju

[2022-04-14 18:40] bengl commented on #1721
@krosen040 Any chance of getting a small reproduction example as asked by @rochdev ? Also, are you using any userland promise libraries or in-memory queuing libraries? And if so, which versions.

[2022-04-14 18:43] bengl commented on #1699
@tamanjoku Are you still affected by this? If so, we can reopen, but for now I'm going to close it. If you're still affected by it, plz let us know if you can share the spot where this code is loaded, and if you could try adding the hook on `express` instead of `http`.

[2022-04-14 18:43] #1699 closed

[2022-04-14 18:45] bengl commented on #1607
I'm going to close this issue, since it's from September and it has (hopefully) been moved to Datadog support. If not, please open a support issue.

[2022-04-14 18:45] #1607 closed

[2022-04-14 19:21] bengl commented on #1657
@isystem20 I'm going to close this due to inactivity, but feel free to comment/reopen if you're still affected by this issue on the latest version of the tracer.

[2022-04-14 19:21] #1657 closed

[2022-04-14 19:25] bengl commented on #1915
@dmattia great! I'll close this issue then. Please feel free to comment/reopen if it comes up again.

[2022-04-14 19:25] #1915 closed

[2022-04-14 19:27] bengl commented on #1916
@fruwe Does this happen with the latest tracer version? Also, can you open an issue with [support](https://www.datadoghq.com/support) for this?

[2022-04-14 20:56] mdbenjam commented on #1999
Hey @juan-fernandez ,

Sadly I just realized my "fix" doesn't work when tests are concurrent
how is it not working? How are the tests setup?

Sorry that was somewhat vague. We run a bunch of our tests with jests' `test.concurrent` and this seems to break my fix. I made a [branch on my test repo](https://github.com/mdbenjam/ddtrace-jest-example/tree/concurrency-test) to demonstrate this. That repo

[2022-04-14 23:28] juan-fernandez commented on #1999
hey @mdbenjam , thanks for the info and the branches.

So I hadn't actually tested the behavior of the plugin with `test.concurrent`. It seems like it behaves strangely:

https://github.com/facebook/jest/blob/main/packages/jest-circus/src/legacy-code-todo-rewrite/jestAdapterInit.ts#L85-L87

The test function is called "right away", before `handleTestEvent` is called with `event.name == test_start`

[2022-04-14 23:33] juan-fernandez commented on #1999
the same happens with `testRunner: 'jest-jasmine2'`: the test function is called before `Spec.execute` is called: https://github.com/facebook/jest/blob/main/packages/jest-jasmine2/src/jasmine/Spec.ts#L174. It seems `test.concurrent` completely skips the normal lifecycle of a test in `jest`. I'll see if we can do something about this

[2022-04-15 15:23] mdbenjam commented on #1999
@juan-fernandez I'm also new to `test.concurrent`, this codebase is my first time encountering it, and it does look like it's kind of broken :(. Thanks for looking into it!

[2022-04-19 01:19] nampas commented on #1758
Thanks for the update @bengl . We will try the upgrade soon.

[2022-04-20 13:29] juan-fernandez commented on #1999
#2003 (inspired in your PR) should fix this issue for anything other than `test.concurrent`. We'll try to tackle `test.concurrent` at a different PR, if it's at all possible.

[2022-04-20 14:13] mdbenjam commented on #1999
Thanks for the update! The PR looks good. I've closed mine in favor of yours.

As for `test.concurrent` the more I've dug into it, the more I think the underlying issue is really in Jest and it's not clear if anything can be done about it without some pretty significant rewriting of how Jest handles concurrency. I plan to file an issue on their repo, but in the meantime I split our tests into sepa

[2022-04-20 14:56] juan-fernandez commented on #1999
thanks for your update too!

Thanks for sharing this too. I think this is a great idea 👍

[2022-04-21 06:00] krosen040 commented on #1721
@bengl Apologies for the late reply. Unfortunately I don't have a reproduction example (I'm not really a Node.js developer and don't own the application in question, I'm sort of acting as the middle-man here), but I think we might have identified the problem.

The application uses https://github.com/yahoo/dnscache which wraps the `dns` module (that project is archived but our company has an intern

[2022-04-21 06:59] #1999 closed

[2022-04-22 09:11] stephen-harris commented on #1986
Thanks @rochdev - that's a much neater approach. For anyone else who finds this, you will need to parse the string into JSON before passing it to `extract`:

[code]

There are two:

- There's still a gap where the SQS span should be (except for the first message's trace) - which is fine
- The log messages now have the correct trace ID but despite this in DataDog the logs appear under the first mes

[2022-04-22 09:11] #1986 closed

[2022-04-22 11:09] leoncider commented on #1680
very interested in this as well, @rochdev @ekosz any new updates by any chance?

[2022-04-22 19:40] sattarab opened #2006 "MongoDb traces no longer showing after mongodb driver upgrade"
We recently updated our mongodb driver from 3.6.4 to 4.3.1. Now the MongoDb traces are no longer being shown in the Datadog dashboard

**Expected behaviour**
Updating the MongoDb library to 4.3.1 the traces should still work

**Actual behaviour**
Updating the MongoDb library to 4.3.1 the traces have stopped working for MongoDb

**Steps to reproduce**
Set the mongodb library version to 4.3.1 in pac

[2022-04-25 14:14] rochdev commented on #1680
@leoncider Been wanting to work on this for a while but haven't had the time. We're going to try to land support for aws-sdk v3 soon, I'll try to see if I can add support for this as well at the same time.

[2022-04-25 14:17] rochdev commented on #2006
Looking at the [nightly test](https://app.circleci.com/pipelines/github/DataDog/dd-trace-js/6919/workflows/9f1186dd-4c6e-489f-9725-fac6e5080b3b/jobs/864725) it looks like our tests are passing for `4.5.0`. Can you share a reproduction snippet?

[2022-04-25 15:44] rochdev commented on #1501
We're in the process of rewriting the part of the tracer that handles this since it has too many issues. This should happen fairly soon after which this should work properly again.

[2022-04-25 19:33] sattarab commented on #2006
@rochdev we are using the following way in our code in coffeescript
[code]
Note that some of the options are outdated here as we were using version 0.31 of the library prior when mongodb traces was working for us

[2022-04-25 22:08] siuying commented on #1156
I'm new to this library, but I regularly see these messages in my server log. I disabled fs plug-in to remove these errors for now.

[2022-04-26 00:55] rochdev commented on #2006
Can you share runnable code that reproduces the issue? On my end everything works as it should.

[2022-04-27 19:40] nampas opened #2017 "Memory leak/high CPU utiliization in 2.5.0"
Let me preface this issue by saying that I unfortunately don't have much concrete information to provide on the exact issue, and I don't think I'll have time soon to dive much deeper. But I thought it might be best to provide some information, just to get it on your radar.

**Expected behaviour**
dd-trace-js v2 doesn't have any memory leaks

**Actual behaviour**
Apparent memory leak

**Steps to re

[2022-04-27 19:51] nampas commented on #2017
A bit more context on the affected service:
* graphql/node
* fairly high traffic load (~3k req/s during the incident)
* the service is mostly a proxy. It receives graphql queries, and fans out to API services for resolution.

[2022-04-27 20:20] nampas commented on #1758
@bengl btw we tried the version upgrade, but ended up [here](https://github.com/DataDog/dd-trace-js/issues/2017) :(

[2022-04-28 09:01] simon-id commented on #2017
Are you by any chance using the AppSec features ? (ie: `DD_APPSEC_ENABLED=1` or `.init({ appsec: true })`)

[2022-04-28 13:28] nampas commented on #2017
Hi @simon-id , we are not using that feature.

[2022-04-28 16:16] sattarab commented on #2006
@rochdev You can use the following code to reproduce
**app.js**
[code]

**package.json**
[code]

Can run like `node app.js`

**Note** I tried it with Datadog agent 7 as well

Screenshot

<img width="1721" alt="Screen Shot 2022-04-28 at 12 14 47 PM" src="https://user-images.githubusercontent.com/5460756/165797761-651d2a8b-ef01-4598-938e-628face9ada5.png">

[2022-04-29 17:09] bengl commented on #2017
@nampas Would it be possible to narrow it down to specific version?

[2022-05-01 16:43] bsamsom opened #2022 "Add query string as a configurable tag on http.url"
There was previously a version of dd-trace-js that set the query string on the http.url tags, in the pr the removed it https://github.com/DataDog/dd-trace-js/pull/531

It was mentioned that it would be readded as a configurable option in the future, I'd like to get that added if possible, reading through the docs and peaking at the code it looks like it has yet to be re-added as an optional featur

[2022-05-01 16:50] bsamsom commented on #2022
not necessary for the above but it might also be nice to parse the query string into key-value pairs as the Url Parser does on logs.
https://docs.datadoghq.com/logs/log_configuration/processors/?tab=ui#url-parser

[2022-05-03 02:51] sattarab commented on #2006
@rochdev any update on this?

[2022-05-03 16:18] Flydiverny opened #2026 "Bad serialization of DNS address in dns.lookup traces"
**Expected behaviour**
`dns.address` field in traces should be readable.

**Actual behaviour**
`dns.address` field in traces is serialized as [object Objec],[object Object]

![image](https://user-images.githubusercontent.com/326929/166491238-945f6735-c3cd-4628-a7cd-82eebd1de74d.png)

**Steps to reproduce**

I'm guessing that this line here https://github.com/DataDog/dd-trace-js/blob/master/package

[2022-05-03 22:12] rochdev commented on #1928
@chklauser There is a bug right now where there can be conflicts between the `http` and `express` plugins. Does it work if you configure the `blocklist` option on `http` instead of `express`? I tried it locally and it seems to resolve it for me at least with the reproduction you provided.

[2022-05-04 12:19] #1928 closed

[2022-05-04 18:16] rochdev commented on #2006
I've just tried the above code locally and I'm getting traces. Could it be related to the CoffeeScript transpilation? Did you try the above pure JavaScript version as well?

[2022-05-04 19:58] sattarab commented on #2006
@rochdev I did try the above javascript code that I shared with you. The above screenshot is what I got. I am not sure what exactly is wrong? Could you share what you did and the screenshot?

[2022-05-04 20:49] rochdev commented on #2006
The steps I took:

* Create `app.js` and `package.json` with the above code in a new folder.
* Run `yarn install` in the folder.
* Run `DD_TRACE_DEBUG=true node app`

I get this output (there are more spans but this would be the relevant one):

[code]

This is what I see in the UI:

<img width="822" alt="image" src="https://user-images.githubusercontent.com/1596303/166822972-99012a76-739a-4917-978

[2022-05-04 21:34] #2026 closed

[2022-05-05 00:31] frankgreco opened #2036 "Uncatchable Exception: Server is not running."
**Expected behaviour**

[code]

**Actual behaviour**

[code]

**Steps to reproduce**

Let me know if the hints in `expected behavior` aren't enough.

**Environment**

* **Operation system:** M1 Mac
* **Node.js version:** v16.14.0
* **Tracer version:** 2.4.2
* **Agent version:** n/a
* **Relevant library versions:**

[2022-05-05 00:58] rochdev commented on #2036
Running the above script converted to JS doesn't cause any error for me. I tried also initializing the tracer and I get the same result. Can you share a runnable file that reproduces the issue?

[2022-05-05 05:03] apank commented on #2006
@sattarab - I'm having the same issue with mongoose after updating dd-trace.

For me if I use dd-trace 2.2.0 all my mongo traces are logged; but if I upgrade any higher the mongo traces stop being ingested.

[2022-05-05 14:22] serj026 opened #2042 "Http trace contains an error when using keep-alive"
Hi,

I'm using http agent where keepAlive option is set to true. On every POST http request I can see that http trace contains **"error": 1**, however status code is 200 and there are no other exceptions in the code.

Example of my code:
[code]

Trace when keep-alive is enable:
[code]

Trace when keep-alive is disable:
[code]

Additional details:
I found that when the **apm:http:client:request:sta

[2022-05-05 15:23] fxalgrain opened #2043 "Automatic instrumentation of rhea generates TypeError"
**Expected behaviour**
App should not crash due to error in dd-trace instrumentation

**Actual behaviour**
When dd-trace is imported, event if DD_TRACE_ENABLED is set to false, after a delay, our app crash du to
[code]

**Context**

We don't have direct dependency to rhea.
This error appear only in our container that process events from Azure Event Hub
Looking the dependency tree, rhea is used by

[2022-05-06 16:13] wyardley commented on #2017
We'd _not_ been seeing this with 2.5.x or 2.6.x, but seeing what looks to me like a memory leak after upgrading to 2.7.0 in a very obvious / dramatic way (note: we are not using the appsec feature on this app / environment):

<img width="1433" alt="image" src="https://user-images.githubusercontent.com/10714426/167171485-390066d0-64d4-428a-b906-82ab12ccbd7a.png">

A bit less of a smoking gun, but m

[2022-05-06 16:23] nampas commented on #2017
@bengl Yes, I just to find some time. Will keep you updated.

[2022-05-06 16:47] wyardley commented on #2017
@nampas interestingly, for us, 2.5 / 2.6 have been _better_ than some of the earlier 2.x releases. However, 2.7 definitely had a noticeable issue for us. Reverting, and will post another screenshot after some time has elapsed to see the pattern.

[2022-05-06 22:14] wyardley commented on #2017
graph showing memory after reverting (should be obvious where that is happening)

<img width="1423" alt="image" src="https://user-images.githubusercontent.com/10714426/167222819-57129e3c-a262-40ca-92cd-12dc826cb45d.png">

[2022-05-09 14:34] jessgoldq4 opened #2045 "Lambda throws 'Maximum call stack size exceeded' error when using Datadog Lambda Extension"
## Expected Behavior

- Lambda code functions as expected.
- Lambda output logs to datadog as expected.

## Actual Behavior

- ❌ Lambda throws `Maximum call stack size exceeded` error upon invocation.
- ✅ Lambda output logs to datadog as expected.

## Steps to Reproduce the Problem

  1. install v5.0.0 of `serverless-plugin-datadog`
  2. update serverless.yml:

[code]

[code]

3. run sls deploy

#

[2022-05-09 15:42] bengl commented on #2045
Hi @jessgoldq4, thanks for reporting this! Can you try running this with `Error.stackTraceLimit = 100` to capture more of the stack trace? That way, we can see if there's any infinite recursion going on, and what can be done to resolve it.

[2022-05-09 20:44] danielschwartz commented on #2017
We're also seeing what looks to be a memory leak in 2.7.0 (just in case it's helpful to +1 folks mentioning this issue in 2.7.0)

[2022-05-09 21:34] bengl commented on #2017
@wyardley @sam-la-compass @danielschwartz @nampas Thanks everyone for the data on this so far!

We've not been able to reproduce this on our (Datadog) end, so I'm wondering if anyone can provide one or both of the following to help figure this one out:

* Heap snapshots from both the beginning and the end of the process exhibiting the leak. By this, I mean from just after starting the process and

[2022-05-09 22:38] ahernandez2-rbi opened #2046 "ARM64 Lambda failing with Maximum call stack size exceeded when tracing enabled"
**Expected behaviour**
Lambda to work properly after changing the architecture from x86 to arm64

**Actual behaviour**
Lambda fails to execute with "Maximum call stack size exceeded" error.

**Environment**

* **Operation system:** AWS Lambda environment
* **Node.js version:** Node.js 14.x

I'm trying to migrate an AWS Lambda from x86 to arm64 and when the lambda is executed it fails with the foll

[2022-05-10 07:57] Meemaw commented on #2017
Not sure if helpful, but this were our graphs on 2.7.0

<img width="1385" alt="Screenshot 2022-05-09 at 20 50 40" src="https://user-images.githubusercontent.com/8524109/167578336-fc9b6154-2fe7-4346-ba36-ac7ae60bd3f4.png">

[2022-05-10 12:19] fxalgrain opened #2047 "Issue with the fastify instrumentation"
**Expected behaviour**
Importing dd-trace should have no side effect
For exemple, GET /_ready should short

**Actual behaviour**
When importing dd-trace, GET /_ready will not return a response, and client is waiting forever (or will time out)

**Steps to reproduce**

_plugin.ts_
[code]
When I register this plugin via `await fastify.register(httpContextPlugin);`, I get the timeout issue.

**Environ

[2022-05-10 12:31] jinroh opened #2048 "Koa: `koa.request` traces are not visible after upgrading to 2.7.0"
**Expected behaviour**
I would have expected that upgrading from 2.5.0 to 2.7.0 as minor to not have direct impact on our ingested traces.

**Actual behaviour**
After upgrading, the `koa.request` are not visible anymore and `koa.middlewares` traces start showing up.
The changelog does not warn about the changes made on koa by #2033

**Steps to reproduce**
Upgrade from 2.5.0 to 2.7.0

**Environment

[2022-05-10 15:26] vanseverk commented on #827
Hi team, we are having a simlilar issue with **dd-trace** for a large number of Lambda's which are running on NodeJS. They are created using [Yarn 2 ](https://yarnpkg.com/features/pnp) and webpack to a single index.js file. Because of the treeshaking and nature of the Yarn PnP we don't have any node_modules, so using [webpack-node-externals](https://www.npmjs.com/package/webpack-node-externals) is

[2022-05-10 17:41] nickabb commented on #2045
@bengl I am seeing this same issue on a fresh integration via the dd cli.
`datadog-ci lambda instrument -i` -> Follow the prompts, lambda then begins throwing this error.

How can I configure with Error.stackTraceLimit = 100 to get you the information you need?

[2022-05-10 17:43] bengl commented on #2048
@jinroh Hello! Thanks for reporting this.

I've tried the following example with both 2.5.0 and 2.7.0, and in either case, the traces produced have `koa.request` as the top level span in the trace, so I can't reproduce the issue you're seeing.

[code]

Could you provide a small app that reproduces the issue?

[2022-05-10 18:32] jessgoldq4 commented on #2045
Hi @bengl. Here's an updated stack trace

[code]

[2022-05-10 20:06] wyardley commented on #2017
@bengl I understand the asks above, though in practical terms, it's going to be pretty hard for many of us to collect that information in a running production environment (or to be able to provide a narrow repo case). If I'm understanding right, I think we'd have to include the `heapdump` library in the app - do you have examples on collecting the heap snapshot (and, in particular, in a containeri

[2022-05-10 20:22] jinroh commented on #2048
I think I found the culprit. Just add disable the `http` tracing:

[code]

[2022-05-10 20:22] jinroh commented on #2048
I think I found the culprit. Just add disable the `http` tracing:

[code]

[2022-05-10 21:08] bengl commented on #2047
Hi @fxalgrain and thanks for the report! As far as I can tell, this should be fixed by #2049. If you're able to test branches in your setup, feel free to give it a try. Otherwise, it will likely make its way to a release in the next couple of days.

[2022-05-10 21:15] bengl commented on #2048
@jinroh Great, thanks! I'll have a look at this now.

[2022-05-10 21:44] bengl commented on #2048
@jinroh The `koa.request` spans depend on the `http` plugin being enabled. Can you try with the `http` plugin enabled? We'll work on making the documentation and changelog clearer on this.

[2022-05-11 06:08] jinroh commented on #2048
For us it's a breaking change because we had te deactivate http tracing from the beginning[1]. There are many possible solution, but would it be possible to separate HTTP "client request" tracing from "server request" tracing ? It would probably make things clearer also in terms of API too.

--
[1] This is an unrelated issue, but the http tracing does not only instrument, but also modify the heade

[2022-05-11 15:03] svsool opened #2050 "Fastify requests stalled with tracer enabled and async onRequest hook registered"
**Expected behaviour**
Fastify does not get stalled on any request.

**Actual behaviour**
Fastify get stalled with tracer enabled and async hook registered like following:

![image](https://user-images.githubusercontent.com/1452141/167878991-571601d6-e565-4c31-9ae5-461deac49bc4.png)

![image](https://user-images.githubusercontent.com/1452141/167878941-b2b2acd1-463d-4241-813a-ba45bb2ed39d.png)

Per

[2022-05-11 16:02] svsool commented on #2050
seems like a duplicate of [this one](https://github.com/DataDog/dd-trace-js/issues/2047)

[2022-05-11 16:02] #2050 closed

[2022-05-12 00:11] itsAmr opened #2051 "KafkaJS: Consumer not reading headers into current context after upgrading to `2.7.0`"
**Expected behaviour**

After consuming a message with datadog headers, the active tracer scope `tracer.scope().active()?.context()` should be populated with the correct trace information.

On `2.6.0`:

[code]

![Screen Shot 2022-05-11 at 8 02 38 PM](https://user-images.githubusercontent.com/10677996/167966486-6c661a4f-13a4-45b6-a574-1fe6982a400d.png)

**Actual behaviour**

On `2.7.0`:

![Screen S

[2022-05-12 09:25] fxalgrain commented on #2047
HI @bengl

I can confirm you that this PR fix my issue.  Thanks you!

We will wait the next release to update our application

[2022-05-12 09:25] #2047 closed

[2022-05-12 12:05] guspio commented on #2006
Hi!

With version 2.7.0, I have the APM traces of MongoDB again!

Thanks

[2022-05-12 12:54] oleg-rdk commented on #1747
@juan-fernandez thank you for the response!
`dd-trace` is v1.6.0. I also used `jest-circus` runner so that might a reason.

Anyway, I had to proceed with just uploading JUnit report to DataDog since it covered my most critical needs. Thus the issue is not that blocking for me. But also I'm ready to help you to debug it if you are interested in it

[2022-05-12 13:26] rohit-gohri commented on #2017
We are also seeing this on a upgrade from v1.4.0 to v2.7.0 (Node 16). Though one interesting thing is that we have both a GraphQL web server and a Google PubSub subscription server and the memory leak is only visible in the GraphQL service after the upgrade.

<img width="431" alt="image" src="https://user-images.githubusercontent.com/31949290/168085254-da8f46a7-6104-45d0-924f-8ec47427bbc2.png">

[2022-05-12 14:19] sattarab commented on #2006
@guspio doesn't work with `2.7.0` for us

[2022-05-12 15:14] juan-fernandez commented on #1747
hey @oleg-rdk . Thanks for the info 😄

Is it possible for you to share your current `testEnvironment` file? At least the part where `jest-environment-puppeteer` and `dd-trace` are required.

Also, is updating `dd-trace` an option? We have done a major rewrite of the plugins and this might've solved some issues.

[2022-05-12 16:00] Eomm opened #2053 "Fastify does not reply to any http call"
**Expected behaviour**
My Fastify server should works

**Actual behaviour**

The HTTP response is never sent back to the client
No errors
No logs except the Fastify’s incoming request line

**Steps to reproduce**

I was not able to reproduce the error locally.

The actual setup should be like the following:

[code]

**Environment**

* **Operation system:**
Linux (docker image from nodejs-alpine)

[2022-05-12 19:18] bengl commented on #2053
Hi @Eomm! Thanks for reporting!

I was also not able to reproduce locally. However, the error sounds a lot like #2047, which is now fixed on master and the fix should be included in our next patch release (today or tomorrow). If you're able to deploy from master, I'd suggest trying that for now to see if that resolves it for you.

[2022-05-12 19:29] bengl commented on #2048
Yes. You can configure them separately via the `client` and `server` properties of the config for the plugin. You can disable just the client instrumentation if you want (https://datadoghq.dev/dd-trace-js/interfaces/plugins.http.html#client). Alternatively, you can disable propagation, which is what modifies the headers (https://datadoghq.dev/dd-trace-js/interfaces/plugins.http.html#propagationblo

[2022-05-12 20:01] oleg-rdk commented on #1747
here is environment file:
[code]

yeah I just tried it, but after that I stopped seeing logs from `dd-trace` (just a startup one). Probably some config has changed.

[2022-05-12 20:32] bengl commented on #2051
I've tried with your example, adding the `require('kafkajs')` line _after_ initializing the tracer in both the consumer and producer, and everything works correctly for me.

Can you verify that You're doing your `requite('kafkajs')` _after_ doing the `require('dd-trace').init()`?

[2022-05-12 20:47] itsAmr commented on #2051
Hey @bengl you are correct, kafkajs was imported _before_ initializing dd-trace.

Behaviour changed from previous minor version but documentation clearly states

So closing this issue, my mistake. Thanks Bryan!

[2022-05-12 20:47] #2051 closed

[2022-05-12 20:53] bengl commented on #2051
No worries!

[2022-05-12 22:05] jmichel-bc opened #2054 "Hook not altering resource name to include path"
**Expected behaviour**
I am expecting the resource to include the URL path alongside the method, e.g. "POST /login"
**Actual behaviour**
Only seeing all POST requests to the server grouped together, and all of the internal requests beng made to external services are being traced with the method + path

**Steps to reproduce**

I am using a fastify server, and the below tracer config:

[code]

(I ha

[2022-05-13 08:20] jinroh commented on #2048
@bengl Oh sorry I missed that. Thanks for the tip ;)

[2022-05-13 09:19] jinroh commented on #2048
Sorry I closed the issue a bit too quickly. After upgrading and setting deactivating the HTTP client instrumentation, I now receive the `koa.request` traces.

However I have another regression now: all requests are marked with the same resource name with the top level router. I think you should be able to reproduce with this kind of env:

[code]

[2022-05-13 12:50] Drew-Kimberly opened #2056 "dd-trace breaks apps using `AsyncLocalStorage`"
The `2.7.0` release of `dd-trace` breaks apps using `AsyncLocalStorage` (only tested ALS, decent chance this affects other `async_hooks` implementations as well). The async storage loses its context and so `AsyncLocalStorage::getStore()` method returns `undefined`.

**Expected behaviour**
`dd-trace` should not affect existing usage of `AsyncLocalStorage`

**Actual behaviour**
Calling `require('dd-

[2022-05-13 12:52] Drew-Kimberly commented on #2056
@rochdev looks like this PR is likely responsible, as noted by this comment https://github.com/DataDog/dd-trace-js/pull/1995#issuecomment-1123850014

[2022-05-13 14:31] bengl commented on #2054
Hi @jmichel-bc! Usually when this happens, it's because `tracer.init()` was called _after_ `fastify` was required. `tracer.init()` needs to happen _before_ any other `require`s.

By default, our HTTP server instrumentation does not add the path due to high cardinality and since the path may contain sensitive data. When using an instrumented web framework like `fastify`, we can get the parameterize

[2022-05-13 15:05] GabrielF00 commented on #2017
We also saw a memory leak when updating from dd-trace 2.5.0 to 2.7.0
We upgraded from 2.5.0 to 2.7.0 on May 5, and then downgraded on May 12. In the memory utilization graph below, you can see a clear sawtooth pattern in memory use during the time we used dd-trace 2.7.0

<img width="1534" alt="Screen Shot 2022-05-13 at 10 19 14 AM" src="https://user-images.githubusercontent.com/4513762/168304176-a

[2022-05-13 15:33] bengl commented on #2046
This seems to be the same issue as https://github.com/DataDog/dd-trace-js/issues/2045

[2022-05-13 15:56] ahernandez2-rbi commented on #2046
@bengl yes! Same issue. A few notes though:

- The issue you pointed me to uses the package `@vendia/serverless-express`, while we use the `serverless-http`. They both serve the same purpose: take the lambda event payload and transform it to make it look like an nodejs Request object and the same on the way out with the Response. As part of the troubleshooting I switched to `@vendia/serverless-exp

[2022-05-13 15:59] astuyve commented on #2046
Hi @ahernandez2-rbi - `serverless-express` and `serverless-http` share a lot of the same code, including where this trace runs (https://github.com/dougmoscrop/serverless-http/blob/master/lib/response.js and https://github.com/vendia/serverless-express/blob/mainline/src/response.js).

I haven't been able to reproduce this successfully with a minimal project, using either koa or express.
Can you sha

[2022-05-13 16:02] pushchris commented on #2017
Also was encountering this problem. In our case we upgraded from 1.7.0 to 2.7.0 and had memory constantly increasing until instances would run out and restart themselves. Reverting back to 1.7.0 resolved the issue, could be 2.5.0 would work but easier to just roll back the deploy

[2022-05-13 16:15] bengl commented on #2045
Hey folks! We've been unable to reproduce this on our (Datadog) end so far. Can anyone provide a small lambda repo that reproduces this issue?

[2022-05-13 17:28] ahernandez2-rbi commented on #2046
@astuyve I'll see if I can repro in a simple lambda and share. Here are a few things you can try on your lambda:

1. Use larger response payloads. That will probably cause multiple `ServerResponse._writeRaw` calls.
2. Issue #2045 uses Apollo GraphQL, our lambda also uses it. Might be worth giving that a try.

[2022-05-13 18:35] astuyve commented on #2046
Okay thanks @ahernandez2-rbi. I've followed the lambda setup for serverless as per the [apollo docs](https://www.apollographql.com/docs/apollo-server/deployment/lambda), but it's running normally and returning 200ok, and traces are showing up in Datadog:
<img width="1309" alt="Screen Shot 2022-05-13 at 2 32 34 PM" src="https://user-images.githubusercontent.com/1598537/168346029-431459d4-6599-4b33-

[2022-05-13 18:56] bengl commented on #2047
v2.7.1 has been released which includes this fix.

[2022-05-13 19:49] vanstinator commented on #2017
We started seeing this as well after moving from 2.4 to 2.7.

[2022-05-13 22:10] ahernandez2-rbi commented on #2046
@astuyve I see the lambda architecture is x86, can you change it to arm64?

[2022-05-14 19:04] oleg-rdk commented on #1747
ohh :facepalm:
you are right. It's me ~not knowing ES6~ missing simple things. Sorry for disturbing you!
And thank you so much!

[2022-05-14 19:04] #1747 closed

[2022-05-16 13:16] ahernandez2-rbi commented on #2046
@astuyve I was able to create a simple repro:

package.json:

[code]

index.js
[code]

AWS Lambda SAM config:

[code]

[2022-05-16 13:25] astuyve commented on #2046
This is great, thank you! I tried switching my example to ARM and saw no change. Reproducing with your example now, will update as soon as I can.

[2022-05-16 13:56] #2053 closed, assigned to nobody

[2022-05-16 14:31] sam-la-compass commented on #2017
Profile if it helps:

Related DD methods: `createContext`, `DatadogSpan`, etc

<img width="1346" alt="image" src="https://user-images.githubusercontent.com/86626271/168616572-fe827bba-238c-46c2-946c-881df4ce3331.png">

[2022-05-16 14:36] jmichel-bc commented on #2054
Hmmm, I have adjusted the code such that the initialised tracer is the first import; still having the same issue with no paths being appeneded to the resource name using the fastify plguin with the hook above!

[2022-05-16 15:22] rochdev commented on #2054
@jmichel-bc Can you share the import code? It looks from the above snippet that you're using TypeScript, which could be hoisting your imports depending on where you call them. We also provide an example of how to avoid hoisting in our [setup docs](https://docs.datadoghq.com/tracing/setup_overview/setup/nodejs/?tab=containers#typescript-and-bundlers).

[2022-05-16 18:48] vanstinator commented on #2017
I'm seeing similar behavior on node 18, and it sounds like that might be a different issue. I'd like to provide whatever you need to help figure out what's going on

[2022-05-16 18:50] astuyve commented on #2046
Thanks again for this reproduction case. I was able to replicate this issue specifically using SAM and version 77 of the Lambda Layer, but when I manually installed the [layer code](https://github.com/DataDog/dd-lambda-js) and this tracer, I wasn't able to trigger this looping behavior.

That makes this a bit more complex to debug :) I will provide more updates when I'm able to reproduce with a lo

[2022-05-16 20:27] wyardley commented on #2017
just as another datapoint, we are on 14.19.2; also, the node version didn’t change for us, just the dd-trace library version.

[2022-05-16 20:30] jessgoldq4 commented on #2045
[code]

[code]

[2022-05-16 20:32] bmeck commented on #2017
Sending some data off those versions via either public slack (to Bradley Farias [me] or Bryan English) or privately through company tickets would greatly assist, all snapshots so far have been in the range with known leaks from Node core. Please do not post snapshots here and only do so through secure means if they may contain private information.

[2022-05-16 21:06] pguelpa opened #2060 "Ability to filter out Postgres Traces"
In our application we end up with `START TRANSACTION` and `COMMIT` as the two most frequent traces from the Postgres plugin. It would be nice to be able to configure the plugin filter those spans out as they have very high volume and don't provide much value in our app.

[2022-05-17 05:01] apank commented on #2006
np, it's very frustrating - with every release they break more things - there's other integrations that don't get pulled in anymore in the newer versions such as bunyan

[2022-05-17 13:10] rochdev commented on #2006
@apank Can you provide a reproduction? So far every reproduction that was provided was working as expected.

[2022-05-17 15:49] juan-fernandez commented on #1698
hey @clementprevot. Were you able to test this? Additionally, from `>=2.6.0` the `jest` instrumentation was reworked and it should be more stable now.

[2022-05-17 18:35] astuyve commented on #2045
Hi @jessgoldq4 - can you try this again with datadog plugin v5.1.0, and nodejs layer version 78?

[2022-05-17 19:24] ahernandez2-rbi commented on #2046
@astuyve it worked!!! I noticed that the `serverless-datadog-plugin@5.1.0` was released and it includes this new layer version. I think I should be good to go. Is there anything else I should do?

[2022-05-17 19:44] astuyve commented on #2046
Great, thanks! We in `datadog-lambda-js` and `serverless-plugin-datadog` were a bit behind this library (`dd-trace-js`). Upgrading to the latest (2.7.1) fixes this issue.

There shouldn't be anything else on your end, thanks again!

[2022-05-17 19:44] #2046 closed

[2022-05-18 07:44] clementprevot commented on #1698
@juan-fernandez
Sorry about the delay, I had some health issues recently and haven't been often at work.
Sadly, the 2.4.2 release didn't solved my problem and I still had soem tests failing only when the instrumentation was in place.

I'll will try the 2.6.0 version though.

[2022-05-18 08:00] juan-fernandez commented on #1698
oh, that's OK, take your time 😄 and I hope you get better! And thanks for testing this!

[2022-05-18 09:09] clementprevot commented on #1698
OK, I tested with v2.7.0 and I still have some weird behaviour.

Let's take this example:

[code]

Without instrumentation, this test works perfectly fine.
With instrumentation, it fails.

However, still with instrumentation, if I replace `it.each(activeMarkets)` by `it.each([...activeMarkets])` now my test works again.

So I may have a workaround but the issue is that when running test in local c

[2022-05-18 15:59] rochdev commented on #2056
Turns out we don't actually need the new AsyncResource instances that were added in the above PR for Web frameworks. A fix will be in the next release.

[2022-05-18 16:07] Drew-Kimberly commented on #2056
Wonderful news, thanks @rochdev!

[2022-05-18 16:52] rochdev commented on #2036
@frankgreco Is this still an issue? If not, what ended up fixing it? And if yes, can you provide a new reproduction in the form of a complete and runnable project?

[2022-05-18 17:11] rochdev commented on #2048
@jinroh Just tried the above and I see the correct route.

[2022-05-19 12:45] ab-pm opened #2063 "TracerOptions type declaration is missing tracing property"
The `tracing` option that can be passed to `Tracer.init()` since #1780, is missing from the `TracerOptions` interface in dd-trace@2.7.1

[2022-05-19 16:32] a88zach commented on #2017
v2.6.0 to v2.7.1 and the CPU and memory usage spiked and stayed high until we rolled back to v2.6.0

[2022-05-19 19:09] rochdev commented on #2063
Going to close this since this option was never exposed programmatically and only through an environment variable.

[2022-05-19 19:09] #2063 closed

[2022-05-19 21:48] ndevvy commented on #1255
We're trying to do something similar and found that baseline memory usage was very high with the source-map-support library.  And we also found `--enable-source-maps` flag to be untenable per the linked issue above.  For now, our solution consists of sending our server errors and source maps to Sentry and will need to cross-reference Sentry issues from APM to get stack traces.

@paambaati -- did y

[2022-05-20 08:58] cannontrodder commented on #2017
We're seeing really odd behaviour and it's so niche, I won't even attempt to offer a repro here. We made our own module which wraps up the dd-trace one (to enforce some company-wide conventions on sample rates) and found if that was compiled from ts into js and imported in, we get this exact type of memory creep. When we literally paste the single ts class wrapper we have into the app, no issues a

[2022-05-20 10:20] ab-pm commented on #2063
Oh, you're right, I confused the `options` with the `config` that was built from them.

However, is there really no longer a way with 2.0 to disable tracing programmatically? Would calling `ddTracer.init()` inside an `if` statement work? I've only seen in [the migration guide](https://github.com/DataDog/dd-trace-js/blob/master/MIGRATING.md#configuration) *that* the options were removed, but not wh

[2022-05-20 10:35] mishabruml opened #2067 "DoS vulnerability introduced through: dd-trace@2.7.1 › multer@1.4.4 › busboy@0.2.14 › dicer@0.2.5"
https://snyk.io/test/npm/dd-trace/2.7.1
 dd-trace@2.7.1

[2022-05-20 11:09] sunsern-k opened #2068 "The example of GraphQL configurations is unavailable"
**Expected behaviour**
I'm looking for some examples of Datadog's trace configurations of GraphQL from https://github.com/DataDog/dd-trace-js/blob/master/docs/interfaces/plugins.graphql.html. However, this link is not available.

**Actual behaviour**
Try to access this https://github.com/DataDog/dd-trace-js/blob/master/docs/interfaces/plugins.graphql.html but it is not available.

**Steps to repro

[2022-05-20 13:19] astuyve commented on #2045
Thanks @jessgoldq4 - and you can confirm that switching back to 77 fixes log and trace correlation? If that's the case, let's open a new issue [here](https://github.com/DataDog/dd-lambda-js)

[2022-05-20 15:15] rochdev commented on #2068
This file is the source for this page: https://datadoghq.dev/dd-trace-js/

Unfortunately it can't be used directly from GitHub but all the links should work in the generated page.

[2022-05-20 15:19] rochdev commented on #2063
Correct.

That would work, although the condition would still need something to be given to the process like an environment variable.

You can find most of the context in #1800.

[2022-05-21 00:43] sunsheeppoplar commented on #1748
using the `serverless-esbuild` plugin this seemed to work for us in our `serverless.yml` file

[code]

[2022-05-21 00:44] sunsheeppoplar commented on #1748
@rochdev is there a ticket / issue we can follow perhaps while the work you mentioned gets worked on?

[2022-05-21 03:59] sunsern-k commented on #2068
Hi @rochdev,

Thank you very much for pointing this out. I'm good with the given link.

Sunsern

[2022-05-21 18:13] optikalefx commented on #1156
@rochdev this should be re-opened. There is no documented way https://datadoghq.dev/dd-trace-js/#tracer-settings to turn these errors off. I haven't figured out. I get many hundreds of these errors per hour flooding my logs.

[2022-05-23 01:55] BryceKK commented on #2017
More datapoints: We added dd-trace initially at 2.7.0 to 3 of our APIs, and had spiked memory usage till rolling back to 2.5.0, which immediately resolved it. - those API's were node 16

The other API which we added dd-trace to earlier at 2.6.0 also never had any memory issues.

[2022-05-23 07:56] nicolaslt commented on #2067
The dependency has been added in [#984](https://github.com/DataDog/dd-trace-js/pull/984), it looks like it might just be a `devDependencies` that has been mistakenly added to `dependencies`?

The only references to `multer` in the codebase are `package.json`, a license file and a test file.

I'll open a PR to propose moving it to `devDependencies`

[2022-05-23 10:35] clement-heliot commented on #1944
I am having the issue too. This is quite a blocker, the Error Tracking feature of DataDog is broken and quite unusable as-is because of this.

[2022-05-23 12:57] clement-heliot commented on #1944
By the way, the work around taken from from https://github.com/DataDog/dd-trace-js/issues/723#issuecomment-546465104 which consist of using a private API:

[code]

does not work in my experience. I am using TypeScript, and `_trace` doesn't exist. Has anyone have a working workaround or am I missing something?

[2022-05-23 23:16] jonoc330 commented on #2017
Our team saw a gradual increase of memory utilisation with `dd-trace` 2.7.0 across about 6 of our APIs. Downgraded to 2.6.0 and looks to be all fine. Using node `16`.

![image](https://user-images.githubusercontent.com/2540607/169919219-7fe656b1-fa1e-4ec5-b0ca-93126ccba86a.png)

[2022-05-24 00:34] orgito commented on #2017
Just to add another data point. We use node 16.14 and after upgrading from 2.5.0 to 2.7.1 we experienced memory leaks that caused the application to crash. The agent also stopped sending traces. We downgrade to 2.5.0 and things went back to normal.

[2022-05-24 07:46] cabrinoob commented on #1928
I also tried with `http` as mentioned in my original post, but I still have the pb. The version of NestJS I'am currently using is embedding Express v4.17.1 (don't know if it helps)

[2022-05-24 15:09] Saeger commented on #2017
I am facing same memory consumption issue with APM enabled in our microservice

<img width="1723" alt="Screenshot 2022-05-24 at 17 08 06" src="https://user-images.githubusercontent.com/2996289/170069441-18ef8f16-b14c-442a-90ec-bbfa8425ab6e.png">

[2022-05-24 16:37] Saeger commented on #2017
Same case here, where we have `2.7.0` leaking memory following the same trends as the other posts. I would add though the APM view of it:
![Screenshot 2022-05-24 at 18 36 47](https://user-images.githubusercontent.com/2996289/170087534-911b209c-081c-444f-8294-4fae49458485.png)

[2022-05-24 18:30] astuyve commented on #2045
Hi @jessgoldq4 - no, the datadog lambda extension can forward logs. The easiest way to verify this is happening is to visit the Logs tab in Datadog and search for your service.

For logs to appear along side a trace, you need to inject the datadog trace ID into your log statements. If you're already using one of a few popular logging libraries, we can do that for you automatically. If not, you'd n

[2022-05-24 18:30] #2045 closed

[2022-05-24 19:35] cayter commented on #2046
This is still happening for NodeJS 16.x with v2.7.1.

[2022-05-24 19:38] jjsimps commented on #2017
I am also encountering this issue. When I took a heap dump, I was seeing a lot of `DataDogSpan`/`DataDogSpanContext` objects tied to `ExpressPlugin`. When I disabled the express plugin, it seems to be fine.

[2022-05-24 20:05] astuyve commented on #2046
Hi @cayter - thanks for reaching out.
I tried this same stack shared [here](https://github.com/DataDog/dd-trace-js/issues/2046#issuecomment-1127661033), using node 16 and layer version 78 (which uses v2.7.1 of dd-trace), and the function successfully ran:
<img width="1123" alt="image" src="https://user-images.githubusercontent.com/1598537/170122103-6e108bdd-360e-4be3-be72-6364744e78f2.png">
<img w

[2022-05-24 22:47] wyardley commented on #2017
Confirming that our issues w/ 2.7.x are also in apps that use Express.

[2022-05-25 03:27] cayter commented on #2046
@astuyve Sorry for the wrong info, I just tested again and realised I had a misconfiguration, it seems working now. Thanks.

[2022-05-25 08:56] ashish-kadam-myglamm opened #2075 "Socket hang up error crashing app"
Hello team,

Our production app keeps crashing intermittently and the error that we see in the logs has something to do with dd-trace, can you please suggest us something here?
We are on the dd-trace 0.31.1 version and nodejs: 10

This is the error from the logs:
`{"date":"Wed May 25 2022 07:09:08 GMT+0000 (Coordinated Universal Time)","dd":{"env":"prod","service":"prod-service-ms","span_id":"3511

[2022-05-25 11:20] havenchyk commented on #1535
@rochdev I have the same problem with 2.5.0

[code]

[2022-05-25 13:13] jessgoldq4 commented on #2045
@astuyve I have resolved the issue. I believe it was a combination of not setting the `logLevel` param, and the DD AWS Lambda integration missing some required permissions in the Datadog IAM role. Thanks for the support!

[2022-05-26 00:31] rochdev commented on #1156
@optikalefx That's because these errors should now always be off and there shouldn't be a way to turn them on. Did you notice the errors coming back in a specific version?

[2022-05-26 00:43] rochdev commented on #1535
@havenchyk Do you also have the same issue with the latest version?

[2022-05-26 01:17] rochdev commented on #2017
We think we found the issue and are working on a fix that we hope to release soon. Thanks everyone for the all the help figuring out the issue.

[2022-05-26 09:02] sam-beautypie commented on #2067
Multer has been moved: https://github.com/DataDog/dd-trace-js/pull/2076

[2022-05-26 09:24] havenchyk commented on #1535
@rochdev I'll try to update and check. It's flaky, so I can't say exactly

[2022-05-26 14:32] jcarvalho opened #2082 "Memory Leak in 2.7.1 when using Express tracing"
Hi.

We have noticed a memory leak in our application after upgrading to version 2.7.1 (coming from version 2.5.0).

We have since done some digging, and we noticed the leak was only happening in our Web instances, so we tried to replicate the issue in a simple Express application, and successfully tracked it down to version 2.7.0 (where the Express instrumentation got re-written).

**Steps to rep

[2022-05-26 14:45] eiselems commented on #2082
@jcarvalho could this be a duplicate of #2017 (please read the issue - title is misleading)?

[2022-05-26 14:49] jcarvalho commented on #2082
Looks like it, yes :+1:

[2022-05-26 17:36] nampas commented on #2017
@rochdev Which version(s) would the PR you just shipped have affected? Just 2.7, or earlier versions as well?

[2022-05-26 19:00] aliwatters commented on #2067
Is anyone working on a 2.7.2 release with this change?

We have many services failing `npm audit` due to this at the moment.

[2022-05-26 19:07] rochdev commented on #2082
Closing this since it's a duplicate. Fix should be out soon.

[2022-05-26 19:07] #2082 closed

[2022-05-26 19:08] rochdev commented on #2067
@aliwatters We're preparing a release right now. In the meantime, this is a false alarm that can safely be ignored as we are not using `multer` anywhere.

[2022-05-26 19:40] #2067 closed

[2022-05-26 19:42] rochdev commented on #2067
For anyone using an older version, this was put in our dependencies by mistake and we were not using the library at all, so the vulnerability didn't affect dd-trace.

[2022-05-26 19:43] rochdev commented on #2056
The fix for this was released in 2.8.0.

[2022-05-26 19:43] #2056 closed

[2022-05-26 19:43] rochdev commented on #2043
The fix for this was released in 2.8.0.

[2022-05-26 19:43] #2043 closed

[2022-05-26 19:47] rochdev commented on #2042
A similar issue was recently fixed, so this might no longer be an issue in the latest version. Can you try upgrading dd-trace?

[2022-05-27 06:30] zelongc commented on #2068
I had a hard time reading the looking for/ reading graphql related plugin. Also that document (https://datadoghq.dev/dd-trace-js/interfaces/plugins.graphql.html) does nothing more than ts type definition.
Is there any plan to add examples...etc for each use case?

[2022-05-27 15:18] bcomnes opened #2089 "All http-client HEAD requests are marked as errors"
**Expected behaviour**
When making a HEAD request with the node http client, the dd-trace should properly detect and classify HEAD requests according to their success or failure.

**Actual behaviour**

In dd-trace 2.4.0, no HEAD requests are detected and in versions 2.4.1-2.8.0 all HEAD requests are detected, but classified as errors.

**Steps to reproduce**

Install dd-trace onto a node app and m

[2022-05-27 17:04] jmichel17 commented on #1717
@rwoll Did you end up pursuing the runtime patch approach suggested here? My team is looking to get the deeper visibility of our playwright tests with DD

[2022-05-27 17:43] jmichel17 commented on #1717
@juan-fernandez Playwright is widely used. Might consider prioritizing this in your backlog

[2022-05-28 08:53] diogenes-deliverr commented on #1156
Having the same error on an Elastic Beanstalk application: I didn't do any special configuration

[code]

[2022-05-29 07:43] sig-bo opened #2090 "Getting `TypeError: Cannot convert undefined or null to object` error when starting Meteor app"
**Expected behaviour**
dd-trace initialization should work without errors.

**Actual behaviour**
Getting this runtime error upon starting Meteor application:
[code]

**Steps to reproduce**
Added `const tracer = require('dd-trace').init();` to the app startup logic.

**Environment**

* **Operation system:** OSX
* **Node.js version:** 14.19.1
* **Tracer version:** 2.8.0
* **Agent version:** 7
* **Re

[2022-05-30 10:14] n-guitar opened #2091 "[NextJS] It does not work on the client. The "if (typeof fetch === "function")" part appears to be missing."
**Expected behaviour**

I would like to use "dd-tarce" in my "next" application.
At init, an error occurs and the application does not start.
I don't need the "fs api" because I don't use it.
What should I do in this case?
※ I understand that fs only works on the server side.

It appears to be slipping through the "if (typeof fetch === "function") " part.

[code]

I thought the library was using "

[2022-05-30 11:30] #2048 closed

[2022-05-30 11:47] jinroh opened #2092 "Koa: poluted http.route tag when using middlewares"
**Actual behaviour**
After upgrading to 2.7.0 an application using koa and koa-router (tested on both koa-router 7.X and 8.X), the root span tag `http.route` is not properly set.

**Expected behaviour**
No regression.

**Steps to reproduce**
[code]

^ with this example tested with both koa-router 7 and 8, the http.route tag is `(.*)`.

**Environment**

* **Operation system:**
* **Node.js version:*

[2022-05-30 14:26] rochdev commented on #1680
@ixalon If you are not using async/await it should be possible to instrument the call manually. If you are using async/await you might not be able to bind the asynchronous context properly unless the span is created in a wrapper. Unfortunately this is not something we can solve in the auto-instrumentation without changes to Node and to our data model.

Custom plugins are not supported right now, b

[2022-05-30 14:31] rochdev commented on #2091
This library doesn't support running in the browser. I would recommend looking into our browser [SDK](https://github.com/DataDog/browser-sdk) for [RUM](https://www.datadoghq.com/product/real-user-monitoring/) to get visibility in the browser.

[2022-05-30 14:31] #2091 closed

[2022-05-30 14:36] rochdev commented on #2090
Unfortunately we do not support Meteor since it uses fibers which are incompatible with a few Node built-in modules that we need to use for tracing. You can find more information about the issue in our [documentation](https://docs.datadoghq.com/tracing/setup_overview/compatibility_requirements/nodejs/#unsupported-libraries).

We look forward to support Meteor when https://github.com/meteor/meteor/

[2022-05-30 14:36] #2090 closed

[2022-05-30 14:45] ixalon commented on #1680
Thanks for the quick response @rochdev. Unfortunately the library we rely heavily on uses `await <awsSdkClient>.method().promise()`, e.g https://github.com/jeremydaly/dynamodb-toolbox/blob/main/src/classes/Entity.ts#L292 so looks like we'll have to try the wrapping approach.

[2022-05-30 15:08] rochdev commented on #2068
@zelongc Do you have something specific in mind? Where do you think would make the most sense for the examples? Should we put them in the API doc, on the website, or in a folder in the repo? Also, what examples are you looking for specifically? We usually recommend to use dd-trace with all the defaults so it shouldn't be common to need extensive configuration.

[2022-05-30 16:37] rochdev commented on #2017
@nampas Only 2.7 as the issue was introduced in #1995 which landed in 2.7.0.

[2022-05-30 16:44] rochdev commented on #2075
Does it only happen when dd-trace is enabled? The library tends to show up in most stack traces since it instruments many things, but that doesn't necessarily mean it's the source of the error. If it does only show up with dd-trace, then is this something that you can reproduce in isolation?

[2022-05-30 16:46] rochdev commented on #1928
@cabrinoob Can you try with the latest version of dd-trace? We have rewritten these plugins with a new plugin system which might fix configuration issues.

[2022-05-30 16:52] rochdev commented on #1748
@sunsheeppoplar Unfortunately all planning is done internally and is not available publicly. We're not currently working on this but we still plan to work on it at some point. In the meantime we recommend to do what you did above and prevent dependencies from being bundled, or at the very least the dependencies that we instrument.

[2022-05-31 08:53] ixalon commented on #1680
@rochdev I had a good attempt at working around this issue within the traced application itself - I could get no combination of `trace()`, `wrap()` or `bind()` to work. Instead we are now applying a patch to `2.7.0` using @ekosz's PR which works perfectly (though means we're pinned to that version as `2.8.0` has seen a major refactor.

I'm not sure if there genuinely is an issue with `async_hook`

[2022-05-31 12:15] AlexBrohshtut commented on #2067
Hello @rochdev, @bengl
I see the [v0.36.4](https://github.com/DataDog/dd-trace-js/releases/tag/v0.36.4) tag with this fix, however, it is not available on [npm](https://www.npmjs.com/package/dd-trace?activeTab=versions). When do you plan to release it?

[2022-05-31 12:24] AlexBrohshtut commented on #2067
Yes, but what about node8-10?

[2022-05-31 16:32] ashish-kadam-myglamm commented on #2075
hey you are right, we removed dd-trace just to check as you rightly mentioned it does show up, but is not the source of the issue, it is some other uncaught exception.

[2022-05-31 16:32] #2075 closed

[2022-05-31 23:08] rochdev commented on #2092
We refactored the plugin recently and it seems that we now check routes in the wrong order. I'm working on a fix right now.

[2022-06-01 01:41] rochdev commented on #2067
@AlexBrohshtut It's released now in 0.36.5.

[2022-06-01 03:21] sorakrisc opened #2096 "Upgrade protobufjs to prevent Prototype Pollution"
**Expected behaviour**
use protobufjs to version 6.11.3 or higher

**Actual behaviour**
![Screen Shot 2565-06-01 at 10 20 14](https://user-images.githubusercontent.com/22723894/171321196-920b63b3-00ad-406d-8643-28d9488eac79.png)

more detail here: https://security.snyk.io/vuln/SNYK-JS-PROTOBUFJS-2441248

[2022-06-01 05:57] serj026 commented on #2042
I updated to v.2.8.0, but still see the same issue.

[2022-06-01 10:00] RichardEustace commented on #2067
Hi,
Is there going to be a patch version of v1.7.x? Is this covered by the Maintenance mode?

https://docs.datadoghq.com/tracing/setup_overview/compatibility_requirements/nodejs/#maintenance

[2022-06-01 18:13] rochdev commented on #1944
The workaround above could be improved by using a span hook in combination to remove the need for any private API.

For example:

[code]

While we could definitely support this better, I think this solution is good enough since it only requires adding a small middleware and a span hook to the application. We're also looking at changing our defaults to potentially automatically bubble up middleware

[2022-06-01 18:42] rochdev commented on #2089
I just tried sending a `HEAD` request and it worked as expected with a `200` status code, the error flag set to `0` and no error tags. Can you provide a reproduction snippet that results in the error you are seeing?

[2022-06-01 19:17] #2092 closed

[2022-06-01 21:08] rochdev commented on #2089
Can you provide a reproduction snippet using that library that would demonstrate the error?

[2022-06-01 21:23] bcomnes commented on #2089
Sure

[2022-06-01 22:20] rochdev commented on #1156
I tried to reproduce the issue but it works as expected for me. I do see the span trying to load the file, but it's not an error which is expected as we no longer capture `fs` errors. Can someone provide a reproduction snippet? Please also make sure to be on the latest version of the tracer to avoid the possibility of hitting a but that would already be fixed.

[2022-06-02 03:09] sunnywhy commented on #2092
not only `koa`, I believe `express` has the same problem. 2.8.0 I always get `/` as the http.route. I changed it back to version 2.4.2 and it works well.

[2022-06-02 15:17] rochdev commented on #2092
@sunnywhy I tried the same snippet as above but using Express instead of Koa and I'm seeing the correct route. Can you share a reproduction snippet for Express?

[2022-06-02 15:31] sunnywhy commented on #2092
@rochdev, I used the same snippet as above for `express`, however, I also have an aws API Gateway, so the flow is client -> API gateway -> backend API endpoints(this is the project with dd-trace). It doesn't work in this case, however, a downgrade to 2.4.2 works well.

[2022-06-02 15:39] rochdev commented on #827
There was a mention in another issue of [webpack-pnp-externals](https://www.npmjs.com/package/webpack-pnp-externals), I would give that a try for now. We do plan to support Webpack officially but not in the short term.

[2022-06-02 16:03] rochdev commented on #2042
I couldn't reproduce using the above snippet, although I had to alter it quite a bit to make it run. I also wasn't able to reproduce the incorrect asynchronous context behaviour described in the additional details. Can you share a runnable reproduction snippet that ideally demonstrates both issues?

[2022-06-02 16:13] bcomnes commented on #2089
Sorry my wife just gave birth. I will follow up with a reproducible example as soon as I can.

[2022-06-02 19:50] rochdev commented on #1758
@nampas Now that the memory leak has been fixed in 2.8.0, are you still getting the original error from above?

[2022-06-02 21:30] jmichel17 commented on #1717
For others: got some tracing in DD CI Test monitoring by utilizing Playwright's `Reporter` class like this.

_Warnings to others attempting this_:
1. I had a tremendously hard time opening a span in `onTestBegin` and then attempting to finish it in `onTestEnd`. The `dd-trace` library's `Span` object can't be used across methods like you would expect, even if you maintain a reference to it. I tried

[2022-06-03 08:27] ankitatasolvi opened #2106 "logs correlation not happening in DataDog after application instrumentation using dd-trace"
Hi,

I have a Nodejs application which is writing logs to DataDog, but even after instrumentation with dd-trace package, logs are not getting correlated without DataDog Agent.
If I use the DataDog Agent Correlation is working fine.
I have done following setup for instrumentation and using winstons' Http transport for writing logs to DataDog:
const tracer = require('dd-trace').init({
  logInjection

[2022-06-03 08:39] mtheunissen82 commented on #2056
Hi, this issue still persists for Fastify 3.29.0.
step to reproduce are here https://github.com/mtheunissen82/als-dd-test

[code]

[2022-06-06 03:59] sunsern-k commented on #2068
I just spotted a type from the `source`, not sure it can be tracked in the same ticket here.

[2022-06-06 17:58] ixalon commented on #1680
Hi @rochdev, unfortunately sticking with `2.7.0` is turning out to be problematic due to the memory leak (fixed by https://github.com/DataDog/dd-trace-js/pull/2078 in `2.8.0`).

Do you think https://github.com/DataDog/dd-trace-js/pull/2099 may fix issue we're seeing above? If so, when can we expect a release? 🙏

[2022-06-06 19:27] bengl commented on #2106
Yes. The Datadog Agent is required to use `dd-trace`, including log correlation. See the documentation here: https://docs.datadoghq.com/tracing/setup_overview/

I'll close this, but please feel free to ask if you require additional information.

[2022-06-06 19:27] #2106 closed

[2022-06-07 06:54] ankitatasolvi commented on #2106
Thanks @bengl , but as per documentation https://docs.datadoghq.com/logs/log_collection/nodejs/?tab=winston30
it's possible to have Agentless logging.

[2022-06-07 15:36] nampas commented on #2017
Thanks @rochdev

I've tried out 2.8, and we're still experiencing the memory leak described in the issue.

After further investigation, I've narrowed down the problematic version to 2.4.1. I'll try to take a closer look at the changes in that version, but any assistance would be appreciated.

[2022-06-07 18:37] andrew-kolesnikov opened #2109 "graphql plugin severely degrades performance"
When `graphql` plugin is enabled, there is a noticeable drop in performance of the application.

To illustrate, I measured an **expensive** gql query with 10KB request payload, 1.6MB response, generating 450+ spans - most spans are _**graphql.resolve**_

| Description                                                | Measurement                   |
| ------------------------------------------------

[2022-06-07 18:59] nampas commented on #2017
I was able to capture a heap dump during the memory leak. Looks like lots and lots of spans are sitting around
![Screen Shot 2022-06-07 at 2 58 40 PM](https://user-images.githubusercontent.com/1173844/172461131-f5cb46ad-ae43-49da-9f51-286c19c9ad80.png)

I'll attach the full heap dump to Datadog support ticket 656495

[2022-06-07 18:59] andrew-kolesnikov commented on #2109
Another issue is that setting graphql `depth` seems to further degrade performance:
| Description                                                | Measurement                   |
| ---------------------------------------------------------- | ----------------------------- |
| w/o trace                                                  | 168.065ms
| w/o plugins

[2022-06-07 19:58] bengl commented on #2106
@ankitatasolvi Yes, you can have agentless logging by using an HTTP transport for winston sending logs to Datadog's log intake, but you won't be able to get _correlation_ without tracing (i.e. `dd-trace`), and tracing requires a Datadog Agent.

[2022-06-08 00:13] andrew-kolesnikov commented on #2109
Another observation is that for **small response payloads** the issue is not as pronounced:
| Description                                                | Measurement                   |
| ---------------------------------------------------------- | ----------------------------- |
| w/o tracer                                                 |   45.301ms                    |
| w/tracer defaults

[2022-06-08 06:32] theJC opened #2111 "dd-native-metrics-js will not function on Centos 7 systems due to using an image with newer version of libstdc++ to build"
dd-native-metrics-js does not function on Centos 7 systems due to the version of libstdc++ (GLIBC 3.4.21) used by the image currently used for building.

dd-native-metric-js's build is using the oldest Node 12.0.0 image, and compiles using the glibc that happens to be on that image (Debian GNU/Linux 9 (stretch))
See: https://github.com/DataDog/dd-native-metrics-js/blame/main/.github/workflows/buil

[2022-06-08 10:12] ankitatasolvi commented on #2106
Thanks @bengl, is it possible to host DataDog Agent on Azure App service for a nodejs application hosted on same app service?

[2022-06-08 12:55] cabrinoob commented on #1928
Ok, I'll try. thank you

[2022-06-08 14:05] bengl commented on #2106
@ankitatasolvi I'm not sure about Azure App Service. I know some folks are running it on _separate_ services.

At this point, it's best to contact [Datadog support](https://help.datadoghq.com), who will be better able to work through your use case.

[2022-06-08 15:12] rochdev commented on #2109
We're in the process of rewriting this integration, which will hopefully help with performance. However, we do wrap every single resolver right now even with a depth set to 0, which has a cost. We could optimize that so that we don't patch at all for that case specifically which could help reduce the overhead when configured.

We've also seen cases where the overhead came from `async_hooks` and no

[2022-06-08 15:18] rochdev commented on #2111
I had done something similar for Node 8 with [this image](https://github.com/rochdev/holy-node-box). We could do the same thing for Node 12.

[2022-06-08 19:38] theJC commented on #2111
That sounds like it would solve the problem.

Additional context, our company supports Node 14 & Node 16 only and [gc-stats](https://www.npmjs.com/package/gc-stats) npm library has been abandoned and doesn't work on 16 so we wanted to transition to using datadog native metrics to get similar metrics as well as the benefits of single vendor, metrics used for drilldowns in the APM UI experience, etc

[2022-06-08 22:20] andrew-kolesnikov commented on #2109
Measured as @rochdev suggested above, results indicate the issue is **not caused by async_hooks**:

| Small response                                                | Measurement                   |
| ---------------------------------------------------------- | ----------------------------- |
| w/o trace w/o async_hooks                            |   45ms                        |
| w/o trace, async

[2022-06-08 23:38] acSpock opened #2115 "How to set a custom trace_id when starting a new trace?"
Apologies this is not an issue, but more of a how to.

We run a job processing system that is two parts; an HTTP layer that accepts jobs requests and then queues them in a redis cluster. The second part is a cluster of worker nodes to process the queue. The HTTP layer and job processing layer are nodejs apps.

I'm storing the original trace_id that was generated at the HTTP layer in the job proces

[2022-06-09 10:03] VeejaLiu opened #2116 "Could I get trace ID in code when i using datadog?"
Is there a way for me to get the current traceid in the code so that I can easily query the log in combination with other systems.

Another question is, can I use datadog to set or get custom fields in my code?

[2022-06-09 15:34] theJC commented on #2111
Roch, is there something I can do to help move this forward, or is this something you want to do since it looks like you may have fought this battle before ;)

[2022-06-09 20:55] gajus opened #2117 "Does not work with Fastify v4"
Simply starting server using `dd-trace/init` makes the server crash:

[code]

[2022-06-09 23:51] inaiat opened #2118 "instrumentation error on Fastify version 4"
**Expected behaviour**
simple request must retun http 200 status

**Actual behaviour**
any request return an error 500 with erro message: '"next is not a function"

**Steps to reproduce**
add import import './tracer' on entry point of app

tracer.ts:
[code]

**Environment**

* **Operation system: linux - kernel 5.15.41-1-MANJARO**
* **Node.js version: v16.15.0**
* **Tracer version: 2.9.0**
* **Rel

[2022-06-10 10:47] NickDub-adeo commented on #2117
Issue better explained in https://github.com/DataDog/dd-trace-js/issues/2118 😉

[2022-06-10 13:44] Twisterking commented on #2090
Sorry to "hijack" this issue, but I am also trying to implement tracing into our Meteor application. I got as far as, both the meteor app AND `dd-agent` are starting up correctly. No errors, nothing.

But I also always see in the logs of `dd-agent` the following: `TRACE | INFO | (run.go:243 in Info) | No data received`

So, no data seems to be received and thus I am stuck on the "setup" screen in

[2022-06-10 14:28] rochdev commented on #2109
@andrew-kolesnikov Thanks for confirming. Since we are re-writing the plugin anyway, I would say to try the new version when it lands, and then we can go from there.

[2022-06-10 16:30] rochdev commented on #2117
This was fixed in #2114 and we're in the process of shipping a new patch release.

[2022-06-10 16:30] #2117 closed

[2022-06-10 16:30] rochdev commented on #2118
This was fixed in #2114 and we're in the process of shipping a new patch release.

[2022-06-10 16:30] #2118 closed

[2022-06-10 16:58] acSpock commented on #2116
export your global tracer object and call:

[code]

[2022-06-10 17:17] rochdev commented on #2115
The carrier is any object holding metadata that will be sent to the called service. For example, the carrier for an HTTP request would be the headers object. On the sending side, you would call `tracer.inject(span, 'text_map', headers)` and on the receiving side you would call `const childOf = tracer.extract('text_map', headers)` which could then be passed to the tracer with `tracer.trace('some.na

[2022-06-10 17:35] acSpock commented on #2115
@rochdev Thanks for the response; appreciate it. Perhaps I should clarify what I meant by long running process.

The function:

[code]

is running in a separate node app running in another process, perhaps, in another region in GCP. So extracting anything within the tracer will probably return undefined.

[2022-06-10 18:29] rochdev commented on #2115
The tracing context will be added to the job data similar to what you were doing in the original post, meaning that if the job data is sent to the next service then it will receive the data and the tracer will be able to extract it on the other end.

[2022-06-10 20:35] acSpock commented on #2115
Gotcha, thanks. I'll give this a try!

[2022-06-11 17:46] bcomnes commented on #2089
Ok sorry for the delay @rochdev

I put together a small demo that demonstrates the error:

https://github.com/ballpit/dd-trace-test/blob/master/index.js

Its just a bare bones web server that has one route:

https://dd-trace-test.herokuapp.com/redirect-chain?get=https://t.co/Pq8kh5jZOY

It takes a get query param, then uses HEAD requests to find the final destination if the URL has redirects, usin

[2022-06-13 01:29] VeejaLiu commented on #2116
Thank you very much.

[2022-06-13 01:29] #2116 closed

[2022-06-13 12:48] jinroh opened #2120 "Koa: bad `http.route` tag with nested routers on 2.9.1"
**Expected behaviour**
Same as #2092

**Actual behaviour**
Same as #2092

**Steps to reproduce**
[code]

"Fixed" it in https://github.com/DataDog/dd-trace-js/blob/0abc42b1ff7f7f9df1b7aada54b4d0f6330260d8/packages/datadog-instrumentations/src/koa.js#L93 with this diff:

[code]

**Environment**

* **Operation system:**
* **Node.js version:**
* **Tracer version:**
* **Agent version:**
* **Relevant li

[2022-06-13 18:31] elen4 opened #2124 "Express plugin does not work correctly when automatic loading of all plugins is disabled"
**Expected behaviour**

When disabling automatic loading of all plugins and enabling only the **express** one, full traces (_express.request_ and _express.middleware_ spans) should still be created on incoming web requests.
Example:

`Encoding trace: [{"trace_id":"4099d8328517f41f","span_id":"4099d8328517f41f","parent_id":"0000000000000000","name":"express.request","resource":"GET /","error":0,"me

[2022-06-14 05:59] vamsiampolu commented on #1255
Is it better to generate inline source maps or have `.map` files with `source-map-support` for traces?

[2022-06-14 06:05] brandenbyers opened #2125 "Cannot use Jest injectGlobals: false"
**Expected behaviour**
Tests should run for Datadog CI using `dd-trace/ci/jest/env` when jest.config.js includes `injectGlobals` set to `false`.

**Actual behaviour**
Using a custom `testEnvironment` as instructed in the Datadog CI documentation and a jest.config.js with `injectGlobals` set to `false`, attempting to run using `dd-trace/ci/jest/env` results in the following error:

[code]

If I rem

[2022-06-14 06:46] paambaati commented on #1255
@ndevvy It didn't work, and we gave up on it.

[2022-06-14 06:48] paambaati commented on #1255
@rochdev It did not work correctly – see https://github.com/evanw/node-source-map-support/issues/122

[2022-06-14 11:51] ellisium opened #2127 "[Bug][Security]Yarn audit - @datadog/pprof>protobufjs - high Prototype Pollution in protobufjs"
**Expected behaviour**
No vulnerability listed

**Actual behaviour**
# high Prototype Pollution in protobufjs

- Module: [[protobufjs](https://npmjs.com/package/protobufjs)](https://npmjs.com/package/protobufjs)
- Installed version: 6.11.2
- Published: 28/05/2022, 02:00:20
- CWE-1321
- CVE-2022-25878
- Vulnerable: <6.11.3
- Patched: >=6.11.3

### Overview

The package protobufjs before 6.11.3 are

[2022-06-14 16:47] #2115 closed

[2022-06-14 21:21] nicolas-vivot commented on #2006
Also it looks like the environment variable DD_TRACE_DISABLED_PLUGINS to specifically disabled some plugins is completely ignored by the newest versions..

[2022-06-14 21:57] nicolas-vivot opened #2129 "DD_TRACE_DISABLED_PLUGINS ignored after upgrading dd-trace"
**Expected behaviour**
DD_TRACE_DISABLED_PLUGINS with a provided list of plugins should disable tracing for these plugins.

**Actual behaviour**
DD_TRACE_DISABLED_PLUGINS seems to be ignored after upgrading the dd-trace npm package from version 1.1.2 to 2.9.0

**Tracer initialization code**

**Environment variables (docker)**

DD_TRACE_DISABLED_PLUGINS:

**Additional information**
Before the upgra

[2022-06-14 23:49] vamsiampolu commented on #1255
Node version: LTS 14 transpiled using typescript into a directory that is deployed as a backend service. No bundling or minification is done on our code. We use `sourceMap: true` to generate the sourcemaps.

[2022-06-15 12:32] eddycharly opened #2131 "Koa route is not correct"
Koa route is incorrectly reported.
For a given route `/bank-transaction`, the reported route becomes `/bank-transaction/bank-transaction/bank-transaction/bank-transaction` (repeated once per middleware).

[2022-06-15 22:37] ondrejnebesky commented on #2006
Bumped into this issue with dd-trace@2.9.1 and mongodb@3.6.20 on NodeJS 16. Downgrade to 2.3.0 resolves the issue, but I would rather use the current version. I'll post simple case here when ready.

[2022-06-16 15:07] sattarab commented on #2006
@apank have you tried it with mongodb 4.7.0?

[2022-06-16 19:21] rochdev commented on #2131
While the issue is not exactly the same as #2120, I think it should still be solved by #2123 when it lands. If you can provide a reproduction snippet I can try it out with the fix to see if it resolves your issue as well. Alternatively you can try installing dd-trace from the branch.

[2022-06-16 20:06] rochdev commented on #2111
@theJC I'll try to take some time to see if I can do something similar for Node 12/14 at the end of the month with the oldest OS I can find.

[2022-06-16 23:06] zkropotkine commented on #1944
Having the same issue. However, I'm using typescript so I can't access `_trace` to do the following:

`span.context()._trace.started[0].setTag('error', true)`

And we are using hapi, which doesn't seem to work with hooks

`      // at the top of the entry point right after tracer.init()
      tracer.use('hapi', {
        // hook will be executed right before the request span is finished
        ho

[2022-06-17 18:43] dushansilva commented on #1758
@rochdev memory leak still happens in 2.8 and 2.9.1 as well, any thoughts ?

[2022-06-17 19:41] rochdev commented on #1758
@dushansilva Are you seeing an actual increase in memory that eventually leads to an OOM exception, or just the message from the original issue of the thread? (or both)

[2022-06-17 22:17] jmichel17 opened #2134 "`dd-trace` leaks handles in `jest` test suite, resulting in incomplete CI test tracing"
**Expected behaviour**

Instrumenting `jest` tests with `dd-trace` should not leak any handles.

**Actual behaviour**

My `jest` test suite contains 76 tests in it. When executing all of these tests in a Github actions job, only ~32 were actually getting reported to the Datadog CI test dashboard. Adding an arbitrarily selected 10 second wait after the jest tests completed resulted in 75 of the 76

[2022-06-18 04:23] skolsuper commented on #2017
+1 upgrading to 2.8 has not fixed the issue for us. We upgraded to 2.7.0 on 3rd June to fix an open vulnerability in the `dicer` dependency, and then again on 10th June to 2.8.0, but it hasn't helped:

<img width="850" alt="Tuna___Datadog" src="https://user-images.githubusercontent.com/7449642/174422489-a5476b49-223a-4337-b5f6-5fa80c303a91.png">

We use `rhea`, I notice the [rhea plugin was modifi