[2018-04-11 18:51] stephen opened #48 "Browser support"
What parts are missing for this package to work in the browser? Is there a plan overall for traces from frontends?

Our datadog agents aren't exposed to the public internet, so we're thinking of having a small ingestion proxy that forwards spans. I think that means we'd want to plug in a custom [write](https://github.com/DataDog/dd-trace-js/blob/bb8a6f35d8f586ea2f2d87c94cf5716a4f8233a7/src/writer.

[2018-04-11 20:46] stephen opened #49 "Typescript definitions"
Typescript definitions (or using ts in the project 😄) would be helpful when interacting with this library.

[2018-04-18 09:59] jamiehodge opened #52 "Assumes the presence of bluebird"
These calls to cls-bluebird crash in its absence: https://github.com/DataDog/dd-trace-js/blob/master/src/platform/node/context/cls.js#L7

[2018-04-18 10:00] jamiehodge commented on #49
I would also really like a Flow declaration or a Typescript one that I can translate.

[2018-04-18 10:04] jamiehodge opened #53 "Feature request: a more promise-centric, functional API"
I am currently wrapping the trace API in a promise to make it easier to work with:

[code]

[2018-04-18 13:39] rochdev commented on #52
I will try to make a release ASAP as this is pretty major. As a temporary workaround simply depend on bluebird for now.

[2018-04-18 19:46] #52 closed

[2018-04-19 15:28] rochdev commented on #49
Great idea! Actual API documentation will also be done at a later time but this will definitely be a quick win.

[2018-04-20 19:59] rochdev opened #63 "The instrumenter is not compatible with platforms other than Node"
Right now the instrumenter automatically loads plugins for the built-in Node integrations. This should not be the case if we are to support other platforms. The instrumenter should therefore only load plugins appropriate to the current platform.

[2018-04-23 21:53] #53 closed

[2018-04-24 18:41] rochdev opened #64 "Flow definitions"
Originally requested in #49

[2018-04-24 18:41] rochdev commented on #49
I've opened another issue for Flow to track those definitions separately

[2018-05-01 02:09] kevinoneill opened #72 "Tracer requires a package.json"
On initialise tracer attempts to load a package.json file from the `cwd`.  My application deployments don't include a `package.json` so the application fails to start.

[code]

The issue stems from `this.service = coalesce(options.service, platform.env('DD_SERVICE_NAME'), platform.service())`. Being a function `coalesce` is not lazy so all the arguments are evaluated before , the only work around

[2018-05-01 13:10] #72 closed

[2018-05-02 15:39] rochdev commented on #72
@kevinoneill released in `v0.1.4`

[2018-05-02 15:41] rochdev commented on #53
@jamiehodge released in `v0.1.4`

[2018-05-07 17:51] amitsehgal opened #77 "dd-trace test code isn't sending traces."
Hey Folks - dd-trace isnt working for me.

1) Same dd-agent is sending traces from JVM perfectly fine.

2) connectivity to agent verified
`➜  dd-trace-js git:(master) ✗ telnet localhost 8126
Trying ::1...
Connected to localhost.
Escape character is '^]'.
^C{}`
3) installed using npm install
4) Executed test code and it never appears on datadog traces and
`➜  dd-trace-js git:(master) ✗ curl http://

[2018-05-07 17:54] rochdev commented on #77
Hi @amitsehgal, please share the test code and I'll take a look!

[2018-05-07 18:06] amitsehgal commented on #77
running the copy pasted code from README

export DD_TRACE_AGENT_HOSTNAME=localhost

`const tracer = require('dd-trace').init()
const http = require('http')

const server = http.createServer((req, res) => {
  const options = {
    resource: '/hello/:name',
    type: 'web',
    tags: {
      'span.kind': 'server',
      'http.method': 'GET',
      'http.url': req.url,
      'http.status_code': '200'

[2018-05-07 19:51] eavestn commented on #77
I am seeing the same issue.

[2018-05-07 20:39] rochdev commented on #77
Ok I found the problem. Fix incoming.

[2018-05-07 20:51] rochdev commented on #77
Fix released in `v0.1.5`

[2018-05-07 20:51] #77 closed

[2018-05-07 21:07] amitsehgal commented on #77
@rochdev Thanks for promptly looking into it.  it's sending to agent now...getting error on trace name but should be good
`2018-05-07` 20:56:50 INFO (service_mapper.go:59) - total number of tracked services: 0
2018-05-07 20:57:00 INFO (receiver.go:324) - [lang:nodejs lang_version:v6.7.0 interpreter:v8 tracer_version:0.1.5] -> traces received: 2, traces dropped: 2, traces filtered: 0, traces amount

[2018-05-07 22:25] rochdev commented on #77
@amitsehgal Does it work if you change the name to `say-hello` for example?

[2018-05-08 00:29] amitsehgal commented on #77
no luck
[code]

[2018-05-08 00:55] rochdev commented on #77
Glad you got it to work! Error handling will also be improved in future versions which will provide more meaningful messages.

[2018-05-08 02:10] nutchalum opened #81 "Problem(?) with switching between backend tracers"
I tried to migrate from `jaeger` to `ddtracer`

both instances are created from `opentracing`

[code]

result when using `jaeger`
[code]

result when using `ddtracer`
[code]

It seems like the contexts are entirely different. So, what do I probably miss?

[2018-05-08 02:17] rochdev commented on #81
The span context is actually an implementation specific bag. Its main use is to propagate context both internally and across services. In general, it should not be used directly but in conjunction with `tracer.inject()` and `tracer.extract()`.

See https://doc.esdoc.org/github.com/opentracing/opentracing-javascript/class/src/span_context.js~SpanContext.html

What is your use case?

[2018-05-08 03:06] nutchalum commented on #81
My code is kind of complicated, maybe it's not about the context at all.

Before this, I use jaeger and it works normally.
The problem happens when I try to use `ddtracer` and make a http request (axios as a client).
So I inspect the context to see what's the difference? (because it used to work)

This is the error I got and this message hit me `Cannot destructure property 'span' of 'undefined' or

[2018-05-08 12:43] rochdev commented on #81
It seems to be a problem with the automatic context propagation that is done internally. This is not available when using OpenTracing, but it seems it's still trying to do it. Definitely a bug.

[2018-05-08 12:53] rochdev commented on #81
@nutchalum Is there any place where this `span` property is accessed in your code?

[2018-05-08 14:11] eavestn opened #82 "`.init` options not working"
Same reproduction steps as listed in Issue #77 and same output; however, the only difference is that I am using the call to `.init` to provide the configuration values (not `ENV` values). My modified version of the default, test code provided in the doc.s looks like:

[code]
Even with the above default values specified, no connectivity is established.

[2018-05-08 22:08] rochdev commented on #82
There is a bug at the moment that may prevent traces from being sent in some cases. Not sure if this is related but it most likely is. I will release a fix tomorrow.

[2018-05-09 02:09] nutchalum commented on #81
Yes, I'm using axios interceptors https://github.com/axios/axios#interceptors

I have to assign `span` along with `config` so I can use it in response

[code]

[2018-05-09 14:07] rochdev commented on #81
The first error will be fixed in the next release today.

The second error is because the `response` object that is returned by axios doesn't seem to have a `config` property at this line: `const { span } = response.config`.

[2018-05-09 17:35] rochdev commented on #81
Should be fixed in `v0.1.6`

@nutchalum Can you confirm?

[2018-05-09 17:35] rochdev commented on #82
@eavestn Can you try again with `v0.1.6`?

[2018-05-10 06:57] nutchalum commented on #81
Fixed, everything is green now.
Thank you @rochdev

[2018-05-10 06:57] #81 closed

[2018-05-10 13:20] rochdev opened #86 "Add mysql2 plugin"
From https://github.com/DataDog/dd-trace-js/pull/69#issuecomment-387714094

[2018-05-14 13:21] mcuelenaere opened #90 "sampleRate is not being passed down to sampler"
There is currently no option to pass a custom sampleRate to the Tracer. See https://github.com/mcuelenaere/dd-trace-js/commit/b4b1b6381c4971fbe41678257a158e70019bda90 for a potential fix.

[2018-05-15 18:31] rochdev commented on #82
Other users have confirmed that it works with `v0.1.6` so I'm closing this.

@eavestn Please feel free to reopen if you are still experiencing the issue!

[2018-05-15 18:31] #82 closed

[2018-05-15 21:00] #86 closed

[2018-05-16 16:51] #90 closed

[2018-05-22 15:35] eavestn opened #111 "Tags Configuration Documenation"
**Description**

I would like to take advantage of the `tags` listed in the _Integrations_ section of the [documentation](https://datadog.github.io/dd-trace-js/#express__anchor).

**Issue**

_How_ to configure the tags is not explicitly addressed in the documentation, e.g. should a configuration object be passed that specifies both `service` and `tags` when initializing the span?

[code]

[2018-05-22 15:37] eavestn commented on #111
I could look at the code; however, for more enterprise-y integrations, listing this will help people feel more confident in the library, itself, I believe.

[2018-05-22 16:17] rochdev commented on #111
@eavestn You have control over the configuration options, but not the tags.

Do you think changing the statement to something like this could work?

[2018-05-23 15:27] eavestn commented on #111
@rochdev I would suggest something similar:

Some flavor or combination of the two. Let me know if that above makes sense based on our conversation.

[2018-05-24 18:18] kappj opened #115 "IDs being generated can't be parsed as java.lang.Long"
I have two services I am tracing through, a Node.js server on top of a Java backend. The IDs being sent to the Java backend by the Node client are periodically too large for dd-trace-java opentracing to parse into a `Long`.

[code]

And here's the stack trace from my Node.js server, along with the ID's as they are in the `DatadogSpan` object.
[code]

[2018-05-25 17:54] rochdev commented on #115
@kappj I am investigating the issue to figure out if the problem is on the Java side or the JavaScript side since those are valid unsigned longs, but invalid signed longs.

[2018-05-28 15:54] rochdev commented on #111
@eavestn I think it makes sense. I would probably just change the last part to make it clearer that there are configuration options as well.

Something like:

[2018-05-29 15:06] eavestn commented on #111
Looks good to me!

[2018-05-31 14:09] rochdev commented on #111
Released in `v0.2.1`.

[2018-05-31 14:09] #111 closed

[2018-05-31 14:10] rochdev commented on #115
Released in `v0.2.1`.

[2018-05-31 14:10] #115 closed

[2018-05-31 14:34] kappj commented on #115
Thanks so much!

[2018-06-01 10:07] ColinBradley commented on #49
I've written a basic definition on definitely typed: https://www.npmjs.com/package/@types/dd-trace
Hopefully that's good enough for now.

[2018-06-04 10:44] derN3rd opened #132 "Issues with mysql2/promise"
Hey there,

We are using the mysql2 module with `require('mysql2/promise')` which causes the patch to fail:
[code]
Node version: 8.4.0
dd-trace-js version: ^2.1.0
mysql2 version: ^1.5.2

I'm sure this has something todo with the Promise stuff from mysql2.

Is there any way I can use this module without rewriting my whole code?
Thanks in advance

[2018-06-04 12:46] rochdev commented on #132
@derN3rd This is definitely an oversight as `mysql2/promise` is not supported at the moment. For now the safest would be to disable plugins and individually enable the plugins you need (except mysql2 until this is fixed). See the [API docs](https://datadog.github.io/dd-trace-js/#integrations) for an example.

[2018-06-04 12:50] derN3rd commented on #132
@rochdev Thanks for your quick reply. I already got it to work with mysql2 plugin disabled, but wasn't sure if I did something wrong.

I will wait for `mysql2/promise` support then :smile:

[2018-06-04 13:46] rochdev commented on #132
It seems this bug actually affects even the callback based version. It doesn't happen when `mysql2` is required before the plugin however, so that could be a temporary workaround.

For example:

[code]

[2018-06-04 13:56] derN3rd commented on #132
It doesn't crash now, but I also get no traces of my mysql2 queries.
Can this be because I have all queries in a external module?
If so, how can I patch the dependencies of this module too?

[2018-06-04 14:09] rochdev commented on #132
@derN3rd It should still be instrumented in external modules if the external module is required after the tracer is initialized.

Could you try something like this:

[code]

Also make sure you have re-enabled the plugin.

[2018-06-04 14:44] derN3rd commented on #132
@rochdev Thanks man.
Got it to work. I have to do `require('mysql2')` first, then initialize dd-trace. Afterwards I can use mysql2 OR mysql/promise without any problems (Like your example).

Thanks for the help

[2018-06-06 14:18] sutris-sdp opened #135 "Opentracing API incompability with DataDog agent v5.12.3"
Hi,

I noticed that `dd-trace ` v0.2.1's Opentracing API is incompatible with DataDog agent v5.12.3

When the following code is executed:
[code]
the following error is logged in `trace-agent.log`:
[code]

The current workaround is to use `dd-trace` v0.1.7

Thank you in advance 🙏

[2018-06-06 14:27] sutris-sdp opened #136 "Improve documentation for resource and type"
Hi,

I noticed that for DataDog tracer to works, a span is required to have `resource` and `type` properties which can be set by settings `resource.name` and `span.type` respectively. But, this requirement is not documented in the documentations (e.g. [this](https://docs.datadoghq.com/tracing/setup/javascript/) and [this](https://datadog.github.io/dd-trace-js/)). Could this kind of requirements be

[2018-06-06 20:29] #135 closed

[2018-06-07 09:52] jizhang27 opened #138 "`ERROR` TAG not setting span.error to true"

[2018-06-07 10:03] jizhang27 commented on #138
I deeply apologise the initial bad name. That was a bad prank by one of my friend.
I am going to close this issue and create a new one instead. sorry again!

[2018-06-07 10:03] #138 closed

[2018-06-07 10:16] jizhang27 opened #139 "Opentracing Spec incompability: `error` tag not setting span to be failed"
From standard span tags on [opentracing spec](https://github.com/opentracing/specification/blob/master/semantic_conventions.md#standard-span-tags-and-log-fields), `error` tag should be ~respected to "*decide if and only if the application considers the operation represented by the Span to have failed*"~ true if and only if the application considers the operation represented by the Span to have fai

[2018-06-07 13:14] rochdev commented on #139
@jizhang27 Thanks for the suggestion! I think it does indeed make sense to support this.

Basically the `error` field would simply have to be changed to `1` when the `error` tag is `true`. I would probably discard the tag itself in the formatter since the backend uses the field and not the tag to classify errors.

Please let me know if you will make a PR to avoid duplicating the work.

[2018-06-08 02:48] jizhang27 commented on #139
@rochdev Thanks for the quick response. [PR](https://github.com/DataDog/dd-trace-js/pull/140) is created please take a look!

[2018-06-08 10:42] dbsanfte opened #141 "Improve docs around require() and initialization order"
Hiya,

It wasn't immediately apparent that dd-trace only works properly if you:

1) require() it
2) require() everything else it's supposed to instrument
3) make sure you require('dd-trace').init(); before you require() anything else instrumentable

It doesn't work if using module import statements. This had me pulling my hair out.

Better docs for dummies like me please :)

[2018-06-08 10:49] dbsanfte opened #142 "dd-trace tries to instrument local javascript files that are require()'d if they name-match"
Looks like dd-trace will try to instrument local javascript files if they name-match supported modules.

For instance, we had a `require('./mongodb');` in one of our projects, as it had unfortunately named its DAL with the same name as the mongodb module. dd-trace tried to instrument it and broke things pretty badly.

Might want to look at being more strict around which require()'d things dd-trace

[2018-06-08 12:36] rochdev commented on #141
This is actually documented as a note in [Getting Started](https://docs.datadoghq.com/tracing/setup/javascript/#installation).

This has been a problem for a few users however so I agree that it's probably not clear enough.

What change do you think could be made to improve visibility? Would replacing the note by an actual code comment in the snippet help?

[2018-06-08 12:48] rochdev commented on #142
I will add validation of the instrumented module API in the instrumenter. This will prevent a module that doesn't match the expected API from breaking the app. It should resolve this issue, and will also prevent any changes in the actual npm module from breaking the app as well.

[2018-06-11 15:16] #139 closed

[2018-06-13 19:16] #136 closed

[2018-06-15 17:05] rochdev commented on #141
I added a code comment in the documentation snippet, and also a warning in the debug log in https://github.com/DataDog/dd-trace-js/pull/148 which will be part of the next release.

I am closing this issue, but please feel free to reopen if you think these are not enough to properly guide new users.

[2018-06-15 17:05] #141 closed

[2018-06-18 12:15] esselius opened #152 "APM service name not set consistently"
The express and http plugins (possible more) do not set the service name tag in the same way, see:

https://github.com/DataDog/dd-trace-js/blob/28049d943624545c4f42f4641163e6104dd85b83/src/plugins/express.js#L35

https://github.com/DataDog/dd-trace-js/blob/28049d943624545c4f42f4641163e6104dd85b83/src/plugins/http.js#L39

This made my service show up as both `*service-name*` + `http-client`.

I set

[2018-06-18 15:06] rochdev commented on #152
This is actually by design. Basically when calling remote services or data stores, the name of the remote service is used instead of the name of the current service. The service name will be the name of the current service only when it's on the server side of the operation and not on the client side.

I do agree however that for outbound HTTP calls it can be limited at the moment since `http-clien

[2018-06-19 12:29] esselius commented on #152
So I did some adjustments to make it work more like I expect:
[code]

This now looks like this in APM:
![screen shot 2018-06-19 at 14 07 19](https://user-images.githubusercontent.com/1178200/41596342-57fc72d4-73ca-11e8-8670-db836b8a624f.png)

The service in question (sluss-router) is a reverse-proxy implemented in node (using `http-proxy-middleware`), in the screenshot proxying a request for the s

[2018-06-19 12:37] dbsanfte commented on #152
We just set up APM last week, and we also find this dual behaviour to be confusing, as it results in strange looking flame graphs that just confuse us:

![image](https://user-images.githubusercontent.com/3513358/41597616-d4066484-73c5-11e8-8a8d-b0cfd4f6aa7b.png)

I like the graph that @esselius has managed to generate a lot better.

[2018-06-19 15:12] esselius opened #156 "Exposing span or spanId to express request-object"
So I want to be able to write a log message containing a link to the corresponding APM-trace.
To do this I require having access to the span object/id somehow.

Is this possible with the current implementation or is that a wanted feature?

[2018-06-19 15:15] rochdev commented on #156
You can access the current span with `tracer.currentSpan()`. It is kept in context using `async_hooks` so it should be available to all middleware, or any other function called from the middleware (even asynchronously).

@esselius Does that work for your use case?

[2018-06-19 15:24] esselius commented on #156
@rochdev Oh! I will try this!

[2018-06-19 15:40] rochdev commented on #152
@dbsanfte Does configuring the tracer and/or plugins as @esselius mentioned work for your use case as well? We can review the current defaults, but the important part for now I think is that it's flexible enough to allow configuring this in a way that makes sense for any use case.

[2018-06-19 19:05] rochdev commented on #152
Would scoping them to the service help? For example `service-1`, `service-1-http-client` and `service-1-redis`?

[2018-06-20 11:31] dbsanfte commented on #152
Hi @rochdev ,

Yes, scoping them would be fine with us.

I will implement @esselius solution for now and evaluate it for our use case.

[2018-06-20 14:43] #142 closed

[2018-06-21 08:41] colintoh opened #159 "Implementation of span.log"
Currently DatadogSpan doesn't implement the `_log` method and I don't find any way to pass in a custom `_log` method.

1. May I know what's the current recommended practice if we wants to be able to use `span.log`?
2. Are there any future plans to implement the `_log` method?

Thanks you :)

[2018-06-21 13:21] rochdev commented on #159
1. Right now logs should be handled by the application itself using a custom logger (i.e. bunyan or winston). There is no specific recommendation since right now `span.log` is not supported.
2. There are no plans currently to support this, but we're definitely open to it if there is added value.

@colintoh What would be the expected behavior for your use case when using `span.log`?

[2018-06-21 13:22] rochdev commented on #156
@esselius Were you able to achieve your use case with `tracer.currentSpan()`?

[2018-06-22 04:20] colintoh commented on #159
@rochdev thanks for getting back quickly.

Our use case
- We want to be able to get the end-to-end debugging experience in Datadog dashboard
- span.log send logs (with span context) to the datadog dashboard (https://docs.datadoghq.com/logs/)
- Datadog APM is able to link the span with the related logs. Hence, when we want to dive deeper into the specific trace in APM, we are able to view the relat

[2018-06-25 07:58] agindre opened #161 "msgpack-lite used by dd-trace-js is using a lot of processor's resources"
Hi guys,

I used dd-trace on my server for two weeks. I used it to get the stats from a [parse server](https://github.com/parse-community/parse-server) (it's an express app with extra libs) launched in cluster mode with pm2.
During this period, I noticed that my nodejs processes were using much processor's resources than before. It went to the roof, up to 100% per core for some requests.

After I

[2018-06-26 09:40] dbsanfte opened #162 "Does graphql support include express-graphql?"
https://github.com/graphql/express-graphql

Do you guys support this lib as well?

I ask because anyone running express under the hood is probably using express-graphql if they're using graphql. And you guys support express. :)

[2018-06-26 12:42] rochdev commented on #161
Which version of `dd-trace-js` are you using? There have been a few memory leaks issues in the past weeks which would cause an ever growing trace to stay in memory and get reprocessed by `msgpack-lite` in each request. This should be resolved in 0.3.1.

How many requests per second is this service receiving/sending? This library has not yet been optimized, so it shouldn't be used for anything more

[2018-06-26 12:47] rochdev commented on #162
It should be supported since it's using `graphql` to parse and execute the document. Basically any library that uses `graphql` should be supported.

I will leave this opened for now since maybe the documentation could be clearer for implicit support of popular dependent modules.

[2018-06-26 14:18] dbsanfte commented on #162
Okay I'll give it a shot. Thanks!

[2018-06-26 22:59] agindre commented on #161
Hi @rochdev,

Thanks for your reply.
I'm using the version 0.3.1.
The system is dealing with 31 req/sec.

[2018-06-27 09:56] jamiehodge opened #163 "Request: Memcached plugin"
Please consider adding a `memcached` module plugin.

[2018-06-27 10:00] jamiehodge opened #164 "Request: Dataloader plugin"
Please consider adding a `dataloader` plugin.

[2018-06-27 12:41] rochdev commented on #163
This is currently on our roadmap. I'll update the documentation to reflect this.

[2018-06-27 12:51] rochdev commented on #161
This is way below what this library should be able to handle. Do you know how many spans are created for every trace?

It would be helpful to see the debug logs. You can get those by using the `debug` property when initializing the tracer.

[code]

Depending on how sensitive these are, you can either send them here, in a direct message on the public Slack, or through support.

[2018-07-02 08:08] agindre commented on #161
Hi @rochdev

Unfortunately, I used the lib in production. It's difficult for me to reproduce in an iso prod environment and I don't want to enable the debug mode in prod. On the other hand, I can enable the debug mode for one of the node of my cluster. It won't give you an exact vision of what's happening but you will see a fraction of the requests.

Tell me if it could work for you.

Cheers,

[2018-07-03 12:59] rochdev commented on #161
@agindre That would work. As long as I can see a few of the generated traces, it should give me an idea of what is going on.

[2018-07-05 14:06] fragglebob opened #169 "GraphQL Lists deeper down"
How deep down is GraphQL supposed to instrument?

With a query like the following only these fields `friends`,  `friends.0.name`,  `friends.0.pets`,  `friends.1.name` and `friends.1.pets` get instrumented. Should all the fields on the types pet and color, get instrumented too?

[code]

[2018-07-05 16:03] rochdev commented on #169
Lists have been problematic and will be fixed in the next release.

The new behavior for the integration in general will be:

• every operation, either query or mutation, gets a span
• every field gets a span that includes the duration of its resolver and all child fields, but only if is has an associated resolver
• every resolver gets a span that includes only its own duration
• any field that do

[2018-07-05 18:33] rochdev commented on #169
I'll take a look at the recursion error.

Otherwise, does the behavior mentioned above match what you are seeing? And does it make sense for your use case?

[2018-07-05 19:09] fragglebob commented on #169
I've made a fork and I've got these things sorted in it, I didn't want to make a PR though until I knew you want to instrument that deep.

[2018-07-05 19:11] rochdev commented on #169
PR for the recursion problem: https://github.com/DataDog/dd-trace-js/pull/170

[2018-07-05 19:13] rochdev commented on #169
Just saw your branch, I guess you beat me to it :)

[2018-07-05 19:19] rochdev commented on #169
Feel free to open the PR, we do want to instrument as deep as possible whenever there are custom resolvers. If this causes a cardinality issue we will simply add a configuration option.

[2018-07-05 19:19] fragglebob commented on #169
Ok will do. 😉

[2018-07-05 19:29] fragglebob commented on #169
Okay my PR for both issues is here: #171

[2018-07-07 00:12] quentin- opened #172 "GraphQL plugins does not hook correctly."
👋,

Unless i'm mistaking, the following should work:

[code]

[code]

node 8.9.4

edit: it actually hooked correctly despite the warnings, execution was failing because of https://github.com/DataDog/dd-trace-js/pull/173

[2018-07-09 14:13] rochdev commented on #172
This seems to be related to the fact that the module is required in `require-in-the-middle` before the plugin is patched. While this is the expected behavior, the current validation assumes this is not the case, causing the warning. You can safely ignore the warning for now, and this will be fixed in a future version by putting the validation earlier in the initialization process.

[2018-07-09 14:14] rochdev commented on #169
Fixed by #171

[2018-07-09 14:14] #169 closed

[2018-07-10 00:17] quentin- opened #174 "Graphql Plugin - Mutation not traced & throw errors"
👋,

I think it's because of a typo here "mutations" instead of "mutation":
https://github.com/DataDog/dd-trace-js/blob/master/src/plugins/graphql.js#L257

While debugging this I also discovered that this does not work as intended:
https://github.com/DataDog/dd-trace-js/blob/master/src/plugins/graphql.js#L15-L17

This might use the patched schema, because the object is never deeply copied.
I could

[2018-07-10 07:54] fragglebob opened #175 "MySQL Pooled queries have the wrong parent"
I noticed in DataDog that none of my traces had database calls, except for the first query, which seemed to have them all belong to it.

After loads of debugging I worked out its down to the current span in the query being the span that creates the connection.

My solution for now was to stop using `pool.query` and use `pool.getConnection`, however I had to bind the callback to get the correct spa

[2018-07-10 08:09] fragglebob opened #176 "Noop.bind doesn't return a function"
`Noop.bind` should return a function to match how the real thing works.

[2018-07-10 14:33] rochdev commented on #174
I cannot reproduce the error with the provided steps. Can you provide a code snippet to reproduce?

[2018-07-10 14:39] #176 closed

[2018-07-10 18:17] quentin- commented on #174
[code]

[2018-07-10 18:18] rochdev commented on #174
Thanks a lot! I'll work on a fix as soon as possible.

[2018-07-10 20:16] rochdev commented on #175
I cannot reproduce this issue specifically since the provided snippet gives me the correct span. I was however able to cause a similar issue related to the internal queue of the `mysql` module.

@fragglebob If I open a PR, would you be able to try it out directly?

[2018-07-10 20:39] fragglebob commented on #175
The snippet I shared produces the correct span. It's the way I've got round the issue for now.

Sure, I can give it a go tomorrow.

[2018-07-10 20:41] rochdev commented on #175
I meant that even without `tracer.bind()` it still works for me, even if I run multiple queries.

Here's the PR: https://github.com/DataDog/dd-trace-js/pull/178

[2018-07-10 20:55] fragglebob commented on #175
I get ya now.

I think it might have been from using a combination of express, graphql and mysql together. I will give it a go tomorrow. 👍

If I get some time I will figure out how to cause it in a smaller example.

[2018-07-10 20:56] rochdev commented on #174
I cannot reproduce with this exact snippet added to the test suite (only difference is I commented out the `_datadog_patched` test).

[2018-07-10 22:02] quentin- commented on #174
I opened this PR with a test case https://github.com/DataDog/dd-trace-js/pull/179

[2018-07-11 07:06] fragglebob commented on #175
Yep, that fixes it completely.

[2018-07-11 13:50] #175 closed

[2018-07-11 14:41] rochdev commented on #174
I thought you meant it was throwing an exception, sorry about that. Working on a fix.

[2018-07-11 22:02] #174 closed

[2018-07-16 09:07] atreidesend opened #183 "Bug: Tracer ignores configured sampling rate"
It looks like the tracer constructed in `opentracing/tracer.js` is ignoring the configured sample rate and using a hardcoded value of 1
[code]
Unless I'm missing something this samples *everything*, regardless of config. Happy to put together a quick PR to patch -> it could probably use something as simple `config.sampleRate || 1`

[2018-07-17 12:17] rochdev commented on #183
Thank you for reporting this oversight! Since we are planning a release in a few hours, I will make the PR to make sure I can get it to go in that release.

[2018-07-17 14:05] #172 closed

[2018-07-17 14:20] #183 closed

[2018-07-20 18:01] rochdev commented on #161
@agindre Were you able to get a few logs? Also, can you try with `0.4.0`? It has quite a few changes to the core that could have fixed the problem. If you use manual instrumentation, please note that this version contains [breaking changes](https://github.com/DataDog/dd-trace-js/releases/tag/v0.4.0).

[2018-07-24 16:19] UnbrandedTech opened #197 "Memory leak"
What's the ETA on a KoaJS integration?
We're trying to manually wire up dd-trace but it's causing memory leaks.

The plateaus in the image is when we reverted the commit, after 4 attempts to figure out what was causing the `ENOMEM` errors.

<img width="622" alt="screen shot 2018-07-24 at 8 13 21 am" src="https://user-images.githubusercontent.com/1107773/43152103-d9081f92-8f2a-11e8-8038-07681bccae4

[2018-07-24 18:14] LewisJEllis opened #198 "https module not found"
[code]

It seems that [src/plugins/index.js](https://github.com/DataDog/dd-trace-js/blob/master/src/plugins/index.js) is attempting to require `src/plugins/https.js` which does not exist.

[2018-07-24 19:52] UnbrandedTech commented on #197
Heres our code that caused the memory leak.

*DataDog.js*
[code]

*DataDogMiddleware.js*
[code]

[2018-07-24 20:08] #198 closed

[2018-07-25 00:44] SethDavenport commented on #197
Seeing something very similar in my codebase.

I'm using dd-trace-js@0.4.0 and the [heroku buildpack](https://github.com/DataDog/heroku-buildpack-datadog). Here's a screenshot of Heroku's dyno metrics:

<img width="1425" alt="image" src="https://user-images.githubusercontent.com/4614141/43173176-7a4924ea-8f81-11e8-8cb4-320c2e4f0156.png">

That point where the mem starts to climb coincides with the

[2018-07-25 16:42] SethDavenport commented on #197
Noticed 0.5.1 was released, gave it a try. Unfortunately I'm still seeing the mem leak. Commenting out the `tracer` calls results in normal memory behaviour. What are we doing wrong?

[2018-07-25 16:50] SethDavenport commented on #197
Trying with 0.5.1. Will update once I have more data.

[2018-07-25 18:51] UnbrandedTech commented on #197
Very interested if it works, It took our system down so I'm not willing to test it unless I get a confirmation from the Dev team that's it's been fixed.

[2018-07-25 22:11] rex-remind101 opened #201 "OOMs"
We installed the latest version (0.5.1) and deployed and all of our instances began throwing out-of-memory errors almost immediately. Rolling back the commit (removing dd-trace) fixed the issue. Other than a change to `package.json` the following is the entirety of our diff:
[code]

[2018-07-26 15:41] rochdev commented on #197
I was able to replicate this and I am currently investigating. I'll let you know as soon as a fix is on the way.

I'll move KoaJS support to a new issue since this discussion is really about the leak and it doesn't seem to be related to the middleware.

[2018-07-26 15:43] rochdev opened #202 "KoaJS Plugin"
Requested by @UnbrandedTech in #197

[2018-07-26 15:44] rochdev commented on #201
Possibly related to #197. I am currently investigating memory issues.

[2018-07-26 17:11] SethDavenport commented on #197
Yean 0.5.1 exhibits the same behaviour unfortunately. Thanks for looking into it @rochdev!

[2018-07-26 20:01] holdenmc commented on #197
We were having the same issue described here. We just re-deployed with `0.5.2-beta.0` about 15 minutes ago and it's holding steady memory-wise

[2018-07-26 20:45] rochdev commented on #201
Can you try with 0.5.2-beta.0?

[2018-07-27 13:09] rochdev commented on #201
Fixed by #203

[2018-07-27 13:09] #201 closed

[2018-07-27 13:09] rochdev commented on #197
Fixed by #203

[2018-07-27 13:09] #197 closed

[2018-07-27 13:30] rochdev commented on #197
Released in 0.5.2

[2018-07-27 13:30] rochdev commented on #201
Released in 0.5.2

[2018-07-29 14:42] SethDavenport commented on #197
Just tried 0.5.2 - memory usage appears to be stable. Thanks for the quick turnaround!

[2018-07-31 12:58] daniestrijdom opened #206 "Errors when using with Firebase"
HI,

We have an koa app that uses firebase realtime database, but when we [initialise the firebase application in the project](https://firebase.google.com/docs/admin/setup), then we get the following trace in our logs;

[code]

[2018-07-31 13:07] daniestrijdom commented on #206
Just saw the issue on another app that doesn't have firebase, just a new microservice we're created with that also uses the newest version of dd-trace, other applications with older versions are not showing this error, so it is likely not isolated to firebase

[2018-07-31 13:14] rochdev commented on #206
Which versions of `dd-trace` and Node are you using?

[2018-07-31 16:03] quentin- opened #208 "Support for sampling priority"
👋,

I'm new to DD, but it seems like most other DD libraries have some support for this.
Is adding this to the node library in the roadmap?

Thank you.

[2018-07-31 18:43] rochdev commented on #208
This is definitely on the roadmap. I'll keep this issue updated when we start working on it.

[2018-07-31 18:47] rochdev commented on #206
Also, what was the version that didn't have the warning? Does the application still work or is this throwing an exception?

[2018-07-31 21:55] stephenh commented on #208
@rochdev does dd-trace-js currently support any distributed tracing? E.g. reading/writing x-datadog-trace-id/span-id headers? I did a quick grep and it doesn't look like it, but may have missed it.

[2018-07-31 23:17] agindre commented on #161
Hi @rochdev,

Sorry for my late answer. No I didn't but I will try it with the last version end of this week.

[2018-08-01 12:54] daniestrijdom commented on #206
hi @rochdev ;

Node version is 8.11.3 in every case

dd-trace version is 0.5.1 which is giving us issues - previous version we were on which didn't give the node warning is 0.3.2

The application still works and it's not an exception or error that crashes the app, however looking at the kubernetes pod today I can see that there was 1 restart in the last 24 hrs, not sure if related. What happens is

[2018-08-01 13:14] rochdev commented on #206
This seems to happen because `http` reuses sockets from a pool when used with `keepAlive: true` and we attach an event handler to the socket on every request. I'll try to see if the listener could be removed sooner, and also if it would be possible to simply remove it.

[2018-08-01 13:52] stephenh commented on #208
@rochdev ah thanks! Apologies, I did something really dumb when searching for the headers.

Any guesses about how far out sampling priority is? We just start poking around at "have engineers opt-in their requests for end-to-end distributed tracing" (we have too many requests to log everything), and basically everything goes through graphql, so it won't be terribly useful until dd-trace-js reads/fo

[2018-08-02 06:34] daniestrijdom commented on #206
thanks @rochdev !!!!

[2018-08-02 15:52] dbsanfte opened #211 "APM tag custom metadata"
Hi there,

We'd like to take advantage of APM events and trace searching in Datadog, by adding custom tags to our ExpressJS and/or GraphQL spans, which are auto-instrumented.

Any examples on how to do this? I see there are some for Python/Ruby but none for Javascript.

[2018-08-02 16:05] rochdev commented on #211
For `express` and `graphql`, it would be possible to grab the current span by using the scope manager, for example `tracer.scopeManager().active().span()` and then calling `span.addTags()` from within a request or a resolver, respectively.

Complete example:

[code]

This is however only available for integrations where your code runs in the context of the integrations (i.e. web frameworks) but no

[2018-08-03 18:06] rochdev commented on #206
Released in 0.5.3

[2018-08-06 21:07] stephenh commented on #208
@rochdev I'd really like to have this. Can I submit a PR? In theory just watch for the incoming header and then have sampler somehow check the span's context? Not entirely sure how to get from span -> the text map-created context.

[2018-08-06 21:13] rochdev commented on #208
@stephenh Of course! If you prefer to wait we plan to implement this fairly soon as well.

For the headers you should be able to look at any one of our tracers that supports sampling priority and implement the same logic.

About your last point, I'm not sure I understand correctly what you mean. Can you clarify?

[2018-08-06 23:00] stephenh commented on #208
@rochdev sweet. How soon is soon? :-) If it's "not this week", I might poke around.

Well, I was looking at Sampler's `isSampled(span)` method and just thinking I'd want to do something like `span.context.theSamplingPriorityHeader == 2` (or what not).

FWIW I haven't looked at other impls yet, but I mainly just want this to collect + respect + pass-along the `x-datadog-sampling-priority` header, a

[2018-08-07 00:53] rochdev commented on #208
@stephenh In the coming weeks but definitely not this week.

Makes sense for the header. There is not much more than that to it either I think, but feel free to open a PR and we'll discuss if there are any adjustments to make.

[2018-08-07 01:51] stephenh commented on #208
I'm poking around a bit. I'm curious about this line:

https://github.com/DataDog/dd-trace-js/blob/master/src/opentracing/span_context.js#L12

AFAICT in `span.createContext`, `sampled` is always passed (e.g. creating a new span from another span, or a new top-level trace/span).

But in the `text_map` propagator, `sampled` is not passed, which to me insinuates `sampled === undefined` will always be

[2018-08-08 06:50] msiebuhr opened #218 "Redis multi() weirdness"
We're using redis' `multi().<functions>.exec()` in quite a few places - and they show up in somewhat weirdly in traces:

![screen shot 2018-08-08 at 08 42 26](https://user-images.githubusercontent.com/330611/43820711-50872866-9ae7-11e8-98b9-371557bf5a51.png)

[code]

Given that the docs for [multi](https://redis.io/commands/multi) / [exec](https://redis.io/commands/exec) mentions the commands in b

[2018-08-08 10:24] TheComfyChair opened #219 "TypeError: headers.authorization.startsWith is not a function"
Hi! After updating to 0.5.3, I'm now encountering the following error. I'm running on node 8.9.4 (in docker). 0.5.1 (and 0.5.2) are both behaving as expected.

No custom instrumentation has been used, with only the standard setup outlined here: https://docs.datadoghq.com/tracing/setup/nodejs/

`TypeError: headers.authorization.startsWith is not a function
    at hasAmazonSignature (/home/app/ims-u

[2018-08-08 14:00] rochdev commented on #218
From my understanding of multi/exec, the start times are correct since all commands are sent to Redis right away. For example, `MULTI` is sent starting a transaction at the server, then `GETSENT` is sent, then `EXPIRE` is sent, and finally `EXEC` is sent, notifying Redis to execute the queued commands atomically. All of this happens synchronously.

For the duration (and thus the end time) I also t

[2018-08-08 14:03] rochdev commented on #219
The code handling this header actually assumes a string. While this is definitely a bug as it shouldn't crash, I would be interested in knowing what is the use case for setting this header, or headers in general, to a value other than a string.

[2018-08-08 21:54] #219 closed

[2018-08-08 22:14] AndrewLugg opened #221 "mongodb-core plugin doesn't work with Mongoose"
Please can you consider adding a [Mongoose](http://mongoosejs.com/) plugin.

It is built on top of MongoDB-core, but it doesn't work, it is probably an easy tweak.

[2018-08-08 22:16] rochdev commented on #221
What is the version of the underlying `mongodb-core` that is pulled as a transitive dependency?

[2018-08-08 22:18] AndrewLugg commented on #221
I tried it with Mongoose 5.2.4, which uses mongodb-core 3.1.0

[2018-08-08 22:47] AndrewLugg commented on #221
If the mongodb-core plugin worked with Mongoose that would be great, I don't think a specific mongoose plugin is needed.

[2018-08-09 02:06] rochdev commented on #221
Just wrote a simple test case using `findOne()` and I get a span as expected.

Are you loading `mongoose` before or after calling `tracer.trace()`? Also, are you using `import` or `require`? Sometimes the order will change once transpiled when using `import` because of hoisting.

[2018-08-09 02:50] AndrewLugg commented on #221
I am using Express, and Mongoose, Express tracing is working fine, and I get the http requests too, but mongo does nothing.

Here is a copy of the order I am bringing in the my libraries:
[code]

This is the one I just tested adding tracer.trace(); and I get a deprecatin warning for it saying "Please use tracer.startSpan() and tracer.scopeManager() instead.See: https://datadog.github.io/dd-trace-j

[2018-08-09 14:33] rochdev commented on #221
It is correct that `tracer.use()` is not necessary if you don't explicitly disable all plugins in the configuration.

The code from the snippet you provided seems correct. Would you be able to provide a small sample of Mongoose code that you would expect to get a span but doesn't?

Also, which version of the tracer are you using?

[2018-08-09 15:17] gajus opened #222 "Bind the init()"
[code]

Results in:

[code]

Solution:

Bind `init` method to the dd-trace object prior to exporting it.

[2018-08-09 17:17] rochdev commented on #222
Thanks for the tip! In the meantime, you can use `import * as tracer from 'dd-trace'` as a workaround.

[2018-08-09 20:06] gajus opened #223 "log initialization"
Use a logger to document what the agent is doing, which plugins are being enabled, what modules are being patched.

I humbly recommend https://github.com/gajus/roarr for all the reasons described in https://github.com/gajus/roarr#motivation.

Case in point: I have loaded `dd-trace` using:

[code]

and I have no clue whats the reason "pg" or "express" data is not being logged; only "http" is being

[2018-08-09 20:09] gajus commented on #223
Never mind, it looks like you have a `{debug: true}` configuration.

https://docs.datadoghq.com/tracing/setup/nodejs/#debug-mode

It would be handy to have all of this in README.md.

[2018-08-09 20:13] gajus commented on #223
Either way, looks like enabling debug does not log anything of value with regards to plugin loading issues.

[2018-08-09 20:14] rochdev commented on #223
You can also set your own logger by using the [logger option](https://datadog.github.io/dd-trace-js/#custom-logging)

Please let me know if you think anything is missing from the debug logs! We went with a minimal approach to start and only logged the components that are the most difficult to debug.

Currently which plugin is loaded is not included, but I agree it would be very helpful.

Are you i

[2018-08-09 20:16] rochdev commented on #223
Actually the version could also be a cause, and this should be logged as well if there is a version mismatch.

[2018-08-09 20:17] gajus commented on #223
There is `DD_TRACE_DEBUG` setting.

https://github.com/DataDog/dd-trace-js/blob/master/src/config.js#L11-L20

[2018-08-09 20:17] gajus commented on #223
That is the case indeed. Yes, this should be logged.

[2018-08-09 21:47] AndrewLugg commented on #221
I decided to try it on a different server that has a more simplified layout. And it is working with Mongoose and Express. The difference is that it has all of its functions in the 1 file, and the model as a separate file. The service it wasn't working with, has the express message handlers in an a separate file, which call the models in.

[code]

I am using dd-trace version 0.5.3

[2018-08-09 23:01] chaserelock opened #224 "Doesn't work with the latest PG module"
We've upgraded our PG module from 6.3 -> 7.4
We no longer see information for postgres in our services tab for our environment

[2018-08-10 02:48] rochdev commented on #224
`pg` 7.x is not supported at the moment, but it will be as soon as support for testing multiple module versions lands.

Related to https://github.com/DataDog/dd-trace-js/pull/144

[2018-08-10 02:51] rochdev commented on #221
This shouldn't change the behavior. Is it possible maybe that this line `const config = require('./src/config.js');` requires `mongoose` by indirection?

[2018-08-10 13:33] rochdev commented on #218
Closing for now. Please feel free to reopen if you still think the behavior is incorrect.

[2018-08-10 13:33] #218 closed

[2018-08-10 19:59] jlujan-omg commented on #49
@ColinBradley

Seeing type conflicts when using these definitions.

[code]

Changing imports in the definitions and removing the copy of opentracing definitions in `./src` fixes this.

`import {Tracer, Span, SpanContext} from "opentracing"`

[2018-08-10 20:16] clayne11 commented on #219
[`node-fetch`](https://github.com/bitinn/node-fetch) sets headers to arrays rather than strings. I think this should be handled since `node-fetch` is the defacto `fetch` library for Node.

[2018-08-10 20:18] rochdev commented on #219
It's fixed in master and will be in the next release :)

[2018-08-10 20:39] rochdev commented on #219
Just released it!

[2018-08-14 15:54] aleccool213 commented on #49
👍

[2018-08-14 18:08] ColinBradley commented on #49
@jlujan-omg I have submitted a PR for compatibility with `opentracing`: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/28118

Should be merged soon and hopefully helps you out! : )

[2018-08-14 18:18] JohnLZeller opened #231 "Supporting koa web framework"
In the [Tracing docs](https://docs.datadoghq.com/tracing/setup/nodejs/#web-frameworks) it says that support for `koa` web framework is "Coming soon". I would really love to bump this up in priority if that's possible :) Happy to test some stuff if needed. Thanks for your work!

[2018-08-14 18:29] rochdev commented on #231
Thanks for you interest in the tracer! We are currently working on a few improvements to the core and our ability to test multiple versions of supported libraries, but Koa is the next planned new integration :)

Duplicate of #202

[2018-08-14 18:29] #231 closed

[2018-08-14 20:59] JohnLZeller commented on #231
Great, thank you @rochdev!

[2018-08-15 14:28] sumeetsympatica opened #233 "ReactJs / React Native Support"
The plugin works great with express based nodejs apps

However we would like to trace request latency from client to server and back

When I use the module from a ReactJS app created using create-react-app I get this error:

[code]

[2018-08-15 14:29] sumeetsympatica opened #234 "How can I add the GraphQL Query String / Summary of response to the span?"
this would be great to be able to drill down into problematic queries

[2018-08-15 14:32] sumeetsympatica commented on #234
I am using apollo-server v2

[2018-08-15 15:00] rochdev commented on #233
The tracer currently only supports Node and doesn't work in the browser. Browser support is on our radar but there is no plan to support this short-term as we currently focus on improving Node tracing.

Related: #48

[2018-08-15 15:12] rochdev commented on #234
You should see the GraphQL query already in the span in the `graphql.document` tag.

For the response this is currently not added by the integration. We do add the error if there is one however. What is your use case for viewing the response when the execution is successful?

[2018-08-15 15:17] Alfarlost opened #235 "Graphql plugin doesn't work with apollo schema stitching"
I'm using apollo schema stitching and receive next error:
[code]
I wonder if just adding `writable: true` to line 29 `defineProperties` will be enough.

[2018-08-15 15:36] rochdev commented on #152
The service names have been updated according to this discussion.

In summary:

* Web servers use the global service name from the tracer (i.e. `auth`)
* Other integrations use the name of instrumentation, prefixed with the global service name (i.e. `auth-redis`)
* The `http` plugin specifically can be configured using the `splitByDomain` option which will instead use the remote endpoint as the se

[2018-08-15 15:36] #152 closed

[2018-08-15 16:14] Alfarlost commented on #235
@rochdev, you can use the full example described in official docs
https://www.apollographql.com/docs/graphql-tools/schema-stitching.html
Just checked, it throws the same error.

[2018-08-15 16:18] rochdev commented on #235
Thanks for the reference! I'll take a look.

[2018-08-16 03:40] toniov opened #236 "In Express in case of error the resource route is not shown"
Hi there!
I'm using the express plugin, and in case a request return an error code (>=500) the route is not shown in the DD APM:

![screen shot 2018-08-16 at 11 35 57_censored](https://user-images.githubusercontent.com/2839810/44185365-d2259700-a14e-11e8-9a93-7b62d78d75d7.jpg)

I could find out that this only happens when I send the  HTTP response outside the route middleware, for example, in an e

[2018-08-16 06:56] esselius commented on #152
Looks like a great solutions, thank you for your work @rochdev!

[2018-08-16 12:12] rochdev commented on #236
This happens because of an assumption that when `next()` is called, it means it's a middleware and not a route and thus the path is ignored. This is however not true for errors. I'll have a look.

[2018-08-16 12:14] sumeetsympatica commented on #233
Thank you for your fast reply. I will wait for the "horizon" to approach.

In case I am willing to auto instrument my code for tracing, could I in the meantime use your earlier project 'https://github.com/rochdev/datadog-tracer-js'?

Thanks, Sumeet

[2018-08-16 13:07] rochdev commented on #233
That could be a workaround. Keep in mind that it's no longer maintained however.

[2018-08-16 13:13] rochdev commented on #234
This other issue was reported in https://github.com/DataDog/dd-trace-js/issues/235. For now I unfortunately don't know of a workaround as I'm not very familiar with schema stitching. A simple check to avoid redefining might work but I'm not sure if it's correct for the use case. I'll try to implement a quick workaround and keep https://github.com/DataDog/dd-trace-js/issues/235 up-to-date.

[2018-08-16 13:56] #236 closed

[2018-08-17 08:56] #234 closed

[2018-08-17 20:27] sumeetsympatica commented on #233
Hello,

I have been able to use dd-trace-js in my react js project by
1) commenting out the instrumentation code like so
[code]
2) modifying text_map.js like so
[code]
3) changing node/index.js to
[code]

[2018-08-17 20:27] sumeetsympatica commented on #233
5) instrumenting window.fetch using code borrowd from react-tracing
[code]

[2018-08-17 20:27] sumeetsympatica commented on #233
6) the fetch is wrapped and custom x-data-doh headers are added to all outgoing queries

7) I have reverse proxied a remote datadog agent installed on an aws server using nginx proxy and sendinng appropriae cors headers

[2018-08-17 20:27] sumeetsympatica commented on #233
HOWEVER, I am getting BAD REQUEST back from the nginx reverse proxy with nginx log line
[code]

the dd-debug trace is:
[code]

Any help would be appreciated ..

Thanks a lot,
Sumeet

[2018-08-19 18:41] clayne11 opened #248 "Doesn't support subscriptions"
[This PR](https://github.com/DataDog/dd-trace-js/pull/180/files) added support for mutations but there's still no support for subscriptions. We need to add `subscription` to the types array.

[code]

Without this change every subscription call is crashing my app. With the change made everything works as expected.

[2018-08-20 13:27] rochdev commented on #233
Just wanted to comment on all the points mentioned above for future reference when doing the actual implementation of this.

1. The instrumenter is probably the most difficult part, but parts of it should be extracted to platform to make it also work for the browser as it's the component responsible for loading all integrations, including React.

2. Why the change to `node-int64`? The encoder is u

[2018-08-20 14:18] rochdev commented on #248
What is the error you are getting? Unsupported types should simply be ignored and not crash the application, so this is definitely a bug. For example, if a new type is added in the future which we don't yet support, it should not crash.

[2018-08-20 14:25] clayne11 commented on #248
The issue is [these lines](https://github.com/DataDog/dd-trace-js/blob/de7d346419c76f9b233270c0818bb20863c0e94f/src/plugins/graphql.js#L15-L17):

[code]

Since `subscription` isn't in the types then the `execute` function never gets called. If we want to ignore it we need to make sure that `execute` gets called, just that the tracking doesn't occur.

[2018-08-20 15:08] sumeetsympatica commented on #233
Hi,

Correction: change to node-int64 was not required... react does support that module. and msgpack-lite worked fine too...

I got it working with React. Will now see if it an also work with RN

And will upload my changes to github as fork once all is working

Happy to contribute :)

[2018-08-20 16:41] pauldraper opened #251 "Separate OT libraries"
This is awesome work!

Before I stumbled on this, I was working on

1. adding ScopeManager interface to opentracing-javascript
2. implement ScopeManager with async_hook and async-hook-jl
3. implement ScopeManager with Zone.js
4. implementing tracing for http.Server
5. implementing tracing for http client
6. implementing tracing for pg
7. implementing tracing for aws-sdk

It looks like (2), (5), an

[2018-08-20 17:43] rochdev commented on #251
I had similar thoughts on how to split this.

For `async-hook-opentracing` I was actually thinking of making this 3 projects basically:

* One project to hold the actual asynchronous hooks logic, which could either wrap something like `async_hooks` or be a 100% JavaScript implementation. I tend to prefer the latter since it would work on any platform (i.e. Node, browsers, Vert.x). In any case, the

[2018-08-20 18:42] pauldraper commented on #251
One thing to check out is [Zone.js](https://github.com/angular/zone.js/) which has a lot of those and supports a variety of environments. It does not, however, support native syntax async/await. (But AFAIK there is no way to support async/await in some runtimes, like browsers.)

There's even a TC39 proposal for it, but it's stalled. https://github.com/domenic/zones

From process.addEventListener,

[2018-08-20 20:03] pauldraper commented on #251
Yes. It supports domains, fs, EventEmitters, etc. https://github.com/opentracing/opentracing-javascript/pull/113 has the CPS-style ScopeManager and https://github.com/rivethealth/opentracing-javascript/commit/13fc56cd9fd5ad45d02a1f2a8454570f0db381d1 has the currently standard imperative style, both with Node.js tests.

Since its core doesn't use runtime-specific support and therefore cannot work w

[2018-08-20 20:40] rochdev commented on #251
That would mean that the first implementation couldn't use Zone.js however, since all the recent projects I've seen use async/await.

I don't remember exactly, but it was a case where the way the library was built, it was not possible to handle a specific case. I think it was something along these lines: we needed to activate the span in the current context so we can access it later, but there wer

[2018-08-20 21:22] pauldraper commented on #251
Give that imperative ScopeManager is the current standard, it does make sense to keep that; sorry, I didn't mean for that discussion to leak in here.

I think finishOnClose is extraordinary complexity for a use case I cannot think of, but again, that has to do with RFC itself and is discussed better elsewhere.

---

Main point of this issue here is splitting up the libraries.

1. Async hooks/CLS s

[2018-08-20 21:51] rochdev commented on #251
Totally agree.

This can be iterated on. The most important part is move the entire functionality out. Afterwards it can be split further if necessary. I just think in the long run it would be interesting to have something that can be used outside of OpenTracing. This is definitely not a short-term concern.

The most important ones for us that are common across all integrations are the following:

[2018-08-20 22:07] pauldraper commented on #251
That can easily be added at the Tracer level.

Personally, I think this is common enough be added to the OT standard, though perhaps as `peer.resource`.

There is `component` which is similar. The tracer could interpret that.

Excellent. And the tracer can always do the conversion if convenient.

Yes. https://github.com/opentracing/opentracing-javascript/pull/113 should be closed in favor of it. I

[2018-08-21 13:57] rochdev commented on #251
It already is, but we prefix the remote service basically. I think it's possible to achieve that using the existing tags, I would have to do some testing.

The only issue is that different vendors expect different formats in most cases. While it's not ideal, it would probably take a lot of effort to achieve a common format for every integration.

That could work. At worst a conversion would be nee

[2018-08-21 14:06] pauldraper commented on #251
Sounds good. Are you thinking the RFC will or will not include tracking descendents for finishOnClose?

Java tracks it.

I might be missing something about cases when that is helpful.

[2018-08-21 14:26] rochdev commented on #251
When you say Java tracks it, this means that the current thread plus every single thread that is created from that point on need to be terminated before `close()` is automatically called? This would be the equivalent behavior of our JavaScript scope manager.

In any case, the RFC will include all options. The benefit of tracking descendants is to support a `CHILD_OF` relationship when no callback

[2018-08-21 15:07] pauldraper commented on #251
Yes. When finishOnClose is true, it has an atmoic ref counter that means
async operations (normally done via a thread pool rather than a new thread,
but could be anything with instrumentation) can affect the lifetime of the
context. java-concurrent has the instrumentation, I think.

I don't know what Python does.

On Tue, Aug 21, 2018, 08:26 Roch Devost <notifications@github.com> wrote:

[2018-08-21 15:29] rochdev commented on #251
Do you see any issue with doing that in JS too other than the added complexity? (which is also already there)

[2018-08-22 15:52] jclif opened #253 "Supporting Hapi.js"
Hiya, we're using Hapi.js and noticed from the documentation that support is coming soon; are there any plans to roll out support for this framework in the near future?

[2018-08-22 16:39] #248 closed

[2018-08-22 16:41] pauldraper commented on #251
I have bad experiences with tracking complex leaking trace implementations, so I prefer to make it as simple as possible. (But obviously no simpler, if there is a needed use.)

[2018-08-22 17:09] rochdev commented on #253
Yes, and it's one of the next items on our roadmap :)

[2018-08-23 12:39] ColinBradley opened #257 "A request to move @airbnb/node-memwatch to devDependencies in package.json"
Any chance of `@airbnb/node-memwatch` being moved into a `devDependency` in `package.json`? As it's just increasing CI times for us - especially sad as it is a dev dependency. It also causes errors that get ignored in some environments (not a real bother or your problem).
I have resorted to using the `--no-optional` flag for `npm install` and `npm prune` and that does avoid the problem. Using that

[2018-08-23 13:32] rochdev commented on #257
That was actually a mistake on my part. I moved it from `devDependencies` to `optionalDependencies` because it doesn't install on Node <8 but I forgot that `optionalDependencies` are not installed only in dev. I'll simply remove the dependency completely and install it as a build step.

[2018-08-23 13:41] aledbf opened #258 "Feature request (expressjs): allow to skip instrumentation in certain routes"
Right now all the routes are instrumented but some like `/healthz` could be used in some probes (Kubernetes) that cause lots of (unnecessary) traces

[2018-08-23 13:48] rochdev commented on #258
It's possible to ignore routes directly in the agent. See https://github.com/DataDog/datadog-agent/blob/master/pkg/config/config_template.yaml#L594

[2018-08-23 13:51] rochdev commented on #251
Sorry for not posting the RFC yet. I'm currently experimenting with a few different approaches first to get a better idea of what to recommend. It's proving very difficult to keep track of when to automatically close the scope efficiently.

[2018-08-23 14:59] aledbf commented on #258
@rochdev thank you. That works for me.

[2018-08-23 14:59] #258 closed

[2018-08-23 15:01] aledbf opened #259 "Feature request: ioredis"
The redis module lacks support for sentinel, something that works OOTB in ioredis. Adding additional modules for redis to support the sentinel protocol breaks the instrumentation

[2018-08-23 15:03] rochdev commented on #259
Do you mean that it crashes in some way, or that it just stops instrumenting?

[2018-08-23 15:05] aledbf commented on #259
that

[2018-08-23 17:17] rochdev commented on #259
Interesting. Which additional module caused this?

[2018-08-23 17:32] aledbf opened #260 "MongoDB traces error"
`unknownCommand admin.$cmd`

mongodb-core 3.1.2

[2018-08-23 18:33] rochdev opened #261 "redis plugin stops instrumenting when using redis-sentinel"
Reported in https://github.com/DataDog/dd-trace-js/issues/259

[2018-08-23 18:34] rochdev commented on #259
I opened another issue to track the problem with `redis-sentinel` specifically.

Otherwise, we do plan to support ioredis in the future.

[2018-08-23 18:36] aledbf commented on #259
@rochdev thanks!

[2018-08-23 18:45] rochdev commented on #260
By error do you mean the resource name includes `unknownCommand` instead of the actual command? If so, what was the command?

Unfortunately the `mongodb-core` module doesn't contain the list of available commands which means we have our own list in the integration. When the command is not known, the fallback is to use `unknownCommand`.

[2018-08-23 18:53] aledbf commented on #260
Running in debug mode I see this:
[code]

Can we get the "real" command being executed that triggers this error? (at least in the debug message)

[2018-08-23 18:59] rochdev commented on #260
The problem is that it's not possible to know the real command, since the command is actually a key on the same object where other properties exists.

For example:

[code]

How do you know which key is the command name?

[2018-08-23 19:01] rochdev commented on #260
Maybe we could store the entire command object in a tag however. That would make it easier to figure out what the command is.

[2018-08-23 21:09] aledbf opened #262 "Question: mongodb child span"
What's the correct way to create a child span with some mongodb operation?
Using something like the next snippet I get all the mongodb tracing information in the rootSpan.

[code]

[2018-08-23 21:34] rochdev commented on #262
This seems to be correct. Is it possible that Mongoose uses an internal queue and executes `save()` in a different context? If this is the case then the library would need to be patched for this to work.

Is the code simple enough that you can try to replace all the `async/await` statements with promises? It should work the same, but it would at least eliminate the possibility that there is some i

[2018-08-23 21:41] aledbf commented on #262
@rochdev `wait` is this module https://www.npmjs.com/package/await-to-js
(just a wrapper to avoid `then` and `catch` with promises

[2018-08-23 21:42] aledbf commented on #262
Good question. I am going to enable debug in mongoose and the trace library to see if I can get this info

[2018-08-27 02:30] rochdev commented on #260
When I think of it, we could probably even store a quantized version of the entite command as the resource name as well instead of trying to figure out the command name. I’ll investigate whether that would work.

[2018-08-27 14:45] stephenh commented on #251
FWIW if you're discussing shared lib instrumentation (+1), I stumbled across Google's strackdriver, which looks like it is a ~fairly mature?/complete? implementation of these (I've not used it, just found it in github yesterday while googling for async hook misc things): https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/tree/master/src/plugins. Disclaimer it's very likely you've already se

[2018-08-28 14:22] benjamine opened #264 "url-parse vulnerable dependency"
it seems the version of url-parse you're using has an identified (High) vuln.
[code]

see https://nodesecurity.io/advisories/678

afaik it should be straightforward to bump the version (if you're open to PRs I can give it a try)

[2018-08-28 15:05] rochdev commented on #264
Definitely open to PRs! Feel free to submit the version bump.

[2018-08-28 17:27] benjamine commented on #264
@rochdev ok, I gave it a try at the linked PR, from what I saw no further changes were needed (I noticed build fails in node v4, but it seems that's prior to this change).
thanks!

[2018-08-28 20:18] #264 closed, assigned to nobody

[2018-08-31 01:34] toniov opened #267 "Express latency breakdown not showing other services"
Hi there,

I'm using the tracer with the following settings:

[code]

When checking the Express service, the latency breakdown is not showing other services, only with one exception, in case of error.

But in case of error the breakdown only adds the `http` service part. `elasticsearch` and `mysql` services are never shown. But separately they seem to work ok.

Details:
[code]

[2018-08-31 19:54] rochdev commented on #267
Are you using a Promise library such as Bluebird or Q? These are unfortunately not patched at the moment and they use an internal queue which means the current scope is lost.

If this is the case, as a temporary workaround you can reactivate the scope manually by using the [scope manager](https://datadog.github.io/dd-trace-js/#scope-manager)

[2018-09-01 05:05] toniov commented on #267
I'm using native promises.
And the routes are wrapped in async functions, just in case it's related.

Thanks for the workaround.

[2018-09-03 11:51] devillexio opened #269 "Feature request: Make sample rate configurable via environment variable"
There are few options that can be set via environment variable. Unfortunately `sampleRate` is not one of them.

In our environment we have one service that hits rabbitmq and redis a lot more than any other application. For this particular application we'd like to be able to set `sampleRate` to 1% (0.01), but we cannot use the config option, and need to use an environment variable.

[2018-09-04 14:48] rochdev commented on #269
@devillexio `sampleRate` is actually only meant as a safeguard for extremely high load, because it will drop the traces directly at the client level and not count any dropped trace in the metrics for that service.

Are you experiencing any performance issues related to the number of spans in the traces from this service?

Also note that it's possible to set this configuration (or any other configu

[2018-09-04 16:01] devillexio commented on #269
Hi @rochdev. Thanks for the response.

We experienced rate limits and datadog agent crashes after rolling out dd-trace to the application in question. Although we don't log a lot to the system, it uses both redis and amqp, which is likely what caused the problem. Long term we will need to review this application, but for now I'd like to stop the datadog agent crashes and rate limits. For reference

[2018-09-04 18:41] timrogers opened #271 ""Processing pipelines" to allow filtering and sanitising traces"
Are there any plans to support "processing pipelines" in this library, as are [supported in the Ruby library](https://github.com/DataDog/dd-trace-rb/blob/master/docs/GettingStarted.md#processing-pipeline) to allow filtering and processing traces, for example to ignore certain ones or remove sensitive data?

It's possible to do this in the Agent with [the agent's automatic scrubbing and replace rul

[2018-09-04 21:49] rochdev commented on #269
If I calculate this properly, that would mean only 6000 spans per second total, which the agent should handle easily.

@devillexio What do you mean by "datadog agent crashes"? This should never happen. Do you have any kind of log entry or more details about the nature of the crash?

[2018-09-04 22:05] rochdev commented on #271
This is on our roadmap but not currently being worked on. I'll keep this issue updated when we start working on that.

[2018-09-05 06:49] toniov opened #272 "Node process performance degradation"
Hi there,

I think the tracer is having a considerable effect in my node processes performance. When there is a low or moderate load it's not appreciable, but during peak time period the CPU usage grows more than double than before (server load average that used to be 0.5 going to around 2, for example).

Didn't have the chance to profile the app, but the behavior I explained above happened only i

[2018-09-05 13:59] rochdev commented on #272
How many spans are generated on average for each request, and how many req/sec are you getting?

If you could provide any output from profiling it would definitely be helpful as well.

Also, just to confirm, are these server load average numbers CPU percentage?

[2018-09-05 14:44] rochdev opened #273 "[graphql] Only calculate depth if necessary"
Right now the depth is calculated all the time even if the configured depth is `0` in which case it's unnecessary.

See: https://github.com/DataDog/dd-trace-js/pull/263/files/96bb07894c3b517c676dfa798152eb9d867d400f#diff-56a3b36e486bab88257b48e948c0c066R96

[2018-09-06 05:32] devillexio commented on #269
Unfortunately I don't have access to the logs from the period we experienced the issue, but the symptoms were as follows:

- datadog agent pods hit rate limit errors when persisting data to datadog
- not sure if related, but we also noticed rabbitmq connection errors for the first time since rolling out agent v6; these are still happening now (see below)
- agent pods restarted several times during

[2018-09-06 10:00] toniov commented on #272
I'm getting around 200 req/sec per instance, spanning 3 Node processes, so around 66 req/sec per process. Also I think around 3 spans are generated on average each request.

By load average I meant the same that `top` or `uptime` show: average of the number of processes which are being executed by the CPU or in waiting state. I just mentioned it to give an idea about how it's affecting the system,

[2018-09-06 13:41] rochdev commented on #272
In my own testing, I am unable to reproduce such a big impact for just a couple hundred requests. If you could provide profiling data it would be very helpful.

[2018-09-06 15:57] rochdev commented on #269
From this it seems the problem is with the agent, so I'd say to continue the discussion in the ticket. Just make sure to update this issue with any update/resolution.

[2018-09-10 22:57] rochdev opened #278 "Refactor SpanContext to use a Trace class"
Right now `SpanContext` is too simple, which makes the rest of the code more complicated in certain cases. We should add a `Trace` class to hold information about the whole trace, and also use an actual `SpanContext` everywhere including in tests and benchmarks that currently use object literals instead.

[2018-09-13 15:11] ibolmo commented on #272
I've ran into this as well. Doing some flamegraphs I discovered that the `require-in-the-middle` causes most functions imported to no longer be optimized by V8:

Here's the flamegraph with dd-agent:

![](https://zappy.zapier.com/E3261AB5-E45F-401F-AF01-157999A0E9F0.png)

Here's the flamegraph without dd-trace:

![](https://zappy.zapier.com/32511F62-6D39-4C98-9079-1A61DC769963.png)

[2018-09-13 19:15] rochdev commented on #272
Since `require-in-the-middle` is only executed when `require` is called (which in most cases only happens when the app starts) I doubt it would make an impact at runtime.

@ibolmo Can you try with `dd-trace`, but with plugins disabled? I wonder if maybe the `graphql` plugin is at fault in your case.

[2018-09-14 17:29] #257 closed

[2018-09-18 16:44] bojand opened #287 "Module plugin request: Fastify"
https://www.fastify.io

It would be nice to have this supported. While it is compatible with Express middleware in general, and similar implementation as Express could probably work... Fastify does offer its own [request / response hooks](https://www.fastify.io/docs/latest/Hooks/) that may be more appropriate to utilize at the top level scope.

[2018-09-18 16:49] rochdev commented on #287
Thanks for the suggestion! There is work being done right now to extract helpers that will make it easier to implement more Web frameworks. Since this is a less used framework, it could take some time before we get to it, but these helpers will greatly help community contributions.

[2018-09-19 15:50] rochdev commented on #253
Hapi support added in #282 and will be in the v0.6.0 release.

[2018-09-19 15:50] #253 closed

[2018-09-20 12:44] clarkdave opened #292 "Allow configurable OPERATION_NAME for pg plugin (maybe all plugins?)"
We've found that Datadog's APM interface can be confusing if a single service has traces with multiple operation names. In the Datadog UI, a "service" is actually represented by this URL: `https://app.datadoghq.com/apm/service/$service/$operation_name`

Where `$service` could be `postgres` and, in this library, `$operation_name` would be `pg.query`.

The operation name is currently a hardcoded con

[2018-09-20 15:51] rochdev commented on #292
There are actually 2 problems causing this issue. I will address them individually.

1. Different operation names between Node and Ruby

This is a bug as our integrations in the different tracers should have the same operation name for the same operation. In this case for example, both represent a "PostgreSQL query" and thus should be consistent. Given the overall issue that you've described above

[2018-09-23 22:02] #161 closed

[2018-09-25 01:37] ibolmo commented on #272
@rochdev I agree with the assumption but here's another look with empirical data:

**with tracer on:**
![](https://zappy.zapier.com/A8AAE587-9905-4DAA-BF5E-76C6D0A4BAAE.png)

** without tracer on:**
![](https://zappy.zapier.com/7C7F1F00-C280-429A-BF24-4DC04C80319B.png)

It's the same uncached request and payload. Same amount of work the graphql js has to process, but my theory is that the require-

[2018-09-25 21:10] #208 closed

[2018-09-25 23:04] rochdev commented on #259
Released in v0.6.0

[2018-09-25 23:04] #259 closed

[2018-09-25 23:05] rochdev commented on #202
Released in v0.6.0

[2018-09-25 23:05] #202 closed

[2018-09-25 23:05] rochdev commented on #163
Released in v0.6.0

[2018-09-25 23:05] #163 closed

[2018-09-27 18:02] rochdev commented on #272
One way to test this theory would be to completely exclude `dd-trace` from the equation and try using only `require-in-the-middle`.

You could do that with the following snippet:

[code]

If you still get the same behavior, then we'll know for sure it's related to `require-in-the-middle`. Otherwise it means it's most probably something else.

[2018-09-29 08:40] timrogers opened #297 "What is intended to be reported as an "error" from the HTTP plugin?"
What kinds of errors are we trying to report as "errors" from the HTTP(S) plugin?

https://github.com/DataDog/dd-trace-js/blob/34c168555f44a961a61ede95a39341d7c527701a/src/plugins/http.js#L59-L67

I've observed that 4XX and 5XX HTTP responses *don't* seem to lead to errors being recorded in Datadog APM. Perhaps this is the expected behaviour, but strikes me as a little counterintuitive and worth d

[2018-09-30 12:03] keattang opened #298 "Koa tracing doesn't work automatically"
This may just be a misunderstanding on my part but I took the documentation to mean that using the `init()` method would automatically set up request tracing on requests coming into my Koa server. If this is true, then it appears not to work, if not please close this issue.

I am using version `0.6.0` and I set up the tracer before I call `const app = new Koa()` like so:
[code]

In the datadog con

[2018-09-30 19:36] timrogers commented on #297
My gut feeling is that for most use cases, recording 4XXs and 5XXs as errors would be valuable.

Most of the time, an elevated rate of these would indicate a problem with the health of my application which I want to be able to see at a glance, receive alerts for, etc.

That said, there are cases where (at least for certain requests), some 4XX or 5XX errors are an expected part of the ordinary oper

[2018-09-30 21:28] timrogers commented on #297
Thinking about it, you might well have logic to retry connection failures
too (if the request is idempotent), and despite having handled the error,
you’d still probably want it recorded as an error. I think the same goes
for 500s.
On Sun, 30 Sep 2018 at 18:21, Roch Devost <notifications@github.com> wrote:

[2018-10-01 10:33] keattang commented on #298
Ah yep that was it, my bad! I think I was a bit blinded to that by the fact that my linter prefers absolute module imports to be before relative modules imports. I now have big red errors all over the top of that file that I need to exempt but I can deal.

On a side note, is there an easy way to get the tracer to use the url as the resource name as opposed to the method? For this particular servic

[2018-10-01 15:34] timrogers commented on #297
I'm happy to write the code for this. How would you want the errors to be recorded? There seem to be three properties: `msg`, `type` and `stack`. `stack` is going to be challenging - we might have to omit it if that's permitted (or potentially we could generate a stack trace from the current line and remove entries that came from `dd-trace-js`).

[2018-10-01 15:41] rochdev commented on #297
In this case, since there is no actual error, I would probably omit the error object and simply set the `error` tag. Then it will be possible to infer the reason of the error from the status code.

I wouldn't generate an actual error whenever it's possible not to do it because error generation is pretty heavy in JavaScript.

[2018-10-02 02:46] keattang commented on #298
When you say it `means routing support unfortunately` did you mean `means *no* routing support unfortunately`? Or do you mean that there is built in support for `koa-route`?

All of my requests are routed to and handled by the same function but within that function there may be a few different API calls depending on query strings or the path so I would like to group by path. There are only a small

[2018-10-03 17:20] timrogers commented on #297
I have an implementation for this locally. I’ll push it up tomorrow.

[2018-10-03 20:54] phyllisstein opened #300 "Koa plugin throws 500 error: "Cannot read property 'length' of undefined.""
👋 Hey Datadogs! I wanted to flag an issue I'm having with the JS tracer's Koa plugin. It seems to run without complaint in dev, but running it in prod throws a `500` on every request:

[code]

I'm afraid I don't know the plugin architecture well enough to speculate on what the problem might be---or on why it only seems to show up in prod---but I'd be grateful for any thoughts you folks have. Thank

[2018-10-04 10:18] prashanth007 opened #302 "Tracing does not work with express"
Distributed Tracing does not seem to work with Express and Redis. I also use UWS for websocket support.

The following are my dependencies.

"dependencies": {
    "body-parser": "^1.18.2",
    "express": "^4.16.2",
    "log4js": "^2.3.7",
    "nodemailer": "^4.3.0",
    "redis": "^2.8.0",
    "request": "^2.83.0",
    "request-promise": "^4.2.2",
    "retry": "^0.10.1",
    "uws": "^9.14.0",
    "

[2018-10-04 13:33] rochdev commented on #302
Could you describe the behavior you are experiencing? What do you mean by "Distributed Tracing does not seem to work"? Do you mean it doesn't work at all? Or does it work only partially?

Also, what is the language of each service? (client + server)

[2018-10-04 13:35] prashanth007 commented on #302
The tracing appears like below
<img width="1007" alt="screenshot 2018-10-04 at 3 46 18 pm" src="https://user-images.githubusercontent.com/11177505/46477505-6aafcd80-c808-11e8-85a3-4d7e19e68928.png">

[2018-10-04 13:41] rochdev commented on #300
I'll take a look. Are you using the same version of Koa in dev and prod? (the actual installed version, not version range).

[2018-10-04 13:54] rochdev commented on #300
Also, what version of `koa-router` are you using?

[2018-10-04 14:17] phyllisstein commented on #300
Thank you! `yarn.lock` should keep the versions in sync in both environments; `koa-router` is pinned to `8.0.0-alpha.1`, and since that's probably silly I could certainly try rolling it back.

[2018-10-04 14:44] rochdev commented on #302
Could you share a snippet of how the tracer is instantiated, as well as express and redis?

[2018-10-04 15:02] rochdev commented on #300
While `koa-router` 8.x is not officially supported at the moment, it should not result in an error, so there is definitely a bug. They probably changed the structure of Layer, so I'll add additional checks to ignore layers that are not matching what we expect.

However, even after solving the bug, the instrumentation would still be limited as it would not include the route in the resource name. I'

[2018-10-04 16:43] prashanth007 commented on #302
`const tracer = require('dd-trace').init( { env : process.env.NODE_ENV , service : 'RTMServer' } )
`
[code]

[code]

[2018-10-04 16:47] rochdev commented on #302
Is this tracer initialization done before `redis` is required?

Also, are you getting individual `redis` traces in another service in the UI or you are not getting these spans at all?

[2018-10-05 07:28] phyllisstein commented on #300
Thanks for the suggestion! I knocked `koa-router` back down to `^7.4.0` and the app started responding again. I think I have some additional work to do around exposing the APM ports on my nodes but that's a story for another ticket.

[2018-10-05 07:28] #300 closed

[2018-10-05 18:31] leoyu037 opened #304 "dd-trace-js doesn't appear to instrument app code when initialized and imported from another package"
## Issue

I have the following in a `uc/koa-datadog` package:

[code]

And then in my app, I’ve specified `koa-datadog` as a dependency and I have these lines in my index.js:

[code]

However, there seems to be a problem with the auto-instrumentation of Koa code when the tracer is initialized this way. After speaking with @rochdev, we confirmed that manual traces work:

[code]

Docker trace agent

[2018-10-05 23:27] rochdev commented on #224
Fixed in #250 and released in v0.6.0

[2018-10-05 23:27] #224 closed

[2018-10-10 09:17] prashanth007 commented on #302
Could anyone help us on this? What are we doing wrong here?

[2018-10-10 17:15] rochdev commented on #302
I see that one of the dependencies is `request-promise` which uses Bluebird under the hood. Is this used between the time the request is received and the call to Redis?

The reason I'm asking is because Bluebird uses an internal queue that doesn't play well with context propagation. If this is the case, I can help to work around the issue until we improve support for Bluebird.

[2018-10-11 03:49] prashanth007 commented on #302
No the request promise module is used to just make only one call to an external api. But the tracing info is not available for any requests that comes into server.

[2018-10-11 03:51] prashanth007 commented on #302
Please do also let me know the work around i will try and see if that fixes the issue.

[2018-10-11 19:47] rochdev commented on #302
The workaround would basically be to reactivate the correct scope before the Redis call.

For example it's possible to grab the current span at the beginning of the route handler:

[code]

And then reactivate it just before sending a Redis command

[code]

Of course this is not ideal, and you would have to propagate that span manually. What you are experiencing however should never happen, and if

[2018-10-12 02:03] terryma opened #307 "Tracing does not work with Apollo server schema merging"
What works:
- Apollo server 2 + apollo-server-express + graphql 0.13 + dd-trace 0.6 using a local schema. This works fine I see the following flame graph for both the express request and the graphql resolution:

![image](https://user-images.githubusercontent.com/567259/46843384-5da25980-cd87-11e8-8d8d-c0e003e3beda.png)

Once I start doing [schema stitching](https://www.apollographql.com/docs/graph

[2018-10-12 14:52] rochdev commented on #307
Related to https://github.com/DataDog/dd-trace-js/issues/235

[2018-10-12 14:54] rochdev commented on #307
We instrument the schema directly, so it's possible that if an entirely new schema is created by Apollo our instrumentation is lost. I'm guessing we would probably need to explicitly support Apollo for this to work properly.

[2018-10-12 16:26] willyyang opened #308 "Hapi + GraphQL"
Is there something wrong with my configuration if I want to use the [DD integrations](https://datadog.github.io/dd-trace-js/#Integrations) for Hapi and GraphQL?

[code]

[2018-10-12 16:43] rochdev commented on #308
The configuration looks correct. What is the issue?

[2018-10-12 17:32] willyyang commented on #308
No traces showing up for the graphql requests

On Fri, Oct 12, 2018 at 12:43 PM Roch Devost <notifications@github.com>
wrote:

[2018-10-12 17:34] rochdev commented on #308
Are you getting a trace for the Hapi request? What version of GraphQL are you using? Are you using a framework on top of the `graphql` module? (i.e. Apollo)

[2018-10-12 18:39] willyyang commented on #308
no Hapi request traces.
[code]

[2018-10-12 18:49] willyyang commented on #308
nvm solved my issue.

[2018-10-12 18:49] #308 closed

[2018-10-12 19:06] rochdev commented on #308
For future reference, what was the issue?

[2018-10-12 20:11] rochdev commented on #261
The reason this doesn't work is because `redis-sentinel` uses a very old version of the `redis` module that is not supported.

[2018-10-12 22:58] keattang commented on #298
Perfect thanks!

[2018-10-12 22:58] #298 closed

[2018-10-13 20:57] willyyang commented on #308
Initialization of code.

[2018-10-14 17:48] willyyang opened #310 "Custom Traces + Generated spans from integration"
Is it possible to use the generated spans, from the integrations for GraphQL, as parent / child spans for other custom traces ? in the graphql resolvers, I make gRPC calls out to a golang server.. I want to see the entire trace.

flame graph from Hapi GraphQL plugin integration.
<img width="917" alt="screen shot 2018-10-13 at 5 00 56 pm" src="https://user-images.githubusercontent.com/6396257/46920

[2018-10-15 14:08] rochdev commented on #310
This is definitely possible, and should happen automatically for any supported module.

To do it manually, you have to use the [scope manager](https://datadog.github.io/dd-trace-js/#scope-manager) to get the scope and then add your own instrumentation.

In your case for example, you would have to grab the span from the active scope in the resolver, and then add a span for the gRPC client, and prop

[2018-10-15 14:09] rochdev opened #311 "Add support for gRPC"
Related: https://github.com/DataDog/dd-trace-js/issues/312

[2018-10-15 14:10] rochdev opened #312 "Add support for HTTP2"
This includes instrumentation and propagation.

[2018-10-15 14:11] rochdev commented on #310
Created #311 and #312 to support this out of the box.

[2018-10-15 16:05] willyyang commented on #310
I have the custom traces set up as you mentioned, across the node + go servers, but I am not able to propagate errors to the span metadata as I would see from the flame graphs generated from the graphql plugin..

[code]

**From the Plugin:**

![screen shot 2018-10-15 at 12 02 50 pm](https://user-images.githubusercontent.com/6396257/46962927-5d99a680-d072-11e8-9d6e-b73792b4c218.png)
![screen shot 2

[2018-10-15 16:20] willyyang commented on #310
^ will make separate issue for this.

[2018-10-15 16:21] willyyang opened #315 "Set errors in span metadata"
How do I see the errors set from the span tag?
[code]

![screen shot 2018-10-15 at 12 39 16 pm](https://user-images.githubusercontent.com/6396257/46964989-88d2c480-d077-11e8-9404-3c1e8750d35f.png)
![screen shot 2018-10-15 at 12 39 26 pm](https://user-images.githubusercontent.com/6396257/46964990-8a03f180-d077-11e8-9776-38e33843d24c.png)

[2018-10-15 16:48] rochdev commented on #315
Not sure I understand the question. Are you trying to flag a custom span as an error? If that's the case, there are a few tags that you can set: `error.type`, `error.msg` and `error.stack`

[2018-10-15 16:51] willyyang commented on #315
Yes trying to flag a custom span as an error. Can you give me a full example of how this should be done or point me to docs? thanks.

[2018-10-15 16:54] rochdev commented on #315
Basically it should look something like this:

[code]

[2018-10-15 19:50] willyyang commented on #304
can you set ` tags: tags,` ? I don't see this as a field in the ts `TracerOptions` interface

[2018-10-16 04:50] prashanth007 commented on #302
I just tried the above solution and found out that the span context is being lost during express body parser. I also tried getting the context and activating the span later but i am getting the following error

Error: Expected [object Object] to be an instance of SpanContext.

So I took the span out and set it to the request object as well as the response.locals object and tried access it post the

[2018-10-16 14:47] rochdev commented on #302
This was a problem in the past, but should no longer happen in newer versions since we reactivate the span in every middleware similar to what you did:

https://github.com/DataDog/dd-trace-js/blob/27c00ff3428ae4fa76a61590de9787d5cf37fa6e/src/plugins/express.js#L97

https://github.com/DataDog/dd-trace-js/blob/27c00ff3428ae4fa76a61590de9787d5cf37fa6e/src/plugins/util/web.js#L60-L64

Can you make sur

[2018-10-16 18:17] tsheaff opened #317 "Get multiple redis instances showing up as separate services"
We have moved from one single redis instance to breaking out into now 4 redis instances specific to different pieces of the application.

However, they're all showing up as a single service in the dashboard.

We're using `ioredis`.  When initializing the different connections to the different redis instances, how can we specify that ddtrace should treat them separately rather than all together?

[2018-10-16 18:43] tsheaff commented on #317
@rochdev

[2018-10-16 22:11] rochdev commented on #317
This is not currently possible unfortunately. It is however a known issue which we would like to address for other data stores as well.

If this is something you need right away, I can offer a workaround, but **please keep in mind that it relies on internal APIs that could change in the future**.

Since the `ioredis` integration will use the service name of the tracer by default, you could change

[2018-10-16 22:37] tsheaff commented on #317
Thanks @rochdev that is helpful and we will try this out. Our code is wrapped in a way that will make this rather straightforward in terms of code factoring, subject to one caveat below:

If we're waiting for callbacks to occur, will that cause any problems?  For example:

[code]

Things can obviously occur in between the `get()` and the `doSomething()`, including other calls to redis (either the

[2018-10-17 01:07] rochdev commented on #317
Yes, it should work because everything between the moment `redis.get()` is called and the span creation happens synchronously. Also, any other calls to a Redis command cannot be done before this code path finishes, which means the service name reset also always has the chance to run.

Of course it does mean that you will need to be very careful with updates to the tracer for the time being. Even t

[2018-10-17 20:50] tsheaff commented on #317
OK that sounds great @rochdev we'll test it out on our dev tier and let you know how it goes.  Looks like it won't be too bad.  We'll make this code defensive to avoid any null pointer exceptions even if the API changes.  I'll post our full code sample once it's confirmed to be working on production, for posterity.

[2018-10-18 08:03] prashanth007 commented on #302
Hi,
I just made sure that the version installed in 0.6.0 and it still didnt work. I will also make a sample app as you requested to demonstrate the issue.

The instructions provided for agent installation has a big problem in it.
If the user is installing datadog agent for the first time then it would work fine, but if he upgrading from v5, the instructions does not work. so i had to manually upda

[2018-10-19 20:19] rochdev commented on #302
Are these custom metrics or metrics from one of our integrations? In any case it would probably be best to either open an issue in our [agent repo](https://github.com/DataDog/datadog-agent) or open a ticket with support.

[2018-10-21 14:59] #235 closed

[2018-10-21 15:01] #307 closed

[2018-10-22 11:17] danhaller opened #324 "Graphql 14.x.x"
Hi,

I believe graphql instrumentation isn't working in our app because the latest version of graphql is now `14.x.x` whereas the plugin instruments `0.13.x`.

https://www.npmjs.com/package/graphql

Is supporting 14.x.x something that you want the library to do?

Thanks

[2018-10-23 01:42] archerabi opened #325 "Exclude hosts/domains from http plugin"
It would be nice to add the ability to ignore tracing certain domains in the http plugin.
A lot of applications use third party libraries for monitoring, error reporting etc and it would be good to have the option to ignore these domains.

[2018-10-23 02:02] rochdev commented on #325
Thanks for the suggestion! This shouldn't be too difficult to implement so I'll try to do it soon.

[2018-10-23 14:05] rochdev commented on #324
It's definitely something we want to do. We want to always support new versions, but cannot do so automatically for major versions in case there are breaking changes in how the library works.

[2018-10-23 18:46] rochdev commented on #317
@tsheaff What information would you use to differentiate between different Redis clients?

[2018-10-24 01:36] terryma opened #334 "Add support for `pg` native client"
Is this intended to work with http://docs.sequelizejs.com/ over `pg`? Out of the box I'm not seeing any spans for `pg` recorded, although I do see the `pg` plugin getting initialized. If this doesn't work out of the box, do you have some instructions on how to make it work?

[2018-10-24 07:55] johnnydimas commented on #297
Hey @timrogers, thanks for submitting this change. We were racking our brains trying to figure out why our 4xx errors weren't being reported in APM as errors.

I have pointed our npm package to the latest in master as your branch was merged, but not yet published.

I was curious if you could provide an example of how you implement this? Does it require any changes or does it work by default now th

[2018-10-24 08:04] timrogers commented on #297
It should just work. I haven’t updated yet 🙈 What’s missing here is the
ability to customise what is considered an error based on how the specific
API you’re calling works, but if you’re not worried about that and can
configure globally, this should work for you.
On Wed, 24 Oct 2018 at 08:55, Johnny <notifications@github.com> wrote:

[2018-10-24 14:39] rochdev commented on #297
@johnnydimas Please note that the feature was merged in the `v0.7.0` branch and not `master`.

[2018-10-24 14:41] rochdev commented on #334
It should work with Sequelize or any other ORM using the `pg` module. Which versions of `dd-trace` and `pg` are you using?

[2018-10-24 17:40] terryma commented on #334
[code]

In the same application if I use the `pg.Client` directly then tracing works, but with Sequelize I'm not seeing any traces (the `pg` plugin's `patch` logic is not invoked)

[2018-10-24 19:48] rochdev commented on #334
I wonder if Sequelize uses `pg` in some way that would skip our instrumentation. I'll have to take a look.

[2018-10-24 21:10] terryma commented on #334
Looks like we're using the `native` option for Sequelize, which uses the `pg.native` module here https://github.com/brianc/node-postgres/tree/master/lib/native.

Wrapping the `pg.native` module in `pg.js` allows the monkeypatching to work, but fails inside `queryWrap` because the native query object is different.

[code]

Would it be possible to support this, we want to keep the `native` flag on f

[2018-10-25 13:11] rochdev commented on #334
I'll have to check if it's possible, but given the API is the same, it should definitely be possible.

[2018-10-25 13:43] rochdev commented on #334
Ok it's definitely possible. The difficulty lies in testing this since it requires that Postgres is installed when installing `pg-native`.

[2018-10-25 23:12] terryma commented on #307
Thanks for fixing this! Do you have a planned release date for 0.6.1?

[2018-10-26 14:05] rochdev commented on #315
I'm inferring from the above thumbs up that this fixed your issue. Please feel free to reopen if that's not the case.

[2018-10-26 14:05] #315 closed

[2018-10-26 14:10] rochdev commented on #307
I'm aiming for today, or Monday at the latest.

[2018-10-26 20:18] terryma commented on #307
Thank you! 👍I'll test this out and let you know if it fixes the issue we were seeing.

[2018-10-26 22:00] terryma commented on #307
Seems good so far, thank!

[2018-10-28 02:01] stephenh opened #340 "Use request pooling in node"
This is minor, but I think currently the writer is creating a new http connection/DNS lookup/etc. on each flush. We're seeing a few `docker.net.tcpx.active_opens` in our Node process, which is usually indicative of new connections being opened. The overhead is small but we try to have everything use connection pooling as a general best practice.

In node, the default behavior for `http.request` is

[2018-10-29 13:16] rochdev commented on #340
I wonder if this should be configurable. Is there any case where you wouldn't want to use connection pooling?

[2018-10-29 14:15] stephenh commented on #340
Good question; I believe in this case it should always be a good thing; dd-trace-js is only talking to a single host, and a single connection at a time, so its not like the pool would get really huge/take a lot of resources, which I think is usually the concern with pools (keeping around unneeded resources). And dd-trace-js knows it will reuse the connection really soon now, e.g. it won't go ~hour

[2018-10-29 14:49] johnnydimas commented on #297
@rochdev Is there a timeline on when this will be available in a release?

[2018-10-29 17:29] rochdev commented on #297
@johnnydimas I don't have a specific timeline but it should be fairly soon. In the meantime, you can use one of the intermediary beta releases, such as `0.7.0-beta.2` which I've just released.

[2018-10-29 19:05] rochdev commented on #340
The tracer will only have one persistent connection, but the agent will get one for every tracer. This could increase the memory usage of the agent if there are enough services sending traces.

I'd have to investigate a bit more to get answers to the following 2 questions before making this the default:

* Do we use keep-alive in our other tracers?
* What would the impact be on the agent?

In the

[2018-10-29 19:31] rochdev commented on #317
What I mean is, for example if this was a built-in option on the plugin, how would you expect to be able to select the correct service name?

For example:

[code]

I don't know if there is any information on the Redis client itself that would allow to select a name.

[2018-10-30 19:24] SethDavenport opened #341 "websocket issues in 0.6.1"
Kind of a weird issue, please bear with me.

I'm using dd-trace-js 0.6.0 on a Koa server that also exposes a websocket endpoint. It works great. I love DataDog APM and logs by the way!

We updated to dd-trace-js 0.6.1 and websockets stopped working in our production environment. As in, clients can open a websocket, but our koa controller never gets invoked.

Rolling back to dd-trace-js 0.6.0 cause

[2018-10-30 20:18] jordanrogers opened #343 "npm package size in 0.6.1"
I noticed that the size on disk of the dd-trace npm package increased significantly with version 0.6.1

//version 0.6.0
[code]

//version 0.6.1
[code]

I suspect that ./docs and ./test could be excluded from the published npm package. Perhaps ./scripts and ./benchmark as well, I am not sure.

[2018-10-30 21:13] rochdev commented on #343
It looks like for some reason files that are excluded from `.gitignore` are not actually ignored by npm. Definitely a bug.

[2018-10-30 23:09] terryma opened #344 "Distributed tracing bug?"
I haven't dug into this yet, but I think there might be a bug with serializing/deserializing trace/span IDs across distributed traces?

On service A, I have dd-trace enabled, and I make an outbound request to service B. I see this logged in service A:
[code]

On service B running `express`, I've injected some logging to log the request headers:

[code]

So I correctly see the datadog headers in se

[2018-10-30 23:41] terryma commented on #344
Looks like the debug log is using `JSON.stringify()`, which is not logging the correct unsigned 64bit int, see test:

[code]

Not sure if this only affects logging, or the actual encoding/decoding of the trace/span IDs using msgpack yet

[2018-10-31 20:17] tsheaff commented on #317
Yeah it's a good question. I'm not super familiar with ioredis under the hood. It's just a javascript object tho so I'd imagine we could set a property on the ioredis instance? Not sure how you've handled that (if at all) in other cases. Open to suggestions.

The `this.ddTracer._tracer._service` is working perfectly for us for now!

[2018-10-31 20:20] rochdev commented on #344
From what I can see, this should definitely end up in a single trace. Are you saying this ends up in 2 different traces?

[2018-10-31 23:08] terryma commented on #344
No they did end up in a single trace, looks like this is only a logging bug. Although I'm seeing very inconsistent result where a lot of my traces are missing the spans from service B. Not sure if they're getting sampled or what, is there some debugging I can do locally to verify that all traces are sampled and therefore should appear in the datadog UI?

[2018-11-01 14:17] rochdev commented on #344
Are both services on the latest version of the tracer? Priority sampling was only added in v0.6.0

If that's the case, you should be able to see the `x-datadog-trace-id`, `x-datadog-parent-id` and `x-datadog-sampling-priority` headers being propagated in our logs in both services. You will also be able to see from the log of the trace itself if the parent header is being used properly. This should

[2018-11-01 15:46] Nysosis commented on #49
@ColinBradley
Getting an issue using those typings:

`Return type of exported function has or is using name 'TraceProxy' from external module "[ROOT]/node_modules/@types/dd-trace/index" but cannot be named.`

[2018-11-01 19:17] #343 closed

[2018-11-01 21:15] #341 closed

[2018-11-02 00:47] terryma commented on #344
I haven't seen this issue today, but it was definitely happening yesterday. If I can repro again, I'll definitely let you know, thanks!

Regardless, the logging bug should be fixed?

[2018-11-02 01:04] rochdev opened #347 "Debug logs lose precision for trace and span IDs"
Since `JSON.stringify()` is used to generate log entries, some precision is lost on the trace and span IDs since they are converted to `Number` before being logged, which has a maximum precision of 53 bits. Instead, the string value from the `Uint64BE` should be used. Since this would result in a string in the JSON, a custom serializer should be used to display it as a `Number`. The object structu

[2018-11-05 15:13] leoyu037 commented on #304
__Update__: this seems to be an issue with using the `esm` module in our packaged, preconfigured tracer. We have found that using `babel` to transpile our package code from ESM to CJS style imports allows us to use to package in the following 3 cases:

1. Node app that doesn't use `esm`, using CJS style imports
1. Node app that uses `esm`, using CJS style imports
1. Node app that uses `esm`, using

[2018-11-05 15:29] rochdev opened #349 "Add support for ES modules"
Right now we rely on `require` to patch modules automatically. We should also support [ES modules](https://nodejs.org/api/esm.html) as well as the [esm](https://www.npmjs.com/package/esm) module.

[2018-11-05 15:30] rochdev commented on #304
Opened https://github.com/DataDog/dd-trace-js/issues/349 to track ES modules specifically.

[2018-11-05 15:35] rochdev commented on #340
I did some digging on our end and we are already evaluating whether to use connection pooling for our tracers. I prefer to keep the current behavior as the default for now until we have a better understanding of the impact of moving towards this model.

I'll add an option in the meantime so that this can at least be configured.

[2018-11-05 15:51] leoyu037 opened #350 "Koa integration: resource tagging by route only works for routes defined by koa-router"
A lot of our node-koa apps serve single page webapps that do client-side routing, so they don't use `koa-router`. When this is the case, it's hard to distinguish requests for the main payload with requests for other static assets in the APM UI.

For example in our "contacts" app, both main payload requests and static asset requests get bucketed into the same `GET ` resource that doesn't have a rou

[2018-11-05 16:06] leoyu037 commented on #304
Okay, closing issue

[2018-11-05 16:06] #304 closed

[2018-11-06 09:21] Nysosis opened #354 "Plugins don't activate on windows due to path separator"
When running applications on my windows 7 box, I was finding that no plugins were activating.

After a little digging it turned out it was because the path separators used in the plugin matchers were not compatible e.g. [hapi.js#L52](https://github.com/DataDog/dd-trace-js/blob/77ccd7ac8f6140cb8ad09ff7557d23733166e147/src/plugins/hapi.js#L52).

I've fixed in my fork, PR to accompany.

[2018-11-06 09:55] timrogers commented on #297
I’m going to close this as my change was merged, if not released. In an idea world, you’d be able to customise on a per-request basis but it’s hard to imagine how you’d do that in a nice automatic way!

[2018-11-06 09:55] #297 closed

[2018-11-06 16:43] leoyu037 commented on #350
Specifically, we use `koa-heartbeat` and `koa-static-server`

[2018-11-06 18:46] terryma commented on #334
Would you be willing to take a PR for this? I can try to get a working version locally in the next few days

[2018-11-06 18:47] rochdev commented on #334
Definitely, but we should probably discuss to test this first given the concern I have raised above.

[2018-11-07 22:19] willyyang opened #363 "Distributed Tracing bug (Inject)"
I think there's an issue with the injection of traceIds which makes figuring out which distributed spans are linked via traceIDs in Trace Search impossible.

[code]

So the traceId from the span I created .. and the traceId that gets created by using `inject` .. is not the same ?

Any guidance on how I can fix this issue would be great.

"dd-trace": "^0.6.0",

[2018-11-07 22:20] willyyang commented on #363
similar to https://github.com/DataDog/dd-trace-js/issues/344

[2018-11-08 14:23] rochdev commented on #363
Your test is not working because `span.traceId` doesn't exist. I updated the code and I am seeing the correct behavior where both IDs are the same.

[code]

Are you experiencing a problem that you were trying to debug using this?

[2018-11-08 15:31] willyyang commented on #363
Sorry I was trying to get rid of private code, I was testing using `console.log(JSON.stringify(span.context().traceId))` to generate that number.
Looks like `JSON.stringify(` and `.toString()` give different numbers. `toString()` gives the correct value as you mentioned.

And yes, I'm trying to use the Trace Search Feature in DD to filter my services by traceIDs but I noticed that each of my trace

[2018-11-08 15:36] rochdev commented on #363
It sounds like this is out of scope of Node APM. I would recommend either asking for help on our public Slack or open a support ticket. It's possible the difference is expected and there may be another way to do what you want, or maybe it's a bug.

[2018-11-09 20:57] rochdev commented on #363
Closing this for now. Please feel free to reopen if needed.

[2018-11-09 20:57] #363 closed

[2018-11-15 18:34] #354 closed

[2018-11-15 20:24] Nysosis opened #378 "`http` plugin fails when added via `use` on disabled tracers"
Now, you might be wondering why I'd be calling `use` on a disabled tracer, well it's because I'm relying on the `DD_ENABLED` environment variable to control whether it was enabled or not, as opposed to specifiying it manually. So when I create my tracer, I can just have a simple initialisation without the need to check that env variable myself.

I've created a repro-repo at [dd-trace-js-gist](http

[2018-11-15 21:56] rochdev commented on #334
I've split the build with 1 job per plugin, which should make it easier to implement this. However, I'm still concerned about the ability to run tests locally if an installation of Postgres is required on the developer's machine.

@terryma Any ideas?

[2018-11-15 22:19] terryma commented on #334
Sorry I haven't taken a look at this in depth yet. I didn't realize pg native would require a local postgres to be installed? If so, is it possible to run the tests in docker? (looks like it's done that way for the CircleCI build)

[2018-11-16 15:42] rochdev commented on #378
This is indeed a use case I didn't think about when implementing this. Your recommended solution is probably correct, as basically everything should be a no-op when the tracer is disabled. My only worry with returning early is if `.use()` is called before `.init()`. I will try to see if it's possible to still support this use case by registering plugins but not using them until the tracer is enabl

[2018-11-16 15:45] rochdev commented on #334
It's possible but I'm not sure how to do that in watch mode.

[2018-11-16 17:07] rochdev commented on #324
Released in 0.7.0

[2018-11-16 17:07] #324 closed

[2018-11-16 17:08] rochdev commented on #261
Released in 0.7.0

[2018-11-16 17:08] #261 closed

[2018-11-16 17:08] rochdev commented on #325
Released in 0.7.0

[2018-11-16 17:08] #325 closed

[2018-11-19 06:48] wanglong167 opened #382 "express web xhr 》router》node xhr》res"
node xhr Will the new generation trace_id

[2018-11-19 06:50] wanglong167 commented on #382
node xhr  Will the new generation trace_id

[2018-11-19 08:49] wanglong167 commented on #382
`
  function makeRequestTrace (request) {
    return function requestTrace () {
      const args = normalizeArgs.apply(null, arguments)
      const uri = args.uri
      const options = args.options
      const callback = args.callback

      if (!config.filter(uri)) {
        return request.call(this, options, callback)
      }

      const method = (options.method || 'GET').toUpperCase()

      c

[2018-11-19 10:32] wanglong167 commented on #382
express-rate-limit   cause

[2018-11-19 10:32] #382 closed

[2018-11-19 15:06] rochdev commented on #382
@wanglong167 Can you add more details about what the issue was? Is there some sort of incompatibility between `dd-trace` and `express-rate-limit`?

[2018-11-19 15:18] wanglong167 opened #383 "----------- parentScope null"
const parentScope = tracer.scopeManager().active()

  -----------  parentScope  null

[2018-11-19 15:44] rochdev commented on #383
Please provide a more coherent description of the issue.

[2018-11-19 15:50] wanglong167 commented on #383
[code]

router.post('/getCodeRs',limiter.sm, function(req, res, next) {

 //const parentScope = tracer.scopeManager().active()

----------- parentScope null

elastic-apm-node    pgk   normal

})

[2018-11-19 17:13] wanglong167 commented on #383
package.json

[code]

test.js
[code]

[2018-11-19 17:20] rochdev commented on #383
Thanks for the snippet! I'll take a look.

[2018-11-19 20:32] #378 closed

[2018-11-20 16:37] saidmasoud opened #385 "trace grouping not working when used with router"
We have multiple instances of `koa-router`, and we inject the tracer agent as a middleware into each router so that `ctx._matchedRoute` will work properly. However, when we inject the tracer into the Router object, it does not properly associate database (postgres and mysql) and other traces with the HTTP request. This functionality worked when we were injecting the tracer directly into the Koa ob

[2018-11-20 16:42] rochdev commented on #385
What do you mean when you say "inject the tracer"? The tracer should be initialized only once before all other modules are required. If you are not getting the correct resource name when using `koa-router` this is a bug.

Which version of `dd-trace`, `koa` and `koa-router` are you using? Also, could you provide a snippet of how the tracer is used?

[2018-11-20 16:56] saidmasoud commented on #385
dd-trace: 0.6.2
koa: 2.5.1
koa-router: 7.4.0

We have the tracer initialized in a separate code base (which serves as a dependency to our main app), and is initialized as so:

[code]

We then import that project into our main app and use it as a router middleware:

[code]

What we USED to do (which broke `ctx._matchedRoute` because we `app.use()` multiple router instances) is the following:

[code

[2018-11-20 17:03] rochdev commented on #385
Thanks for the snippets. A few things:

Using the tracer as mentioned in the first 2 snippets is not supported. If it works it's luck but it could eventually break.

Using multiple instances of `koa-router` is however supported, so if this is not working for you there is definitely a bug there. Can you provide a minimal runnable snippet that reproduces the issue?

As a side note, why are you creat

[2018-11-20 18:04] #383 closed

[2018-11-20 20:50] idris opened #386 "How to set a user_id tag with graphql plugin?"
I'm setting up Trace Search, and have my graphql queries and mutations set in `analyzed_spans`.  That's all working great, but now I want to add a `user.id` tag to all of those spans so that I can filter by user ID in Trace Search & Analytics.

What's the best way to do this?  I tried adding the following in a schema-level resolver (using [`addSchemaLevelResolveFunction` from graphql-tools](https:

[2018-11-20 21:02] rochdev commented on #386
Is the user ID already available when the GraphQL query executes, or does it become available from one of the resolvers?

[2018-11-20 21:34] rochdev commented on #386
On which level are you trying to do the search? If the user ID is available on the root span, can you do the search on the top-level service?

[2018-11-20 22:35] idris commented on #386
The problem is that Trace Search shows the Resource name, which for GraphQL hits are all `POST /graphql`.  That makes that column useless, and there's no way to get the GraphQL query info (query name, for example) without using GraphQL as the span that's analyzed.

[2018-11-20 22:45] rochdev commented on #386
Do you have any way to explicitly pass an initial `contextValue` to the operation with the library you are using? If this is the case, I can offer a workaround since attaching a tag to every span of a specific trace is not currently possible.

[2018-11-20 22:52] rochdev commented on #386
Actually never mind my previous comment, I think you could simply attach the query name to the request itself in order to be able to search on it since the user ID is already available on the request. This of course has the assumption that the request only does a single operation.

[2018-11-25 04:11] idris commented on #386
Great idea.. thanks!

[2018-11-25 04:11] #386 closed

[2018-11-26 18:54] ebenoist commented on #311
I was able to create an interceptor for this!

https://gist.github.com/ebenoist/00c8695e8750138f76ef3f4b97b135a1

[2018-11-26 19:31] rochdev commented on #311
Thanks for this @ebenoist! I'm not very familiar with gRPC, are interceptors documented somewhere? Also, are they available on the server as well?

[2018-11-26 19:37] ebenoist commented on #311
It depends on the implementation. Client interceptors were added to grpc node core in [version 1.11](https://github.com/grpc/grpc-node/pull/59). Server interceptors in node are planned, but [not currently implemented](https://github.com/grpc/grpc-node/issues/419) AFAIK. I've used the [Proxy API](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy) in the past to

[2018-12-17 16:00] wanglong167 opened #395 "express req._datadog.config.headers null"
- "dd-trace": "0.7.2";
-  "express": "^4.13.3",

[code]

[code]

[2018-12-17 17:20] rochdev commented on #395
The issue is that the `express` plugin does not correctly update the existing configuration for the request that comes from the `http` plugins. As a temporary workaround, you can set the headers on `http` instead.

For example:

[code]

[2018-12-20 08:40] wanglong167 opened #400 "skip exprses static file trace"
skip exprses static file  trace

[2018-12-27 16:16] damianijr commented on #334
+1

[2019-01-02 18:21] terryma opened #402 "Memory leak"
We've deployed 0.6.1 across our production service fleets. Out of over a dozen services, we're seeing memory leaks with 2 services. All services are more or less node.js/express based with the following configuration for dd-trace:

[code]

Are you aware of any outstanding memory leak issues? I've taken two separate heapdumps with a delta containing the leak, showing a lot of `DatadogSpans` being r

[2019-01-07 18:22] rochdev commented on #402
Were you getting the same memory leak before upgrading to 0.6.1? Which version was used before if any? Do you do custom tracing at all or only rely on the out of the box integrations?

Heap dumps would definitely be useful. I would recommend to open a support ticket and submit the heap dumps there. Also, can you try updating to 0.7.2 to see if it fixes the issue? There is also more logging in that

[2019-01-07 19:50] terryma commented on #402
No custom tracing, just out of the box integration for now.

This actually might be the issue. I just took a look at the heapdump diffs again, and it's definitely a list of `Context` objects getting retained. Context eventually has a reference to all the spans and I missed this initially

![image](https://user-images.githubusercontent.com/567259/50789936-631e1b80-1272-11e9-9c25-eb9ef8b67a15.png)

[2019-01-07 20:09] terryma commented on #402
Is this the issue you're referencing? https://github.com/nodejs/node/issues/19859? Curious to why this only affects 2 of our services, and why it's not more widespread.

[2019-01-07 20:17] rochdev commented on #402
Yes, that's the issue I was referencing. It depends on quite a few factors to trigger the leak, so it's possible that only a few services are affected. Of course this is only a theory at this point. A fix was released for this specific bug in Node `8.13.0` and `10.14.2`. If you are still getting the same behavior with these versions, it means your issue is a different bug that would probably be in

[2019-01-09 02:38] terryma commented on #402
Thanks! I updated one of the affected services with `node 10.15.0` and so far it looks like the same issue is still happening.

Could you elaborate on that if you have some info? I can try to generate a new heapdump diff with this new version of node, but I'm expecting to see similar behavior.

[2019-01-09 14:36] rochdev commented on #402
I meant to trigger the leak from the Node bug, but since you updated it means this is not the issue.

Were you using a version of `dd-trace` that didn't leak before in these services? If so, what was the version?

If you could share the actual heap dump it would be very helpful. You can send it to me on our public Slack, but I would suggest opening a support ticket as well (you can give me the tic

[2019-01-18 05:52] tomonari-t commented on #402
I found the same issue.

In my case, I updated only dd-trace from `0.6.2` to `0.7.2` and memory leak happen.

[code]

[2019-01-19 01:46] tomonari-t commented on #402
@rochdev Yes. When I used `dd-trace@0.6.2`, memory leak didn't happen.

[2019-01-21 14:58] rochdev commented on #402
@tomonari-t Can you try disabling plugins for promise libraries? So far it seems the leak is caused by the scope manager, which could have an impact on these plugins specifically if that's the case. Since these plugins were added in 0.7.0, it would explain why you are just now getting the issue. The plugins that would have to be disabled are `bluebird`, `q` and `when`.

[2019-01-23 18:15] RyanGordon opened #415 "https support for DD Agent URL"
Currently it is possible to configure the port and hostname of the datadog trace agent. However the protocol is currently hard coded to `http`

This works for most people. I have an edge case where I have datadog agent running in front of a SSL-terminating load balancer and some services hit the datadog agent through this load balancer. In order for the client to be able to connect to the datadog

[2019-01-24 20:30] RyanGordon commented on #415
Resolved by: https://github.com/DataDog/dd-trace-js/pull/416

[2019-01-24 20:30] #415 closed

[2019-01-31 18:33] kevinburkenotion opened #418 "Document how to wrap a promise"
I'm trying to do this to activate a span and trace a function that returns a Promise. It doesn't work.

[code]

I'm pretty sure we're activating too quickly - we call `activate` and then some more stuff happens before `fn()` gets called and we need to call it right before `fn`.

Can you add some docs on how I can activate the span right before calling `fn`?

[2019-01-31 22:10] kevinburkenotion opened #420 "in example, scope is assigned but unused"
I'm trying to figure out how to propagate contexts. In this example, the variable `scope` is assigned twice but only used once. Is the other one supposed to be used? Are there lines missing from the example?

[code]

[2019-01-31 22:16] rochdev commented on #420
It's only to show that the value returned by `activate(span)` is the new scope. No lines are missing, but maybe the example could use a comment to make it clearer.

[2019-02-07 14:13] alizhdanov opened #431 "Tracer breaking GraphQL subscriptions"
I'm getting an error `Cannot redefine property: _datadog_span` in graphql subscriptions results. Usually, the first result is successful, but the second one throwing this error. After that subscription not receiving any updates.

<img width="426" alt="screenshot 2019-02-04 at 17 07 30" src="https://user-images.githubusercontent.com/14041032/52416564-2a2fcb80-2aea-11e9-8b96-bd9ca32bc6ac.png">

Any

[2019-02-07 18:50] rochdev commented on #431
It looks like this would happen if `graphql.execute()` is called multiple times on the same document. The current implementation assumes this cannot happen, but it seems the assumption was incorrect.

Does this happen only for subscriptions?

[2019-02-08 08:52] alizhdanov commented on #431
Yes, only subscriptions.

[2019-02-08 12:49] hkjorgensen commented on #431
Can confirm this bug!

It also happens on queries. I can execute the first operation successfully, but all other operations fail with the following error message:

[code]

It can be fixed by restarting the server, rinse, repeat.

Dependencies

| name | version |
| - | - |
| dd-trace | 0.8.0 |
| graphql | 14.1.1 |
| apollo-server | 2.4.0 |
| apollo-server-micro | 2.4.0 |

[2019-02-08 15:17] rochdev commented on #431
I am unable to reproduce the issue. Can you share a snippet of a minimal server that reproduces the issue?

[2019-02-09 16:30] kevinburkenotion opened #437 "Keeping span active with Promise"
Here's a snippet with counterintuitive behavior.

[code]

I expect that 'two' will still be in scope at the end of the second function because I activated it and then called the function. Instead I get `'three'`.

Based on patching and the traces that I got out of the box without any work (express, http, Postgres etc), I expected that dd-trace would reactivate the right span at the end of the Prom

[2019-02-11 10:08] hkjorgensen commented on #431
@rochdev thanks for your message. Maybe this snippet can help you. It's our dd-trace setup code that's executed before anything else is required, etc.

[code]

[2019-02-11 13:51] rochdev commented on #431
@hkjorgensen Thanks for the snippet! However, what I'm looking for is the actual server code to replicate the issue. Can you provide a minimal snippet that shows how to reproduce the issue with `graphql` or `apollo-server`? This will allow me to set up a test case, understand what the issue is, and provide a fix in the next patch release.

[2019-02-11 13:53] rochdev commented on #437
At a glance it seems like this should work. However, none of the scopes are closed, which may cause issue. I'll have to take a closer look.

[2019-02-11 16:01] hkjorgensen commented on #431
@rochdev I was trying to gently dance around the core of your initial request 😂

I have to peel the layers of our GraphQL gateway, I'll try to isolate it tomorrow.

[2019-02-13 12:38] hkjorgensen commented on #431
@rochdev here is a minimal setup that breaks:

[code]

[code]

Start the server
[code]

Goto http://localhost:3000/foobar/graphql

Execute the following query one time via the "play" button:

[code]

Result:
[code]

Execute the same query again via the "play" button:

[code]
[code]

[2019-02-13 14:01] rochdev commented on #431
Thanks @hkjorgensen! Looking into it now.

[2019-02-14 12:57] thalkz commented on #431
I'm having the exact same issue with subscriptions, but queries and mutations work just fine (even with multiple calls)

[2019-02-14 13:09] rochdev commented on #431
A fix is on its way, but it will be in v0.9.0 because it's a breaking change as it relies on the new scope manager that is only available in v0.9.0. I'll try to publish a beta release in the next couple days.

[2019-02-14 15:01] hkjorgensen commented on #431
@rochdev thanks for the quick response, do you have a guestimate when v0.9.0 will be released?

[2019-02-14 16:19] henryjw opened #440 "Error with restify-router"
Using
    - dd-trace         0.8.0
    - restify             5.0.1
    - restify-router 0.5.1

It looks like `restify-router` conflicts with the tracer. When I remove `restify-router` initialization, the tracer works as expected. The tracer error causes requests to hang.

Below is a sample of before and after removing the use of the router

[code]

[code]

Stack trace when attempting to make a req

[2019-02-14 17:02] rochdev commented on #431
@hkjorgensen v0.9.0 is scheduled for GA probably around end of next week. I'll try to have a beta release out today.

[2019-02-16 00:12] codeitcody commented on #437
I've found that I have to explicitly close scopes with promises. Async hooks are still experimental so perhaps they don't always hook on promise resolve.

[code]

Produces this output with scope.close() commented out as shown:

I'd recommend explicitly closing scopes if using promises.

[2019-02-19 19:04] adigarg commented on #431
Hi, this is affecting us as well, could we get an ETA on the beta release please? Thank you very much!

[2019-02-19 19:14] rochdev commented on #431
Sorry for the radio silence these last few days. We realized that this was actually caused by the way we were instrumenting GraphQL, so we decided to actually rewrite it from the ground up according to the Apollo Engine Reporting format.

You can try the new version in `0.9.0-beta.6`. Because we changed what data is captured, this was released as a "major" version. If you are using the scope manag

[2019-02-21 17:53] adigarg commented on #431
Hi @rochdev, we don't use scoping and just use ddtrace and all the default plugins with opentracing. With the `0.9.0-beta.6` all our issues have been fixed. Thank you for the quick turnaround.

[2019-02-22 02:21] incorvia commented on #233
@sumeetsympatica Did you ever get this running with RN?

[2019-02-22 15:28] sumeetsympatica commented on #233
yes, i did.

I had to clone the repo, comment out auto hooking code and modify some lines and wrap fetch manually

I am travlling at the moment - will be happy to upload a zip of the modified code when i am back...

could you possibly remind me to do so post 4th march?

TIA

[2019-02-22 18:33] rochdev commented on #440
Fixed in 0.9.0

[2019-02-22 18:33] #440 closed

[2019-02-22 18:34] rochdev commented on #431
Fixed in 0.9.0

[2019-02-22 18:34] #431 closed

[2019-02-22 18:36] rochdev commented on #402
@terryma @tomonari-t Can you try with 0.9.0? We have rewritten some core components that were prone to memory leaks.

[2019-02-22 18:37] rochdev commented on #347
Fixed in 0.9.0

[2019-02-22 18:37] #347 closed

[2019-02-22 20:27] henryjw commented on #440
Thanks for the quick turnaround @rochdev. The tracer is working as expected in 0.9.0.

[2019-02-23 01:00] jesskhf opened #458 "Typescript definitions not included in npm package"
The compiled NPM package is missing the `docs/index.d.ts` file, probably due to the npmignore file rules. This is still true as of 0.9.1.

[2019-02-25 13:57] rochdev commented on #458
Fixed by #459 in 0.9.2

[2019-02-25 13:57] #458 closed

[2019-02-25 16:58] stephenh opened #462 "init missing from new TS types"
Using the new `0.9.2`, our existing code that did:

[code]

Is failing with:

[code]

I see that `index.d.ts` has an `init` method but its within the `Tracer` instance and AFAICT from the docs, the expectation is to call the module `init`.

FWIW after seeing `module.exports.tracer = module.exports` I changed the code to:

[code]

Where `Tracer` is the opentracer type and am now getting a pretty fu

[2019-02-25 16:59] stephenh commented on #49
@rochdev this can be closed now :-)

[2019-02-25 18:54] rochdev commented on #462
a) Technically, TypeScript was not supported before 0.9.0 so this is not really a breaking change. I agree however that this should be documented, especially since what's worse is that currently it's documented with the wrong syntax.

b) I will take a look at the interoperability issue with OpenTracing.

[2019-02-25 19:00] rochdev commented on #462
@stephenh I can't seem to be able to reproduce. What versions of `dd-trace`, `opentracing` and TypeScript are you using?

[2019-02-25 19:15] stephenh commented on #462
@rochdev ah hrm, I'll check:s dd-trace 0.9.2, TS 3.2.2, and opentracing 0.14.3.

[2019-02-25 19:20] rochdev commented on #49
TypeScript definitions are now in this repo and officially supported. Thanks to everyone who contributed!

[2019-02-25 19:20] #49 closed

[2019-02-25 19:31] rochdev commented on #462
@stephenh I've just tried with the snippet you provided and these exact versions and cannot reproduce. Could you provide the entire snippet? Also, are you extending `dd-trace` or `opentracing` in any way?

[2019-02-25 19:33] rochdev commented on #462
Can you also share your `tsconfig.json`? Maybe there is a specific rule causing this.

[2019-02-25 20:32] amckibben opened #464 "dd-trace Tracer / opentracing Tracer compatibility"
`opentracing` doesn't seem to like `dd-trace`'s `Tracer`.

For example:

[code]

Throws the following compile error for me:

[code]
| dependency | version |
|---|---|
| typescript | 3.3.3333 |
| opentracing | 0.14.3 |
| dd-trace | 0.9.2 |

Glad to see typescript getting some love from `dd-trace` 🙂

[2019-02-25 20:40] rochdev commented on #464
Can you share your `tsconfig.json`? I've been trying to replicate this today without much success with the same versions, so I'm guessing it must be a specific compiler option.

[2019-02-25 20:49] amckibben commented on #464
@rochdev Sure!

[code]

[2019-02-25 21:27] rochdev commented on #464
Thanks! I'll update #462 since this issue is a duplicate.

[2019-02-25 21:30] rochdev commented on #462
This seems to happen when the version of OpenTracing used in the project is not exactly the same as the one pulled by `dd-trace`. I'll do some more testing as it seems it may cause even other issues outside of TypeScript. In the meantime, a possible workaround would be to use `opentracing-javascript` with a version fixed at `0.14.1`. Please let me know if that works.

[2019-02-25 21:38] amckibben commented on #462
Question: Is it deliberate that `dd-trace`'s `opentracing` dependency is using a fixed version rather than `^` or `~` ranges?

[2019-02-25 21:39] rochdev commented on #462
This was because of a bug introduced in `0.14.2` which we were trying to avoid. It should no longer be an issue in `0.14.3` and thus no longer needed, but still, we shouldn't enforce using the same version as the project.

[2019-02-25 21:40] amckibben commented on #462
I agree. Was just trying to get insight on that since the vast majority of your dependencies are `^`.

[2019-02-25 21:44] amckibben commented on #462
I don't have experience using them with any package I've authored, but is this what https://docs.npmjs.com/files/package.json#peerdependencies are for?

[2019-02-25 21:47] rochdev commented on #462
The problem with a peer dependency is the user has to know about OpenTracing. Since many users don't care about OT and simply wants to use our tracer, this knowledge should not be necessary. It also doesn't necessarily address the issue since we still need to depend on specific versions. Although I don't like it for long-term, for now making the semver less strict will at least fix the issue.

[2019-02-25 21:54] amckibben commented on #462
🤷‍♂️ Yeah, I thought there may have been more magic with peer dependencies. But reading the documentation tells otherwise. It's a bit uncomfortable, but I suppose interfacing with any 0.x.x dependency runs the risk of interfaces breaking at the patch level.

[2019-02-25 21:56] rochdev commented on #462
Definitely, but when actively using OT then this is already an issue (i.e. they change an API that they start calling and we don't have).

[2019-02-25 22:07] #462 closed

[2019-02-26 01:37] Chris911 commented on #402
Just want to add that we're also seeing clear memory leaks with 0.8.0. Will try with 0.9.0 this week and report back.

[2019-02-26 13:55] amitgilad3 opened #466 "express dynamic routes"
I have a microservice that can handle dynamic routes.
i added dd-trace and now my application crashes every time somebody makes a request.
express": "^4.16.2"
express-promise-router: "^3.0.1",

**example:**
 method: 'get'
 route: '/:path(*)'

**Error:**
SyntaxError: Invalid regular expression: /^\/(*)(?:\/)?$/: Nothing to repeat
    at new RegExp (<anonymous>)
    at tokensToRegExp (/Users/Amit/co

[2019-02-26 15:11] rochdev commented on #466
I'll have to look into it as it's not clear which component would cause this. `express` uses `path-to-regexp` internally which is the same library that we use in the integration, and is the one throwing.

[2019-02-26 15:41] Chris911 commented on #464
Also getting type error this with dd-trace 0.9.2 and opentracing 0.14.3.

[2019-02-26 15:54] rochdev commented on #462
Fix released in `0.9.3`. If it's not working right away, please try to reinstall dependencies and/or refresh your `package-lock.json` or `yarn.lock`.

[2019-02-26 15:54] rochdev commented on #464
Fix released in `0.9.3`. If it's not working right away, please try to reinstall dependencies and/or refresh your `package-lock.json` or `yarn.lock`.

[2019-02-26 15:54] #464 closed

[2019-02-26 16:02] stephenh commented on #462
@rochdev yep, that worked great! Thanks for the quick fix.

[2019-02-26 16:16] Chris911 commented on #464
Works here 👍

[2019-02-26 17:23] rochdev commented on #466
I can replicate with only express and the same path, so definitely an issue with the integration's handling of paths.

[2019-02-26 19:39] Chris911 commented on #402
Unfortunately we're still seeing memory issues in one of our applications with 0.9.3.

[2019-02-26 21:15] rochdev commented on #402
In general the most probable causes of leaks are:

* Scope manager. This should no longer be an issue since 0.9.0 with our new much simpler scope manager.
* Node memory leak in `async_hooks` in part versions. If you are using any version lower than 8.15.0 or 10.15.0 it is recommended to update as it may fix the issue.
* In one of our plugins. Trying to enable/disable them as you're doing is a good

[2019-02-26 21:16] rochdev commented on #402
One other thing to keep in mind is some plugins are required to avoid memory leaks. If you are using `tracer.init({ plugins: false })` it's possible these don't get enabled. In general unless you have issues it's recommended to not use this configuration option.

[2019-02-26 21:20] #466 closed

[2019-02-26 21:47] Chris911 commented on #402
We do use `plugins: false` and then enable specific plugins based on configuration. I shared most of our setup with your support team (support ticket ID 204548). I'll report back if I'm able to pinpoint which plugin is causing the issue but it's not easy to debug because we can't reproduce on our dev environments.

[2019-02-26 21:49] rochdev commented on #402
@Chris911 Can you try without `tracer.init({ plugins: false })`?

Another option would be to enable these plugins if any of the corresponding module is used either directly or transitively: `bluebird`, `q`, `when`, `generic-pool`. Using these modules without the corresponding plugin may cause a memory leak, so worth a try.

[2019-02-26 22:02] rochdev commented on #402
@Chris911 Also, we are thinking of deprecating the `plugins` option as in general it should never be needed and may cause many issues. What is your use case for using it?

[2019-02-26 22:05] Chris911 commented on #402
When we did our initial testing of the APM a few weeks back we were getting memory leaks on our dev environments. They went away when we disabled all plugins and only enable 1-2. I'll try with `plugins: true` sometime this week.

Also to answer your previous question we're not doing any custom instrumentation.

[2019-02-28 03:27] saidmasoud commented on #385
We figured out the root cause: we were referencing `ctx._matchedRoute` before calling `await next();`. Switching the code around fixed the issue!

[2019-02-28 03:27] #385 closed

[2019-02-28 16:05] rochdev commented on #385
Thanks for the update @saidmasoud ! One thing I'm still wondering is why not use our out of the box integration for Koa? Anything missing?

[2019-02-28 19:07] freewil commented on #402
We enabled `dd-trace@0.9.2` with a deployment last night on our cluster serving web traffic (it's an express 4 app) running node v10.15.1 and saw the memory utilization gradually increase over night until we did another deployment/servers restarted this morning.

<img width="586" alt="screen shot 2019-02-28 at 10 59 26 am" src="https://user-images.githubusercontent.com/716621/53591465-ed834d00-3b4

[2019-02-28 19:11] rochdev commented on #402
@freewil Which version were you using before? Also, which supported modules are you using? Could you provide a snippet of the tracer initialization?

[2019-02-28 19:16] amckibben commented on #464
Here too 👍

[2019-02-28 20:05] freewil commented on #402
We weren't using dd-trace before.

Non-native modules in use:

* express
* mongodb-core
* redis

[code]

[2019-02-28 20:19] rochdev commented on #402
I will try to add an option for tomorrow's release so you can disable individual plugins. This will allow you to try without individual plugins to try and pinpoint the issue. I'll keep you posted when it's available.

[2019-02-28 20:22] freewil commented on #402
Cool, thanks!

[2019-02-28 21:38] rochdev commented on #334
I added support for `pg-native` but the module fails to build in tests and I can't figure out why as I don't know this module. If you guys want to take a look it's in the [pg-native](https://github.com/DataDog/dd-trace-js/tree/pg-native) branch. Once the compilation succeeds, it should be good to go.

[2019-03-01 15:19] rochdev commented on #334
Opened an issue on `pg-native`: https://github.com/brianc/node-pg-native/issues/79

[2019-03-03 20:28] rochdev commented on #334
Ok I found the issue which was an incompatibility between how we run tests and native module.

[2019-03-04 21:36] manuelconvoy commented on #402
@rochdev I worked with @terryma, I upgraded the services showing the memory leak to `dd-trace` 0.9.3 and the memory leak is gone, thanks for your help!

[2019-03-05 20:09] freewil commented on #402
@rochdev

Any ETA on this? Was this an option that was removed in a recent release? It appears you can/could do this in the code examples above with `tracer.init({ plugins: false })` ?

[2019-03-05 20:15] rochdev commented on #402
@freewil The release that was planned last Friday was pushed back and I don't have an ETA right away, but I did release a beta as `0.10.0-beta.0` that contains this functionality by doing `tracer.use('express', false)` for example.

The reason I prefer to not recommend going the `tracer.init({ plugins: false })` route is that it can actually cause more harm than good since it will remove plugins t

[2019-03-05 20:16] freewil commented on #402
Ok - thanks for the update and info!

[2019-03-06 18:06] joaovieira opened #477 "Express.js override resource name in wildcard route"
I've just setup `dd-trace` in an Express.js application. I've immediately noticed that routes with wildcard get the same resource name. I.e.

[code]

I've tried to override this behaviour by setting the `http.route` tag on the currently active span as mentioned [in the custom tagging docs](https://docs.datadoghq.com/tracing/advanced_usage/?tab=nodejs#custom-tagging) and seen [on the tests](https:/

[2019-03-06 20:05] rochdev commented on #477
This is definitely a bug. Other users have reported similar issues which appear to be caused by a recent regression.

In the meantime, you had the right idea of a temporary workaround. However, the span that you are accessing with `tracer.scope().active()` is actually the span of the middleware and not the request.

You can hook on the request span directly with this configuration:

[code]

Howeve

[2019-03-06 20:19] joaovieira commented on #477
Thanks for the quick reply.

Yes, I know. This will only apply for the few non-dynamic routes we have (that are actually handled by another middleware). All assets are loaded from a CDN, for example. I.e.:

[code]

I thought about the hooks (didn't try yet), though:
- I only want to fix the issue of the wildcard in a single route
- that way all the dynamic routes (e.g. `/users/:id`) would create a

[2019-03-06 20:23] rochdev commented on #477
This can be done, although it's a bit of a hack. Since the hook runs at the end of the request, you can add metadata to the request in any middleware and it will be available in the hook.

So you could do something like this:

[code]

[2019-03-06 20:25] rochdev commented on #477
Static assets have come up a lot, I'm open to suggestions on how to improve this.

[2019-03-06 22:16] joaovieira commented on #477
Good idea, don't think it's that much of a hack. Though I'm happy with this for my case:

[code]

<img width="1267" alt="screen shot 2019-03-06 at 22 14 35" src="https://user-images.githubusercontent.com/474603/53917789-48430a00-405d-11e9-939e-6a0a0ed932cb.png">

Thanks!

[2019-03-06 23:48] rochdev commented on #477
Glad you could get it to work! I'll still leave this opened as we should support static assets out of the box.

[2019-03-07 03:18] incorvia commented on #233
Hey @sumeetsympatica  *nudge*, thanks!

[2019-03-07 05:25] sumeetsympatica commented on #233
HI Kevin,

Thank you for reminding me

Could you share your email so I could send the Zip to your directly?

Thanks,

Sumeet

From: Kevin [mailto:notifications@github.com]
Sent: 07 March 2019 08:49
To: DataDog/dd-trace-js <dd-trace-js@noreply.github.com>
Cc: sumeetsympatica <sumeet@sympatica.health>; Mention <mention@noreply.github.com>
Subject: Re: [DataDog/dd-trace-js] ReactJs / React Native Sup

[2019-03-08 12:34] nsilberman commented on #233
would be great to try it :) thanks @sumeetsympatica

[2019-03-08 15:54] sumeetsympatica commented on #233
Have attached the entire modified code as also helper libs used

The image shows how the fetch is wrapped and then used for all htpp calls in the RN app

Do let me know if any points need clarififcation

Most code changes preceded by sumeet

From: Nicolas Silberman [mailto:notifications@github.com]
Sent: 08 March 2019 18:04
To: DataDog/dd-trace-js <dd-trace-js@noreply.github.com>
Cc: sumeetsympati

[2019-03-09 03:32] perryh opened #480 "activate function return type should match callback function's"
https://github.com/DataDog/dd-trace-js/blob/v0.10.0/docs/index.d.ts#L264

hi @rochdev, return type should be "T | void" here, right?

Thanks for your work.

[2019-03-11 17:15] freewil commented on #402
I've been trying to narrow down the cause of the memory leak by selectively enabling plugins. Here is the timeline of actions taken:

1) After experiencing memory leak on `0.9.2`, upgraded to `0.10.0-beta.0`. Changed tracer initialization to the following:
[code]

2) After still experiencing memory leak after 1), disabled all the plugins (most of these node modules aren't even being used):
[code]

[2019-03-11 17:20] rochdev commented on #402
@freewil Can you try with `express` enabled and `http` disabled? This will tell me if the leak would be in the server component or the client component since the `http` plugin uses the same code as `express` for servers.

[2019-03-11 17:24] freewil commented on #402
@rochdev After also running `0.9.2` and experiencing the memory leak on some separate processes that don't run a http server, I have to assume it's the client.

I'll try out your suggestion though to confirm.

[2019-03-11 17:33] Chris911 commented on #402
On my end we believe the issue might be related to the RabbitMQ (amqplib) integration. We noticed the memory issues occurred mostly when we have long running queue tasks running. A couple weeks ago we manually triggered a long and data heavy background task via RabbitMQ while the APM was enabled and quickly saw the memory raise (does not happen without the APM). This task is data heavy and makes a

[2019-03-11 21:21] rochdev commented on #402
@Chris911 What you are describing would have been happening in previous versions, but should no longer be the case with the new scope manager since the trace of the message would be sent individually before the DB calls. What does the trace look like? Is the root span very long or very very short?

[2019-03-11 23:21] #480 closed

[2019-03-14 18:30] tekmaven commented on #317
@rochdev does this still work in `v0.10.1`?

[2019-03-14 21:21] rochdev commented on #317
@tekmaven Yes, it should still work as of today.

[2019-03-15 13:50] tekmaven opened #488 "Feature: Plugin for async package"
It would be awesome for there to be tracing integration with the [`async` npm package](https://www.npmjs.com/package/async) (>23m weekly downloads).   GH Repo: https://github.com/caolan/async.

[2019-03-15 14:48] rochdev commented on #488
Is there a particulat use case or would you want to be able to trace every asynchronous executions in general?

[2019-03-15 19:55] kylealwyn opened #489 "Changelog would be extremely helpful"
Would be great to get a changelog added to see what's changed between your releases, particularly while in the 0.x stage.

Thanks for any consideration!

[2019-03-15 19:57] rochdev commented on #489
Thanks for the suggestion! We did consider a `CHANGELOG.md` but chose instead to go with GitHub Releases. You can find the release notes for every version here: https://github.com/DataDog/dd-trace-js/releases

[2019-03-15 19:57] #489 closed

[2019-03-18 12:03] joaovieira opened #491 "Sampling priority not working?"
In our app we've got a healthcheck endpoint that is pinged every 20sec or so from the ELB. This is causing this resource to be picked for sampling way more than normal requests (just trying on Staging, so not a real production load).

I've been trying to set the `sampling.priority` of healthcheck resources to be rejected, as they're not useful, so we get more space for other resources to be sample

[2019-03-18 14:16] rochdev commented on #491
The sampling priority is locked depending on a few conditions, which most likely have already happened when the hook runs (it runs at the end of the request). Setting a value after it's been locked is ignored, which is why this approach doesn't work.

There are a few ways to handle this depending on the behavior you are looking for:

1) If you want to drop the local trace, but propagate the existi

[2019-03-18 15:44] nkblue commented on #402
We are also experiencing a memory leak after implementing `dd-trace 0.7.2` a few months ago. The leak was very slow so we just now noticed it. Upgrading to `0.10.1` to see if it improves.

[2019-03-18 17:25] tekmaven commented on #488
Yes.  I've seen a lot of node/express apps using this package.  In the current app I am working with, it is used extensively, and it would really light up a lot more information in our traces.

[2019-03-18 17:33] rochdev commented on #488
What I meant is that the `async` package is just one of the several ways to do work asynchronously. Do you expect to see any asynchronous operation as a span, or only operation using the `async` package specifically? Just trying to get a better grasp of the actual use case.

[2019-03-18 19:26] tekmaven commented on #488
Yes, I would want to see every async operation as a span.  The codebase I'm referring to uses `async.parallel` (http://caolan.github.io/async/docs.html#parallel) and `async.each` (http://caolan.github.io/async/docs.html#each) quite often.

[2019-03-18 19:27] rochdev commented on #488
What makes these asynchronous operations more interesting than any other asynchronous operations using timers, promises, etc?

[2019-03-19 16:08] cohesivejones opened #494 "cassandra plugin - batch requests throws error"
I just tried to add dd-trace@v0.10.1 to my project and experienced the following error while calling a batch on the cassandra client:

`callback.apply is not a function()`

[code]

**Dependencies:**
cassandra-driver: 3.5.0
dd-trace: 0.10.1

Currently we are using dd-trace 0.9.0 without issue

[2019-03-19 16:45] tekmaven commented on #488
Nothing.  Ideally we could have spans for all of those operations.

[2019-03-19 16:48] rochdev commented on #488
Ok, I will look into it. What would you expect the metadata of such span to look like? For example, what would be the operation name and resource name?

[2019-03-19 16:54] rochdev commented on #494
We added the `cassandra-driver` integration in 0.10.0. While this is being fixed, you can disable it with `tracer.use('cassandra-driver', false)`.

Can you share the line of code where you call `batch`?

[2019-03-19 18:16] cohesivejones commented on #494
[code]

[2019-03-19 18:18] rochdev commented on #494
Fix is on the way. In the meantime, if you want to keep the plugin enabled and fix the issue, simply pass an empty callback as a third argument to `Cassandra.client.batch`.

[2019-03-19 19:51] #494 closed

[2019-03-19 20:03] rochdev commented on #494
Fix released in 0.10.2

[2019-03-19 22:10] jacob-hd commented on #402
We are also experiencing this problem:
![image](https://user-images.githubusercontent.com/31864739/54645345-eb7e2100-4a58-11e9-86db-fe0671904f6a.png)

All of our dd-trace enabled pods will consume more and more memory until they starve the nodes and are restarted, and then they restart at 0mb and again slowly crawl their way up to GB and GB of leakage.

I took a snapshot at a pod that was around 1

[2019-03-19 22:38] rochdev commented on #402
@jacob-hd This was a known issue with the old scope manager that was overly complex and prone to memory leaks. The scope manager has since been rewritten from scratch in recent versions. Can you try with 0.10.2 and post a new snapshot if the problem still exists?

[2019-03-19 22:45] jacob-hd commented on #402
@rochdev We updated to `0.10.2` and the leak persists.

[2019-03-20 19:54] jacob-hd commented on #402
@rochdev Here is the snapshot for `0.10.2`:
![image](https://user-images.githubusercontent.com/31864739/54714783-1034d000-4b0f-11e9-9590-5d85fe2bdc70.png)

This is a simple, stateless service consuming hundreds of MB of RAM from the datadog memory leak.

The only usage other than the registering of `dd-trace` is this span tagger:
[code]

^ this is directly from the docs though, should be good righ

[2019-03-20 20:38] rochdev commented on #402
@jacob-hd Your code snippet is fine and should not be causing a leak. There was an issue in the past where the interaction between a few components we are using would trigger a leak. It's supposed to be fixed when using Node >=10.14.2. Of course it's possible that it's not completely fixed, but just to be sure, what version of Node are you using?

I am in the process of adding some memory leak det

[2019-03-22 14:34] joaovieira commented on #491
It does say the `_spanContext._isFinished` is false, so I guess it's still not done at that point. That endpoint does not call any external service, but I guess it propagates the trace to the base service (`express.middleware`) before the hook and that's what is locking it. Fair.

What is the side-effect of blacklisting? Would it ignore `/healthcheck` completely, ignoring throughput, errors, etc.?

[2019-03-22 16:14] rochdev commented on #491
If there was any propagation, the value is still locked regardless of the state of the spans.

Yes, blacklisting will drop the trace at the client level, and stats are calculated by the agent, meaning they will not be included. If you want to keep the stats, you should instead use option `3`.

[2019-03-22 17:19] tekmaven commented on #488
The resource should be the app that is running and the name should be Async, possibly including the function name (if it's named).  There are some async methods that optionally can give more visibility with names, for example, async.parallel - see the second example: https://caolan.github.io/async/docs.html#parallel.

[2019-03-22 17:54] jacob-hd commented on #402
@rochdev Good call - we were using Node 8.11 on this service.

After upgrading to Node 10.15 the leak appears to be gone:
![image](https://user-images.githubusercontent.com/31864739/54843082-c8d64d00-4c90-11e9-86db-eecaee764374.png)

Thanks for the guidance!

[2019-03-22 18:16] joaovieira commented on #491
Yeah, that's what I understood as well. Thanks a lot!

Closing.

[2019-03-22 18:16] #491 closed

[2019-03-25 21:33] codeitcody opened #506 "Determine if span is being sampled at runtime."
I would like to determine if the active span is being sampled. If I know the current span is being sampled I want to include additional logging that I normally don't record.

In my production system I am only sampling 1% of my traces, but it would be nice to have additional logging in the 1% I do sample. I don't want this additional logging in non-sampled traces due to high log volume.

I see Span

[2019-03-25 22:04] rochdev commented on #506
`dd-trace` is an implementation of OpenTracing, so our API is basically the OpenTracing API. `span.context()` is meant as a mean for vendors to include their own metadata on the span, which may be public or private depending on the vendor's needs. In our case, we didn't expose anything as public as we are trying to have maximum interoperability with OpenTracing.

For now I would say to use `_sampl

[2019-03-25 22:07] rochdev commented on #506
May I ask why you use client sampling? This is usually a last resort feature when you get very high loads and the tracer is impacting your ability to scale. We usually prefer to sample later in the pipeline to ensure stats/etc are correct.

[2019-03-25 22:48] codeitcody commented on #506
I understand keeping to the OpenTracing spec. Thanks for the feedback.

We are doing client sampling as our app is serverless/FaaS on AWS Lambda Azure Functions. I like to start a parent span on each function invocation so I can trace it and its child spans to function completion. Basically doing the same thing the `express` plugin does but per function instead of per URL.

[2019-03-25 22:50] rochdev commented on #506
How do you send the traces? Do you use an agent in your infrastructure?

[2019-03-25 22:52] codeitcody commented on #506
Sorry - see my edit above.

We use an external DD agent which multiple function apps are streaming to.

[2019-03-25 23:05] rochdev commented on #506
Not necessarily. We have a feature called Priority Sampling which allows controlling sampling on the agent from the tracer. In general, the defaults are enough since it automatically adjusts according to the load, but it's possible to override it as well.

This would be the preferred approach for a few reasons:

* Traces are always complete since the sampling decision is distributed across service

[2019-03-25 23:13] codeitcody commented on #506
This is very neat. Thanks for pointing me towards it. I appreciate the help @rochdev!

[2019-03-29 08:26] rodrigodiez opened #509 "logInjection is missing in TracerOptions ts interface"
Package version: 0.10.2

logInjection option is missing in TracerOptions interface that gets passed during the call to `init()`

As a result there is no obvious way for Typescript projects to enable log injection via code. Log injection works fine as expected when using `DD_LOGS_INJECTION` environment variable

[2019-03-29 15:01] #509 closed

[2019-03-31 22:12] perryh commented on #402
Upgraded to 10.15.3 on Friday and still seeing a memory leak:
![image](https://user-images.githubusercontent.com/997236/55295859-f88b0080-53c6-11e9-9320-6a61db57ade1.png)

This is a service using the plugins: express, mongo, dns, http client, tcp. Doesn't use any manual instrumentation.

[2019-04-01 18:38] perryh commented on #402
Btw this service was fine running 0.7. We saw the memory usage growing after upgrading to 0.10.

[2019-04-01 19:04] rochdev commented on #402
@perryh Which plugins are used? From the discussions above (and outside of GitHub) it looks like it could be related to the HTTP client integration.

[2019-04-01 19:11] perryh commented on #402
Yes this particular service uses the HTTP client plugin. The full list is in the comment above.

I manually sent a bunch of requests with apachebench to an endpoint that didn't make HTTP requests and didn't see a spike in memory usage. The other endpoints do and it makes sense.

[2019-04-02 03:58] SethDavenport opened #513 "RetireJS warning from docs folder"
I'm getting the following error from retirejs when upgrading from 0.7.2 to 0.10.3:

[code]

Looks like you're including an old version of jquery in your `docs` folder in npm. I'm seeing an [entry in `.npmignore`](https://github.com/DataDog/dd-trace-js/blob/master/.npmignore#L5) which probably is intended to prevent this, but it seems to be including the whole `docs` folder and not just `.d.ts` fil

[2019-04-02 16:19] rochdev commented on #402
@perryh Thanks for trying this. I will try to isolate the issue with the `http` plugin. What options are provided to the `http` module agent and/or client?

[2019-04-02 19:11] perryh commented on #402
Yesterday I restarted this service with the http plugin off.
[code]

Still seeing the memory usage grow over time with http plugin off:
![image](https://user-images.githubusercontent.com/997236/55429236-e5e80700-553f-11e9-84b3-db18deb85447.png)

This was the past week with 0.10:
![image](https://user-images.githubusercontent.com/997236/55429367-2ba4cf80-5540-11e9-8f42-7c65c1ebde21.png)

Here is th

[2019-04-03 01:23] kevinburkenotion opened #515 "assumed that scope.activate(span, sync fn) would finish the span"
I expected that this code from the test suite:

[code]

Would mark the span as finished. The test suites don't really indicate that you need to explicitly finish the span either.

[2019-04-03 01:28] kevinburkenotion opened #516 "unfinished child span results in silent failure"
If you fail to finish a child span, Datadog will fail to publish any APM traces. Further there's no evidence of this in published metrics (along other keys) or console logs or messages in the Datadog dashboard or different application behavior, unless you run with `debug: true` turned on. This spits out a ton of data to the point of being unreadable; it would have been easy to miss the child span

[2019-04-03 01:29] kevinburkenotion commented on #516
Figuring out why this was broken cost us almost an entire workday, not to mention all of our API trace metrics were broken.

[2019-04-03 01:37] kevinburkenotion opened #517 "API to determine whether span is finished"
Even if I had thought to test the span being finished in #515 it's not really clear how to do so, you can call `finish()` but there's no public API for determining whether a span is finished or not.

[2019-04-03 04:04] rochdev commented on #513
This has been fixed in the upcoming minor release. If this is something that is blocking you I can backport it. Otherwise it will land whenever 0.11.0 is released. Just me know :)

[2019-04-03 12:24] rochdev commented on #402
@perryh Are you using Mongoose by any chance?

[2019-04-03 12:37] rochdev commented on #515
What would you recommend to make this clearer?

[2019-04-03 12:45] rochdev commented on #516
There is a warning in the debug logs when a parent span is finished before its children. As you said, this is not ideal for 2 reasons:

- With a high volume of logs, the log entry may not be noticed.
- You need to enable debug mode to see these, but then you create tons of logs which causes the previous point.

We are currently working on replacing this log with metrics as you've mentioned. The sp

[2019-04-03 12:49] rochdev commented on #517
What is the use case to validate if the span has been finished? Also note that it's safe to call `span.finish()` multiple times as additional calls are simply ignored.

[2019-04-03 13:35] jessedobbelaere opened #518 "mongodb-core plugin doesn't work with official MongoDB"
Similar to #221, we are using [the `mongodb` package in our NodeJS app](https://www.npmjs.com/package/mongodb). The description of the package explains that it's built on top of mongodb-core, and it's an *official* driver.

We added Datadog tracing to our Node app, and we see Koa http and MySQL traces in Datadog right now, but no MongoDB tracing. We suppose it's because the dd-trace-js only suppor

[2019-04-03 16:14] kevinburkenotion commented on #515
One solution would be to finish the span. I don't know that folks are passing a sync function to span.activate and expecting it to be alive after, though maybe they are.

[2019-04-03 16:15] kevinburkenotion commented on #517
The use case to validate is avoiding a situation where I fail to close a child span and my company loses APM trace metrics for about 4 hours while I frantically debug the situation.

[2019-04-03 16:16] kevinburkenotion commented on #516
That would be a good start, as long as it's noted in enough places in the logs, and added to e.g. the Debugging section of the docs.

[2019-04-03 17:41] rochdev commented on #515
The scope manager only manages an asynchronous context scoped to a function. Its responsibility is only to propagate the span within that scope, but not to manage the span lifecycle. My question was mostly how we could make that clearer in either the documentation and/or the API.

We do have different APIs that handle the span lifecycle however, but they only handle very specific asynchronous cons

[2019-04-03 17:44] rochdev commented on #517
In this case, having to manually check every span through an API would still result in lost time trying to figure out which span is at fault. I prefer to implement your recommendation in https://github.com/DataDog/dd-trace-js/issues/516 where metrics will be used to determine exactly how many spans for each operation are unfinished.

Do you think this would be sufficient? Otherwise, what additiona

[2019-04-03 17:46] rochdev commented on #516
What do you mean by "noted in enough places in the logs"?

This will definitely be added to some debugging or troubleshooting section of the docs.

[2019-04-03 20:39] perryh commented on #518
Did you import and init the tracer before your mongo client? There is a warning at the top of the quickstart section: https://docs.datadoghq.com/tracing/languages/nodejs/

The mongodb-core plugin should work with the mongodb package.

[2019-04-03 21:11] rochdev commented on #518
Correct. `mongodb` uses `mongodb-core` so it's transitively supported.

Usually when an integration is not working at all the most likely causes are:

* The tracer is imported after the library.
* The version is not supported

Both are documented in the aforementioned link. Also keep in mind that for TypeScript the tracer should be imported from its own file to avoid hoisting as described in the d

[2019-04-03 21:43] perryh commented on #402
No, this service uses the `mongodb` package. I plan to do more testing soon and get back to you with more findings...

[2019-04-03 21:49] jessedobbelaere commented on #518
Thanks for the quick reply!

* The Datadog tracing setup is indeed imported from it's own file on the very first line of app.js (currently no typescript in this project), so before any other package. Similar like I did in another project where tracing is working perfectly for mysql & elasticsearch.
* Mongodb `2.1.18` is used in this project, will look into upgrading but should be supported accordi

[2019-04-03 22:16] rochdev commented on #518
It looks like `mongodb` 2.1.18 uses `mongodb-core` 1.3.18 which is indeed not supported. The first version of `mongodb` that supports `mongodb-core` >=2 is 2.2.0.

[2019-04-03 22:54] nodesocket commented on #402
I also want to report a pretty serious memory leak simply using:

[code]

Eventually node process would crash with out of memory. As soon as I removed the `dd-trace` memory leak and crash went away.

Using `require('mongodb')` and doing quite a bit of writes a second, between 100 and 1,000 a second.

[2019-04-03 22:57] rochdev commented on #402
I will release a beta version by the end of the week with metrics that should hopefully help pinpoint where the leak comes from.

@nodesocket Do you use any other supported modules from https://docs.datadoghq.com/tracing/languages/nodejs/#integrations?

[2019-04-03 23:10] nodesocket commented on #402
@rochdev just the following native:

<img width="1175" alt="Screen Shot 2019-04-03 at 6 08 36 PM" src="https://user-images.githubusercontent.com/523312/55518962-8f5ff300-563b-11e9-9231-fd9e67a9d91f.png">

Should have specified, running the latest version of Node.js **v10.15.3** and `"dd-trace": "0.10.3"`

[2019-04-03 23:17] jessedobbelaere commented on #518
Yeah indeed, did not look at the actual mongodb-core version used, thought it followed the core versioning. Facepalm :) Will upgrade soon! Thanks for the help!

[2019-04-03 23:17] #518 closed

[2019-04-03 23:33] SethDavenport commented on #513
cool
yeah I can wait for 0.11.0. Thanks!

[2019-04-05 15:54] cohesivejones opened #520 "cassandra plugin - batch doesn't return promise"
I just tried to add dd-trace@v0.10.3 to my project and experienced the following error while calling a batch on the Cassandra client, returns error `can't call then on undefined`

The following test should expose the issue:
[code]
**Dependencies: **
cassandra-driver: 3.5.0
dd-trace: 0.10.3

[2019-04-05 18:44] prazzusa commented on #152
I am having the similar issue I think. I am pushing my nodejs application to DataDog and it is appending http-client to my service name which I don't want. This workaround did not help. Please suggest.
const tracer = require('dd-trace').init({
  service: process.env.DD_SERVICE_NAME
})
where DD_SERVICE_NAME refers to the service name. But DataDog APM Service is showing service name + http-client

[2019-04-05 18:53] rochdev commented on #152
@prazzusa Any client integration will append the name of the integration by default. You can override this behavior on a per-service basis.

For example:

[code]

[2019-04-05 22:30] kevinburkenotion opened #522 "console log triggered if pg-native not installed - "Cannot find module 'pg-native'""
If you have `pg` installed but not `pg-native`, this library tries to wrap pg.native.Client.prototype and the `node-postgres` library will log an error.

Basically the `pg.native` property access triggers this code path in the `pg` library, which triggers a console error.

[code]

[2019-04-07 19:36] SethDavenport opened #523 "v0.10.3 adds a `dd` prop to my postgres query"
I updated from dd-trace-js `0.7.2` to `0.10.3` (and turned on the `logInjection` feature) and suddenly my insert and update postgres queries started failing:

<img width="1173" alt="image" src="https://user-images.githubusercontent.com/4614141/55688761-7496c280-594a-11e9-8624-9ecbb93711d0.png">

`dd` is not a column in my table.

Here's the code that results in that query:

[code]

I am not explic

[2019-04-07 19:39] SethDavenport commented on #523
My Data dog init code looks like this:

[code]

Downgrading back to 0.7.2 and removing the new `logInjection: true` (:cry:) resolves the issue.

[2019-04-07 19:41] SethDavenport commented on #523
Environment:

* node 10.15.3
* Koa 2.6.2
* knexjs 0.16.3
* pg 7.7.1

[2019-04-07 20:09] SethDavenport commented on #523
I think the issue is here:

https://github.com/DataDog/dd-trace-js/blob/41396ff47ccf234b584e4787e0c1bad01dee81cf/src/plugins/util/log.js#L13

This `correlate` function appears to be applied to any object passed as an argument to `winston.info`:

https://github.com/DataDog/dd-trace-js/blob/41396ff47ccf234b584e4787e0c1bad01dee81cf/src/plugins/winston.js#L25

However it mutates the input which as a c

[2019-04-07 20:30] SethDavenport commented on #523
Actually looking again, `tx.correlate` is used in bunch of places and it looks like making it not mutate its input will break a bunch of stuff.  Maybe instead we can update `winston.js` to something like this?

[code]

[2019-04-08 11:48] vitorbal opened #524 "hooks option of http plugin doesn't work for client mode"
I want to hook into the spans of the `http` plugin when in client mode. However, given the following code:

[code]

`doSomething` is never called when tracing http clients. I verified that it works for server mode, though.

Would it be possible to add support for `hooks.request` for client mode too?

[2019-04-08 14:07] rochdev commented on #524
Right now only web servers have hooks. We are trying to limit the use of hooks since usually when they are needed it means we are lacking something out of the box.

Maybe I can offer an alternative until we implement hooks for all integrations. What is your use case?

[2019-04-08 15:00] vitorbal commented on #524
@rochdev thanks for the quick reply! My use case is the following:

The service used by the `http` plugin groups client calls by `POST`, `GET`, `PATCH`, etc resources:
![](https://cdn.zapier.com/storage/photos/6d036ccdf41fad07f91895d0a91a89b4.png)

However, I'd like to add some more granularity to these resources, so I can differentiate between e.g. calls to `GET /api/v4*` and `GET /api/v3*`.

I w

[2019-04-08 15:13] rochdev commented on #524
Definitely a legitimate use case. I'll try to see if we could add the feature for 0.11.0 since it's a common use case to manipulate the resource name for both HTTP servers and clients.

Since the public API doesn't currently allow accessing HTTP client spans, the only way to do it right now would be to access the span through the trace that is internally stored in every spans. If you want to go th

[2019-04-08 15:53] vitorbal commented on #524
Thanks @rochdev!

Yes, that would be great, if it's not asking too much :-)

[2019-04-08 16:19] rochdev commented on #524
So basically, the idea would be to get the HTTP span from the trace of the parent span currently in scope. If you have any blacklist of whitelist filter configured on the plugin, make sure to **not** do this for these URLs.

[code]

Of course this is not ideal, but it will at least unblock you until the HTTP client hook is implemented.

[2019-04-08 16:50] #520 closed

[2019-04-08 17:47] rochdev commented on #523
I think the change you are proposing would make sense in every place where `tx.correlate` is used. I didn't think about the case where an object that is used outside of logging would be passed to a logger when designing this, but it makes sense that the original object is never altered. I will try to see if this can be done for every logger.

[2019-04-08 18:40] #522 closed

[2019-04-09 11:53] vitorbal commented on #524
@rochdev thank you, this worked! I only had to change `._trace._started` to `._trace.started`. I'll keep an eye on https://github.com/DataDog/dd-trace-js/pull/529 as well and try it out once it gets released! ❤️

[2019-04-09 16:30] #523 closed

[2019-04-09 22:42] perryh commented on #402
not sure if this is helpful, but since dd-trace 0.10.3 there has been exceptions from our application with the message "Premature close" and this backtrace:

[code]

[2019-04-10 15:07] #513 closed

[2019-04-12 21:02] brandondoran commented on #402
It took a month, but we've noticed a memory leak too. We have a 2 apps using the tracer. One had the leak and one didn't. The difference between the apps was the one with the leak was using the mysql integration. After disabling that the leak does not occur. The app experienced the leak using 0.10.0 and 0.10.4. The node version is 10.15.1.

If it would help I could try to get heap dump?

[2019-04-12 21:03] rochdev commented on #402
It would help. We will also release a new version next week that will have a lot of insights into what is happening in the runtime. I'll keep this thread posted, but it should help determine what is causing the leak.

[2019-04-12 22:13] nodesocket commented on #402
I encountered the memory leak quickly, only took a few days before Node.js processes crash out of memory. Not running the mysql integration though, running mongodb integration.

[2019-04-16 01:05] geekflyer commented on #477
I'm running into the same issue as described by @joaovieira in his first post after upgrading from dd-trace `0.7.1` to `0.11.0` . Setting the resource name in the middleware itself via a tag used to work but doesn't work anymore and now health check requests are spamming my trace list (we used to ignore health check request via the `DD_IGNORE_RESOURCE: 'GET /status,GET /ping` agent config but this

[2019-04-16 01:13] rochdev commented on #477
@geekflyer Can you share a snippet of how you set the resource name from the middleware? Did you try with a hook similar to the solution that worked to solve the original issue? For 0.11.0 definitely check the [release notes](https://github.com/DataDog/dd-trace-js/releases/tag/v0.11.0) since how to use hooks is now a bit different.

[2019-04-16 01:21] geekflyer commented on #477
Hi,

this is how we used to set the resource name in 0.7.1 inside the middleware:
[code]

This is what we set after upgrading to 0.11.0 We had to adapt the code a bit to make use ofter newer API and I also attempted setting the sampling priority to USER_REJECTED neither of those tags seems to take effect.
[code]

[2019-04-16 01:30] geekflyer commented on #477
I didn't try using hooks yet because that would require a bunch of extra work. The healthCheckMiddleware above is part of a reuse library that is used in 15 micro-services. Setting the hooks via the reuse library is not really possible since dd-trace has to be initialized incl. it's hooks before anything else, incl. the reuse library are imported and setting the hooks in each micro-service separat

[2019-04-16 01:37] rochdev commented on #477
@geekflyer This is indeed an interesting use case. I will try to think of a way to allow configuring hooks at any point in time, but in the meantime, you will probably have to rely on a hack at this point since such functionality is not supported.

If you are willing to temporarily use a hack, the request span will be available on the span context in the middleware like so: `tracer.scope().active(

[2019-04-16 01:39] rochdev commented on #477
@geekflyer One other way to do it if you don't care at all about stats for these endpoints is to just blacklist them. You will still have to repeat this config in every service but at least it's simple configuration and not code.

For example:

[code]

[2019-04-16 01:59] geekflyer commented on #477
Ok, I will try to use the blacklisting and see if that helps.

Regarding the problem in general:
I don't think I need something as sophisticated as configuring hooks at any point in time and I also imagine this would get complicated to get right if there are multiple places in an app configuring different or the same hooks and ensuring they configure things in the right order etc.

The core of my

[2019-04-16 19:22] kevinburkenotion opened #543 "sampleRate setting does not affect allocation"
Shortly after a recent deployment we began seeing reduced throughput, increased latency and CPU spikes.

Tracing through afterwards it turns out the cause was an increase in the number of calls to datadog.trace(). The size of a given trace object went from 6kb to about 40kb. It was pretty difficult to see this though without turning on debug. I would not have expected the average engineer to be ab

[2019-04-16 20:10] rochdev commented on #543
The problem is that if a span is not sampled, this information needs to be propagated to any child spans in some way. However, in this case instead of creating actual spans, we could probably just create an empty shell with the sampling information.

I'll take a look at what we can do to address this, especially since as you said the feature in its current state fails to address the very use case

[2019-04-16 20:17] rochdev commented on #543
One thing I would like to know also however is what kind of CPU/memory impact are you getting? In general we also want to optimize the tracer so using sampling is not needed in most cases.

[2019-04-16 20:20] kevinburkenotion commented on #543
Roughly a 30% hit to the number of requests per second and a 50% increase in P95 latency

[2019-04-16 20:40] rochdev commented on #477
I agree. Hooks are usually used to work around a missing feature and are not considered a permanent solution to most problems.

In general there are 3 levels of "global" data on a trace:

1) Component level. This metadata is attached to the root of a component within a service. For example `express.request` for `express`.
2) Service level. This metadata is attached to the root of a local trace (si

[2019-04-16 20:58] rochdev commented on #543
This is definitely more than our goal. I will reimplement sampling in a way that reduces significantly the overhead of dropped traces. If you are interested to help us improve the product, I could also work with you to try and reduce our overhead by investigating what causes such an overhead for your specific service.

[2019-04-17 10:55] vitorbal commented on #524
I think this issue can be closed now that #529 was merged. @rochdev feel free to re-open if you disagree. And thanks again for the quick resolution here!

[2019-04-17 10:55] #524 closed

[2019-04-17 12:53] aivopaas commented on #477
I'm running into similar issue of not being able to create Facets (or search) of any of the tags added in some Koa middleware. From reading the source I understand that I could do that by abusing the internal `ctx.req._datadog.span` property.

It would be good to have direct access to the root span from any middleware. In Koa it could be something like `ctx.datadog.root()` and in Express `req.data

[2019-04-17 14:16] rochdev commented on #477
@aivopaas For your specific use case, can you use the span hooks as described above?

About having a way to access the root span, I'll have to think about it because the problem is that the root may change in the future. We constantly improve traces by updating and adding spans, so which span is the root shouldn't be relied upon. Maybe if you could specify the specific component you want to access

[2019-04-18 07:18] aivopaas commented on #477
We could use the span hooks, but I saw that it passes in `req` and `res`, not Koa `ctx`. We'd like to use some context data from `ctx` so the hooks are not the best option unless we move our data onto `ctx.req`, which we would like to avoid when working with Koa. And as I understand the hooks are also kind of workaround and might change or be removed in future?

[2019-04-18 23:36] rochdev commented on #477
We are not planning to remove span hooks since they enable doing many things that are not otherwise possible. We do want however to handle most cases in simpler ways whenever possible.

I'll bring the idea of a root per component with `tracer.scope().active().root('koa')` or a similar API with the team since I think it could make sense for all our tracers.

In the meantime, I would say to use the

[2019-04-26 18:10] schancel opened #546 "Plugins not setting span components"
Currently plugin span services are being overriden as such:

https://github.com/DataDog/dd-trace-js/blob/a2fcaea0f07d2deca31c93ee4c5b8640d93c9ede/src/plugins/pg.js#L17

However, per the opentracing [spec](https://github.com/opentracing/specification/blob/master/semantic_conventions.md#span-tags-table) they should set the component tag.

[2019-04-29 15:10] emhagman opened #548 "Express Error Handling Overwriting Other Patch"
I use the package https://www.npmjs.com/package/express-async-errors to use `async` handlers in my code. However, Datadog is patching the same `Layer.prototype.handle` method as this library. When my error is thrown, both are caught but Datadog is killing the connection and causing "Network Errors" to occur instead of my middleware handling the error properly.

Instead of returning with a 500, I g

[2019-04-29 15:12] rochdev commented on #548
I don't know this library. I'll have to take a look where the conflict happens. Does this happen for any error thrown from any middleware?

[2019-04-29 15:17] emhagman commented on #548
I can write a test case to see. I can reproduce it locally when `dd-trace-js` is enabled every time. The weird thing is my middleware can still catch the error but without fail, I get a SPDY_PROTOCOL_ERROR as if the connection is just killed. Turning it off makes everything work. I'll get back to you on the any middleware thing.

[2019-04-29 15:22] emhagman commented on #548
It only occurs when using `async`, even if the `express-async-errors` module enabled.

[code]

[2019-04-29 15:57] rochdev commented on #548
Thank you for sharing these, it will be helpful. I think there must be some assumption that a middleware always calls a callback, and since the library changes this behavior, our instrumentation doesn't handle it properly.

[2019-04-29 16:02] emhagman commented on #548
Thanks for looking into it! I also tried reversing the order, and having `express-async-errors` patch first and then `dd-trace` but the same thing still occurs. For now I have disabled `dd-trace`

[2019-04-29 16:47] rochdev commented on #546
We can set the `component` tag in addition, but we still need to have a different service name for now since stats are calculated by service.

[2019-04-29 20:44] fbartho commented on #233
I'd be super interested in using this as well. We're leaning towards using Datadog for some backend instrumentation, and we have react-native apps as well.

@rochdev please let us know if this is on your roadmap.

[2019-04-29 21:36] rochdev commented on #233
@fbartho We plan to eventually support browser instrumentation and the most popular frameworks, but it's not on our roadmap at the moment as we are still focusing on Node. I will update all browser related issues when we start working on browser support.

[2019-04-29 21:37] rochdev commented on #233
@fbartho Make sure to contact support to make a feature request if you want this feature. The more users request this feature the faster it will be prioritized. We unfortunately don't use GitHub at the moment to prioritize features, so this is very important.

[2019-04-30 00:59] rochdev commented on #543
Just a quick update to mention I have a fix in the works which will reuse a no-op span instead of creating new spans. This should greatly improve the performance impact since it will not do any allocations. I will try to have it finished for the next release.

In the meantime, can you provide a CPU profile that I could look at to try and find why your performance impact is so high? Feel free to DM

[2019-04-30 03:27] schancel commented on #546
What do you mean "stats are calculated by service?"  They are not calculated by operation name?

[2019-04-30 13:26] lwakefield opened #549 "Not picking up pg integration"
`dd-trace` does not seem to be picking up the `pg` integration. No special configuration is done of `dd-trace-js` out of the box. I have a suspicion that it may have something to do with our usage of `knex` - but am not certain.

[code]

Let me know what more debugging information I can provide.

If any owners/authors know of any "hints" as to where to start looking, I would be happy to debug furt

[2019-04-30 15:52] rochdev commented on #546
Some stats are by operation name, but in general most of them are only calculated by service, hence the different service name by integration. We are actively working on improving this however so that this will no longer be necessary in a future version.

Of course the current behavior also has the assumption that you actually want the stats for every integration. This may not be true in which cas

[2019-04-30 15:55] rochdev commented on #549
Since you are using a supported version of `pg`, I would suspect an issue with the import order. See https://docs.datadoghq.com/tracing/setup/nodejs/#quickstart

In short, the tracer must be initialized *before* any instrumented module. When using `import` statements, this means also moving the tracer initialization to a different file to avoid hoisting.

[2019-04-30 17:41] lwakefield commented on #549
Thanks @rochdev - I suspect that is in-fact the issue. I'll close this for now, and reopen if needed.

:)

[2019-04-30 17:41] #549 closed

[2019-05-01 16:27] rochdev commented on #477
@geekflyer Setting sampling priority from a middleware will work in 0.11.1 when this change lands: https://github.com/DataDog/dd-trace-js/pull/544

We are still researching the best way to provide something similar for updating the route.

[2019-05-01 20:38] emhagman commented on #548
It seems like the error is being thrown twice. If I add another middleware that comes after my **errors** middleware, I discard the error if I handled it.

See below for the catch-all. It seems really weird I need to catch the error again in another middleware and again this still only happens with Datadog

[code]

[2019-05-01 20:41] rochdev commented on #548
I took a quick look yesterday and was able to easily reproduce it. I'll have to investigate further to see how we can handle this. I'll try to at least isolate it in an actual unit test.

[2019-05-01 20:41] emhagman commented on #548
Thanks, I appreciate the update 👍

[2019-05-01 21:11] emhagman commented on #548
To update my previous comment, it appears to fix things in that, my **non-20x** responses don't break the connection; however, those errors are not showing up in Datadog APM anymore, probably because I am not letting them reach the Datadog error middleware/hooks.

[2019-05-01 21:18] rochdev commented on #548
That is a totally different issue however. Do you expect errors caught by `express-async-errors` to appear in Datadog? If that's the case we probably need to instrument the library. The current implementation only catches uncaught exceptions and assumes that if it was caught it means it was handled regardless of the status code. It's still possible to add error metadata to the request span manuall

[2019-05-01 21:30] emhagman commented on #548
Nevermind, a 500 error was just traced and the error was caught so our code must've still been deploying.

I guess the main point here is that errors "caught" by `express-async-errors` are supposed to be same as if I threw an error in a non-async request call back. It is not a middleware that is supposed to catch errors and swallow them, it simply passes them along to the next ExpressJS error midd

[2019-05-01 21:43] rochdev commented on #548
Yes sorry you are correct. I was thinking of global uncaught exceptions which this library is basically handling. Then it should work when fixed on our end.

Just to confirm, your hack to add a middleware works _exactly_ like if `dd-trace` is disabled?

[2019-05-02 02:16] emhagman commented on #548
Correct, working and tracing is enabled and sending data. I believe the error is thrown 2x so I added the middleware above to catch it again and ignore it if I marked it as handled in my original error middleware.

Only difference I can see is with `dd-trace` disabled the error isn't thrown 2x. I say it's being thrown twice because the error is caught in my middleware and printed through our logge

[2019-05-02 23:20] rochdev commented on #548
I opened a PR that should fix the issue, but I wasn't able to setup a unit test for it.

@emhagman Can you try from the branch and let me know if it fixes all the issues mentioned above?

[2019-05-06 17:38] #548 closed

[2019-05-06 17:42] rochdev commented on #162
Documentation has been updated to include `express-graphql` and Apollo Server

[2019-05-06 17:42] #162 closed

[2019-05-06 17:46] rochdev commented on #221
This was fixed in #241

@AndrewLugg Can you confirm if it ended up working for you?

[2019-05-06 17:49] rochdev commented on #222
We have now released official support for TypeScript. However, you can't import individual methods, and instead have to do:

[code]

@gajus Would you still prefer to be able to use individual methods as bound functions? I wonder if that would make it confusing since it would be unclear what object the functions are operating on?

[2019-05-06 17:52] rochdev commented on #262
I've been researching this recently and Mongoose definitely uses an internal task queue, but it looks to be only used while connecting. I will need to investigate further to make sure this is the case.

@aledbf Do you still have the issue with the new scope manager introduced in 0.9.0?

[2019-05-06 17:54] rochdev commented on #267
@toniov Do you still have the issue with the latest versions? We have completely rewritten the scope manager since this issue was opened which should fix most context propagation issue.

[2019-05-06 20:43] rochdev commented on #334
This was added in 0.10.0

[2019-05-06 20:43] #334 closed

[2019-05-06 22:51] AndrewLugg commented on #221
Yes this is working for us. Thank you.

[2019-05-06 22:52] #221 closed

[2019-05-08 01:59] toniov commented on #267
At some point, it started working properly, but not sure from which version, currently we're using version 0.7.2.

[2019-05-08 14:45] #543 closed

[2019-05-08 20:56] icebob opened #558 "Promise-based `scope.activate`"
Hi,

I'm working on adding `dd-trace` to the [Moleculer framework](https://github.com/moleculerjs/moleculer) as a trace exporter. My big problem is that the framework is promise-based so every important process is async thus I can't use the `scope.activate` because it is sync.

I've created a `scope.activatePromise (span, promise)` method which solves my issues.
Can I send it as a PR? I think it c

[2019-05-08 21:39] rochdev commented on #558
Definitely feel free to open a PR, it's the best way to contribute to the tracer :)

Could you show a snippet of how this would be used?

[2019-05-09 00:38] perryh opened #559 "Decouple enablement of error and debug logs"
In my use case, I want to forward errors to my logger but ignore debug messages.

According to log.js, both `debug` and `error` of the `logger` object for TracerOptions need to be instances of functions in order for me to use custom loggers for either of them. And even if I pass a noop function for `debug`, my application will waste cycles computing the debug messages.

[2019-05-09 00:43] mrtnzlml opened #560 "What are the requirements for automatic instrumentation?"
I was trying to make `dd-trace` work according to documentation but seems like it only works for Node.js native modules. In our case, it doesn't work for NPM modules like GraphQL. So I started to dig into the source code and seems like this library requires not only `package.json` but also `node_modules` folder. And we don't have either of this in production. So my questions are:

1) What are the

[2019-05-09 13:45] rochdev commented on #559
The logger is not very flexible on that front currently. We are working on improving it with more options, but in the meantime this is unfortunately not possible.

[2019-05-09 15:13] rochdev commented on #560
The only reason automatic instrumentation depends on `node_modules` is to match the path in the instrumented module folder. We can probably adjust that for other folders. Where do you store the modules if not in `node_modules`?

[2019-05-09 15:24] mrtnzlml commented on #560
We are deploying from monorepo and it's not so simple to just take the repo, transpile it and deploy it. So we bundle all our Node.js code into a single file and just execute it. It simplifies many things and we are quite happy with this setup. But it means there are not `package.json` or `node_modules.

It would be great if I had the ability to manually instrument some modules. I understand that

[2019-05-09 17:32] rochdev commented on #560
In that case you will indeed have to rely on manual instrumentation. You can find documentation [here](https://datadog.github.io/dd-trace-js/#manual-instrumentation). There is also a new API that is simpler to use but not yet documented that you can find [here](https://datadog.github.io/dd-trace-js/interfaces/tracer.html#trace).

What do you use to bundle the code together? Do you think it would m

[2019-05-09 18:17] mrtnzlml commented on #560
Thanks! It would be really great to be able to reuse some parts of GraphQL tracer like function `wrap{Execute|Parse|Validate}` for example.

Honestly, I don't think so. We currently use Webpack because it makes our life so much easier. But we could eventually change it to something else, why not. It's a bit weird to use Webpack on a server, I know. :) Automatic instrumentation is good for most of

[2019-05-09 18:54] rochdev commented on #560
Ok, so for now I would say to use the manual instrumentation and feel free to update this thread with any question or pain point. This will also help us to design these module specific APIs.

[2019-05-09 20:20] mrtnzlml commented on #560
@rochdev Do you maybe have some example of how to use it correctly?

[2019-05-09 20:33] icebob commented on #558
Great, I will make an example because it doesn't work with the normal `startSpan`. In Moleculer I've created a custom startSpan & finish methods which uses `activatePromise` and the result is that simple writing mode:
[code]

[2019-05-10 17:13] rochdev commented on #560
There are a few examples in https://github.com/DataDog/dd-trace-js/pull/457, mostly showing the equivalent code using the low level API.

[2019-05-10 17:17] rochdev commented on #558
How does the above code work to propagate the scope?

[2019-05-11 00:06] rochdev commented on #548
The fix has now been released in 0.11.1

[2019-05-11 20:02] arski commented on #233
@sumeetsympatica do you have a clone repo with all your changes where it works in React? I'd love to try it out too, can't wait for browser-js support! :)

[2019-05-12 08:09] sumeetsympatica commented on #233
Please share your email and I will send you a zip

From: Martin Bachwerk [mailto:notifications@github.com]
Sent: 12 May 2019 01:33
To: DataDog/dd-trace-js <dd-trace-js@noreply.github.com>
Cc: sumeetsympatica <sumeet@sympatica.health>; Mention <mention@noreply.github.com>
Subject: Re: [DataDog/dd-trace-js] ReactJs / React Native Support (#233)

@sumeetsympatica <https://github.com/sumeetsympatica>